[2019-02-12 19:03] #603 closed

[2019-02-12 19:16] rgee0 commented on #600
I think the missing detail here is what is being passed in through `-g`. If its the same as the `defaultGateway` then it wont take precedence.  This is me trying to reproduce:

[code]

The first command ignores the gateway flag as it matches the default and the stack.yml is used instead.  The second command uses the gateway flag, even though i haven't moved dir.

[2019-02-12 21:31] rgee0 commented on #599
I think maybe we need to reassess here.  The nil pointer error is coming out of the call to `c.SecretUpdate` - rem it out and you get a 200.  However, my understanding of this method is that it only allows update to Labels.  Attempts to update the Data field will result in the Label message also seen in @padiazg's output.  So, we could track down the nil pointer error to make the message go away b

[2019-02-14 17:22] mario-mazo commented on #600
If approved I would like to work on this

[2019-02-14 17:27] rgee0 commented on #600
Im not sure what, if anything there is to work on.  I think my comment above shoves that `-g` is honoured even when a `stack.yml` is present provided the `-g` value doesn't correspond with the defaultGateway value, which I think is the intended behaviour.

Maybe @burtonr can provide further detail.

[2019-02-14 18:36] burtonr commented on #600
If there is a "fix", it would be to the documentation on the gateway URL override in the [readme](https://github.com/openfaas/faas-cli#run-the-cli).

It needs to be explained that there are a couple of catches to watch out for. Specifically:
* If present, the `stack.yml` file's defined gateway URL is used
* Cannot override to the default URL `127.0.0.1:8080`

Neither of those are documented which

[2019-02-21 02:03] brandonkal opened #606 "Proposal: substitute environment variables in stack.yaml"
With docker-compose, I found it convenient to use environment variables in the shell (either as an .env file or directly). This is not possible with faas-cli as it is interpretted literally.

## Expected Behaviour

Both of these should work within a stack.yml file:
[code]

## Current Behaviour

[code]

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):
fa

[2019-02-21 16:20] alexellis commented on #467
Derek close: duplicate https://github.com/openfaas/faas/issues/1099

[2019-02-21 16:20] #467 closed

[2019-02-21 16:20] alexellis commented on #467
We'll track this via the main faas repo now. Thanks for all the comments.

[2019-03-01 15:13] viveksyngh commented on #606
Derek add label: proposal

[2019-03-02 17:37] prahaladdarkin opened #608 "Security/Compliance - Validate function base image signatures"
Currently, the base images used for creating and deploying functions are not validated for trust-worthiness during the function build process.
However, enterprises are very security and compliance centric and hence must use images signed by well known/ trusted sources as the base image for their functions.
This trust validation mechanism can be invoked during the function build process so that if

[2019-03-02 17:39] prahaladdarkin commented on #608
@alexellis I have already implemented the above algorithm as a PoC. This is the first time I am writing Go code; hence there would be some gaps. I have to write some additional tests post which I can send the code across for review.

[2019-03-02 17:42] alexellis commented on #608
This looks like a very interesting topic. I just wanted to ask if you could cover some addition points before we spend time looking into it?

Have you also considered the functionality that is already provided by registries like Harbor and Quay? Most container pipelines work through a number of stages forming a pipeline with the container scanning being one of those steps or a policy in the cluste

[2019-03-02 20:02] alexellis commented on #608
If you have the code in a public GitHub repo I would suggest pasting a link here and recording a quick video for YouTube using QuickTime on your computer. If you can keep it under 5-10 mins that'd be great.

Alex

[2019-03-03 05:28] zeerorg commented on #608
I think we need a bit more insights as to what approach organizations take for securing their environment, maybe different orgs take a very different approach than this, any links to official blog posts, or talks on this would be greatly helpful.

Openfaas Cloud secures its environment by only allowing functions that derive from the trusted template store, maybe this approach (trusted template sto

[2019-03-03 11:30] rgee0 commented on #586
@ZeoX06 The links aren't working for me.  Can you raise a PR with them, please?

[2019-03-03 12:12] alexellis commented on #586
@rgee0 this is a trivial change. Please can you run with it?

[2019-03-06 18:51] prahaladdarkin commented on #608
@zeerorg and @alexellis   There exist articles or blog posts about Harbor such as the one from VMware here : https://blogs.vmware.com/cloudnative/2018/06/14/harbor-delivers-a-trusted-cloud-native-registry/
For quay.io here is a blog note I found which says they are still evaluating the docker trust model :
https://support.coreos.com/hc/en-us/articles/115000289114-Docker-Content-Trust-support. Ther

[2019-03-09 03:22] prahaladdarkin commented on #608
@alexellis  @zeerorg Let me know if there are other comments or even if these changes are worth pursuing. I have other changes in the same area that I am going to propose soon for OpenFaaS and would raise them as separate Issues.

[2019-03-09 11:35] zeerorg commented on #608
Great insight, you should also take into account alex's comments about providing a github repo link and a recorded video.

[2019-03-09 17:27] #590 closed

[2019-03-14 08:24] Littermonkey opened #611 "How do I share host files when I deploy a docker container?"
## Expected Behaviour

## Current Behaviour

I try to mount host files to docker container, but there is not  in faas-cli help doc.
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

I use faas-cli deploy many docker containers . how do i share the host files to them.
## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):
0.8.1
* Docker vers

[2019-03-14 10:13] prahaladdarkin commented on #608
I would be posting a video this weekend. I am swamped at work this week. Also, would send across a PR post uploading the video. A couple more enhancements that I am thinking of - If instead of having a file signers.txt; we could use Harbor or Quay API to fetch the authorized list of signers (possibly the project members) then we would be able to use that for validating the signature during builds.

[2019-03-16 21:11] prahaladdarkin commented on #608
@alexellis @zeerorg Here is a link to the youtube video I uploaded.

https://youtu.be/U8UL2lrDqlc

[2019-03-16 21:12] prahaladdarkin commented on #608
@alexellis @zeerorg Here is a link to the demo video for FaaS CLI based signature validation - https://youtu.be/U8UL2lrDqlc

[2019-03-17 06:37] prahaladdarkin commented on #608
@alexellis @zeerorg Here is a video that demonstrates base image signature validation during faas-cli build process : https://youtu.be/U8UL2lrDqlc

[2019-03-17 09:16] LucasRoesler commented on #608
@prahaladdarkin i just watched the video and it is very well presented.  I also like the idea that you present.

The current proposal looks like it would work well as a first step to the complete solution.  The finally solution should probably be paired with a server side implementation.  But this is a very good first step and would definitely give developers more peace of mind that the functions

[2019-03-17 09:49] ewilde opened #612 "Proposal: Install command"
## Goal:
Create a command that installs OpenFaaS in a default configuration suitable for development, proofs of concepts and demonstrations.

The command should support:

- Docker swarm
- Kubernetes

## Possible goal:

Design solution that is extensible / pluggable for other provider maintainers. Maybe use something like https://github.com/hashicorp/go-plugin and have the installer for each provid

[2019-03-18 04:01] prahaladdarkin commented on #608
@LucasRoesler thank you for the feedback :). Yes I agree that the next steps would be to support signing the function image and also verification of signatures at runtime.
The original pipeline that had been conceived is attached :
[OpenFaas-Compliance-Validation-Proposal.pdf](https://github.com/openfaas/faas-cli/files/2976325/OpenFaas-Compliance-Validation-Proposal.pdf)
My colleague Michael Gasch

[2019-03-26 10:53] alexellis commented on #608
I have concerns on using a flat-file on disk to verify a list of names (as an ACL)

How does GPG do this with `apt` in Debian or `pacman` in Arch Linux? I believe public keys are brought into a keychain which exists locally and then the signed packages are verified that way.

Checking a name as a string seems to be lacking somewhat.

It would be good to have input from @justincormack or @stevvooe

[2019-03-26 20:00] gilkotton opened #616 "Question: how to use constraints for CPU architecture?"
I have a small cluster with openfaas on K3S, the master node is an amd64 PC, with two arm rpi nodes as slaves. I want my openfaas function to deploy to its appropriate node by architecture. Tried specifying a function constraint with a node label. The pod didn't deploy to a specific architecture node.

## Expected Behaviour:
When deployed with openfaas, the image should have been deployed to its s

[2019-03-26 20:02] alexellis commented on #616
Hi, I'll ping a couple of people.

In the meantime please can you go ahead and label your nodes and then try that?

Alex

[2019-03-28 09:12] prahaladdarkin commented on #608
@alexellis I checked how apt in Debian works - they do bring-in the public keys in a keyring or also allowed to be added by the user and then the keyring is used to verify the package signatures.
I am not sure if there is similar functionality available via docker command line. DCT uses manifests to validate that image signatures are valid.
I agree with you that providing a simple text file to lis

[2019-03-29 07:25] alexellis commented on #608
I would like some input from either of those two chaps, but I'm sure they are very very busy with their own stuff. They are both experts on Notary and Docker image signing / security.

This is interesting and looks useful, but I'm not sure what we'd gain by merging it in its present state.

Let's come up with a plan on how end-users could make practical use of these changes. I'll also ping @ewilde

[2019-03-30 14:04] alexellis opened #617 "Feature: list dependent template URLs in stack.yml"
## Expected Behaviour

When using a template from the store or from a URL that should be defined in the stack.yml so that people don't have to remember arbitrary URLs and so that we can pull those down for users.

## Current Behaviour

[code]

## Possible Solution

[code]

## Steps to Reproduce (for bugs)

1. See the OFC Dashboard for instance
2. https://github.com/openfaas/openfaas-cloud/tree/mas

[2019-03-30 14:12] alexellis opened #618 "Pick function store based-upon platform of client"
## Expected Behaviour

Running `faas-cli store list/deploy` on armhf / arm64 should use the relevant json file or platform from the openfaas/store repo.

## Current Behaviour

People may still deploy x86_64 images on an armhf device and get confused.

## Possible Solution

* Consolidate store*.json into one file with a platform field
* Detect the platform field

1) Either update build_redist.sh to

[2019-03-30 14:13] alexellis commented on #618
@martindekov / @rgee0 did you start the first bullet or was that for the template store?

[2019-03-30 15:21] rgee0 commented on #618
This one?

https://github.com/openfaas/store/pull/63

[2019-03-31 20:24] alexellis opened #619 "Feature: switch to using functions.json for Function Store (help wanted)"
## Expected Behaviour

We now need to read the functions.json file here:

https://github.com/openfaas/store/blob/master/functions.json

Instead of store.json for the Function Store.

## Current Behaviour

Still using store.json

## Possible Solution

Fetch the new default URL and parse into the new struct format.

This affects `faas-cli store` commands.

In addition the platform is now required to

[2019-03-31 20:41] alexellis commented on #619
@zeerorg @viveksyngh are either of you able to help with this?

[2019-03-31 20:41] alexellis commented on #618
Thanks @rgee0 @martindekov that's now merged and I've raised: https://github.com/openfaas/faas-cli/issues/619 and https://github.com/openfaas/faas/issues/1145

[2019-04-01 10:33] viveksyngh commented on #619
I can help with this one.

[2019-04-01 10:33] viveksyngh commented on #619
Derek assign: me

[2019-04-01 19:42] alexellis commented on #618
See functions.json https://github.com/openfaas/store/blob/master/functions.json for examples of platforms.

The default is obviously x86_64

[2019-04-02 07:42] LucasRoesler commented on #617
This seems like dependency management, I wonder if we should take inspiration from what Go is currently doing with models (and many other languages) by having a template lock file as well?

[2019-04-02 12:23] Waterdrips commented on #606
This would be really useful for us.

We want to have different external APIs called based on the environment. For example calling a staging version of an external service rather than interacting with the prod service so we can do E2E testing with other systems.

[2019-04-02 12:38] alexellis commented on #606
How this is done in the Docker CLI:

https://github.com/docker/cli/tree/master/cli/compose/template
https://github.com/docker/cli/tree/master/cli/compose/interpolation
https://github.com/docker/cli/blob/master/opts/env.go

[2019-04-03 09:56] alexellis commented on #590
Thank you all

[2019-04-03 10:02] #567 closed

[2019-04-03 10:15] alexellis opened #622 "Incorrect unit test: Test_buildFlagSlice"
## Expected Behaviour

There is a test case which should fail in `Test_buildFlagSlice`, but the code is not checking want/got values.

PR #575 added a `--build-label` flag for the `build` command, yet we have a test merged for `--label` which is a flag which doesn't exist and is invalid - yet the test still passes.

[code]

## Possible Solution

1) Update the test logic running the test table so t

[2019-04-03 11:50] alexellis opened #623 "Feature: Provider-specific extensions required"
## Expected Behaviour

In Kubernetes some users require the use of "tolerations" which allow a function to run on a server which is specifically tainted to stop functions running there. The use-case is things like a pool of ephemeral nodes.

See also:

- [taints & tolerations](https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/)
- Affinity rules: [node/pod affinity and anti-aff

[2019-04-03 11:52] alexellis commented on #623
Request for comment from @rgee0 @johnmccabe @stefanprodan @LucasRoesler

This is something we have to find a solution for, so please try to make your participation constructive towards addressing the need of the users.

[2019-04-03 18:40] alexellis commented on #623
@stefanprodan can you add the helm package you mentioned that can dynamically unmarshal a YAML section? https://github.com/stefanprodan/gitops-helm

[2019-04-03 18:44] alexellis opened #624 "Feature: Version the schema"
## Expected Behaviour

The stack.yml file needs to be versioned so that we can make breaking changes in the future

## Current Behaviour

We are at an implicit version 1.0.0

## Possible Solution

Decide how we are going to add this and where before working on #623

Example:

[code]

[2019-04-03 18:44] alexellis commented on #624
Request for comment @stefanprodan @johnmccabe @LucasRoesler

[2019-04-04 08:57] prahaladdarkin commented on #608
@alexellis @ewilde @LucasRoesler I am currently putting this PR on hold until we hammer out some of the specifics. I will in parallel continue contributing to other PRs and some parallel notary research on my own.
@ewilde Request your inputs towards this PR - this will help in prioritizing this change (if at all required and relevant)

[2019-04-04 16:43] alexellis commented on #623
Suggestion via Ed:

Should annotations be used?

[2019-04-04 16:50] alexellis commented on #624
Docker Compose uses i.e. `version: 2.0`

[2019-04-04 16:58] stefanprodan commented on #612
It would be nice if the command would be interactive, like asking for user/pass, tiller or plain yaml, node port or lb, etc

[2019-04-04 17:00] matipan commented on #612
It would definitely be really helpful for newcomers that are getting started. The ofc-bootstrap experience is really nice since we get a lot out of a single command.

I agree with @stefanprodan. Jenkins X is doing that for their CLI and it's really good

[2019-04-04 17:00] zeerorg commented on #612
Maybe we can add flags and also provide interactive install. So if user just writes `faas-cli install` we can go ahead with interactive and if flags are provided we use those.

[2019-04-06 16:59] LucasRoesler commented on #623
the new v3 of the yaml package was announced that adds some power and flexability and could allow use to parse

[code]

[code]

During the last contributors chat, there was a suggestion that we could provide simplified limited support for certain use cases.  Was that further discussed? Do we want/need to support the entire  feature set of tolerations and affinity or will one or two simplified use

[2019-04-06 17:08] alexellis commented on #623
@ibuildthecloud any thoughts?

[2019-04-06 18:07] kturcios commented on #611
Hi @Littermonkey ,

I believe what you are intending to do is an anti-pattern for the project because functions are intended to be short-lived and stateless. You can use an external object storage for your functions such as S3 or Minio.

Read more about it [here](https://github.com/openfaas/faas/issues/320).

[2019-04-06 20:23] alexellis commented on #624
I.e.

[code]

[2019-04-06 20:23] alexellis commented on #624
An implicit version of `version: 1.0.0` should be given for anything without a version string.

[2019-04-06 20:24] alexellis commented on #616
@gilkotton ?

[2019-04-06 20:25] alexellis commented on #616
This may also be useful? https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes/#add-a-label-to-a-node

[2019-04-06 20:28] gilkotton commented on #616
Have tried it before I raised the question, I started trying to debug it,
looks like the contraint is not getting into the deployment yaml.

On Sat, Apr 6, 2019, 23:24 Alex Ellis <notifications@github.com> wrote:

[2019-04-06 20:37] alexellis commented on #616
Can you raise an issue on the faas-netes repo of that's the case?

[2019-04-06 20:38] gilkotton commented on #616
Yes, thanks

On Sat, Apr 6, 2019, 23:37 Alex Ellis <notifications@github.com> wrote:

[2019-04-07 07:44] alexellis commented on #611
Derek close: resolved

[2019-04-07 07:44] #611 closed

[2019-04-07 12:48] johnmccabe commented on #624
@alexellis I would be inclined to just go with an integer here rather than semver

[2019-04-07 13:06] alexellis commented on #624
Integer as in "1" ? Compose uses "2.2" etc?

[2019-04-07 14:04] johnmccabe commented on #624
It depends on what you intend to use the version for, for example what would constitute a major change, a minor change, or a patch change in the context of the schema.

[2019-04-07 15:10] LucasRoesler commented on #624
I can see a benefit of a "Major.Minor". I hope we are not changing the schema so quickly to need a patch version though

[2019-04-08 12:53] alexellis commented on #606
@brandonkal @Waterdrips a PR is available for testing, which I hope to release shortly.

[2019-04-08 12:54] alexellis commented on #612
I am not keen on the `interactive` idea right now, but I think I could change my mind after I've seen the non-interactive flags or file-driven version.

[2019-04-08 19:27] #606 closed

[2019-04-09 03:56] prahaladdarkin commented on #608
@alexellis @LucasRoesler Please refer to the below discussion with respect to DCT support in Kubernetes. https://github.com/kubernetes/kubernetes/issues/30603.
The question here is in line with this proposal.

The tone of the discussion again points to a point that has been mentioned above - DCT is not a fool-proof mechanism. Also, the support for DCT in Kubernetes is hazy. Given the platforms tha

[2019-04-10 16:24] EdsonF opened #628 "Command 'faas-cli new --lang csharp xxxxxxx' returns csharp is unavailable or not supported."
I'm following this tutorial
https://secanablog.wordpress.com/2018/06/10/run-your-own-faas-with-openfaas-and-net-core/
and running 'faas-cli new --lang csharp csharp-function' command fails.

## Expected Behaviour
If successful, a new open-faas project should be created.

## Current Behaviour
But when I run the command 'faas-cli new --lang csharp csharp-function' the result is:
'csharp is unavailab

[2019-04-10 16:31] rgee0 commented on #628
Please update you CLI.

https://docs.openfaas.com/cli/install/

[2019-04-10 17:59] EdsonF commented on #628
Many thanks, rgee0.

[2019-04-10 18:05] rgee0 commented on #628
Derek close: resolved

[2019-04-10 18:05] #628 closed

[2019-04-11 16:31] alexellis commented on #617
@LucasRoesler is that needed to deliver some incremental value?

We can quickly automate the typing to something like:

[code]

[2019-04-12 07:52] #586 closed

[2019-04-16 19:40] itsmurugappan opened #629 "Support for OpenID based authentication"
**Support for OpenID based authentication**

**why open id ?**

1. enterprise standard to support variety of user flows.
2. connect various to various identity broker like github, ldap
3. All major languages have open id packages

Openfaas currently supports basic authentication. If it has to support openid based auth either

1. gateway has to be changed
2. proxy in front of gateway

To get starte

[2019-04-16 21:24] alexellis commented on #629
Hi, thanks for your interest in the project.

Here are some thoughts/questions:

Adding OAuth2 is not a trivial feature and will be expensive for the community to develop and maintain.

What OAuth flows are you hoping to support and implement?

Once you have authentication, how are you going to implement authorization re: claims and permissions?

You mentioned gatekeeper. Have you taken a look at

[2019-04-16 23:56] itsmurugappan commented on #629
Hi Alex,

Thanks for the reply. OAuth2Proxy does what I need.  If the OAuth2Proxy protects the openfaas create, delete, list api's, I will need a way to pass the access token in the header to get authorized. That's the reason I am proposing a change in CLI, which I can contribute to.

[2019-04-17 10:26] alexellis commented on #629
When you have time please can you answer my other questions?

[2019-04-17 18:39] itsmurugappan commented on #629
I had Password grant in mind.

This can be handled in the gatekeeper or oauth2_proxy. I was planning to authorize based on
issuer, audience and role claims (member of an email group)

[2019-04-18 09:09] alexellis commented on #629
How are you planning to relate those roles/claims to the various parts of the OpenFaaS API?

[2019-04-18 09:12] alexellis commented on #629
For me to entertain this suggestion further, I'd like to see *a lot more from your side* about how you expect it to work for both authentication and more importantly authorisation. The current API model does not map to claims or roles other than one user being the a service-account with full permissions to all APIs.

Here are some more details on what is expected from a proposal: https://github.co

[2019-04-18 23:55] itsmurugappan commented on #629
Sure. I will give details of the proposal soon.

[2019-04-19 22:47] itsmurugappan commented on #629
![image](https://user-images.githubusercontent.com/20131887/56446662-cb8c8800-62b8-11e9-8b7f-f92790fc4b9f.png)

**About the Solution**

Proxy requests to Openfaas gateway through a reverse proxy which integrates with an open id provider like key cloak gatekeeper or oauth proxy

**Authentication:**
The user will authenticate with open id provider to get the access token. Below I have described how

[2019-04-20 09:56] alexellis commented on #629
I'm not sure what the benefits are of using a password-grant which means any user with a single role is a complete admin? How is that enterprise-grade security? It seems pretty much the same as basic-auth.

What I would envision for enterprise-grade OAuth2 is more like:
* All OpenFaaS Gateway APIs are scoped to claims or roles
* No use of password-grant
* Full authorization of all users
* OpenID c

[2019-04-21 20:17] LucasRoesler commented on #617
The lock value would allow you to checkout the specific version of the template (probably via sha) and then ensure a consistent build of the function. E.g. in our go projects we can use `dep ensure -vendor-only` to simply replicate the vendor folder exactly as defined.  Even tags can change over time in git.

If we are going to add `source` and  `url`, we should consider adding a `hash/sha` key to

[2019-04-22 20:44] itsmurugappan commented on #629
Thanks for the comments. I made the following changes.

1. **Authorization at API level**

The proxy with open id integration like gatekeeper gives the flexibility of authorizing at api level. For example, if we want to restrict the function deployment to developers_write role. Following would be configuration for the gatekeeper.

[code]
Can enforce authorization for all api's [here](https://githu

[2019-05-01 20:10] alexellis commented on #550
Sounds good to me @burtonr

[2019-05-01 20:12] martindekov commented on #550
I can take this if we should go with @burtonr ‘a approach

[2019-05-01 20:17] martindekov commented on #550
Ah this is already started ...

[2019-05-01 20:37] alexellis commented on #550
Is it started in the way Burton mentioned? For `faas-cli new`

[2019-05-02 13:37] #622 closed

[2019-05-03 03:53] #624 closed

[2019-05-05 02:27] alexellis opened #635 "Feature: New priority order for YAML files"
Feature: New priority order for YAML files

## Expected Behaviour

In addition to the current behaviour this feature would allow a function YAML file to be picked up by all the commands if a `-f` or `stack.yml` file is not in the current working directory.

## Current Behaviour

If a stack.yml file is not found in the current working directory then a `-f` flag is required and the name of a YAML fi

[2019-05-06 14:22] matipan commented on #635
Will this affect the `faas-cli new` command? If I already have a stack.yaml file in my directory and I do `faas-cli new --lang go tester`, will tester be added to that file?

[2019-05-06 14:23] alexellis commented on #635
It will affect the `--append` flag

[2019-05-08 07:08] rgee0 commented on #550
Implemented in #634 & released in 0.8.10

[2019-05-08 07:08] #550 closed

[2019-05-09 18:06] viveksyngh commented on #635
I think, adding more background logic for priorities can be difficult or confusing for a new user.

[2019-05-09 19:19] alexellis commented on #635
How do you know that?

What if it gets added and we see what people think to it?

Personally I'd love to not have to put long `-f` commands into every tutorial, workshop and blog post I write, so I can imagine that users would appreciate that too.

[2019-05-10 17:57] ewilde opened #636 "Proposal: add --debug flag to `deploy`"
During provider development i've found it helpful to log the the entire request/response sent from the CLI to the gateway.

## Expected Behaviour
`faas cli deploy --debug`

## Current behaviour
[code]

## Future behaviour with debug flag
[code]

I have a private fork with the above functionality, if it's something the community wants I can PR it in / or adapt based on feedback.

[2019-05-10 21:32] burtonr commented on #636
I'm not against this at all, but perhaps a better DX might be simply adding the error message to the output.

Rather than `Function 'echo' failed to deploy with status code: 400`

`Function 'echo' failed to deploy. Bad Request. Message: 'Please provide a valid route /function/function_name.'`

That would be in addition to your suggestion for the `--debug` command. Perhaps `-v` `--verbose` instead?

[2019-05-11 06:34] ewilde commented on #636
@burtonr apologies if it wasn’t clear, my proposal is to add full request/response logging with `debug` flag

[2019-05-11 08:57] alexellis commented on #636
I can see how this might be useful, but what about using a simple intercepting proxy instead?

You'll get complete logs of request and response with the ability to replay etc.

[2019-05-11 10:06] ewilde commented on #636
@alexellis I agree that at the CLI level this can be achieved with a proxy. I mentioned this in the issue under ‘alternatives’.

Couple of draw backs:

- won’t work with TLS
- DX, not as simple
- won’t help with extending to server components see: extension point above

[2019-05-11 10:59] alexellis commented on #636
Hi what about https://mitmproxy.org/ ?

[2019-05-15 14:20] CrystalMethod commented on #629
I would be more than happy to test such feature.

[2019-05-24 07:46] alexellis opened #640 "Add Rio to faas-cli generate"
## Expected Behaviour

The following should generate a Rancher Rio Service definition:

[code]

[code]

## Current Behaviour

We have OpenFaaS CRD and Knative Serving CRD in place. I'd like to see the Rio CRD there next.

## Possible Solution

Copy the approach used for the current generation as per: https://github.com/openfaas/faas-cli/blob/master/commands/generate.go#L164

Set all default / mini

[2019-05-24 07:55] dpen2000 commented on #640
I'll take a look at this, @alexellis

[2019-05-24 08:03] alexellis commented on #640
I'm quite keen to get this done quickly. Once you've had a look please can you reply if you can work on it and when you think that you may have a PR up?

The port is always fixed as: 8080

We have ways to translate the OpenFaaS scaling parameters but I am OK with just replicating the above YAML 1:1 with all the defaults for the first iteration then, we can improve on that. Secrets are also not nee

[2019-05-24 08:04] alexellis commented on #640
We will definitely need the `env`.

[2019-05-24 09:13] alexellis opened #641 "Add new 0.6 Knative Serving spec to generate command"
## Expected Behaviour

Add new 0.6 Knative Serving spec to generate command

## Current Behaviour

Compatible with the Alpha variant.

## Possible Solution

Copy/paste code to output new format when --api flag matches the new beta API version

See also: generate.go

## Steps to Reproduce (for bugs)

See also examples of the alpha generate spec #638 #637

[2019-05-24 09:58] mattmoor commented on #641
If this is simply for generating the objects at creation, then the old fields will work fine (and are the most portable for clients to use).  Adding `v1beta1` support (when we expose the endpoint) should be doable just through calling `ConvertUp` on the types `v1alpha1.Service` (or other) resources, passing in an empty `v1beta1.Service` resource.

If you support manipulating the resources after th

[2019-05-31 21:20] Erickvami opened #643 "Problem on deploy function on ubuntu server openfaas"
Hi, I am trying to deploy a node js function to openfaas using ubuntu server, I follow step by step but always on deploy returns
Server returned unexpected status code: 404 - {
  "paths": [
    "/apis",
    "/apis/",
    "/apis/apiextensions.k8s.io",
    "/apis/apiextensions.k8s.io/v1beta1",
    "/healthz",
    "/healthz/etcd",
    "/healthz/log",
    "/healthz/ping",
    "/healthz/poststarthook/c

[2019-05-31 21:28] burtonr commented on #643
Please provide the output of `docker service ls` as well as `docker service logs --tail 100 func_gateway` and `docker service logs --tail 100 func_faas-swarm`

It's possible that the `faas-swarm` or `gateway` hasn't started or is having some issues on your cluster

[2019-05-31 21:34] alexellis commented on #643
You appear to be running something else on port 8080 already (perhaps something related to Kubernetes?). Either stop that service or change the OpenFaaS gateway port.

I'm going to close the issue as I am unaware of any issues with the OpenFaaS project on Swarm.

Please fell free to keep commenting.

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-05-31 21:34] #643 closed

[2019-05-31 21:36] alexellis commented on #643
To change the port on swarm. Edit docker-compose.yml for the gateway from 8080:8080 to something else like 8000:8080, then pass the --gateway parameter

[2019-05-31 21:57] Erickvami commented on #643
@burtonr  right, there are no services about faas-swarm or gateway, I am not sure why are not creating them with "./deploy_stack.sh" or while installing, on mac os there are not problems while testing before deploy on server.

[2019-05-31 21:58] Erickvami commented on #643
Ok @alexellis , I will try it

[2019-05-31 22:10] Erickvami commented on #643
these are my current services

<img width="984" alt="Screen Shot 2019-05-31 at 3 09 25 PM" src="https://user-images.githubusercontent.com/18013526/58737375-21734600-83b6-11e9-8e31-f7bd31864931.png">

[2019-05-31 22:23] Erickvami commented on #643
No success with 8000:8080

[2019-06-01 06:48] rgee0 commented on #643
Your port hasnt changed. As well as the earlier advice, please use an up to date version. Youre running 0.6.6d when the current version is 0.13.4.

[2019-06-03 13:31] rishavjaiswal opened #644 "help to solve this non zero code error: 8"
Complete!
The command '/bin/sh -c yum install -y wget java-1.8.0-openjdk     && cd /tmp && wget -q $KAFKA_BIN     && export K_TAR=/tmp/$(ls kafka* | head -1)     && mkdir -p /opt/apache/kafka/ && tar -zxf $K_TAR -C /opt/apache/kafka/     && cd /opt/apache/kafka && ln -s $(ls) current     && rm -rf $K_TAR' returned a non-zero code: 8

[2019-06-03 17:10] affix commented on #644
this is more a Dockerfile issue than an issue with OpenFaaS CLI.

Error code 8 is Exec format erro

[2019-06-03 17:13] alexellis commented on #644
Hi @rishavjaiswal I'd like to direct you to the Docker forums where you can get some help with your Dockerfile.

https://forums.docker.com

Once you've got your Dockerfile fixed-up, please let us know if you need any help with OpenFaaS projects/tooling over on Slack.

Cheers,

Alex

--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-06-03 17:14] affix commented on #644
Derek close

[2019-06-03 17:14] #644 closed

[2019-06-12 16:22] alexellis opened #645 "Distribute on npm for ease of use"
I noticed that the CloudFlare team are distributing their new Rust binary via `npm`, and It think we could do the same.

## Expected Behaviour

Distribute via `npm` in addition to `curl` and `brew`

## Current Behaviour

Mac: `curl`/`brew`
Linux `curl` (possibly Linux Brew??)
Windows: manually go to downloads page

## Possible Solution

Look into how CF use Axios to do a HTTP get of the right bina

[2019-06-12 16:41] doowb commented on #645
I'll take a shot at this. I'm familiar with npm, node, the GitHub API and getting content from GitHub using `axios`.

[2019-06-12 16:45] burtonr commented on #645
@doowb let me know if you need any help or testing! Here, or on Slack

[2019-06-12 16:48] alexellis commented on #645
Would be great if you could collaborate together. Any chance of cobbling together a PoC by Friday?

[2019-06-12 17:27] doowb commented on #645
I don't think that'll be a problem.

[2019-06-14 06:02] doowb commented on #645
@burtonr PTAL when you have a chance: https://github.com/doowb/faas-cli/tree/npm-postinstall

I've only tested this on Mac OSX (darwin) so far and I don't have Windows specific logic in there yet, but it's installing and moving the files to the correct place.

[2019-06-14 13:12] burtonr commented on #645
@doowb How about opening a PR so we can look at the code and comment more specifically there.

That said, I did try this a couple of different ways, but neither was successful. Not an issue since this is the first round of work. I run Linux (Pop!_os/Ubuntu) with a Windows VM (for when I _have to_)

I'll jump to your fork to continue the conversation for now :smile:

[2019-06-14 15:50] doowb commented on #645
Thanks for trying it out on Linux. I'll submit the PR so it's easier to work against.

I was trying different ways to run `npm install` as `root`, but even when doing `sudo npm install`, the `uid` was never `0`.

[2019-06-17 11:51] alexellis opened #647 "Feature: Support OAuth2/OIDC and Bearer token"
Feature: Support OAuth2/OIDC and Bearer token

## Expected Behaviour

As a user with a custom OAuth2/OIDC *OpenFaaS authentication plugin* configured on my gateway, I need to be able to "log in" and invoke the various CLI commands.

## Current Behaviour

We can accommodate this in the OpenFaaS portal UI with no additional changes through the use of cookies issued in the *OpenFaaS authentication pl

[2019-06-17 11:52] alexellis commented on #647
OpenFaaS authentication plugins: https://github.com/openfaas/faas/tree/master/auth

[2019-06-17 13:37] acornies commented on #647
In addition to what is proposed here, could we also include an option to "download credentials" through the UI?

[2019-06-17 13:39] alexellis commented on #647
Hi Andrew, thanks for your suggestion.

That is not something that I'd considered for an MVP.

My questions would be:

What is the workflow there and how does it work with cookie security such as "HttpOnly" where the stored `id_token` JWT is unavailable to the browser?

Is this a workflow you've seen elsewhere?

Alex

[2019-06-17 14:52] acornies commented on #647
I haven't looked at the gateway implementation closely yet, but knowing what I do about JWT, OAuth2: If the user has been authorized by the 3rd party, and a JWT has been set as a cookie in the browser (HttpOnly, domain restricted), OpenFaaS gateway can assume the user is authenticated (with the stateless representation) and we can generate a file to download, containing the JWT.

I like JWT becaus

[2019-06-26 08:38] alexellis commented on #616
Derek close

[2019-06-26 08:38] #616 closed

[2019-06-26 08:39] alexellis commented on #591
Sounds good @ivanayov @LucasRoesler is picking this up in #613

[2019-06-26 08:39] #591 closed

[2019-06-27 16:01] alexellis commented on #629
Hi @CrystalMethod @itsmurugappan I would like your input on the new OIDC flow implemented for OpenFaaS.

It's being tracked by the openfaas/faas issue and the CLI issue I raised.

https://github.com/openfaas/faas-cli/issues/647
https://github.com/openfaas/faas/issues/1175

cc @prahaladdarkin

Alex

[2019-06-29 01:19] itsmurugappan commented on #629
sure @alexellis  . Will check out this weekend. Got some great updates from you regarding tls and oidc.

[2019-06-29 06:13] martindekov opened #653 "Template store not showing arm64"
The template store provides with list of templates. Currently  `x86_64` and `armhf` are shown, but for some reason `arm64` outputs nothing.

## Expected Behaviour

`faas-cli template store list -p arm64` to give templates with that platform

## Current Behaviour

It outputs nothing.

## Possible Solution

Not sure as the value is given as argument to the `-p` flag and for `armhf` it works.

## Ste

[2019-06-29 06:13] martindekov commented on #653
Derek assign: me

[2019-06-30 07:51] alexellis commented on #612
There is a straw-man argument going around stating that we cannot possibly offer the user any configuration options, because that would mean we absolutely have to create flags to map every single configuration attribute in the helm chart. That is not the case.

The core options I would see us needing are:

* `LoadBalancer` - yes/no
* `Operator` - `yes/no`
* `Namespace(s)` - `openfaas/openfaas-fn`

[2019-06-30 10:20] LucasRoesler commented on #612
When we say a development env, do we mean development OpenFaaS components or for function developers? `faas-cli` is largely targeted at function developers and it will be cleaner if we keep it that way.  Our needs to tinker with settings as OpenFaaS developers is going to be different from most people, we should look at `faas-cli` providing the base install that we would then override manually any

[2019-06-30 11:48] alexellis commented on #612
Controversial idea - what if we only did Kubernetes?

[2019-06-30 11:57] alexellis commented on #612
There are 2-3 personas that I can think of:

- end-user - 1 click install ala Rio / K3s
- platform developer who needs to deploy OpenFaaS in CI or for testing PRs - think BT or our CI/ kind script / ofc-bootstrap
- OpenFaaS contributor - OpenFaaS is basically, cattle not a pet. We install 1-5 times per day that we are active. Possibly to test a PR, to reproduce a user issue, to write a blog or doc

[2019-07-01 12:46] zeerorg commented on #612
I do think `faas-cli install` could be beneficial in a lot of cases for many people, it could take a lot of friction away from getting up and running with the project.
Maybe we can start with kubernetes at first and docker can be implemented afterwards ?

Also there are different ways of going about this:
- Using the kubernetes API
- Using helm commands

If we are going to use helm indirectly we m

[2019-07-02 01:57] itsmurugappan commented on #647
Hi Alex,
Proposal looks good. My two cents
1. While running faas-cli login , open up a browser to authenticate against the auth server and redirect to short lived web server where we can collect the token/code and persist in the config file. After that we could do a code to token exchange if needed.
2. The above flow needs a human to enter the login in the browser. For automation we could use serv

[2019-07-02 07:43] alexellis commented on #647
@itsmurugappan for point 1) this has been implemented and released. Would be great if you could test it out? Advise me here or on Slack how that goes.

For point 2) we have implemented the "client credentials" workflow, but I'd be interested to see you try this with keycloak's service accounts and potentially submit a patch if required.

https://docs.openfaas.com/reference/cron/#authentication

Al

[2019-07-02 17:19] veggiemonk commented on #612
Hi,

I think there is a bit of confusion between `install` and `deploy`.

The first one is simply meant for local development and trying things out.
The second is meant to be use in a production environment.

For adoption purposes, it would be nice to let people try out OpenFaas in, more or less, the same amount of time it takes to download a container image.

Once the exploration phase is over, d

[2019-07-03 16:38] #653 closed

[2019-07-06 11:04] alexellis opened #656 "Add --token flag to "faas logs""
## Expected Behaviour

Each command should accept a `--token` flag when it needs to hit a `/system/` endpoint

## Current Behaviour

It doesn't support this yet.

## Possible Solution

See how @viveksyngh and myself have done this for the other main commands

## Steps to Reproduce (for bugs)

e2e testing would be ideal, but it not strictly necessary.

## Context

Part of the OAuth2 / OIDC story.

[2019-07-06 16:33] martindekov opened #657 "Get information for functions and templates without quotations"
Currently if you would like to describe template or function with space in its name like `ASCII Cows` you should run `faas-cli ..... "ASCII Cows"` otherwise if written `faas-cli ..... ASCII Cows` ASCII would be considered function/template name

## Expected Behaviour

As a user I would like to just describe what I want without understanding how the naming is parsed.

## Current Behaviour

I would

[2019-07-06 16:33] martindekov commented on #657
I can take this once it is approved/discussed

[2019-07-06 16:34] alexellis commented on #657
I'm happy for you to come up with a solution and present it back. We've done that in at least one other place as far as I am aware

[2019-07-06 16:34] alexellis commented on #657
Something like Args()

[2019-07-06 22:09] martindekov commented on #657
I will go with inspecting single function. So:
[code]

[2019-07-07 06:51] alexellis commented on #657
Yes. @johnmccabe and @LucasRoesler may have ideas, also see the Cobra docs.

[2019-07-07 12:32] LucasRoesler commented on #657
I have mixed feelings on this,  is there another CLI that will automatically merge positional args like this? This is definitely easier for the user, but would be unexpected behavior for me because I can recall a CLI that doesn't require quoting or escaping arguments with spaces

[2019-07-07 20:11] #656 closed

[2019-07-08 15:31] LucasRoesler opened #659 "Extra trailing newline in log stream"
## Expected Behaviour

The spacing of `faas-cli logs figlet` should match the output of `kubectl logs deploy/figlet -n openfaas-fn`

## Current Behaviour

There is an extra newline between every log line

[code]

instead of

[code]

## Possible Solution

This is possibly related to how we print to stdout

[code]
using a println method always adds a newline to the end of the string.  But the log me

[2019-07-16 20:24] #659 closed

[2019-07-18 11:11] aklyachkin opened #662 "Proposal: support multi-arch functions"
## Current Behaviour
As for now if I want to have a function, which runs on amd64, and ppc64le, I have to do following:

* Create a new function

[code]

* Change function.yml to have 2 functions for 2 architectures:

[code]

* Build 2 functions:

[code]

* Push them to docker
* Create manifest

[code]

* Push manifest

[code]

* deploy the function to Kubernetes???

## Expected Behaviour

Somethi

[2019-07-18 17:07] alexellis commented on #662
Thanks for your suggestion.

How do you propose to build `ppc64le` on your local computer? What happens if someone is using `kaniko` or the `faas-cli build --shrinkwrap` option as used in OpenFaaS Cloud?

[2019-07-18 18:02] martindekov commented on #657
This is something that popped into my mind as we don't really use the command for anything else and I don't suppose we will. Thats why I opened the Issue, but you are right that this behaviour is present in all sorts of CLIs(the quotation aka current one).

I guess you are right @LucasRoesler I will close the Issue, can be reopen on further comments. :thumbsup:

[2019-07-18 18:02] #657 closed

[2019-07-18 18:26] aklyachkin commented on #662
It is a real example, I built it on my mac before posting.

golang-http/Dockerfile:
[code]

golang-http-ppc64le/Dockerfile:
[code]

It is the most important difference between two of them.

kaniko/shrinkwrap I have to check, but I think, in the "normal" world you don't need such multi-arch functions. If you know, that your whole cloud runs on x86 hardware, you don't need - just build with default

[2019-07-19 22:02] doowb commented on #645
@burtonr I updated the [PR](https://github.com/openfaas/faas-cli/pull/646):

- Updated the `install.js` file with your comment above
- Updated the `install.js` file to download the `faas-cli` executable to `~/.openfaas/bin/faas-cli` (`~/.openfaas/bin/faas-cli.exe` on Windows).
- Added a `cli.js` which will execute the `faas-cli` executable and forward the command line arguments.
- Added a `bin` pr

[2019-07-21 13:39] martindekov commented on #617
I can start working on this if:
[code]
Is the MVP implementation.

[2019-07-21 13:39] martindekov commented on #617
And if no one else has taken it

[2019-07-21 14:03] alexellis opened #663 "Save OAuth tokens to the OpenFaaS config file"
## Expected Behaviour

We should automatically save OAuth tokens to the OpenFaaS config file and read them from there if no `--token` parameter is passed for the various commands.

This needs to be backwards compatible with basic auth logins, so it will need some changes to the config file to support the new schema or extension.

## Current Behaviour

Following these instructions users can authent

[2019-07-21 14:13] alexellis commented on #617
Hi Martin,

I think my comment is a bit confusing. The following exists:

[code]

What I was trying to mention was that, we can re-use the command code and execute it whenever we see the template in the `stack.yml`. Is that how you took it too?

@LucasRoesler does this work?

[code]

^ `#v1.0` can also be a SHA I believe?

Alex

[2019-07-21 14:14] alexellis commented on #617
@martindekov your help would be most appreciated. I'll assign to you whilst we figure out the detail between the three of us.

I think a PoC along the lines of above would be good to see.

[2019-07-21 14:14] alexellis commented on #617
Should the top-level be `templates`, or `config -> templates` ?

[2019-07-21 15:09] martindekov commented on #617
Ok :+1:

[2019-07-21 15:15] martindekov commented on #617
Otherwise yes, now we we tell explicit the github repo, we can add it in the function's yaml file so it will be automatically detected.

[2019-07-21 18:15] LucasRoesler commented on #617
To answer @alexellis, the value after the hash can be any sha-ish thing, this includes branch names, tags, and SHA values (or at least is it should allow all three)

[2019-07-22 06:16] viveksyngh commented on #663
Derek assign: me

[2019-07-22 21:06] martindekov commented on #617
So to re-cap we want `template`/`config:template:...` in `stack.yml` so if a user already has `stack.yml` and say:
[code]
Error would not occur due to missing template(because it was not downloaded beforehand with the `faas-cli template pull...`)

Say go to `dashboard` in `openfaas-cloud` repo, directly run `faas-cli build` and ^ behavior will be happening as the template the language is using is

[2019-07-24 07:38] LucasRoesler commented on #617
Can we reduce everything to the "from url" case by generating and saving the equivalent store url during `faas-cli template store pull`?

I am not sure I like the idea looping through the store list and name matching if we can just provide the src url during the original pull.

Also, I think doing this provides better support for alternative store urls, e.g. from the CLI help string `faas-cli temp

[2019-07-24 12:26] ad-si opened #665 "Add support for openfaas.yaml in addition / instead of stack.yaml"
Haskell's Stackage (https://www.stackage.org/) has been using the `stack.yaml` file name for ages. While there is certainly no exclusive right for Stackage to use this name, it would be nonetheless cool if OpenFaaS used something more descriptive. How about using `openfaas.yaml` instead of -- or at least in addition to -- `stack.yaml`?

[2019-07-24 13:00] alexellis commented on #665
Thank you for your suggestion.

Are you aware that you can use any filename with the -f or --yaml override?

[2019-07-24 13:00] alexellis commented on #665
Moving to CLI repo

[2019-07-24 13:01] ad-si opened #666 "Add support for stack.yaml in addition to stack.yml"
According to the docs the official file extension is `.yaml` (https://yaml.org/faq.html) and therefore it should be supported!

[2019-07-24 13:01] alexellis commented on #666
Let's monitor this suggestion to see how much demand there is.

[2019-07-24 13:02] alexellis commented on #666
Thanks for your interest. Please could you have a look at the various different repos we have and what each does?

[2019-07-24 13:03] ad-si commented on #666
Sorry, I'm used to monorepos. Will be more considerate in the future 😅

[2019-07-24 13:05] ad-si commented on #665
Yes, but I'm a fan (maybe wrongfully) of convention over configuration. So I'd rather like to have good conventions and stick to them…

[2019-07-24 20:34] alexellis commented on #665
That's our philosophy, however what you're asking for is starting to look a little bit like configuration. Our convention to date is stack.yml.

Hope this will keep you moving forward. I'm happy to monitor demand for this request

[2019-07-24 20:40] alexellis commented on #666
You're right about the website, but practice says different: https://stackoverflow.com/questions/21059124/is-it-yaml-or-yml

I think it will remain as stack.yml unless we have a significant reason to alter it. Engineering effort and maintenance doesn't come for free.

Thanks for the suggestion though. Perhaps some of these would be better as conversational comments on Slack?

[2019-07-27 11:44] martindekov commented on #617
Had a chat with @LucasRoesler pulling templates listed in the `stack.yml` is a good initial implementation. I will start working on this

[2019-07-27 11:58] martindekov commented on #617
Further down the line I was thinking adding functionality which on pulling will save the template name/url in the stack.yml but not sure if this is out of scope.

[2019-07-27 12:09] alexellis commented on #617
I like the idea a lot of saving new templates into the file. The problem we had before with editing in-memory and outputting a new file is that you you lose your comments and the ordering which can be important.

that is how the append behaviour used to work and then we changed it to simply add text.

I think what you're suggesting is likely to be necessary, so perhaps we may need that lock file o

[2019-07-27 16:48] LedgeDash commented on #508
I know this is closed a long time ago, but I'm having the same issue with OpenFaaS on top of microk8s on Ubuntu18.04 (so a single-node cluster). And [this blog post by Alex](https://blog.alexellis.io/quickstart-openfaas-cli/) says that

By "this step" it was referring to pushing a function to a remote docker registry.

But what I found is that `faas deploy -f [app.yml]` results in `ImagePullBackOf

[2019-07-27 18:47] martindekov commented on #617
I think if we already extend the parsing of the `stack.tml` file, additional templates file/lock, which are specific for the template command, would not be needed(I might be wrong here need to run through it to be sure).

The workflow in my head is `faas-cli template pull stack` parse contents of the `stack.yml` file(if such exist) and pull from URLs.

For the saving in the file logic, again parse

[2019-07-27 23:47] martindekov commented on #617
Pulling works like a fine wine.
[code]
In yml it looks like
[code]

[2019-07-28 09:09] viveksyngh commented on #663
Design Proposal.

[code]
Before any sub commands are run, migrate config file from the initial version to the latest version and save it so that CLI will have updated version of the CLI.

Migration will happen in sequential order from Initial Version like `Initial Version -> V1 -> V2 .. -> Final Version` so that each new version has to know how to migrate it version it's previous version.

I think

[2019-07-28 09:25] LucasRoesler commented on #663
@viveksyngh a map of AuthConfigs is probably going to be easier to use in the CLI, e.g. it will be easier to lookup and/or update an auth based on the gateway  _or_ we can then name the auth configs so that we could even allow multiple configs per Gateway and a user could then have one that is an "admin" scoped config and one "normal user" config for the same gateway.

[code]

What is the `Auth` f

[2019-07-28 10:43] LucasRoesler commented on #617
@alexellis, to address your concern about preserving comment blocks, the v3 of the yaml package provides better support for this via the `yaml.Node` type https://godoc.org/gopkg.in/yaml.v3#Node  this would obviously take more work but would allow preserving comments in the document

[2019-07-28 13:01] martindekov commented on #666
I believe we already have this covered. It can be see in [faas.go](https://github.com/openfaas/faas-cli/blob/7af2864d6d94f2a676d478c4698e4ef1795508f8/commands/faas.go#L67).

[2019-07-28 13:24] martindekov commented on #666
It should be slightly augmented in order to work, I guess if needed can be easily done.

[2019-07-28 18:32] viveksyngh commented on #663
Yes Agree..  We can convert `AuthConfigs` to a Map which will be easy to manipulate.

The second option will change the current flow and we will have include a auth name flag with each command to select an auth which will be used with that command. Do we have an ask or an use case to enable multiple auth for an gateway.

 `Auth` filed is basically type of the authentication like `basic` or `bearer

[2019-07-28 18:44] alexellis commented on #666
I think that reference is for the auto-completion.

[2019-07-28 18:47] LucasRoesler commented on #663
I didn't mean to imply that we should build/allow multiple auths. Rather, just indicating that it would be possible and I could see a use case in the future, but it would require more though about UX before we decided to do it

[2019-07-28 19:05] alexellis commented on #663
I think the reason we used the list over the map before was because Joe Beda strongly recommended against it. It was too late to change the function map in the `stack.yml`, but not too late to change to an array of key/value pairs in the login config that @stefanprodan wrote for us.

[2019-07-28 19:32] LucasRoesler commented on #663
Is the reason to prefer a slice saved on an issue somewhere, would love to read it

[2019-07-28 19:34] alexellis commented on #663
The YAML would look like:

[code]

vs:

[code]

[2019-07-28 19:38] alexellis commented on #663
This is what we have today:

[code]

[2019-07-30 07:23] viveksyngh commented on #663
Second one looks more clean. With Second one, we should be able to also store multiple auth per gateway as it is list. With `map` approach, to store multiple auth per gateway we will have to also have a nested map or list which will look more complex IMO.

However, Minio stores using map for each host.

[code]

[2019-07-30 08:42] LucasRoesler commented on #663
@viveksyngh if you have multiple auths per gateway, you will need a unique name on them anyway so that you know how to look them up,  so a map won't be an issue there.

I prefer the map because it is easier to use and interact with because you don't need to filter a slice to find the matching configuration.

So far the discussion seems to be about the aesthetics of a yaml list versus a yaml map, i

[2019-08-01 12:22] stefanprodan commented on #623
I vote for:

[code]

As Lucas said we can use `yaml.Node` (pkg: `gopkg.in/yaml.v3`)  or `chartutil.Values` (pkg: `k8s.io/helm/pkg/chartutil`) to avoid vendoring Kubernetes client-go in the CLI.

[2019-08-01 12:28] alexellis commented on #623
The last I heard from @ibuildthecloud, he thought the syntax for tolerations was too complex and was designing a new selector for use in Rancher's Rio product. I would like to hear from Darren to see if it might fit for our users.

[2019-08-01 12:34] alexellis commented on #623
Can someone volunteer to prototype @LucasRoesler / @stefanprodan 's suggestion and report back?

Getting something small, that works end-to-end for tolerations would be useful for gauging the direction to take. I've had several users asking for this lately.

[2019-08-01 12:39] alexellis commented on #623
Update from Slack

Lucas: can we use an annotation instead?

Stefan: let's use pure Kubernetes, how could you represent an affinity rule in an annotation?

Alex: I would like to see the example from Darren, on how he will abstract this for Rio to see if it is useful to imitate or copy from the example.

Ed Wilde: doesn't want to see providers leaking in the abstractions

[2019-08-10 17:58] martindekov opened #670 "Feature: Add memory configuration to the cli"
If I want to apply a memory limit, or CPU limit I would need to create YAML file and deploy my function.

## Expected Behaviour

I would like to directly apply the CPU/memory limit of a function.

## Current Behaviour

You need to define them in stack the yaml.

## Possible Solution

Add two new flags to the deploy command in [here](https://github.com/openfaas/faas-cli/blob/e689ec028055cc39ea0d3d1

[2019-08-10 19:02] LucasRoesler opened #671 "[Proposal] Allow formatting log output"
## Expected Behaviour

We should be able to toggle off the timestamp, function name, and instance name in the log output. Additionally, it would be nice to control the timestamp formatting by specifying a time.Format layout.

## Current Behaviour

There are no CLI flags for controlling the output

## Possible Solution

Add new flags

[code]
 When `time-format` is the empty string, the timestamp wi

[2019-08-10 20:08] martindekov commented on #617
Hey @LucasRoesler I have tested the new nodes feature like so
[code]

in this case
[code]
Should be considered a node, I can access the values as per pointed in the documentation, but the comments are not shown(they are in the `HeadComment`... fields in the struct)

[2019-08-11 13:28] LucasRoesler commented on #617
I think you are right about the nodes API, it doesn't really work quite the way one would hope.  I wasn't able to come up with anything better.

I wonder if we should let comment lines block this feature though. I don't think any of the existing yaml code is going to handle comments. For example, appending a function to an existing stack file.

[2019-08-11 13:39] alexellis commented on #617
I still think that this may belong in an external file like we see with Gopkg.toml/lock.

[2019-08-11 14:25] LucasRoesler commented on #617
@alexellis i think that the current implementation in #668 can be used with either an external file or  with the stack yaml, since it just reads that portion of the yaml.  Starting with an external file would be easiest, we can easily decide to move the data later

[2019-08-11 15:04] martindekov commented on #617
Yes @LucasRoesler you are right ^ it can be part of stack, or separate yaml. Probably when additional saving logic is added through flags etc. I would drift towards separate YAML file(I think yaml is the way to go, though toml is again viable option, though more restricting), in order to make the file as generic as possible for future features which may require configuration, different than config

[2019-08-12 10:55] Waterdrips opened #673 "[Proposal] Change faas-cli login with --password-stdin to accept Enter as submitting password"
## Expected Behaviour

Ideally an `enter` keypress should submit the password to be used to authenticate - currently its a `ctrl-d` - which I'm told is "long time terminal behaviour" but it caught me out.

This would allow more simple use of the login command that wont leave the password (or its location) in bash_history.

## Current Behaviour

`ctrl-d` is needed to signal the end of input for the

[2019-08-12 11:09] Waterdrips commented on #673
So it looks like this is fairly standard - Docker login command behaves in the same way.

[2019-08-12 11:09] #673 closed

[2019-08-12 13:02] alexellis commented on #673
Thank you for logging the suggestion.

This was designed to match the docker user experience (deliberately).

I think some consistency between related developer tooling is important, but let's track your suggestion here and see if it becomes an issue for users going forward.

[2019-08-12 13:04] alexellis commented on #673
It's probably also worth noting that no keyboard interaction is required if somebody uses echo or cat and a pipe.

[2019-08-12 13:07] alexellis commented on #673
Another thought. What does the help page say? @LucasRoesler since you showed an interest, could you find out and add a note about the flag if needed?

[2019-08-12 13:09] Waterdrips commented on #673
This is true - and this behaviour should defiantly be maintained.

Both of these options leave the credentials, or their location in bash_history, which might not be acceptible in some situations.

The help command shows:
[code]

[2019-08-12 13:10] LucasRoesler commented on #673
The help content doesn't say too much, but does provide 3 examples
[code]

We could probably make the current usage clearer by improving the description of the `--password-stdin` flag, perhaps something like

[code]
I am not sure that wording is quite right.

The `docker login` has a similar help string

[code]

[2019-08-19 13:56] alexellis commented on #671
I'm confused about this one? `--instance=bool`

How come it's bool?

[2019-08-19 14:00] #671 closed

[2019-08-19 15:30] LucasRoesler commented on #671
It is just a toggle for show/hide the instance name

[2019-08-21 07:22] alexellis commented on #670
Still looking for a volunteer for this.

[2019-08-21 07:24] martindekov commented on #670
I can take a shot at this 👍

[2019-08-21 07:25] rajibmitra commented on #670
I would love to work with you @martindekov

[2019-08-21 07:35] alexellis commented on #670
The deploy command has this already:

https://github.com/openfaas/faas-cli/blob/master/commands/deploy.go

The store deploy command is lacking this:

https://github.com/openfaas/faas-cli/blob/master/commands/store_deploy.go

The task would be to:

* Add the new parameters/flags
* Build a dev version of the CLI
* Test that the new flags work by using `kubectl describe -n openfaas-fn <pod-name>`
* U

[2019-08-21 16:25] alexellis commented on #670
It seems like I was wrong. We don't have the flags on either of the commands yet.

So this task is going to be a bit bigger, but not a lot.

please can you make some suggestions for the flags that you think we should use? Cc @rgee0 (if you have an opinion)

There is both a request value and a limit value that can be added and I think these should closely mirror the names in the YAML.

[2019-08-21 18:07] rajibmitra commented on #670
@alexellis  I like the flags options mentioned by @martindekov  `--cpu 10m --memory 20m`

[2019-08-21 18:31] alexellis commented on #670
I don't know if you are aware, but they are not simply "--cpu" - it's CPU request and CPU limit, so we will need 4 flags.

https://docs.openfaas.com/reference/yaml/#function-memorycpu-limits

[2019-08-21 18:32] alexellis commented on #670
Perhaps `--cpu-limit` `--cpu-request` ?

If think it is a smart idea, as a follow-up PR (afterwards) we could add `--cpu` where it populates both fields?

[2019-08-21 19:10] rgee0 commented on #670
I'll always advocate consistency between the YAML and the CLI - for example `build_options` and `build-options` drive me crazy.  I'm torn here because `--cpu-limit` is more idiomatic but the YAML path would switch them over (with good reason).

I'm interested in how the feature behaves where a stack contains multiple functions.  Potentially the MO will be different to that of the YAML.  Then there

[2019-08-21 21:02] alexellis commented on #670
Related, but different feature/work - https://github.com/openfaas/faas-cli/pull/675

[2019-08-21 21:02] alexellis commented on #670
This is YAML vs JSON?

[2019-08-21 21:03] alexellis commented on #670
On second thoughts I think @rgee0 is right.. let's keep this scoped to `store deploy` and not update the `deploy` command which can also use YAML as input.

[2019-08-23 13:19] rajibmitra commented on #635
I will be working on it.

[2019-08-24 14:00] LucasRoesler opened #677 "Proposal build and push with git describe value as the tag"
The options to the `--tag` flag should be expanded to include `'git-describe'`

For CI builds, it would be really helpful to use the output of `git describe --tags` as the docker image tag.  Per the man page

[code]

Tags would look like `v1.2.2-1-g3443110`.

## Expected Behaviour

Accepts `git-describe` or `describe` as an option for `--tags` and use the output of `git-describe --tags` for the va

[2019-08-24 14:02] alexellis commented on #677
Sounds good. Would you like to prototype it so we can get some hands-on feedback?

[2019-08-29 06:28] yoyoidea opened #678 "vbtrfbjfbvtnjkjtuvldjbegvdrddlvdgt"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version ( Full output from: `docker version` ):

* Are you using Docker Swarm (FaaS-swarm ) or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

[2019-08-29 06:36] #678 closed

[2019-08-29 06:37] alexellis commented on #678
/add label: invalid

[2019-08-29 15:22] alexellis commented on #612
I would love to see the CLI being able to install cert-manager and Nginx Ingress, so that we can get users up and running with TLS as simply as possible.

It may be that we develop a separate tool to install these, or we call them "add-ons" and use the `faas-cli` to add them.

[2019-08-29 20:52] sriveros95 opened #679 "Support: HTTP timeout when accessing template store"
## Expected Behaviour
faas-cli template store describe node10-express should describe

## Current Behaviour
faas-cli template store describe node10-express
Error while fetching templates from store: error while requesting template list: Get https://raw.githubusercontent.com/openfaas/store/master/templates.json: context deadline exceeded

sudo -E faas-cli template store pull node10-express
Error wh

[2019-08-29 21:21] alexellis commented on #679
This is what I'm seeing:

[code]

I wonder if you have some problems with your internet connection, or whether GitHub had an issue when you tried?

[2019-08-29 22:00] sriveros95 commented on #679
Thanks for your response Alex

I will debug my connection to check. Though trying with wget works.
[code]

[2019-08-29 22:18] sriveros95 commented on #679
I waited a little and tried again and it worked.
Sorry for the inconvenience and thanks again!

[2019-08-29 22:18] #679 closed

[2019-08-30 16:11] tmiklas commented on #612
For me it would be EXTREMELY helpful.

I'm good with docker etc. but kubernetes is just not my cup of tea - unless you know the entire k8s ecosystem, setting it all up just to get OpenFaasS running is still massive PITA. Even more so when you want to expose it fairly reasonably for demo or similar use. Not everyone has the time to learn kubernetes before they can start using OpenFaaS in anger...

[2019-08-31 07:11] viveksyngh opened #680 "Function/Template with symlinks file are failing to build"
Function or Templates having symlink files are not getting copied properly because of that it is failing to build the function.

## Expected Behaviour

It should exit with an error if it is not able to copy files
It should resolve the symlinks and copy the symlinked files.

## Current Behaviour

It is silently failing the copy and function are failing to build.

## Possible Solution

## Steps to R

[2019-08-31 07:29] rgee0 commented on #680
This is the silent fail in build.go:

https://github.com/openfaas/faas-cli/blob/893972afffa5ea6672faa6e11743ae46322ec58c/builder/build.go#L145-L147

It errors within the recursion in CopyFiles():

https://github.com/openfaas/faas-cli/blob/893972afffa5ea6672faa6e11743ae46322ec58c/builder/copy.go#L14-L17

The error propagates back out of the recursion and ends up here where it carries on into the fu

[2019-08-31 15:22] jonatasbaldin commented on #612
What about adding the `cert-manager` and `nginx-ingress` templates into the Helm one as dependencies, enabled/disabled through a flag? It could be at least a nice way to prototype the deployment of the "add ons" through Helm!

[2019-08-31 18:27] rgee0 commented on #680
Probably worth noting that the symlinks are being resolved & copied - this is a red herring.  It's where an error occurs in the template copy that is causing the issue.

[2019-09-01 20:29] jonatasbaldin opened #683 "`faas-cli logs` has a different behaviour than `kubectl logs` or `docker logs`"
## Expected Behaviour
When using `faas-cli logs` without any time flag, like `--since`, expect the same behaviour as `kubectl logs` or `docker logs`, which is to show *all the logs*.

## Current Behaviour
The current behaviour of `faas-cli logs` in Kubernetes, without any time flag, is to output the latest 5 minutes of logs, as defined [here](https://github.com/openfaas/faas-netes/blob/master/k8s/

[2019-09-01 21:23] alexellis commented on #683
Hi @jonatasbaldin

OpenFaaS is not Kubernetes, and whilst we try to maintain a common user-experience where we can. The OpenFaaS CLI works with multiple backends such as Swarm, AWS Lambda and Hashicorp Nomad.

There may also be other Kubernetes log providers such as ELK and Loki, which may again have different semantics.

With that in mind, I'll move this issue to the correct repo (openfaas/faas-c

[2019-09-02 06:24] jonatasbaldin commented on #683
Hey @alexellis, thanks for the answer :)

I understand that they are different tools and will probably have different experiences, it's just that I got a bit confused by the defaults, and maybe other users have as well.

Anyway, I would love the input from @LucasRoesler. If this proposal is suitable, I'd be keen to get involved in implementing it 🤓

Cheers 🍻

[2019-09-02 07:27] LucasRoesler commented on #683
@alexellis and @jonatasbaldin I do not have an issue with changing the default.  But... as Alex said, other systems have their own defaults, Loki defaults to 1hr ago. I can't find clear documentation on elasticsearch, but the Kibana UI uses 15 mins as the default.

It would be ideal to provide a consistent experience and have the clearly documented, to avoid surprises for users. Perhaps we can fin

[2019-09-02 16:15] martindekov opened #684 "Feature: Add template save stack"
PR https://github.com/openfaas/faas-cli/pull/668 introduces a way to configure your templates in a configuration and run command in order the templates to be pulled, but the change does not provide command which will save your configuration.

## Expected Behaviour

Add `template save stack` commands to provide easy configuration of the templates throug the cli, instead of adding raw fields to the

[2019-09-02 18:19] jonatasbaldin commented on #683
ELK experience is the Kibana UI, isn't it? Or is there a different default that I should look for?

I think once we settle in a default I could update whatever is necessary (CLI, docs, faas-netes).

Would you like to keep the 5 minutes or change it?

[2019-09-03 07:35] LucasRoesler commented on #683
I think ELK would be the Kibana UI, I believe it is 15 mins.  But if someone has more experience with it and can confirm, that would be good.

I think the argument could be made for any of 5min, 15min, or 1hr and I think increasing the default makes sense. 15mins probably is a nice balance. @alexellis any feelings on this?

The easiest way to do this is to define a default in the CLI, so that It w

[2019-09-04 14:14] burtonr opened #685 "faas-cli new does not respect env var for template URL"
## Expected Behaviour

Setting the environment variable `OPENFAAS_TEMPLATE_URL` and running `faas-cli new ...` should pull the template(s) from the URL set in the environment

## Current Behaviour

`faas-cli new ...` pulls from the default URL (`https://github.com/openfaas/templates.git
`) and not from the URL set in the `OPENFAAS_TEMPLATE_URL` environment variable

`faas-cli template pull` _does_

[2019-09-04 17:50] LucasRoesler opened #687 "[Feature] Provide --build-args for functions in stack.yml"
This was originally proposed in https://github.com/openfaas/faas-cli/issues/262 but was eventually implemented as flags on the `faas-cli`.  This CLI behavior is documented here https://docs.openfaas.com/cli/build/#30-pass-custom-build-arguments

To ensure reproducible and portable builds, we should support supplying build args via the YAML stack file.

## My actions before raising this issue
- [ ]

[2019-09-05 05:47] jonatasbaldin commented on #685
I can tackle this 💃

[2019-09-05 20:12] burtonr commented on #685
Derek close: Courtesy of PR https://github.com/openfaas/faas-cli/pull/686

[2019-09-05 20:12] #685 closed

[2019-09-05 20:18] alexellis commented on #687
I would like to see if we can get it into `build_options`, even if we write a migrator like @viveksyngh started looking into for the OpenFaaS YAML config file.

Should this be a map or an array? I guess it's really a KV?

[2019-09-05 21:27] utsavanand2 commented on #612
Just like the idea behind k3sup, we should go from a function to an endpoint with TLS (Great for developer workflow and for devs not familiar with the underlying platform like Kubernetes). Infact  this is what the end goal of our platform should be - from function to an endpoint with TLS.

[2019-09-06 21:32] cconger commented on #687
I'm a fan of distributing the build options down to the end function yaml as much as possible.  It's ideal if you have as much of the function definition close to the function and out of the template, which is a big benefit of having the additional packages wiring.  If we had build_args available in the `function.yml` file would there still be a benefit to having language level build flags (aside

[2019-09-07 12:39] alexellis commented on #687
Good question. In a sense the packages are maintained i.e. dev and mysql are not 1:1 but map to curated packages.

[2019-09-10 06:59] haozibi opened #688 "about create HPAv2 rule"
Hello @alexellis , I want to ask some questions about HPAv2.

I have changed the auto-scaling to HPAv2 by https://docs.openfaas.com/tutorials/kubernetes-hpa/  and it works fine.

But there are some questions about creating the HPAv2 rule, can I add the HPAv2 rule using faas-cli or function yaml instead of kubectl. Because I have to deploy more functions, and I don't have permission to use kubectl

[2019-09-10 12:04] alexellis commented on #688
/set title: [Feature request] Create HPAv2 through stack.yml

[2019-09-11 19:54] jonatasbaldin opened #689 "Proposal: `faas-cli exec` command"
## Expected Behaviour
We could have a `faas-cli exec <function> <command>` to execute custom commands inside a function, even a shell, pretty much like `kubectl exec` works.

## Current Behaviour
We don't have anything like that in the current behaviour. We can, though, do:
`$ kubectl -n openfaas-fn exec <pod> <command>`

## Possible Solution
Basic idea is to implement a new command, it should:
-

[2019-09-13 12:32] ghindle opened #690 "Is it possible to run pre/post build commands?"
## Expected Behaviour
I have a node function which needs to be compiled via babel before the image can be built. At the moment I run the build script manually before running either `faas-cli build` or `faas-cli up`.

## Possible Solution
Add commands to predefined hooks per function via the stack.yml (example below). The working directory of the commands would be the root of the function's directo

[2019-09-15 10:56] jonatasbaldin opened #691 "Proposal: Improvements on CLI auto completion"
## Expected Behaviour
I'd expect that the commands below would generate the auto completion for BASH or ZSH. This is heavily inspired by [kubectl](https://kubernetes.io/docs/tasks/tools/install-kubectl/#enabling-shell-autocompletion), which also uses Cobra.

[code]

## Current Behaviour
`faas-cli` has an option called `bashcompletion` that generates a BASH completion file, but we could improve it

[2019-09-15 11:53] johnmccabe commented on #691
Keep bashcompletion for backwards compatibility. See other command for hidden aliasing. We should only break for major releases.

[2019-09-15 11:56] jonatasbaldin commented on #691
Cool! I can add a `zshcompletion` to make it homogeneous.

[2019-09-16 10:51] #677 closed

[2019-09-16 10:54] alexellis commented on #691
@jonatasbaldin thank you for this proposal.

Pleas can you come up with a PoC to show the impact to the code? We should figure out why the existing code isn't working as expected too.

Alex

[2019-09-17 13:19] jonatasbaldin commented on #691
Yeah, I'll work in a PoC very soon!

[2019-09-19 07:41] ghindle commented on #690
Having done a bit more thinking on this, I guess the best way to achieve what I'm after with the current tooling would be create a bespoke Dockerfile with a build step.

[2019-09-19 07:41] #690 closed

[2019-09-19 09:03] ghindle commented on #690
I have a working template at https://github.com/ghindle/babel-node10-express-template

@alexellis: Would this be useful for the community via openfaas-incubator?

[2019-09-20 06:45] marlexct commented on #326
Hello, I was trying to build a function, Im usinf Kind into a AWS EC2 ubuntu machine. I get the following message:

root@ip-172-31-12-150:~/dev/kind-blog# faas-cli push -f openfaas-loves-crds.yml
[0] > Pushing openfaas-loves-crds [marlexct12/openfaas-loves-crds:latest].
The push refers to repository [docker.io/marlexct12/openfaas-loves-crds]
An image does not exist locally with the tag: marlexct12

[2019-09-21 16:54] jpribyl opened #692 "Flag to disable automanagement of .gitignore file"
I am using my template/ directory to open a mysql connection pool because it allows me to ensure that all functions have the latest connector every time I build/deploy. However, the cli will not allow me to create a new function unless it updates my .gitignore to include template/. When I `chattr +i .gitignore` it will not allow me to create a new function at all.

I would be interested in adding

[2019-09-21 17:05] alexellis opened #693 "Add --namespace/-n flag to function commands"
## Description

Add `--namespace`/`-n` flag to function commands so that users can access
functions in any valid namespace.

## Possible Solution

Start with a number of small PRs, or one larger PR covering:

* `faas-cli list`
* `faas-cli deploy`
* `faas-cli remove`

Then add support to:

* `faas-cli describe`
* `faas-cli store deploy`

The namespace flag must be optional and will be added to the

[2019-09-21 17:37] jpribyl commented on #692
Nevermind, there is an easy workaround. here is my .gitignore:
[code]

[2019-09-21 17:37] #692 closed

[2019-09-21 19:26] martindekov commented on #693
Derek assign: me

[2019-09-21 19:52] martindekov commented on #693
I will directly post one large PR with the changes in all the commands

[2019-09-21 20:10] alexellis commented on #693
Happy for you to run with this, thank you.

[2019-09-26 16:15] jonatasbaldin commented on #691
Thanks for merging that!

I still need to do some other work, will keep this issue open with this checklist:

TODO:
- [ ] Write docs (like the one in kubectl)
- [ ] Add link to docs after executing the command, instructing the user of next steps
- [ ] Add deprecated warning to faas-cli bashcompletion (should I? how could I do it?)

About the last item, shall we put a deprecation warning in the `ba

[2019-09-27 22:49] jonatasbaldin commented on #691
Added the docs [here](https://github.com/openfaas/docs/pull/174).

[2019-09-28 12:58] jonatasbaldin commented on #691
☝️ the last PR of this issue 🎉

[2019-09-29 05:53] #691 closed

[2019-09-29 17:04] #693 closed

[2019-09-30 10:07] LucasRoesler commented on #322
I am going to poke at this design again because this is something one of our teams really want.

My proposal is to add a new property/flag to the build `copy_additional_paths`.  This is a list of strings that are relative paths within the project that will be copied into the top level of the functions docker build context, which then allows the function/template author to decide how to copy them i

[2019-09-30 10:37] alexellis commented on #322
I am still to be convinced that this is a good idea, copying in files from a sub-directory is leaky and could lead to undefined behaviour.

@stefanprodan rightly said that this job can be achieved with a shell script wrapper, or a basic task runner like grunt or whatever the JavaScript world is using now.

https://stackoverflow.com/questions/18966485/copy-all-files-from-directory-to-another-with-g

[2019-09-30 10:39] alexellis commented on #322
I would like to see an alternative from @LucasRoesler for the above, who asked for this feature recently to compare the approaches:

1) Makefile
2) bash
3) grunt or similar task runner

So that we can compare the pros/cons.

[2019-09-30 11:26] LucasRoesler commented on #322
I will create an example using make and one for bash, but i will not use grunt, it is not a tool I would recommend adding to a project just to copy some folders around.  But bash and make tend to be very common on developer system.

Can you explain leaky?

With respect to `build_options`. Unfortunately, `build_options` can't be extended like this very easily , it is already defined a string slice

[2019-10-01 10:14] Anindita-art opened #697 "ogs"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version ( Full output from: `docker version` ):

* Are you using Docker Swarm (FaaS-swarm ) or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

[2019-10-01 12:02] #697 closed

[2019-10-01 12:02] alexellis commented on #697
/add label: invalid

[2019-10-03 00:48] Miserlou opened #699 "Don't Require `-f` If There's Only One .yml In Current Directory"
Simple usability thing: don't require `-f blah.yml` if the current working directory only contains a single yaml file, so that deploying is simple `faas up` for the majority of cases.

[2019-10-03 06:32] rgee0 commented on #699
Possible duplicate of https://github.com/openfaas/faas-cli/issues/635.  Please check and close/update accordingly.

[2019-10-03 10:12] LucasRoesler commented on #322
@alexellis here are some alternative methods using make and bash

# Alternatives:

## Makefile

[code]

Biggest downsides:
1. we need to hard code the copy commands to each function _or_ try to parse a yaml file in make
2. passing variables to makefiles is not easy, it can be done, but is very ugly
3. it is difficult to expose the various other flags in `faas-cli`
4. The author needs to re-impleme

[2019-10-03 16:44] Miserlou commented on #699
Yeah, close enough.

[2019-10-03 16:44] #699 closed

[2019-10-06 17:40] lamw opened #700 "maintain user TLS context selection after faas-cli login"
# Expected Behavior

I've got an OpenFaaS deployment which uses a custom self-sign certificate. When logging into the OpenFaas endpoint via faas-cli, I need to use **--tls-no-verify** flag as expected. However, upon a successful login, I would not expect to need to pass this argument again as that user selection should be part of the login operation and stored.

Below is an example of logging and

[2019-10-06 17:41] alexellis commented on #700
Moving to correct faas/faas-cli repo.

[2019-10-07 20:19] viveksyngh opened #701 "Update secrets command to make them namespace aware"
Update secrets command to make them namespace aware. As `faas-netes` getting support for multiple namespaces, secret commands should also take namespace as input.

This is part of this issue https://github.com/openfaas/faas-netes/issues/511 and It is dependent on this PR. https://github.com/openfaas/faas-netes/pull/530

## Expected Behaviour

All `secret` subcommands should have `--namespace` flag

[2019-10-07 20:20] viveksyngh commented on #701
Derek assign: me

[2019-10-08 08:30] alexellis commented on #700
Happy to take a PR from the VMware team for this @lamw @embano1 WDYT?

[2019-10-08 08:34] alexellis commented on #663
@viveksyngh

We have this today:

[code]

Could we simply use the `auth` field and retain everything else?

[code]

What do you think? It also doesn't need any migration effort.

[2019-10-08 09:14] alexellis commented on #663
I would be happy for @viveksyngh to work on a PR with the above design in my last comment, then for us to test it and try it to see how workable it is. I might be missing something, but it seems like it would work and get us further along than we are now.

[2019-10-08 13:41] lamw commented on #700
@alexellis This looks good to me. An alternative solution that would yield the same result is that if user passes in disable TLS upon login, it can automatically add this into the config file and this way it doesn't require user to manually remember to do so for subsequent calls. Its minor but I've seen this behavior in pass CLIs and would make for a better experience IMO.

[2019-10-09 08:16] alexellis opened #702 "github.com/docker/docker"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version ( Full output from: `docker version` ):

* Are you using Docker Swarm (FaaS-swarm ) or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

[2019-10-09 08:16] #702 closed

[2019-10-10 14:51] ziggekatten opened #705 "Support request for private repositories on Docker Swarm"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

So, deploying a function through either faas-cli returns success (202), and the function shows up in the UI with status not ready.

## Expected Behaviour

The funct

[2019-10-11 20:41] #705 closed

[2019-10-11 20:45] alexellis commented on #705
@ziggekatten once you can get the below working, with making the repo private, then OpenFaaS should also work for you.

The example runs `ping`:

[code]

[2019-10-16 16:31] #701 closed

[2019-10-17 10:28] alexellis commented on #322
Thank you for providing this, very helpful 👍

[2019-10-17 10:31] alexellis commented on #322
An off the wall idea - I think the pain point your team had was copying a common model into each folder for their functions.

Could that model be published to `npm` or as a `pip` in a public or private repository?

[2019-10-17 10:34] alexellis commented on #322
If making a change to the CLI, how far do you want to allow the user to traverse outside of the build context to copy in files? How do we protect from someone putting `/etc/password` or `../../` or similar to copy system files in from build machines?

What about protection on OpenFaaS cloud where the assumption is the entire function is within the current folder for git-tar? https://github.com/ope

[2019-10-17 10:43] LucasRoesler commented on #322
In my PoC branch I restrict copying to same folder or below of the stack file. I think it is reasonable that you can only copy files that are part of the project

[2019-10-17 10:50] LucasRoesler commented on #322
Publishing artifacts to pypi or some other location is especially annoying for python and it means that building requires a push and a pull of something that is essentially local. this makes for a very slow feedback loop in local development and testing. Also, during local development and testing, you will not want to actually publish that model or folder.

If the project is private, it also means

[2019-10-17 11:17] LucasRoesler commented on #322
Just to make it easier to find, I have implemented a prototype solution in faas-cli here https://github.com/openfaas/faas-cli/compare/master...LucasRoesler:feature-copy-common

[2019-10-17 11:18] alexellis commented on #322
RE: the PoC - https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#setting-expectations-support-and-slas

Could the `--copy-additional-paths` flag be `--copy-extra` and still be workable? I feel the verbosity is descriptive, but hard to type in.

As for adding this to each function in the YAML file, I think I'd rather see it in the common build/config section we're discussing adding in #66

[2019-10-17 11:21] alexellis commented on #322
If it would work for you as above, please feel free to work on the PR, but add the unit test cases to show that we are blocking copying from higher levels of the filesystem and `C:/windows/system32` and such like. Your PR blocks `../`, but does it block `/etc/passwd`? We should be able to show that with a test or two.

[2019-10-17 14:25] #680 closed

[2019-10-17 14:38] LucasRoesler commented on #322
/set milestone: 0.9.5

[2019-10-19 15:10] alexellis opened #708 "Bug in faas-cli cloud seal --namespace parameter"
## Expected Behaviour

The namespace has a default parameter, but it's not working:

[code]

This should look like:

[code]

## Current Behaviour

It looks like this though, with no namespace at all

[code]

## Possible Solution

Investigate what caused the regression and fix it.

## Steps to Reproduce (for bugs)

1. `faas-cli cloud seal --name alexellis-ofc-k3d --literal secrets=kind -c ./cert.pe

[2019-10-19 15:11] alexellis commented on #708
@viveksyngh PTAL?

[2019-10-20 05:32] GnaphronG opened #710 "[Feature request] flag override for image and name"
While a lot of the values defined in the function.yml file can be overridden, the image name and the function name can't.

## Expected Behaviour

Passing image and/or function name should override the one in the yaml file passed using the `-f` flag.

## Current Behaviour

The value of image or name are ignored if a yaml file is defined unlike the gateway or the secret for example.

## Possible Sol

[2019-10-21 08:29] alexellis commented on #708
Fixed via #709

[2019-10-21 08:29] #708 closed

[2019-10-21 12:51] alexellis commented on #689
Thanks for the suggestion. I don't think this is something that is going to be worked on any time soon. I'm going to close and mark for revisit.

[2019-10-21 12:51] #689 closed

[2019-10-21 18:43] viveksyngh commented on #663
Hi Alex, You mean we should replace/override the existing entry for a gateway if it's already present ? Otherwise there will be challenge with having multiple entries with same gateway but different auth type.

[2019-10-24 11:01] alexellis commented on #362
@feynmanliang

[2019-10-25 18:11] jgnagy commented on #710
@alexellis, I see the value in this as well. From a CI perspective, I'd like to be able to override the image (we use different docker registries per environment) and while envsubst is great, it adds a step to developers' workflows (I need them to open the stack yaml and edit the image key to include a shell-style variable). Otherwise I'll need to be a bit more creative and do that myself via `sed

[2019-10-25 18:29] alexellis commented on #710
Try the substitution, it's why we added the feature. Let us know how it goes.

[2019-10-28 14:48] #663 closed

[2019-10-31 09:57] viveksyngh opened #715 "Add oauth2 token support to all cli commands"
Add oauth2 token support to all cli commands

## Expected Behaviour

Right now oauth2 token is only support by `faas-cli list` command. We need to add that to all commands. This is next part of #711 .

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker ver

[2019-11-05 15:55] #617 closed

[2019-11-05 15:56] #280 closed

[2019-11-05 16:02] #715 closed

[2019-11-05 16:03] #618 closed

[2019-11-05 16:15] alexellis commented on #687
@rgee0

https://github.com/openfaas/faas-cli/issues/687#issuecomment-528030679

That's correct

We now have a use-case where we want to enable Go modules (some of the time) and @bmcstdio made a `--build-arg` available for that. How do we move this forward?

Today `build_options` looks like this:

[code]

Taken from https://docs.openfaas.com/reference/yaml/#function-build-options

I don't know how

[2019-11-06 18:45] alexellis opened #717 "Print namespace in invoke URL after deployment"
## Expected Behaviour

The CLI should print the namespace of the deployment in the invoke URL after `faas-cli deploy`

## Current Behaviour

It's left out, so it could lead to confusion.

Regardless of the namespace, deploying nodeinfo will show:

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

Deploy two functions, both get the same invocation URL printed:

1. `faas-cli deploy --n

[2019-11-06 19:19] martindekov commented on #717
I can quickly fix this up fix this up 👍

[2019-11-06 19:27] alexellis commented on #717
You may need https://github.com/openfaas/faas-netes/releases/tag/0.9.9

[2019-11-06 19:29] martindekov commented on #717
Thank you Alex ^ will re-deploy and open PR shortly.

[2019-11-06 19:33] rgee0 commented on #717
My attempt.  May or may not be useful:

https://github.com/openfaas/faas-cli/compare/master...rgee0:addDeployURLNamespace?expand=1

[2019-11-06 19:35] martindekov commented on #717
Aw, ok Richard, perfect thanks if you open PR I can review it :+1:

[2019-11-07 07:45] #717 closed

[2019-11-07 14:21] chenrui333 opened #720 "faas-cli 0.10.1 brew upgrade issue"
Relates to https://github.com/Homebrew/homebrew-core/pull/46345

Context are in jenkins builds
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/51263/version=mojave/console

The above is Mojave build log.

[2019-11-07 16:11] alexellis commented on #720
@johnmccabe @rgee0 @martindekov PTAL?

[2019-11-07 16:13] alexellis commented on #720
@martindekov this could be regression after #668 ?

[code]

[2019-11-07 16:19] alexellis commented on #720
Prior version:

[code]

[2019-11-07 18:38] rgee0 commented on #720
I think this might be implicated:

https://github.com/openfaas/faas-cli/pull/668/files#diff-765f4ba59499cd6d3963f583eb6012b1L47

Not sure what this part does if there isn't an arg to set `repository`:

https://github.com/openfaas/faas-cli/pull/668/files#diff-765f4ba59499cd6d3963f583eb6012b1R46

[2019-11-07 19:03] martindekov commented on #720
Will have a better look in an hour ^

[2019-11-07 19:17] rgee0 commented on #720
Could do with some independent testing: https://github.com/openfaas/faas-cli/pull/721

[2019-11-07 20:22] alexellis opened #722 "[Feature] Download kubeseal using Golang"
## Expected Behaviour

`kubeseal` is required for use with `faas-cli cloud seal`

We could add a command like this:

[code]

## Current Behaviour

There's manual instructions in the README on how to get `kubeseal`

## Possible Solution

Follow the approach taken by k3sup to determine architecture and download the binary to:

[code]

https://github.com/alexellis/k3sup/blob/master/pkg/cmd/openfaas_a

[2019-11-08 05:51] utsavanand2 commented on #722
Derek assign: me

[2019-11-08 14:16] chenrui333 commented on #720
I think I still have issue on testing the formula on the latest release

[code]
https://github.com/Homebrew/homebrew-core/pull/46345#issuecomment-551336131

[2019-11-08 18:13] rgee0 commented on #720
@chenrui333 can you shed some light on why the first deploy command doesn't fail but the second does?  It looks as though the test is trying to match some output that we wont actually see.  Trouble is, I cant understand why this behaviour would have changed - it should have been failing for some time.

Also, the `test.yml` file contains disallowed characters:
[code]

[2019-11-09 15:45] martindekov commented on #720
I see mojave failed https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/51428/version=mojave/console

Also seeing comment on last release `0.9.5` that mojave is failing:
https://github.com/Homebrew/homebrew-core/pull/45596

Could this be the reason? For reference here is the ruby script:

https://github.com/Homebrew/homebrew-core/blob/master/Formula/faas-cli.rb

@rgee0 I don't see `faas-

[2019-11-09 16:01] rgee0 commented on #720
@martindekov perhaps there's an easier way to demonstrate that the hand-crafted file uses characters that are unsupported whilst also conveying which characters are supported?

[2019-11-09 16:14] martindekov commented on #720
Hey Richard, I don't disregard your comment, it is very valid, and I believe should be reflected in that file. Just trying to point that the current situation(possibly exact test failure) happened before in the same environment.

[2019-11-09 17:08] chenrui333 commented on #720
@martindekov

Jenkins build is on PR basis, and a good place to go for the reference.

Homebrew/homebrew-core#45596

I think that is a CI hiccup, all green after the rebuild.

[2019-11-11 11:10] alexellis opened #725 "Additional template configuration not used at build time"
Additional template configuration not used at build time

## Expected Behaviour

If `templates` are defined in `stack.yml`, then `faas-cli build` should pull the templates if the `templates` folder does not exist.

## Current Behaviour

I defined a template and source as above, but had to run `faas template pull stack` separately.

![Screenshot 2019-11-11 at 11 03 21](https://user-images.githubuse

[2019-11-11 11:34] martindekov commented on #725
Haven't added changes to the build phase, but I can. I maybe missed that requirement. I will look into it 👍

[2019-11-26 12:46] martindekov opened #728 "[Feature] List namespaces available to openfaas"
Currently the OpenFaaS API provides a way to list namespaces which are available for OpenFaaS to deploy functions to, but it must be called with curl. We can add this behaviour to the cli.

## Expected Behaviour

List namespaces with `faas-cli list --namespaces`

## Current Behaviour

We must curl the endpoint in order to list the namespces

## Possible Solution

Add flag to `faas-cli list` which

[2019-11-26 13:04] alexellis commented on #728
Or `faas namespaces`?

[2019-11-26 13:11] martindekov commented on #728
This is a good proposal ^ I like it 👍 I can add the option

[2019-11-28 04:13] brandonkal opened #729 "--from-file not included in seal hint"
https://github.com/openfaas/faas-cli/blob/62c00fbf9eac1a14b1e3121bacb6d767ebc64fe0/commands/cloud.go#L52

[2019-11-28 08:52] LucasRoesler commented on #729
This should be a very easy  change. It would also be nice to extend the examples as well, like we do for `faas-cli build`

https://github.com/openfaas/faas-cli/blob/62c00fbf9eac1a14b1e3121bacb6d767ebc64fe0/commands/build.go#L78-L87

@brandonkal is this something you would be willing to contribute?

[2019-11-28 09:15] alexellis commented on #729
/add label: good first issue

[2019-11-28 14:45] #729 closed

[2019-11-28 16:00] #722 closed

[2019-11-28 19:34] chenrui333 commented on #720
Looks like the formula test got fixed in 0.10.5. Closing the issue now.

[2019-11-28 19:34] #720 closed

[2019-12-05 21:50] chrisrichard commented on #687
If you can provide a bit of guidance on implementation we might be able to help with this one.

[2019-12-06 11:17] LucasRoesler commented on #687
From how I understand the conversation, i think @alexellis  wants to introduce the following yaml structure

[code]
there are a couple important change in this structure

1. a `version` value.  This would allow us to introduce a breaking change in the function spec. We would need to freeze the current spec as `version: 0` and when version is missing we assume `0`.  Ideally we should be just parsin

[2019-12-06 12:27] alexellis commented on #687
I'm not seeing much usage in OSS repos: (if this search is working as expected) https://github.com/search?q=faas+build_options&type=Code

[2019-12-06 21:30] georgenicoll opened #734 "dockerfile-armhf is not recognised by build as a 'non-language' template"
## Expected Behaviour
When running build with a lang of 'Dockerfile-armhf', faas-cli should treat the build as a non-language template and not append /function to the function path (as it does when lang is set to 'Dockerfile').

## Current Behaviour
faas-cli treats 'Dockerfile-armhf' as a language template and appends /function so causes the build to fail with 'unable to prepare context: unable to

[2019-12-06 21:51] georgenicoll commented on #734
dockerfile-armhf template is now deprecated:  can just use dockerfile template.

[2019-12-06 21:51] #734 closed

[2019-12-06 23:34] alexellis commented on #734
Go for it. The repo is openfaas/templates

[2019-12-08 09:15] YeoHoonYun opened #735 "Shouldn't I run openfass on Windows?"
PS C:\Users\cjswo> .\faas-cli.exe build -f .\uptime.yml
[0] > Building uptime.
Clearing temporary build folder: ./build/uptime/
Preparing ./uptime/ ./build/uptime//function
Building: uptime:latest with python3 template. Please wait..
Sending build context to Docker daemon 9.216 kB
Step 1/29 : FROM openfaas/classic-watchdog:0.18.1 as watchdog
Error parsing reference: "openfaas/classic-watchdog:0.18

[2019-12-08 09:15] #735 closed

[2019-12-08 09:16] alexellis commented on #735
Moving to correct repository (faas-cli)

[2019-12-08 09:34] YeoHoonYun commented on #735
Hi.
Thank you for your reply because I am translating with Google Translator with a little English.
This time, I'll run using git bash as the answer.
And the tutorial example I referenced was to use PowerShell on Windows. https://docs.openfaas.com/cli/install/
I'm interested in serverless, so I'll try hard.

[2019-12-08 11:36] alexellis commented on #735
You should ensure that Docker is using Linux containers. Next update your Docker version to latest edge, thank you.

[2019-12-08 12:13] YeoHoonYun commented on #735
Fixed issue with Docker Edge version (18.09.1) But the tutorial failed to run.
The error is as above.

Deploying: callme.
WARNING! Communication is not secure, please consider using HTTPS. Letsencrypt.org offers free SSL/TLS certificates.

Is OpenFaaS deployed? Do you need to specify the --gateway flag?
Put http://127.0.0.1:8080/system/functions: dial tcp 127.0.0.1:8080: connectex: No connection c

[2019-12-08 12:22] alexellis commented on #735
Did you run the `kubectl port-forward` command given in the documentation and the workshop?

[2019-12-08 12:28] YeoHoonYun commented on #735
![image](https://user-images.githubusercontent.com/45550361/70389338-8791f300-1a01-11ea-90a9-22ab6dd74304.png)

https://blog.alexellis.io/quickstart-openfaas-cli/

I think I should install Kubernetes or Docker Swarm to install the gateway. By the way, I can't access that path in the tutorial. Please confirm. Thank you.

[2019-12-08 13:31] alexellis commented on #735
Use the workshop that I linked you to, not a blog post I wrote years ago.

[2019-12-10 19:08] #725 closed

[2019-12-15 15:30] #728 closed

[2019-12-16 08:16] ghostbody commented on #693
Hi, it seems that this option, i.e. `--namespace` or `-n` is not working when using a yaml file.

[2019-12-16 08:22] alexellis commented on #693
For YAML files I think we need to extend the schema. Kubernetes AFAIK won't allow this either using its CLI.

The YAML file should allow for a namespace to be specified. @LucasRoesler @martindekov

[2019-12-16 11:51] martindekov commented on #693
Yes this can be easily added to the schema I believe 👍 I can add the change in the weekend that comes. This issue covered the CLI, not the schema, I can open another one which can address this problem?

[2019-12-16 12:17] alexellis opened #737 "Add namespace field to the stack.yml schema"
Add namespace field to the stack.yml schema

## Expected Behaviour

I'd like to write this:

[code]

Then run `faas-cli deploy`, and have the function deployed into the `staging-fn` namespace.

## Current Behaviour

Functions can now be deployed into a custom namespace via `faas-cli deploy --namespace`, but not with a YAML file.

## Possible Solution

Extend the structs / schema.

Some of the depl

[2019-12-17 11:00] #737 closed

[2019-12-17 11:00] alexellis commented on #737
This appears to be done already, a user reported that it wasn't available, but I've tested e2e with the latest faas-cli and it worked fine.

[2019-12-19 13:17] LucasRoesler opened #739 "describe function command does not produce the correct url for the supplied namespace"
The `faas-cli describe` command is namespace aware, but does not print the correct urls that include the `.<namespace>`

## Expected Behaviour

The output should include the url with the namespace

[code]

## Current Behaviour

[code]

## Possible Solution

Update the `getFunctionURLs` method

## Steps to Reproduce (for bugs)

1. Deploy to kuberenets with namespace support, as done in these docs h

[2019-12-19 14:02] alexellis opened #740 "npm installation is broken"
## Expected Behaviour

This should work:

[code]

## Current Behaviour

[code]

## Possible Solution

@burtonr @doowb can you look at the changes made in https://github.com/openfaas/faas-cli/pull/723 and suggest a fix please?

[2019-12-19 14:07] burtonr commented on #740
It looks like on this line, the `name` should be changed to `binaryName`
https://github.com/openfaas/faas-cli/blob/master/npm/install.js#L20

[2019-12-19 14:09] alexellis commented on #740
Which instance of "name"?

`    let release = releases.find(release => release.name === name);`

[2019-12-19 14:12] burtonr commented on #740
Current line:
[code]
should be:

[code]

[2019-12-19 14:13] alexellis commented on #740
How did the unit tests pass if this is not right?

[2019-12-19 14:14] alexellis commented on #740
I get the same error (404) after the patch

[code]

[2019-12-19 14:17] alexellis commented on #740
Not sure why we get the releases then iterate? Without authentication this can fail and use up the GitHub API rate-limit. We can just run HEAD against the latest release HTML page and read the result. We do this for getting kubeseal and in the get.sh script.

[2019-12-19 14:20] burtonr commented on #740
I see. There's a problem with the packaging.

`no such file or directory, open '/tmp/package.json'`

Part of the install process is to read the package.json file from the local directory. It's one thing to know that it works with the repository (faas-cli) cloned locally and running the script, it's another to ensure that the package is created and shared properly.

If @doowb doesn't get to it firs

[2019-12-19 14:33] #740 closed

[2019-12-19 14:34] alexellis commented on #740
Can you migrate the test to use mocha please?

https://mochajs.org/#getting-started

I've made a fix for the time being and re-published. It also uses the HTML page now instead of the API which is rate-limited.

[2019-12-19 15:53] codegold79 commented on #739
Would it be all right if I took this one?

[2019-12-19 16:43] codegold79 commented on #739
Derek assign: me

[2019-12-19 16:44] codegold79 commented on #739
Derek assign: codegold79

[2019-12-19 21:46] codegold79 commented on #739
Should the async function url also have the dot namespace at the end of it?

[2019-12-19 22:12] alexellis commented on #739
Try it, I think so, but not sure if it's implemented for certain.

[2019-12-20 23:05] doowb opened #742 "namespace flag is ignored when stack.yml exists"
## Expected Behaviour

When I run:

[code]
I expect the namespace flag to be used and the output to look like:

[code]

## Current Behaviour

The above works when there is not a `stack.yml` file in the directory.
The following is the result I get when there is a `stack.yml` file, but there is not a namespace specified for the function in the file:

[code]

## Possible Solution

If it is not the de

[2019-12-21 09:22] Waterdrips commented on #742
Hey @doowb , did you want to have a look at fixing this? Otherwise I can take a look

[2019-12-21 09:32] alexellis commented on #742
I think this behaviour is working as expected, kubectl works the same way as far as I remember.

[2019-12-21 09:33] alexellis commented on #742
You can provide a namespace override inside the YAML file and if you like you can use an envsubst to provide overrides on that field

[2019-12-21 09:34] Waterdrips commented on #742
Oh yeah, env var substitution that's way better

[2019-12-21 17:13] doowb commented on #742
Thank you for mentioning that... I didn't know this and I'm used to how the `--gateway` flag can override the value in the `stack.yml` so I made an assumption that the `--namespace` flag would also override the value in `stack.yml`.

I couldn't find specific documentation for the kubectl behavior (what I found through issues really  only refers to the value specified in the kubeconfig or current c

[2019-12-24 06:05] burtonr commented on #740
@alexellis not sure if there was still an issue with the actual installation after your fix. I did try it on my system, and it worked perfectly.
That said, I did update the tests to use the Mocha library on PR #743 for your review.

[2019-12-25 12:09] alexellis opened #745 "Can't have "template" folder in function folder"
Can't have "template" folder in function folder

## Expected Behaviour

This function stopped working at this commit, renaming template to templates fixed the issue

https://github.com/alexellis/cloudlogo/commit/9e29ed51c449fa1dcfb0cda55f9ceab6eafbec77

## Possible Solution

Revisit any code that does a blanket ban on copying "template" or "build" folders in the pre-build stage.

![not-present](ht

[2019-12-25 12:18] LucasRoesler commented on #745
This was done in #524 to fix #478

[2019-12-25 12:59] alexellis commented on #745
I remember, thank you for the links to the issues/PR. I think this will lead to bugs that are nasty to debug if left as is.

Would you like to write some tests to prove the issue and then fix?

[2019-12-26 19:01] #739 closed

[2019-12-26 19:45] loiane opened #746 "Question: remove faas-cli + UI"
I have installed faas-cli and played with it for a while. Now I want to remove it from my computer and I was able to remove the command. However, http://localhost:8080/ui is still opening when docker is active.
I have removed all images, services and containers and is still active.
Is there something else that needs to be removed in order to completely remove the portal UI?

## Expected Behaviour

[2019-12-26 19:54] #746 closed

[2019-12-26 19:54] alexellis commented on #746
Please ask on Slack. You'll also need to say how you installed it.

[2019-12-26 19:54] alexellis commented on #746
/msg: slack

[2019-12-26 19:58] alexellis commented on #746
Actually the issue template asks you to state that you have searched the documentation before posting an issue.

The docs already cover CLI/Swarm and K8s removal:

https://docs.openfaas.com/deployment/troubleshooting/#uninstall-openfaas

[2019-12-27 17:44] alexellis opened #747 "Convert sample github_hmac to use classic Go template"
Convert sample github_hmac to use classic Go template

https://github.com/openfaas/faas-cli/tree/master/sample/github_hmac

This will be less to maintain over time, a Dockerfile isn't required for the sample.

[2020-01-03 19:53] alexellis opened #748 "Remove command should return non-zero exit code for HTTP error"
The `faas-cli remove` command should a return non-zero exit code for any HTTP errors detected, or errors returned from the proxy package. There are probably other commands that act this way too.

## Expected Behaviour

Remove command should return non-zero exit code for HTTP error

## Current Behaviour

It returns exit-code 0

## Possible Solution

Update the code to return a non-zero exit code, i

[2020-01-03 20:06] LucasRoesler commented on #748
Returning the error after the call to `proxy.ListFunctionsToken`  should work exactly as expected, just like in the list command https://github.com/openfaas/faas-cli/blob/63f310208b4db547a7bb03842b04e8271a175635/commands/list.go#L59-L62

[2020-01-03 20:24] LucasRoesler commented on #748
Looking at the proxy code, it seems like it will also need to be updated to return an error on non-200 status codes. Currently, it only prints to stdout for non-200 errors

https://github.com/openfaas/faas-cli/blob/63f310208b4db547a7bb03842b04e8271a175635/proxy/delete.go#L60-L78

[2020-01-03 20:42] alexellis commented on #748
:+1:

[2020-01-06 14:30] Waterdrips opened #749 "kubeseal download on rpi3 fails"
Kubeseal only package
[code]
as shown here : https://github.com/bitnami-labs/sealed-secrets/releases/tag/v0.9.6

Running on a Pi tries to download the kubeseal binary - should we return with a warning if running on an unsupported arch?

when executed on rpi3
[code]
## Expected Behaviour

## Current Behaviour

we make a URL that points to a github 404 page.

## Possible Solution

only try with supp

[2020-01-06 20:01] alexellis commented on #749
SGTM, also let's raise an issue upstream and ask them to cross compile and point at our example?

[2020-01-08 17:11] arthurlogilab opened #750 "faas-cli build sometimes has DNS / resolver problems on internal DNS"
## Expected Behaviour
Building a python repo from an internal http server that is accessible on the laptop, but for some reason not accessible in the build docker image.

[code]

builds consistently.

## Current Behaviour

[code]

on my machine I have :

[code]

Trying to dig into the produced image I use the untagged image and get :

[code]

## Possible Solution

## Context

## Your Environment

[2020-01-12 14:41] Waterdrips commented on #749
https://github.com/bitnami-labs/sealed-secrets/issues/173

[2020-01-14 09:59] LucasRoesler opened #752 "Proposal: Allow saving and reusing bearer tokens via the auth command"
## Expected Behaviour

I would like to authenticate the CLI using a token and persist this to the configuration

[code]

And then subsequent CLI commands will reuse this token without needing to specify it via a flag, these two commands would be equivalent after authentication

[code]

## Current Behaviour

`faas-cli login` only supports basic auth

## Context

This is useful when using an authent

[2020-01-14 13:05] alexellis commented on #752
@viveksyngh what do you think?

[2020-01-14 13:19] itohan-uk commented on #748
How do i assign this issue to myself?

[2020-01-14 13:28] burtonr commented on #748
@itohan-uk issues can only be (properly) assigned to members of the GitHub organization. That said, simply commenting on the issue that you will work on it as you have is more than enough. Thanks!

Let us know if you have any questions or troubles, and be sure to have a read through the [Contributing Guide](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md)

[2020-01-14 13:30] itohan-uk commented on #748
Thanks @burtonr

[2020-01-15 16:13] alexellis opened #754 "[Feature] Customise the template "function" folder"
## Description

Customise the template "function" folder #754

## Context and motivation

Templates consist of two parts - an entry point, and a handler. The folder name for the handler is hardcoded to "function", but there's some cases where this is obstructive.

For Elixir the name must be "lib" or "src", I forget which cc @dokie

Here's an imaginary programming language "ext":

[code]

What if

[2020-01-15 16:38] alexellis commented on #749
@Waterdrips can this be closed now?

[2020-01-15 16:45] Waterdrips commented on #749
I was using it to remind me to look at raising the kubeseal pr to implement arm builds. But it can probably be closed yeh

[2020-01-15 16:48] #750 closed

[2020-01-15 16:49] alexellis commented on #750
Hi thanks for your interest in OpenFaaS. I've taken a look over this issue and am going to close it because it doesn't appear to be an issue with faas-cli.

FYI faas-cli simply forks / executes `docker build`, so the issue should really be raised on the Docker Issue Tracker or Community Support Forum - https://forums.docker.com

Good luck with it. Hope you get some help there.

[2020-01-15 17:28] alexellis commented on #749
Go for it

[2020-01-15 18:12] viveksyngh commented on #752
To me this looks like, we already have an `oauth` authentication token and we want to just save it.

We can also use `faas-cli auth` command or add another subcommand. As long as we will send that token as bearer token, we can save that as `oauth2` auth type in the config file.

[2020-01-15 18:15] Roadmaster commented on #569
@mikeroyal hello there,

You currently own the faas-cli snap name, but we (the Snap Store team) received a request from the openfaas project to get ownership of the name. I wonder if you could confirm whether you agree with this in general (@alexellis is the requester).

I will also need to email you privately to confirm (as I can't verify your Snap Store email address matches your github identity

[2020-01-15 18:18] viveksyngh commented on #752
If we are doing oauth flow with `faas auth` command. It saves the bearer token to the config file after successful oauth flow.

[2020-01-15 20:23] alexellis commented on #752
Does that help with what you need @LucasRoesler ?

[2020-01-15 20:48] LucasRoesler commented on #752
I want to have a way to save a token that does not need to be integrated into the openfaas specific auth provider. We disable auth in openfaas and have a proxy with a standardized auth in front of it. I would really hate to see this coupled to something in the gateway.  All I really want is the ability for the CLI to reuse a token from the config so that o don't need to pass `--token` to every com

[2020-01-15 21:13] mikeroyal commented on #569
Yeah, that's fine @Roadmaster

[2020-01-15 21:14] alexellis commented on #569
Thank you both 👍

[2020-01-15 21:17] Waterdrips commented on #749
/close

[2020-01-15 21:17] #749 closed

[2020-01-15 22:31] alexellis commented on #569
Hi @mikeroyal I can see some releases and snapshots, we'd assumed there was no package and started work on this to resolve, but it looks like you had something up.

In the dashboard I see this error though

<img width="779" alt="Screenshot 2020-01-15 at 22 30 41" src="https://user-images.githubusercontent.com/6358735/72477078-afd1f600-37e6-11ea-8e86-e193502ade7a.png">

[2020-01-15 22:43] Roadmaster commented on #569
The above is because Mike's snap uses the docker interface which needs to be explicitly approved (you can request it in the forum: https://forum.snapcraft.io/c/store-requests.

Alternatively, if you make it so that the snap doesn't require use of docker, it would likely pass the automatic review process.

- Daniel

[2020-01-16 09:45] alexellis commented on #749
Raised PR: https://github.com/bitnami-labs/sealed-secrets/pull/344 to cover this. It should automatically work, when the return code is not 404, I believe?

The name will be arm for armhf, and arm64 for 64-bit ARM.

[2020-01-16 10:47] itohan-uk commented on #748
Currently have the code modified to return an error if one exists. However when i run the above command
`faas-cli remove invalid-function && echo $?`
I don't see any exit code. But when i run
`echo $?`  just after this, i see exit code 1.
Any ideas why it works with the && when its an exit code of 0 and does not when its 1?

[2020-01-16 13:09] alexellis commented on #752
Perhaps a config type entry like `external` might work? https://github.com/openfaas/faas-cli/blob/master/config/config_file.go#L33

@viveksyngh and I were talking about this on a call, and we think it would be good to test the token before saving it, i.e. by hitting /system/info and looking for a 200. I prefer the auth command to save arbitrary tokens.

[2020-01-16 13:17] #754 closed

[2020-01-16 13:36] alexellis commented on #748
@viveksyngh you mentioned you were available to help a little bit with new contributions.

[2020-01-16 14:23] viveksyngh commented on #748
@itohan-uk. is it ok to raise a PR with your changes on so that we can have a look and help you with that ?

[2020-01-16 16:33] LucasRoesler commented on #752
A separate type is a good idea, but I would call it `token` or `authorizationToken` instead of `external`.  External is so generic that it might become a kitchen sink solution.

[2020-01-16 19:01] itohan-uk commented on #748
@viveksyngh Sure. I'll raise one later today

[2020-01-18 09:56] #322 closed

[2020-01-21 17:54] dokie commented on #754
@alexellis For Elixir the root source folder is called `lib`

[2020-01-21 18:00] alexellis commented on #754
Thanks for confirming. That's now supported if you're interested in trying it out with your template store submission?

[2020-01-25 09:33] alexellis commented on #687
I'm leaning towards build_config

[2020-01-25 10:58] martindekov opened #758 "Make stack pull in building phase off by default"
Currently `--disable-stack-pull` is a flag of `build` command which disables the pulling of templates before build phase. The default behaviour if:
[code]
exists the template will try to be fetched every time we build.

## Expected Behaviour

Rename `--disable-stack-pull` to `--enable-stack-pull` so only when flag is present the build will try to pull templates.

## Current Behaviour

Tries to pul

[2020-01-25 10:59] martindekov commented on #758
When adding the feature to the `build` I though this should be the default case. But we can easily change it.

[2020-01-25 14:53] #758 closed

[2020-01-26 11:23] LucasRoesler commented on #687
I think i would rather introduce a breaking change or use `build_config` versus mixing the build options and flag parsing

[2020-01-26 13:16] martindekov opened #759 "Don't pull template defined in stack YAML file, if it is already in the filesystem"
Currently templates are always pulled if config is provided in the yaml file:
[code]
. We should skip pulling the same way we skip pulling if template folder exists like here:
https://github.com/openfaas/faas-cli/blob/30b7cec9634c708679cf5b4d2884cf597b431401/commands/build.go#L290

## Expected Behaviour

Don't fetch templates if template exists in building phase

## Current Behaviour

Fetches them

[2020-01-27 07:53] KaiWedekind opened #760 "faas-cli deploy adds "docker.io/" to container image of private container registry"
## Expected Behaviour

I'm using GitLab CI to build, push and deploy faas function.

Deploy openfaas functions with `faas-cli deploy` without adding  **docker.io/** to the private docker repositories address

**.gitlab-ci.yml**
[code]

**stack.yml**

[code]

## Current Behaviour

Build and push works like charm, but `faas-cli deploy` adds **docker.io/** in front of the private container image addr

[2020-01-27 08:58] alexellis commented on #760
Hi @KaiWedekind thanks for your interest and for raising this issue.

The faas-cli does support private registries as does the Kubernetes and Swarm back-end for OpenFaaS, what you're encountering is the default behaviour of "faasd" which is a new backend for OpenFaaS using containerd.

You'll need to raise your issue on the faasd repo as a "feature request". I will look into it once you have it ra

[2020-01-27 08:58] #760 closed

[2020-01-27 09:05] alexellis commented on #760
Feel free to +1 https://github.com/alexellis/faasd/issues/30 or add a comment, if you'd like to use OpenFaaS with private images the best lightweight option is OpenFaaS on Kubernetes with k3s.

[2020-01-28 19:55] den-vasyliev opened #761 "Support request for custom TLS certificate"
Different commands behavior with https gateway.
f list - works
f logs - not

www.ssllabs.com gives all green lights on tls cert

## Expected Behaviour

Expect f logs works with HTTPS gateway without --tls-no-verify

## Current Behaviour
[code]
## Possible Solution

## Steps to Reproduce (for bugs)

[code]

## Context

security issue

## Your Environment

* FaaS-CLI version ( Full output from: `faa

[2020-01-28 20:08] alexellis commented on #761
Hi, can you run a curl against your gateway and let us know what TLS version you're using? We've never had issues with genuine up to date TLS certs before.

Can you run `curl -v` perhaps?

Alex

[2020-01-28 20:09] alexellis commented on #761
/set title: Support request for custom TLS certificate

[2020-01-28 20:58] den-vasyliev commented on #761
UPDATE:

Alex, first actually i appreciate your product and exactly code with documentation style - good job!

So i have review source code of gateway list and logs commands and no guess why first one works and second no - that is the main issue...

And.. found problem with ssl libs on macos and jump hosts affecting curl, faas-cli tls validation...

New linux jump host and GKE cloud console works.

[2020-01-28 20:59] #761 closed

[2020-02-05 17:24] #623 closed

[2020-02-05 17:24] alexellis commented on #623
We're looking a covering this via https://github.com/openfaas/faas-netes/issues/586

[2020-02-05 20:45] LucasRoesler commented on #742
I want to follow up on this, because I ran into this today with a team member and it was not their default expected behavior.  I showed him the envsubt pattern because I have ran into this before and while it worked, it definitely slowed the process of deployment down.

This actually almost would have caused down time but we were lucky and the default value was set to a dev namespace instead of pr

[2020-02-06 11:02] viveksyngh opened #762 "Logout command does not read `OPENFAAS_URL` env variable"
Logout command does not check for `OPENFAAS_URL` environment variable and command need to pass it using `-g` or `--gateway` flag.

<img width="408" alt="Screen Shot 2020-02-06 at 12 45 07 AM" src="https://user-images.githubusercontent.com/3869193/73931251-fd311700-48fd-11ea-91a6-a99d663c6b5b.png">

## Expected Behaviour

It should use the `OPENFAAS_URL` value if `--gateway` flag is not passed.

##

[2020-02-13 09:06] viveksyngh commented on #762
Derek assign: me

[2020-02-16 10:17] martindekov commented on #687
So should we stay with:
[code]
And not mix config and flag parsing? Did you reach consensus?

[2020-02-22 10:32] #762 closed

[2020-02-24 07:15] pisymbol opened #765 "ARMHF SHA missing for release 0.11.8"
[code]

Looks like this is failing:

[code]

And that's because:

[code]

The issue is the key is really here:

https://github.com/openfaas/faas-cli/releases/download/0.11.8/faas-cli.sha256

Notice there is no ARCH string appended to it.

[2020-02-24 07:51] alexellis commented on #765
Thanks for raising this, appears to only affect ARMHF, due to a partial failure of CI https://travis-ci.com/openfaas/faas-cli

[2020-02-24 07:51] alexellis commented on #765
/set title: ARMHF SHA missing for release 0.11.8

[2020-02-24 07:55] pisymbol commented on #765
Yes, agreed.

[2020-02-24 09:33] #765 closed

[2020-02-24 09:34] alexellis commented on #765
Fixed manually, will monitor the next release for this. Thank you @pisymbol for letting us know.

[2020-02-24 09:38] pisymbol commented on #765
Thanks very much! I appreciate it.

[2020-02-25 19:20] mabuaisha opened #766 "Using faas-cli build stuck and never completed"
I'm trying to build hello world app using faas-cli and it seems the build stuck at some point without doing anything

[code]

It stuck on `fetch http://dl-cdn.alpinelinux.org/alpine/v3.11/main/x86_64/APKINDEX.tar.gz`

Any clue how to solve this issue ?

[2020-02-25 19:28] mabuaisha commented on #766
@alexellis

[2020-02-25 19:31] burtonr commented on #766
This is not an issue with the faas-cli as there appears to be an issue with the alpine linux CDN based on your output

These types of questions are better handled in the OpenFaaS Slack channel.

[2020-02-25 19:32] burtonr commented on #766
/msg: slack

[2020-02-25 19:32] alexellis commented on #766
Hi sounds like an issue with the alpine packages mirror or your networking. I can't reproduce it here. I'm going to close but let us know how you get on.

Alex

[2020-02-25 19:32] alexellis commented on #766
/close can't reproduce the issue

[2020-02-25 19:32] #766 closed

[2020-02-27 22:00] andeplane opened #767 "Script to install faas-cli suddenly fails due to new response from github"
Current recommended install script `curl -sSL https://cli.openfaas.com | sh` fails because https://github.com/openfaas/faas-cli/releases/latest suddenly returns `location` with lowercase L, so `curl -sI https://github.com/$OWNER/$REPO/releases/latest | grep Location` gives nothing.

## Expected Behaviour
Running the command should install faas-cli.

## Current Behaviour
Running the command fails:

[2020-02-27 22:06] alexellis commented on #767
Hi @andeplane we are aware of this problem, thank you for flagging it. This happens oddly only some of the time.

It would appear to be a problem with GitHub's servers, they are going through some bumpy waters this week.

I think my changes to the CLI with `grep -i` have helped, can you retry?

Alex

[2020-02-27 22:12] andeplane commented on #767
Worked now at least. I see the change in `get.sh` so looks good :)

[2020-02-28 10:12] andeplane commented on #767
I'll close this as I see it as resolved.

[2020-02-28 10:12] #767 closed

[2020-02-28 20:43] andrew-s opened #769 "Non-git directories should error on tags"
This happened because of an edge case with a git binary version on a self-hosted runner.

When using tags of branch or sha on a directory that isn't a git repository, you get a complete error as an image name, e.g; `eu.gcr.io/project/image:0.1-fatal: not a git repository (or any parent up to mount point /github) Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).-fatal: not

[2020-03-01 19:09] martindekov commented on #769
I get exit code 1 on failure as you described it:
[code]
it returns 1 isn't this the proposed solution?

[2020-03-01 21:45] andrew-s commented on #769
@martindekov So I went back and took a look at our pipeline, turns out we built on one machine (with the correct git version) and deployed on one that ended up with the zip, looks like `build` does indeed fail correctly but `deploy` does not.

[2020-03-02 18:01] abhayvatoo commented on #687
From the above conversation, I think @alexellis and @LucasRoesler are good with deprecating `build_option` and replacing it with `build_config`. The new yaml structure will look like:
[code]
@chrisrichard and I am working on this. I believe we understood the issue correctly. Please let us know otherwise or in case of any issue.

[2020-03-02 20:41] mrsimpson opened #770 "Build for multi-platform"
In order to support the packaging of a function multi-platform docker images, the FaaS CLI build command needs to provide new options to select the target platforms

## Expected Behaviour

Ability to pass a list of target platforms to the docker build.

## Current Behaviour

There's no option to pass this parameter.

## Possible Solution

Add a new parameter `--platform` to the `build` command.
 T

[2020-03-05 23:58] t83714 opened #771 "invoke function through faas-cli lead to an extra newline appended to the input"
If you invoke your function in the following way:
[code]

The input string received by the function (Tested using ofwatch HTTP mode, so here talk about http body) is `123\n` rather than `123`.

It can't be the issue of the openfaas gateway as if you invoke by sending a POST request directly to gateway:
[code]
you won't get the extra newline `\n`

## Expected Behaviour
No extra newline is appended

[2020-03-06 11:23] #771 closed

[2020-03-06 11:24] alexellis commented on #771
Hi @t83714 thank you for your interest.

`faas-cli invoke` does not add newlines, the `echo` command in bash adds a new-line, therefore you may prefer to use `echo -n` to prevent that newline, or to use some other command or binary as the input i.e. `uname | faas-cli invoke`.

If you need further help, please use Slack for technical support issues.

Alex

[2020-03-06 11:25] alexellis commented on #771
/msg: slack

[2020-03-06 16:16] LucasRoesler opened #772 "Push latest image to Docker Hub"
## Expected Behaviour

`docker pull openfaas/faas-cli:latest` should work

## Current Behaviour

The image is not availabe

## Possible Solution

On each release, we should push both the versioned tag _and_ a new latest tag.

## Context

This could be helpful in CI situations, like Jenkins, Travis, or Github Actions.

[2020-03-07 04:23] t83714 commented on #771
Thanks @alexellis 👍

[2020-03-07 08:08] alexellis commented on #752
Pinging @viveksyngh
What's the simplest way to make this work? Do we need any code changes in the config or can we use the existing mechanism?

[2020-03-07 08:45] viveksyngh commented on #752
It will be a small change only. We will might have introduce a new auth type and make it implement `ClientAuth` from proxy.  Then make some changes in `NewCLIAuth` function https://github.com/openfaas/faas-cli/blob/b0a70a3f4f20d986ce12aff4216b3e7e07c0c44f/commands/general.go#L46

Also, some changes will be required in login command to validate the token and save it to file with new type.

Also, a

[2020-03-07 11:38] aidun commented on #772
@LucasRoesler I will take this issue

[2020-03-07 11:38] aidun commented on #747
@alexellis I will take This issue

[2020-03-08 15:14] estensen opened #774 "Function is deployed, but never ready"
Deploying openfaas functions on KinD fails if you don't use a Docker registry

## Expected Behaviour
I expect the CLI to tell me when the deployment fails
I also expec to be able to deploy images without an image registry

## Current Behaviour
`faas-cli deploy` fails silently
Deployed functions are never ready

## Possible Solution
Push image to Docker Hub or other Docker registry

## Steps to Rep

[2020-03-08 15:28] #774 closed

[2020-03-08 15:29] alexellis commented on #774
Sorry you'll need to use a registry. You can use the Docker Hub, or set one up in 5 minutes https://blog.alexellis.io/get-a-tls-enabled-docker-registry-in-5-minutes/

[2020-03-09 08:54] aidun commented on #772
Should it be a flag, which defaults to true?

[2020-03-09 21:36] aidun commented on #772
I have submited a pr for this. But I have a few questions, because I don't know much about github releases and travis:

1. What do you mean with release? A PR which is merged into the master?
2. Where is the release mechanism? So I can decide wether to push or not.

[2020-03-09 21:47] alexellis commented on #772
We already push tags, look at the .travis.yml file to see where it all starts from. We just need to also push the latest tag along with the release version.

[2020-03-09 21:49] aidun commented on #772
Okay, then I did it the right way in my PR. I was only concerned about the term release. But it seems that release means merged PR or direct commit. Thank you for the clarification!

________________________________
Von: Alex Ellis <notifications@github.com>
Gesendet: Monday, March 9, 2020 10:47:11 PM
An: openfaas/faas-cli <faas-cli@noreply.github.com>
Cc: Markus Hartmann <markush1986@gmail.com>;

[2020-03-09 22:17] brandonkal opened #777 "Feature request: sorted output from "faas-cli generate" command"
The output of `faas-cli generate --envsubst=false` is not deterministic.
It appears to choose a document order at random. This makes git diffs essentially useless on the output.

## Expected Behaviour
When I run the command with the same inputs, the output should be unchanged.

## Current Behaviour

The output is not sorted.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run on any YA

[2020-03-14 13:18] Amalkh5 commented on #777
@brandonkal I am trying to reproduce it but when I run it with the same input I get the same output each time.

what I tried is the following:-
[code]

[2020-03-14 14:00] #599 closed

[2020-03-14 14:00] alexellis commented on #599
Swarm secrets cannot be updated.

[2020-03-14 22:06] brandonkal commented on #777
@Amalkh5 You need more than one YAML document (aka function). The issue is that generate changes the order of the documents at random.

[2020-03-15 10:15] Amalkh5 commented on #747
@alexellis I will work on this issue as @aidun said in slack he can’t work on it.

[2020-03-15 20:58] alexellis commented on #777
Perhaps providing a full example would be helpful @brandonkal?

[2020-03-15 20:59] alexellis commented on #777
I believe what you're seeing is due to the fact that maps are not ordered in Golang.

How are you using/running `generate`? Can you provide a little more context?

[2020-03-15 22:54] brandonkal commented on #777
@alexellis if you want an example, here is one:
https://github.com/openfaas/openfaas-cloud/blob/master/stack.yml

As I say it doesn't really matter what the input is, the output is always different if more than one function is involved.

Convert the map to a list of YAML documents and sort it alphabetically by `${metadata.namespace}-{metadata.name}` before writing to stdout.

[2020-03-16 17:32] joelcorporan opened #780 "Unexpected status: 500, message: Function.openfaas.com "<SOME_FUNCTION>" is invalid"
I'm following a the tutorial for running OpenFaaS on AWS (https://aws.amazon.com/blogs/opensource/deploy-openfaas-aws-eks/) and deploying the function on that tutorial. However, I'm having issues deploying a function. I'd get a 500 message.

## Expected Behaviour
[code]
200 Status

## Current Behaviour
[code]
[code]
## Your Environment

* FaaS-CLI version 0.11.8
* Docker version 19.03.8
* Kubernet

[2020-03-16 19:44] alexellis commented on #780
You'll need to share hello-python.yml

[2020-03-16 19:44] alexellis commented on #780
This is usually a whitespace thing cc @stefanprodan @LucasRoesler

[2020-03-16 20:09] joelcorporan commented on #780
handler.py

[code]

hello-python.py

[code]

[2020-03-16 20:39] alexellis commented on #780
Let's do it this way. Please create a repo, so that we can rule out formatting and copy/paste.

No need to include proprietary IP, just copy what you have.

[2020-03-16 22:30] joelcorporan commented on #780
Hi @alexellis, this is all I have. I was just following the tutorial. An hour ago I was able to deploy a function using

[code]
But I was not able to use the `faas-cli up -f hello-python.yml`.

I think there might be something outdated in the tutorial, but unfortunately, I was not able to figure what might be.

[2020-03-19 12:06] alexellis commented on #780
I'm dubious as to whether you are following the tutorial anyway since we only have an example for Go, and not for Python and don't seem to be willing to share the complete code example in a repo for us to reproduce the issue.

Alex

[2020-03-19 12:16] alexellis commented on #777
You could provide a simple example in the comments, I don't think it would take you very long, and can't understand why you won't?

[2020-03-19 12:18] alexellis commented on #777
[code]

On each generation I saw the exact same ordering:

[code]

[2020-03-19 12:19] alexellis commented on #777
What is more likely to cause you issues is that the list of environment variables for instance is a map, and maps are not sorted. There are other parts of the structure that use maps.

[2020-03-19 12:38] #772 closed

[2020-03-23 20:37] ehengao opened #785 "Support for buildkit --secret option"
## Expected Behaviour

When use docker buildkit to build the function images, there is a feature to use --secret option to create a safer build enviroment, the typical usecase would be when user has a private pypi repository or private gitlab repository which require senstive access information to download in order to install these packages as part of dependency for the function. Currently, the fa

[2020-03-30 16:22] alexellis commented on #785
Thanks for raising your request @ehengao

I'm pinging @LucasRoesler, we're talking about how to support it in the context of #773

[2020-03-31 17:19] LucasRoesler commented on #785
In context of #773, we descussed the idea of having the ability to pass through arbitrary flags

Perhaps with #733, we can extend

[code]

to have be

[code]

in yaml, for this secret flag it would look like

[code]

the corresponding CLI flag would be a repeatable

[code]

For long flags we would probably just split on the first `=`.  I am not sure it would cleanly support short flags though.

Th

[2020-04-02 11:07] LucasRoesler opened #787 "Gateway base path is ignored"
The latest CLI version v0.12.2 does not work when the gateway URL contains a base path

## Expected Behaviour

[code]

## Current Behaviour

[code]

## Possible Solution

After adding some debugging print statemetns into the CLI code, I was able to pinpoint that

1. The base path is completely ignored

[code]

Note that the debug http request does not contain the `/solutions` prefix.

## Steps to

[2020-04-02 12:35] #787 closed

[2020-04-06 23:33] justinfx opened #789 "[Feature Req] Template store to allow custom sub-directory path to "template""
When hosting a custom template within a repository, it is a requirement that the templates live in a "template" folder at the root of the project. And the template store json can only reference the repository, following the expectation that templates live within that root folder.

It would be very flexible to allow a project to additionally host openfaas templates, and to choose where to place the

[2020-04-07 04:56] justinfx commented on #789
I have a working local branch with this feature, should it be something that is considered valuable; I could submit a patch.

The changes affect the template store pull / list / describe commands, by allowing a template store to consider an optional "path" to use instead of "./template" at the root of the repo.

The template pull command is also updated to allow an optional path arg after the repo

[2020-04-08 18:25] mehyedes opened #791 "Bash completion for the `faas` alias is not working"
After installing `faas-cli`, a bash alias `faas` is also created by creating a symbolic link according to the PR https://github.com/openfaas/faas-cli/pull/234
Bash completion does not work for the alias `faas` though, which forces you to resort to using `faas-cli`

## Expected Behaviour

Bash completion works for both `faas-cli` and `faas`

## Current Behaviour

Bash completion does not work for t

[2020-04-09 15:08] alexellis opened #792 "faas-cli generate - cannot unmarshal object into Go value of type []schema.StoreItem"
## Expected Behaviour

The following should generate an operator CRD for me to apply with ` | kubectl apply -f -`
[code]

## Current Behaviour

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

[code]

## Context

Expected feature for Operator / CRD users as per docs at: https://github.com/openfaas/openfaas-operator

[2020-04-09 15:13] Waterdrips commented on #792
/assign: me

[2020-04-10 14:54] ehengao commented on #785
@LucasRoesler, one question, are we supporting putting environment variable into the yaml file?

[code]
It would be nice to have to resolve the environmnets during runtime, so the yml file is pretty documented for build environment.

[2020-04-10 14:56] LucasRoesler commented on #785
This is already supported

[2020-04-11 17:30] viveksyngh opened #794 "Provide better error handling for SDK error"
Provide a better way to check for the errors returned by SDK function.

## Expected Behaviour

Create custom error package with types/methods for different errors returned by SDK, which will allows users to check for specific errors as below

[code]

## Current Behaviour

Right now these checks can be performed using string matching with error messages

## Possible Solution

## Steps to Reproduce

[2020-04-11 17:30] viveksyngh commented on #794
Derek assign: me

[2020-04-12 10:59] hermanslagman opened #795 "faas-cli docker push denied"
I'm following the tutorial: Deploy your first Serverless Function to Kubernetes

When I try to build the example function I get:
----------------------------
herman@Gandalf:~$ faas-cli up -f serverless.yml
[0] > Building serverless.
Clearing temporary build folder: ./build/serverless/
Preparing: ./serverless/ build/serverless/function
Building: hslagman/serverless:latest with python3 template. Ple

[2020-04-12 12:49] alexellis commented on #795
Did you run docker login?

[2020-04-12 12:49] #795 closed

[2020-04-12 12:49] alexellis commented on #795
Closing as we don't handle support requests via GitHub. Feel free to sign up to slack (link in docs)

[2020-04-12 16:00] hermanslagman commented on #795
Well I don't see it as support, but as an issue with faas-cli. But that's ok.

[2020-04-12 16:29] tdbgamer commented on #665
+1

Even other tools like Travis or Gitlab CI use `.travis.yml` and `.gitlab.yml` to prevent conflicts. I realize it's not hard to work around, but in principle it's a little weird to trample on a config file Haskell has used for years now.

[2020-04-12 16:35] alexellis commented on #795
Our documentation and the workshop both instruct users to log in. When there's nothing wrong with the application and the documentation covers the request already, it's technical support. Not a problem, but we use Slack for that. 👍

[2020-04-12 16:35] alexellis commented on #795
/lock resolved

[2020-04-12 16:37] alexellis commented on #795
/set title: Technical support

[2020-04-12 17:55] viveksyngh opened #796 "Return types.Gatewayinfo instance from proxy.SystemInfo"
Right now `proxy.SystemInfo` returns `map[string]interface{}`

## Expected Behaviour

It should return and instance for `types.Gatewayinfo `.

## Current Behaviour

It returns an  instance `map[string]interface{}`

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version ( Fu

[2020-04-13 09:08] LucasRoesler opened #797 "Move the CLI auth from the commands pkg"
## Expected Behaviour

We should be able to vendor the CLI auth without needing to vendor the entire commands package

## Current Behaviour

Currently you must import from both  commands and config to generate the CLI auth

[code]

but this means the entire commands package is now vendored into the project.

## Possible Solution

Move the `NewCLIAuth` to the `config` package or the `proxy` package

[2020-04-13 10:59] viveksyngh commented on #797
Dereke assign: me

[2020-04-15 12:37] petvek opened #799 "Support request"
It would be nice if the node_modules folder is skipped when preparing the build-folder

## Expected Behaviour
When doing a build, the node_modules folder is skipped.

## Current Behaviour
When doing a build, the node_modules folder is also being copied.

## Possible Solution
Skip the node_modules folder

## Steps to Reproduce (for bugs)
1. Create a function from a template based on nodejs
2. Add/i

[2020-04-18 11:41] anilkusc opened #800 "How Can I Give 2 Arguments From UI"
I'm new on serverless and openfaas.I deployed my function succesfully.But i could not find how can i give 2 arguments to my function from ui.

[2020-04-19 16:25] #800 closed

[2020-04-22 10:45] martindekov opened #801 "[Feature] Support for logs in namespaces"
The `faas-netes` provider along with the SDK has a way in which you can specify namespaces for log requests. The namespaces support should be added for the logs.

## Expected Behaviour

Check logs of `figlet` in `dev` namespace:
[code]
or
[code]
And one of the commands should succeed.

## Current Behaviour

Logs does not support this feature

## Possible Solution

Imaplement `--namespace` flag in

[2020-04-23 15:03] #687 closed

[2020-04-23 15:40] #792 closed

[2020-04-23 17:06] #748 closed

[2020-04-23 17:08] alexellis commented on #801
Fixed in #802

[2020-04-23 17:08] #801 closed

[2020-04-27 07:37] sperolsUNIV commented on #693
I tried also and today its still not working

[2020-04-27 09:02] Janaka-Steph opened #803 "[Node12 template] Unable to push "build" folder into container image"
Working on a React.js app with Node12 template. The template's Dockerfile doesn't contain a build step (`npm run build`). The recommended way is to build locally, then `faas-cli up` should copy the source code and the React "build" folder into the container image. The issue is that the "build" folder is skipped. See those lines: https://github.com/openfaas/faas-cli/blob/f9a4019176bf4ff0c2c3e7e39c8

[2020-04-27 09:19] Waterdrips commented on #803
thanks @Janaka-Steph

The build folder is excluded because in the faas-cli we exclude "build" and "function" folders
https://github.com/openfaas/faas-cli/blob/49d9f888a6e06b4e2cfdf542cfbf6dde2ebed7d7/builder/build.go#L213-L215

This is due to these folder names being used as part of the OpenFaaS image build process.

For deploying a "production" react app I would suggest using a Dockerfile based o

[2020-04-27 10:52] Janaka-Steph commented on #803
Thank you for your suggestion, I am exploring this way. But the exact same issue remains, unless we have a `npm run build` step in the Dockerfile, which I thought was bad practice.

[2020-04-27 13:02] Waterdrips commented on #803
It doesn't make sense to run `npm run build` because this is a generic node12 template not everyone will want to use that to build and deploy their code.

having a `npm run build` in a dockerfile for bundling a production build of a react app is fine.
You could fork the node template for now and add the `npm run build` step in to suit your needs?

For clarification on the `issue`:

The issue is th

[2020-04-27 13:16] Anderssorby opened #804 "Failing to use downloaded templates in Google Cloud Build"
I'm trying to build my function using a custom template on google cloud build with this config based on [https://www.openfaas.com/blog/openfaas-cloudrun/](https://www.openfaas.com/blog/openfaas-cloudrun/)

[code]

## Expected Behaviour

The function should be build, pushed to GCR and pulished on my kubernetes cluster.

## Current Behaviour

I get this error
[code]
## Possible Solution

It seems to

[2020-04-27 19:06] Amalkh5 commented on #747
fixed in #783

[2020-04-27 20:13] alexellis commented on #747
/close

[2020-04-27 20:13] #747 closed

[2020-04-27 20:45] martindekov commented on #693
Hey @sperolsUNIV, thanks for the feedback on this, what is the version of the CLI which you use?

[2020-04-30 00:56] alanisaac opened #805 "404 on function deploy using k3s on multipass"
Please note -- there's a lot to my setup, and I have no idea where the actual issue lies.  But after hours searching for various issues among `faas-cli`, `faas-netes`, `k3s`, and `multipass`, I haven't been able to find anything useful, so I thought I'd start at the top of the stack.

## Expected Behaviour
I'm trying to deploy a simple `hello-world` python function through `faas-cli`, and I'd expe

[2020-04-30 08:19] alexellis commented on #805
Please can you use the official installer https://get-arkade.dev for this installation? Launch it from git bash rather than PowerShell for the deployment.

Can you also spend some time in the OpenFaaS docs? There's a troubleshooting guide and a number of steps you can run to debug this error.

I'm going to close as I can't reproduce the error and I think this is more of a support issue. Feel free

[2020-04-30 08:19] #805 closed

[2020-04-30 08:19] alexellis commented on #805
/msg: slack

[2020-04-30 08:19] alexellis commented on #805
/set title: Technical support

[2020-04-30 11:56] alanisaac commented on #805
I appreciate the pointers. Before posting, I did go through the troubleshooting guide, the associated workshop, and tried both arkade and helm -- nothing's worked so far.

I'll try slack.  Thanks!

If that's the preferred forum for these types of issues, a note at the top of the troubleshooting guide might be helpful.  I'll raise that and contrib on the docs repo.

[2020-04-30 18:26] alexellis commented on #805
If you went through *all of the troubleshooting guide*, then you could have pasted the output on the thread.

I'd suggest that you work through this, it should be of help to you with finding your 404 error: https://docs.openfaas.com/deployment/troubleshooting/#troubleshoot-kubernetes

And make sure that you're not executing against port 8080, k3s usually deploys Traefik's dashboard on this port.

[2020-05-01 01:18] mailahmeduk opened #806 "faas-cli list Server returned unexpected status code: 404 - 404 page not found"
All faas-cli functions failing with 404 error, but the url is working perfectly fine
Server returned unexpected status code: 404 - 404 page not found

## Expected Behaviour

Should give a list of deployed functions

## Current Behaviour

$ faas-cli list
Server returned unexpected status code: 404 - 404 page not found

## Possible Solution

## Steps to Reproduce (for bugs)

1. Follow the workshop a

[2020-05-01 01:19] mailahmeduk commented on #806
![image](https://user-images.githubusercontent.com/44420759/80773541-8f635700-8b9d-11ea-9205-922569593aa6.png)

[2020-05-01 01:19] mailahmeduk commented on #806
![image](https://user-images.githubusercontent.com/44420759/80773587-ac982580-8b9d-11ea-9ff6-e1c8ea9b3fef.png)

[2020-05-01 01:21] mailahmeduk commented on #806
![image](https://user-images.githubusercontent.com/44420759/80773646-da7d6a00-8b9d-11ea-9ece-19df2bbf7d75.png)

[2020-05-01 01:23] mailahmeduk commented on #806
404 errors not found in below logs
$ docker service logs --tail 100 func_gateway
$ docker service logs --tail 100 func_faas-swarm

[2020-05-01 01:26] alanisaac commented on #805
@alexellis thank you for the replies!

I worked through those guides -- my apologies for any confusion by not initially posting the outputs of that walkthrough.  However, I think I now know what's going on.

--

I haven't had an opportunity to use `golang` yet, but I thought I'd dive in and try to debug this issue.  I set up debugging for the `deploy` command in Visual Studio Code, and found the f

[2020-05-01 08:41] alexellis commented on #806
The problem is that you've changed the port to 8000, in which case you know have to provide a `--gateway` flag or set the `OPENFAAS_URL` environment variable.

[2020-05-01 08:41] #806 closed

[2020-05-01 08:41] alexellis commented on #806
/set title: Technical support

[2020-05-01 08:41] alexellis commented on #806
/msg: slack

[2020-05-01 08:42] alexellis commented on #806
Please use Slack for technical support, not GitHub.

[2020-05-01 08:43] alexellis commented on #806
No issues found:

[code]

[2020-05-01 08:47] alexellis commented on #805
@LucasRoesler it seems like join() from filepath was used instead of path was used in the following PR and caused unexpected behaviour on Windows (only):

https://github.com/openfaas/faas-cli/commit/f0f57335e6d435f44f36675fb0df43931e2f5969#r38508984

Would you be able to take a look please? If you need a Windows VM, they can be run via Vagrant, on AWS, or via VirtualBox.

If changing to path.Join

[2020-05-01 08:47] alexellis commented on #805
@alanisaac thanks for spending the time to look into this in detail

[2020-05-01 09:32] alexellis commented on #805
/set title: Regression with path building on Windows

[2020-05-01 10:17] LucasRoesler commented on #693
@martindekov  i remember bringing up this same issue several months back (I can't find the thread where I raised it).

Ultimately, nothing was done because the reasoning is that this behave almost the same as how `kubectl apply -f` behaves.  If you template already has a namespace, then it is not overridden.  I think our behavior is slightly different though because the flag sets the variable `fun

[2020-05-02 01:00] nickgerace commented on #693
Trying my hand at this and submitting a PR. I think your idea is sound @LucasRoesler.

[2020-05-02 06:58] LucasRoesler commented on #693
@nickgerace you are always welcome to submit a PR, buy I think we need some input from @alexellis  before we know if it will be accepted and merged.

[2020-05-02 07:04] alexellis commented on #693
Can we come up with some specific scenarios? Like examples of the stack yml and flags passed along with the desired outcome?

[2020-05-02 09:50] LucasRoesler commented on #693
The use case my data science team has is that they want to deploy their models to a DEV, STG, and default namespace as part of the development flow.

The desired workflow is that

1. all merges to `master` would run `faas-cli up --namespace DEV --env db=...`
2. all tags on `master` would run `faas-cli up --namespace STG --env db=...`
3. finally, there is a custom Jenkins task that they can run (vi

[2020-05-07 19:51] #797 closed

[2020-05-08 09:31] alexellis commented on #742
@LucasRoesler as discussed in the members call can you outline a few brief command line / stack YAML examples to show the problem?

Is this similar to the "priority" approach we take for the gateway URL?

[2020-05-08 09:39] utsavanand2 commented on #804
Thanks @Anderssorby
I'll try to reproduce the issue and try to get it fixed ASAP

[2020-05-08 09:43] LucasRoesler commented on #742
This came up over in https://github.com/openfaas/faas-cli/issues/693#issuecomment-622927949

I will copy the comment here since this is the open issue:

The use case my data science team has is that they want to deploy their models to a DEV, STG, and default namespace as part of the development flow.

The desired workflow is that

1. all merges to `master` would run `faas-cli up --namespace DEV --

[2020-05-08 10:05] alexellis commented on #742
That's great context to have, thanks. When I mentioned the gateway URL priority logic, that's what I was looking for from the community.

Something like this for all the permutations.

| stack.yml | CLI flag | desired namespace|
|---------------|-----------|---------------------------|
| ""              | ""          | ""                             |

[2020-05-08 10:14] LucasRoesler commented on #742
My expectation is that the flags should all behave relatively the same, in this case a since it is a single string value like the gateway flag, it should be exactly like the gateway flag. This allows users to develop an intuation and consistent expectations about how the flags behave

[2020-05-08 10:16] LucasRoesler commented on #742
| stack.yml | CLI flag | desired namespace|
|---------------|-----------|---------------------------|
| ""              | "foo"          | "foo"                             |
| "bar"              | "foo"          | "foo"                             |
| "bar"              | ""          | "bar"                             |
| ""              | ""          | "openfaas-fn"

[2020-05-08 10:19] alexellis commented on #742
Feel free to implement the above grid in a PR.

Since you mention consistency, and working the same way for everything, do you want to consider environment variables for this behaviour `OPENFAAS_NS` as per the gateway behaviour?

[2020-05-08 11:46] LucasRoesler commented on #742
@alexellis env, annotations, labels, and secrets already behave this way. Basically every reference of mergeSlice and mergeMap

https://github.com/openfaas/faas-cli/blob/f7c29ea19b5df9d7aa87e9c70aacf4d9315da2cd/commands/deploy.go#L228
https://github.com/openfaas/faas-cli/blob/f7c29ea19b5df9d7aa87e9c70aacf4d9315da2cd/commands/deploy.go#L263
https://github.com/openfaas/faas-cli/blob/f7c29ea19b5df9d7

[2020-05-09 11:08] utsavanand2 commented on #804
/assign: me

[2020-05-10 07:29] utsavanand2 commented on #742
@LucasRoesler @viveksyngh @Waterdrips The fix is way simple than what I hoped for, at least when it comes to fixing the namespace issue. Do you think I have the same behavior as the grid defined by @LucasRoesler

[code]

[2020-05-10 07:41] LucasRoesler commented on #742
@utsavanand2 that seems to cover it correctly

[2020-05-10 10:23] LucasRoesler commented on #742
@utsavanand2 are you going to open the corresponding PR?

[2020-05-10 10:25] utsavanand2 commented on #742
@LucasRoesler Yes I'm implementing some tests to make sure we verify our deployment as per the grid defined above

[2020-05-10 10:29] LucasRoesler commented on #742
Music to my ears 🎶

[2020-05-11 12:43] alexellis commented on #804
Have you been able to reproduce the issue? Any updates @utsavanand2 ?

[2020-05-11 13:45] utsavanand2 commented on #804
@alexellis Hopefully soon! But not yet. I'll get on it after fixing the issue with the tests on another issue.

[2020-05-11 13:53] alexellis commented on #804
@Anderssorby could you try the exact example from the blog post with the link you provided and report back? @LucasRoesler since @utsavanand2 seems to be blocked on something else, do you have any suggestions?

[2020-05-11 14:18] LucasRoesler commented on #804
@Anderssorby  I am not deeply familiar with google cloud build, but it seems odd that all of the stages _except_ the build specify the directory, should this

[code]

be

[code]

[2020-05-14 12:07] Anderssorby commented on #804
I tried adding the `dir: 'openfaas'`, but it didn't help. I don't have time to work on this at the moment however.

[2020-05-14 20:37] utsavanand2 commented on #804
@Anderssorby Can you point me to the ml-functions.yaml? Because it seems to me from the logs that the first step of the build is failing  i.e., `faas-cli build -f ./ml-functions.yaml'. Also is this the complete cloudbuild.yaml file you're using. These questions might help me in narrowing down the problem

[2020-05-14 20:40] alexellis commented on #804
@utsavanand2 please can you verify my blog post still works as expected? If it does we'll close out the issue as support, and take this via Slack.

[2020-05-14 20:41] utsavanand2 commented on #804
@alexellis Sure will do it now!

[2020-05-14 21:04] Anderssorby commented on #804
The ml-functions.yaml file:
[code]
If I remember correctly I managed to do the build when not using a custom template like python3-http-debian.

[2020-05-16 13:26] utsavanand2 commented on #804
I've heavily invested a lot of time for this issue now, and will continue to do so if I get more feedback from all of you. I've a Raspbery Pi K3s cluster of my own, exposed via inlets, so I was trying to build a function using the same steps as @Anderssorby but using the python-http-armhf template, upon successful run of the Cloud Build it should deploy that function to the Pi Cluster.

There are

[2020-05-16 13:28] alexellis commented on #804
Please can you try my blog post as written and let us know if it works or not @utsavanand2? That was the main ask. Thanks

[2020-05-16 13:42] utsavanand2 commented on #804
@alexellis After fixing the `openfaas` as the provider instead of `faas` in stack.yaml I got the same error.

<img width="714" alt="Screenshot 2020-05-16 at 7 12 15 PM" src="https://user-images.githubusercontent.com/25264581/82121245-2a1c8200-97a9-11ea-8b4e-b9b15f135c0b.png">

[2020-05-16 17:29] alexellis commented on #804
So do we think that Google made breaking changes to the way cloud build works re: access permissions?

[2020-05-16 17:30] alexellis commented on #804
Or did our CLI's code change since the original post? Git blame and the post's date might help you narrow it down.

[2020-05-17 09:39] utsavanand2 commented on #804
Update: using `echo $$OPENFAAS_PASSWD | faas-cli login --password-stdin` got rid of the error mentioned in point `3.>` in my comment.
Also we can get rid of the errors of creating a `build` dir if we define our build step in a specific `dir` like:
[code]
But as soon as you get rid of this error, we get the previous error,
`Step #1 - "Do a shrinkwrap build": - language template: python3-http-armhf

[2020-05-19 07:24] utsavanand2 commented on #804
Okay So I got the build to run successfully!
Here's my configuration: [](github.com/utsavanand2/gcb)
I am using a volume to persist the changes between steps:
[code]
I thought maybe using a volume would fix the problems with the permission but it was no good.

So I focused on the Dockerfile of faas-cli, and noticed that we had a change back in January where we took off faas-cli root rights, and ra

[2020-05-27 08:28] #742 closed

[2020-05-31 08:50] alexellis commented on #804
Thank you for looking into this @utsavanand2 - it looks like you’ve traced this down to the root cause. We moved to an image that runs as a non-root user, and the flow with Cloud Build doesn’t seem to support that.

The suggestion we came up cc @LucasRoesler with here is to release a new Docker image via the faas-cli build which publishes an image tag `:latest` as used here, which runs as non-root

[2020-06-01 09:07] utsavanand2 opened #809 "Cloud Build fails because of a non-root user for the faas-cli container image"
Google Cloud Build fails because of lack of permission for the existing non-root user in the faas-cli docker image
This issue is also the root cause for issue #804
Upon resolution, this would allow for successful CI/CD on Cloud Build

## Expected Behaviour

The CI/CD steps using faas-cli's official container image should work out of the box for simple steps like pulling in templates, logging-in an

[2020-06-01 16:26] priyankak1212 commented on #376
@alexellis I am facing the same issue. TLS certificate is generated but it's still showing not secure in the browser .

Expected Behaviour
Whenever we search for api.devnm.es/api, it should redirect from HTTP to HTTPS and must be secure as TLS certificate is applied. OpenFaas UI must there on this API.

Current Behaviour
Whenever I am searching for api.devnm.es/api, it's getting redirected from HT

[2020-06-02 08:26] priyankak1212 opened #810 "TLS certificate is generated but it's still showing not secure in the browser ."
@alexellis I am facing the same issue. TLS certificate is generated but it's still showing not secure in the browser .

Expected Behaviour
Whenever we search for api.devnm.es/api, it should redirect from HTTP to HTTPS and must be secure as TLS certificate is applied. OpenFaas UI must there on this API.

Current Behaviour
Whenever I am searching for api.devnm.es/api, it's getting redirected from HT

[2020-06-02 08:39] alexellis commented on #810
Hi, I took a look at your certificate the other day - I think you mentioned this somewhere else? Do you have another issue like this?

The core issue is that you're using a staging certificate and not a production one. Switch your issuer to the production one and issue it again.

<img width="548" alt="Screenshot 2020-06-02 at 09 38 32" src="https://user-images.githubusercontent.com/6358735/8349918

[2020-06-02 08:39] #810 closed

[2020-06-02 08:40] alexellis commented on #810
/set title: cert-manager support issue

[2020-06-02 08:40] alexellis commented on #799
Is there a reason you haven't given steps to reproduce this?

Which template are you using?

[2020-06-02 08:41] alexellis commented on #799
/set title: Support request

[2020-06-02 08:58] priyankak1212 commented on #810
@alexellis Yes, I issued staging certificate only. Not issued production one. I will check with that.

[2020-06-02 09:03] alexellis commented on #810
That is the reason you are running into errors.

[2020-06-02 09:04] alexellis commented on #810
As I mentioned before - for K8s, nginx-ingress and cert-manager support please see https://slack.k8s.io - for openfaas you can also approach https://slack.openfaas.io/

[2020-06-03 08:38] zadigus opened #811 "Question on deleting functions from multiple-namespaces"
I have the following `faas-stack.yml`:
[code]
I can up the stack like this:
[code]
That works, though I've been struggling a lot trying to make it work.  Indeed, I get the following confirmation:
[code]
Now, my issue is that the following command does not remove the functions declared in my stack:
[code]
Even though I get the confirmation
[code]
the function is actually not removed. Instead, I nee

[2020-06-03 08:51] alexellis commented on #811
/set title: Question on deleting functions from multiple-namespaces

[2020-06-03 08:51] alexellis commented on #811
@LucasRoesler please could you take this one?

[2020-06-03 10:34] LucasRoesler commented on #811
Sure, I wont have much time to dedicate until tomorrow, but i will take a look.

[2020-06-03 10:46] LucasRoesler commented on #811
I took a very brief look at the `remove` command and the bug is pretty clear to me, this line _only_ references the namespace from the flag

https://github.com/openfaas/faas-cli/blob/080cde3a486e2cb7d72e411874f6e57b11073959/commands/remove.go#L83

I am starting to think that we should consider changing the implementation in the CLI so that the yaml parser can accept an `overrides`  object and hope

[2020-06-04 12:12] utsavanand2 commented on #804
@Anderssorby @LucasRoesler @alexellis I've been able to get Cloud Build to work with faas-cli successfully. I'll put together a PR now that adds a `Dockerfile.root` Dockerfile that would be useful for CI/CD environments.
If someone is tempted to take a look at the repo and the cloudbuild.yaml configuration you can take a look at it here https://github.com/utsavanand2/gcb
<img width="1074" alt="Scr

[2020-06-04 13:21] LucasRoesler commented on #804
@utsavanand2 we might be able to use just a single Dockerfile if we use a build arg to set the user at the end of the docker file, this would allow us to build the same image twice, but he second time with `--build-args user=root`

[2020-06-04 18:45] utsavanand2 commented on #804
@LucasRoesler this is a really awesome idea! Although I'll have to look up if I can get Dockerfile commands like WORKDIR and RUN under the if else blocks. But this would be really the most optimal solution IMHO. I would also love to know @alexellis opinions on this.

[2020-06-08 09:15] #799 closed

[2020-06-08 09:15] alexellis commented on #799
/lock: inactive

[2020-06-08 09:15] alexellis commented on #645
/close: released

[2020-06-08 09:15] #645 closed

[2020-06-08 09:15] alexellis commented on #645
/lock

[2020-06-08 09:15] #803 closed

[2020-06-08 09:15] alexellis commented on #803
/lock: resolved

[2020-06-08 09:17] alexellis commented on #362
Users can pass `--build-arg` now with arbitrary data and then consume it with an `ARG` line inside their Dockerfile.

https://docs.docker.com/engine/reference/builder/#understand-how-arg-and-from-interact

[2020-06-08 09:17] alexellis commented on #362
/lock: resolved

[2020-06-24 06:22] woojeonghoon commented on #508
I am having the same problem.

Did you solve it?

[2020-06-24 09:19] alexellis commented on #508
"single node Docker cluster" refers to Swarm, you are both clearly not using Swarm or a Docker cluster, but a Kubernetes cluster hence the error: ImagePullBackOff

You can deploy a local registry if you wish, however you are better off using the Docker Hub for ease of use.

https://blog.alexellis.io/get-a-tls-enabled-docker-registry-in-5-minutes/

[2020-06-24 09:19] alexellis commented on #508
/lock

[2020-06-24 09:20] alexellis commented on #508
@woojeonghoon cc (who deleted his comment)

[2020-06-24 09:20] alexellis commented on #508
/msg: slack

[2020-06-29 14:28] npoirey commented on #600
This issue is old but I just encountered it and couldn't undersand why it wasn't taken into account. My OPENFAAS_URL is my staging url but I wanted to try something locally and -g with http://127.0.0.1:8080 was not taken into account.
I replaced it with http://localhost:8080 and it works.

I find it unusual and unexpected to ignore a flag if the value passed is equal to some arbitrary value so my

[2020-06-29 16:00] doowb opened #814 "Allow configuring "build" folder."
## Expected Behaviour

I would like to be able to configure the root folder that is used for "building" the functions.

## Current Behaviour

Currently, `./build` is [hard coded](https://github.com/openfaas/faas-cli/blob/080cde3a486e2cb7d72e411874f6e57b11073959/builder/build.go#L168) as the root folder used during the build as the Docker build context.

## Possible Solution

Allow configuring this

[2020-07-01 14:53] utsavanand2 commented on #804
@Anderssorby Did you get to try out the new faas-cli root image?

[2020-07-01 14:57] utsavanand2 commented on #804
Derek close

[2020-07-01 14:57] #804 closed

[2020-07-01 14:58] utsavanand2 commented on #809
Derek close

[2020-07-01 14:58] #809 closed

[2020-07-01 15:45] Jeff-Lowrey commented on #683
Some quick comments -
1. Kibana is actually the "K" in "ELK" - ELK stands for "ElasticSearch, Logstash, Kibana". It's a stack just like PLONK. Although I'm pretty sure people don't use Logstash anymore, they use Filestash or something else (I forget).
2. The default time window that you see in Kibana when you open it up is 15 minutes - as you mentioned. [By default, Discover shows data for the las

[2020-07-01 15:47] alexellis commented on #683
Yes it's likely to be ELF - Fluentd, if we're being super specific.

[2020-07-01 16:45] #683 closed

[2020-07-01 16:45] alexellis commented on #683
Closing as inactive. Thanks all for your comments.

[2020-07-01 16:45] alexellis commented on #683
/lock

[2020-07-01 18:01] Jeff-Lowrey opened #815 "Populate annotations for knative serving definitions"
## Current Behaviour
The faas-cli generate function does not carry any annotations from the original function yaml into the knative yaml

## Expected Behaviour
If the stack.yaml file contains any annotations
(for example istio), they will be included in the output yaml file.

Example stack.yaml:

        version: 1.0
        provider:
          name: openfaas
        functions:
          this-func

[2020-07-01 18:20] alexellis commented on #815
This does work for OpenFaaS CRD generation, perhaps it's just Knative. Are you wanting to contribute this @Jeff-Lowrey ?

[2020-07-01 18:21] alexellis commented on #815
/set title: Populate annotations for knative serving definitions

[2020-07-01 18:24] alexellis commented on #815
@Jeff-Lowrey are you absolutely sure that you have the correct location for the annotations? They can be added at multiple levels. If you are, I think this is a small patch.

[2020-07-01 19:58] #815 closed

[2020-07-02 14:11] Jeff-Lowrey commented on #815
@alexellis In terms of where I put the annotations, I wasn't able to get an istio sidecar to be deployed in a function pod without putting the annotation under the function definition.  And I tried putting it at every other level - top level, at the same level as "functions:" and then inside the specific function def.  The only one that worked was putting it where I have it.

[2020-07-02 14:42] alexellis commented on #815
You should be good to go then with https://github.com/openfaas/faas-cli/releases/tag/0.12.8

Just update and remember that your annotation needs to go in the YAML file if you're using one, `--annotation k=v` is only for the function store (as documented via `--help`)

[2020-07-07 08:45] alexellis commented on #811
@LucasRoesler can this be closed after #812 was merged? I am asking because normally when `Closes / Fixes:` is added to a PR it will automatically close the linked Issue.

[2020-07-07 08:52] alexellis commented on #770
@viveksyngh just asked me about this issue.

`--platform` relies on Buildkit being used (buildx is an interface to buildkit AFAIK) - with the tooling - we are trying not to couple tightly to container builders.

For instance, `faas-cli build --shrinkwrap` produces a generic build context that can be built by any container builder, but additional metadata like "platform" is not going to be supporte

[2020-07-07 08:54] alexellis commented on #794
@viveksyngh do you have an update on this?

[2020-07-07 08:55] alexellis commented on #759
@martindekov I have a vague recollection of a PR for this? @utsavanand2 was just asking whether he could take the issue.

[2020-07-07 08:59] martindekov commented on #759
Yeah I had no PR for this, if we want this to work as described in the issue we should disable custom naming of the template in the feature, or change the CLI to pull the template in a folder pointed by the template custom's name. Though my approach in solving this might not be the best one. @utsavanand2 you can ping me for any ambiguity

[2020-07-07 09:30] LucasRoesler commented on #811
yes

[2020-07-07 09:30] #811 closed

[2020-07-07 13:15] zadigus commented on #811
In what release will that fix be available? Thanks for your prompt fix, btw.

[2020-07-07 13:29] alexellis commented on #811
It's already been released, you can get regular updates via the [Insiders Updates](https://openfaas.com/support) or read the release notes on this repo under the releases tab to find out which.

[2020-07-22 14:12] ArcticXWolf opened #817 "Accessing build-options after shrinkwrap for separate builders"
When using the shrinkwrap option to generate a build context for separate builders like buildkit, kaniko or else, we copy all information about the build (Files + Dockerfile) to the ./build directory. However, for a successful build we also need the build-args and build-options which are fed into the docker build process (or in our case the kaniko process).

In our case, we use kaniko to build the

[2020-07-22 17:19] alexellis commented on #817
Hi @ArcticXWolf

This is something we can fix relatively quickly I would think, we just need to think about the options because this needs to be parsed by your container builder of choice. It will probably be that a custom bash script or process will need to load it and invoke kaniko.

For openfaas-cloud we do something similar for build-args and have the target image name stored too, it's a JSON

[2020-07-23 08:37] ArcticXWolf commented on #817
Hi, thanks for the quick reply!

Yes, a wrapper script is needed to parse that file.

A JSON file would be great, it could contain even more metadata concerning the build.

[2020-07-23 17:13] joshuasprow opened #818 "Support request for faas-cli docker image"
I have a function deployed to OpenFaas on a Rancher Kubernetes cluster and started seeing cron jobs fail when using image 0.12.6 and later.  I'm using basically the same yaml from [the docs](https://docs.openfaas.com/reference/cron/) and haven't changed my function code, so `faas-cli` is the most likely culprit.

## Expected Behaviour
The cron workload triggers the OpenFaas function, as expected.

[2020-07-23 17:24] alexellis commented on #818
We changed the image so that the CLI itself is the entry point. That's probably why. Cc @utsavanand2 @LucasRoesler

[2020-07-23 17:25] alexellis commented on #818
/set title: Support request for faas-cli docker image

[2020-07-23 19:39] utsavanand2 commented on #818
Hii @joshuasprow !
You might want to make some changes to your CronJob by adding a `command` field with value `["/bin/sh", "-c"]` and hence remove `/bin/sh` and `-c` from the `args`.
The final YAML of your CronJob should look something like this.

[code]

Let us know if it works out for you!

[2020-07-23 19:42] alexellis commented on #818
You'll need to try different things out, but this is the reason the docs you followed didn't work. You can always look at the changelog and pin to the version before the change was merged.

One you do figure it out, we'd appreciate a PR

[2020-07-23 23:05] joshuasprow commented on #818
Moving those args into a command did the trick. Thanks @utsavanand2 !!

If I understand correctly, this happened because changing the CLI to be the entry point meant that the arguments were out of order. I was trying to pass `/bin/sh` as an argument to `faas-cli` and that's not a thing.

I'd be happy to make a PR to update the docs if that's the case.

[2020-07-24 07:55] utsavanand2 commented on #818
@joshuasprow Yes you're right 😉. Glad it worked out for you

[2020-07-24 07:56] utsavanand2 commented on #818
/close

[2020-07-24 07:56] #818 closed

[2020-07-27 06:33] ArcticXWolf commented on #817
Hey,

if it is okay, I would like to try and implement this. Go isn't my main language, so I might need some help/advice on style and tests later, but I would love to give it a shot (and I guess that's what Code reviews are for ^^).

However we should specify some things:
* How shall we name and structure the configFile? I think it makes sense to stick to the format and name of of-cloud (thus 'com

[2020-08-07 08:40] alexellis commented on #817
I would like to see you make a proof of concept for how you would parse and read the config file and then "send it to Kaniko" and bear in mind that other container builders exist. I appreciate the suggested solutions too, but let's first prove out that this is a viable approach before opening PRs or hacking on the code.

[2020-08-07 08:40] alexellis commented on #817
@ArcticXWolf It's been just over a week since we heard from you, is this still something you need and want to work on?

[2020-08-07 09:14] ArcticXWolf commented on #817
Ah, I was waiting for your input, because your answers were posted just 30 min ago.

Sure, I have already a proof of concept, gonna type it out in detail later.

[2020-08-07 10:08] ArcticXWolf commented on #817
Here is my kubernetes-job that I would use. The volume build-context would get populated with a shrinkwrap build context, that contains the build-args like an env-file. This shrinkwrap will be done via an init-container like @alexellis did in his blogpost mentioned above. [FUNCTION_NAME] has to be substituted for the name of the function we want to build (Can be done via envsubst for example). "do

[2020-08-18 17:57] oze4 opened #819 "Context Deadline Exceeded"
Run: `faas-cli template store pull node10-express`

Error: `Error while fetching templates from store: error while requesting template list: Get https://raw.githubusercontent.com/openfaas/store/master/templates.json: context deadline exceeded`

This happens when running `faas-cli template store list` as well.

On Catalina 10.15.6

K8 cluster is v1.18.8

## Expected Behaviour

## Current Behaviour

[2020-08-18 17:59] alexellis commented on #819
Hi, thanks for your interest. Why don't you try running your command again?

FYI: I'm not getting that error on my computer, can I direct you to Slack? Perhaps you can find other Catalina users there and ask them if they get the same issue.

I'll close this out now, and re-open if we find a problem with Catalina (I suspect this is specific to your environment, or network conditions)

[2020-08-18 17:59] #819 closed

[2020-08-18 17:59] alexellis commented on #819
/msg: slack

[2020-08-18 18:37] oze4 commented on #819
Sorry about that. The issue was I had to use the --gateway switch.

[2020-08-18 18:38] alexellis commented on #819
That would be unrelated to the store..

[2020-08-18 18:39] alexellis commented on #819
/lock

[2020-08-18 19:58] oze4 opened #820 "Context Deadline Follow Up"
The gateway switch was for a different issue, sorry.

Thanks for your help, though!

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version ( Full output from: `docker version` ):

* Are you using Docker Swarm (FaaS-swarm ) or Ku

[2020-09-17 08:02] alexellis opened #825 "Release build is broken"
After moving to Go modules, the release build is broken and blocking new binaries with fixes from being published.

The last commit status / build is as follows:

https://github.com/openfaas/faas-cli/commit/f20c63719ccf91e15c4c5eab1a43d9bf377c79f9

[2020-09-17 09:15] #820 closed

[2020-09-17 09:18] #825 closed

[2020-09-20 11:03] LucasRoesler opened #827 "Support copying specific files via copy-extras"
## Expected Behaviour

[code]

should copy the file `./models/Prices-RF-v1.0.0.pkl` to `build/models/Prices-RF-v1.0.0.pkl`

## Current Behaviour

[code]
produces an error

[code]

## Possible Solution

We can update the copy files code to ensure that the intermediate folders are created before we try to create the file.

## Context

This was reported on Slack

## Your Environment

* FaaS-CLI versi

[2020-09-25 17:56] mcguiresm opened #829 "Image tag generation not working with generate command"
## Expected Behaviour

```faas-cli generate -f hello-world.yml --tag branch --api=serving.knative.dev/v1alpha1```
[code]

## Current Behaviour

```faas-cli generate -f hello-world.yml --tag branch --api=serving.knative.dev/v1alpha1```
[code]

## Possible Solution

Quick test of adding schema.BuildImageName() from generateCRDYAML() in generateknativev1alphaServicingCRDYAML() and modifying Image: to

[2020-09-30 13:12] utsavanand2 opened #830 "Add better support for CI/CD environments"
faas-cli can be improved to better handle running in CI/CD environments

## Expected Behaviour

Running faas-cli in CI/CD environments should allow for more permissive permissions for the artifacts created by `faas-cli login` and `faas-cli build`, so these files can be shared across multiple users in a CI/CD environment.
The location of the `.openfaas/config.yml` dir should be the current dir rath

[2020-10-04 11:53] LucasRoesler opened #832 "Proposal: Allow customizing the location that the cli config is stored"
When working with @utsavanand2 on his upcoming blog post about Github Actions, it became clear that it would be really helpful to allow customizing the location of the CLI config file. Some initial work is done in #831 that will make the CLI much easier to use in CI environments. But i want to propose some larger changes

1) we could add support for a new env variable `OPENFAAS_CONFIG`. This would

[2020-10-04 12:50] utsavanand2 commented on #832
@LucasRoesler Since there needs to be some improvement to #831 and it's not merged already. Would you like to ideally see these proposed changes in the same PR?

[2020-10-04 13:30] LucasRoesler commented on #832
No I don't see them as incompatible, this PR is just step (0) of my proposal 😀

[2020-10-06 12:35] utsavanand2 commented on #832
@LucasRoesler I really like the approach. I wanted to give it a try. You are suggesting to use an env var OPENFAAS_CONFIG, that would work great for the config file, but we also need to make sure that the CLI is actually running in CI so that we can also modify the permissions of the shrinkwrapped build folder to something more permissive.

1.  I was thinking if we can change the permission of the

[2020-10-07 16:06] alexellis commented on #832
I would be supportive of the below with `CI` setting factored into the ordering also.

[code]

`~~` - XDG to be removed from the order.

[2020-10-07 16:17] alexellis commented on #832
/add label: design/approved

[2020-10-07 16:34] #827 closed

[2020-10-09 10:14] alexellis commented on #789
What's the issue with using a templates repo?

[2020-10-09 10:14] #830 closed

[2020-10-09 10:15] alexellis commented on #830
Linked PR was merged. @utsavanand2 in future please use closing keywords in your commit or PR text, i.e. `Closes: #` or `Fixes: #` - otherwise it leaves dangling issues like this one.

[2020-10-09 10:16] alexellis commented on #829
Hi @mcguiresm - glad you are finding OpenFaaS useful to your Knative deployment.

Would you be willing to work on this feature?

Alex

[2020-10-09 10:16] alexellis commented on #829
/set title: Image tag generation not working with generate command

[2020-10-09 10:17] alexellis commented on #829
I suspect this might also affect the OpenFaaS generation command, which we use for our own CRD for use with the operator.

@utsavanand2 can you look into this please?

[2020-10-09 10:18] alexellis commented on #817
If you know the builder that you want to use, we could just generate a shell command for it like we do for `docker`?

[2020-10-09 10:18] utsavanand2 commented on #830
Sure @alexellis ! I left it without the keyword initally, so I don't spam a lot of `forced-pushed` messages here. Thought I would do that in the end when the changes are finalised after review. But forgot about it. Will keep this in mind.

[2020-10-09 10:18] alexellis commented on #817
@LucasRoesler + @utsavanand2 we were discussing this topic on the call WRT to using buildkit in GitHub Actions. Do you have any suggestions on how to pass the image name / build args etc to an external builder after we've run "build --shrinkwrap"?

[2020-10-09 10:20] alexellis commented on #814
@doowb what problem does this solve? I am probably not reading this carefully enough, but can't see any technical or functional reason why this would be needed?

Feel free to add detail in your request.

[2020-10-09 10:20] #665 closed

[2020-10-09 10:21] alexellis commented on #665
/lock: won't fix

[2020-10-09 10:21] alexellis commented on #665
@ad-si you're welcome to rename your YAML files to openfaas.yaml and to run `faas-cli up -f openfaas.yaml` etc

[2020-10-09 10:22] alexellis commented on #796
@viveksyngh are you working on this?

[2020-10-09 10:23] alexellis commented on #794
@viveksyngh just checking in again now, as it's been quite a few months since this came up on the radar for you to work on. I also asked several months ago what your update was.

Please can you take time to answer and keep us in the loop? Do you want someone else to take this?

[2020-10-09 10:55] utsavanand2 commented on #817
There are so many ways that one can build a Docker image, I think it would be hard to support each and every one ourselves. But can we do something like what we have done with the inletsctl provisioner? Define a basic way of how we will get some commands for a particular builder (an interface), say starting with Docker Buildx, and other people can contribute for their builders of choice.
What I’m

[2020-10-09 12:36] LucasRoesler commented on #817
what if we add an option to output the flags to stdout, for example `--show-flags`.  We can provide several flags to allow the caller to pick a format: flags, json, yaml, key=value, etc, and they can redirect to a file or to another program.

With the `flags` format we could also allow the user to specify a replacement name for the flag.

For example, our build command is currently
[code]
so the u

[2020-10-09 12:43] mcguiresm commented on #829
Hey @alexellis - absolutely.

[2020-10-09 19:24] justinfx commented on #789
It would be more convenient and align with our build and deploy system to have the templates live and be versioned with the project for which they are being used.
I figure since this doesn't break existing behaviour and makes it possible to have a monorepo, that the flexibility would be a benefit and enable users to deploy templates in different ways.

[2020-10-10 16:35] doowb commented on #814
I have a convention of putting build related code in a `./build` folder. If I want to introduce OpenFaaS in the same project, the `faas-cli` is doing 2 things that conflict with my convention:

- Adds `template` and `build` to `.gitignore` when creating a new function
  This conflicts with my conventions if I'm expecting to use some of my build related code in my CI/CD pipeline.
- Copies to and de

[2020-10-10 16:39] alexellis commented on #814
Ok, thanks for the context. I'm going to close the issue so that we can gauge interest from other users. Happy to revisit at a future date.

[2020-10-10 16:39] #814 closed

[2020-10-11 15:11] viveksyngh commented on #794
I will un-assign it and let it be open for someone else to take it. I will try to complete my current tasks and then comeback to this one.

[2020-10-11 15:57] alexellis commented on #794
Ok, would you mind detailing a solution so that someone else could pick it up later?

[2020-10-14 09:22] r3mattia opened #833 "faas-cli login gives "Cannot connect to OpenFaaS on URL..." + "net/http: request canceled (Client.Timeout exceeded while awaiting headers)""
I am trying to use `faas up -f function.yml` which tells me:

[code]

after building my image with no errors.

When I try to to use `faas-cli login` with the following login command:

[code]
I am unable to login.

$OPENFAAS_PASS and $OPENFAAS_URL works in my browser, as does the admin user.

## Expected Behaviour
I expect to successfully login.

## Current Behaviour
I get this error:

[code]

Wher

[2020-10-14 09:34] #833 closed

[2020-10-14 09:35] alexellis commented on #833
I'm going to close this issue since there is no bug with OpenFaaS, this is a technical support request which we handle through Slack.

[2020-10-14 09:35] alexellis commented on #833
/msg: slack

[2020-10-14 12:46] tal-enso commented on #785
Any news?

[2020-10-16 10:14] alexellis opened #834 "Feature - buildpack support in faas-cli build"
## Description

Feature - buildpack support in `faas-cli build`

## Context

DigitalOcean's AppPlatform, Cloudrun, Heroku, Cloudfoundary, Waypoint all support buildpacks

build packs can generally be inferred automatically, and don't need a Dockerfile

An example for Golang would be the follow:

[code]

An example of building this would be:

[code]

We could generate this command like we do for fa

[2020-10-16 11:33] alexellis commented on #829
This appears to work fine for our own CRD generation:

[code]

[2020-10-16 11:37] alexellis commented on #829
I have a fix for this issue as I haven't heard from you since you agreed to work on a week ago.

[code]

[2020-10-16 11:48] mcguiresm commented on #829
Hey @alexellis - Sorry about that, week got away from me. That is what I ended up doing in testing as well and seemed to work.

[2020-10-16 13:10] #829 closed

[2020-10-17 21:02] talhof8 commented on #785
Any news?

[2020-10-21 16:14] alexellis commented on #834
@yankeexe can you please ask upstream about an ARM release binary on "pack"? cc https://github.com/alexellis/arkade/pull/231

[2020-10-21 17:12] yankeexe commented on #834
@alexellis  Link to issue: https://github.com/buildpacks/pack/issues/907

[2020-10-26 09:02] alexellis commented on #770
/set title: [Feature] Add Docker buildx multi-arch support

[2020-10-26 09:05] alexellis commented on #770
I spent some time prototyping this. There is a bit of a problem at present with the way that buildx vs docker works.

buildx for Multiplatform can't build to the local library, so must push to a registry to then be pulled back and used again. This is due to multi-arch manifests. [See tweet](https://twitter.com/alexellisuk/status/1320647429981675520?s=20)

I prototyped this and hacked the `faas-cli

[2020-10-28 17:19] alexellis commented on #770
As a follow-up, buildx will need to be used to build each image separately, passing one architecture / platform at a time. At the push step, we will need to push each image, and then create a manifest against the target repository.

[2020-11-02 10:55] ArcticXWolf commented on #817
How would we separate the output of the flags from the output of the faas-cli? Stdout/stderr? Or disable other output when the --show-flags is given?

[2020-11-05 07:35] utsavanand2 opened #838 "Migrate from Travis to Github Actions"
## Expected Behaviour

As proposed by @alexellis we should move all our repos to Github Actions because of it's generous free-tier as we're not able to get enough builds out of the free credits that Travis provides.

## Current Behaviour

We're running all our CI builds using Travis CI

## Possible Solution

PR in the works.

[2020-11-05 07:36] utsavanand2 commented on #838
/assign: me

[2020-11-11 17:30] #832 closed

[2020-11-17 10:18] antoine-em opened #842 "faas-cli using buildkit and / or --cache-from Docker options for CI build process optimization"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

How to use `buildkit` cache optimization in combination with `--cache-from` argument option to accelerate the build with faas-cli in a CI pipeline (I am trying it w

[2020-11-17 10:19] alexellis commented on #842
Why did your build take 30 minutes?

[2020-11-17 10:24] LucasRoesler commented on #785
#842 is related, in wanting to access other flags on the builder. I think https://github.com/openfaas/faas-cli/issues/785#issuecomment-606761803 would allow us to solve both cases, if we decide to add direct support for additional flags to the cli/stack

[2020-11-17 11:48] antoine-em commented on #842
@alexellis

My docker image contains some instructions to pip install pandas and as it required some rebuild it took a long time.
So using the cache, as this layer is not changing, I can prevent having a full rebuild of the whole image for this function.

Maybe a better approach would be to build a base image including my requirements but I need to study more about how to use a private function st

[2020-11-17 12:11] alexellis commented on #842
The idiomatic way to solve this problem would be to create a base image with pandas already installed

[2020-11-17 14:46] #838 closed

[2020-11-18 14:53] supabibz opened #845 "get.sh : wrong path in the faas-cli.sha256"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues)

Hi Guy,

it seems that you updated recently the get.sh script or faas-cli.sha256 on the server.
The get.sh downloads the binary in the current directory but then, w

[2020-11-18 15:34] Skikepok opened #844 "https://cli.openfaas.com script not working"
The installation command `curl -sSL https://cli.openfaas.com | sh ` does not work anymore (it worked an hour ago).

## Expected Behaviour
This script is supposed to install the faas-cli script on the machine

## Current Behaviour
Running the command currently fails with the following error:

[code]

## Steps to Reproduce (for bugs)
1. Run the command `curl -sSL https://cli.openfaas.com | sh`

## C