[2018-02-27 18:54] viveksyngh commented on #333
I would like to work on this.

[2018-02-27 18:56] alexellis commented on #333
Edited .. @rgee0 thanks for pointing that out. Vivek if you have time I'm fine with that.

[2018-02-27 19:01] viveksyngh commented on #333
@alexellis Yes, I have time. I might need some help.

[2018-02-27 19:03] alexellis commented on #333
Sure, let's collaborate on here + Slack. Have a read over the code and review how `--query` is implemented. @itscaro and @ericstoekl have done lots here too so feel free to reach out to us all.

[2018-02-27 21:07] #310 closed

[2018-02-28 14:31] #333 closed

[2018-02-28 15:19] #307 closed

[2018-03-01 11:51] alexellis opened #337 "Help wanted: --async flag for invoking functions"
## Expected Behaviour

`echo test | faas invoke --async func_echoit`

With short-flag

`echo test | faas invoke -a func_echoit`

The difference in the underlying code is that instead of calling `/function`/ on the gateway, this code should call `/async-function`. That's it.

## Current Behaviour

We use `curl` instead so that we can specify a different route.

## Code references

Command in Cobra

[2018-03-01 11:53] alexellis opened #338 "Help wanted: `faas new` to take --prefix for username/repo"
With tutorials on `faas new` I often have to tell people to edit their YAML file and introduce a prefix with their username or alternative Docker registry. We need a flag for this

## Expected Behaviour

`faas new --lang node jsrocks --prefix alexellis`

`faas new --lang node jsrocks -p 10.0.95.1:5000`

This should then reflect in the YAML file generated with the function:

[code]

## Current Beha

[2018-03-01 12:03] johnmccabe commented on #337
Derek assign: johnmccabe

[2018-03-01 12:04] johnmccabe commented on #337
I'll grab this one and do it over lunch

[2018-03-01 12:06] alexellis commented on #337
SGTM 🥇

[2018-03-01 12:09] alexellis commented on #325
Derek close: duplicate

[2018-03-01 12:09] #325 closed

[2018-03-01 12:09] alexellis commented on #325
@hypnoglow let's continue discussion on the original issue.

[2018-03-01 12:09] alexellis commented on #317
Derek close: all PRs merged.

[2018-03-01 12:09] #317 closed

[2018-03-01 12:24] johnmccabe commented on #338
Derek add: kenfdev

[2018-03-01 12:25] johnmccabe commented on #338
Derek assign: kenfdev

[2018-03-01 12:25] kenfdev commented on #338
I’ll take this :)

[2018-03-01 12:36] alexellis commented on #338
@johnmccabe can only assign to members of the openfaas org.

[2018-03-02 06:20] viveksyngh opened #342 "Proposal : add --method or -m flag for faas-cli `invoke`"
With HTTP mode functions can support HTTP methods like `GET`, `POST`. To pass which method to use by `invoke` command add `--method`  or `-m` flag. By default, if no flag is passed it should invoke the function with `POST` method.

## Expected Behaviour

`faas-cli invoke --method GET `
`faas-cli invoke -m POST`

## Current Behaviour

No option to pass the method

## Possible Solution

Add --method

[2018-03-02 06:24] viveksyngh commented on #342
Derek add label: skill/beginner

[2018-03-02 08:19] alexellis commented on #338
Derek close: fixed

[2018-03-02 08:19] #338 closed

[2018-03-02 08:44] alexellis commented on #342
This would also need a short flag ‘-m’?

[2018-03-02 09:04] viveksyngh commented on #342
Yes, I have added that.

[2018-03-06 16:58] alexellis opened #345 "Consider use of environmental variable for gateway override"
## Description

Consider use of environmental variable for gateway URL override.

On Kubernetes everyone has to provide an override all the time - whether `-g` 127.0.0.1:31112` or `-g `minikube ip`` or similar.

## Pros

* Could allow an override of the default address of `localhost:8080`
* Less typing when the gateway is not localhost:8080 and user doesn't want to update a YAML file

## Cons/Conc

[2018-03-06 17:12] alexellis commented on #345
As I recall I think @nicholasjackson also wanted this

[2018-03-06 17:16] johnmccabe commented on #345
You should look at [spf13/viper](https://github.com/spf13/viper) for this.

[2018-03-06 17:25] milsonian commented on #345
👍 https://github.com/spf13/cobra#bind-flags-with-config

[2018-03-07 00:26] johnmccabe opened #346 "Brew faas-cli release not setting version from tag"
## Expected Behaviour

The release version is not being set in the brew release, it should be set to the current tag as with the get binary release. The brew formula build step was never updated following the merge of #104.

**No action is required on this repo, however the brew release should be checked on next release**

## Current Behaviour

[code]

## Possible Solution

A PR with a fix has bee

[2018-03-07 00:35] johnmccabe opened #347 "Chocolatey faas-cli release stale - 0.5.0"
## Expected Behaviour

Chocolatey release package should track the current project release.

## Current Behaviour

Last Chocolatey release was `0.5.0`.

## Possible Solution

Ping @pkeuter to see whats going on.

## Steps to Reproduce (for bugs)

<img width="1027" alt="screen shot 2018-03-07 at 00 34 42" src="https://user-images.githubusercontent.com/83862/37066921-62024128-219f-11e8-9038-18dae7ef

[2018-03-07 00:59] johnmccabe opened #348 "Arch Linux release stale - 0.4.30"
## Expected Behaviour

Arch Linux release package should track the current project release or be removed from AUR.

## Current Behaviour

Last Arch Linux release was `0.4.30`.

## Possible Solution

Ping @rawkode to see if he intends to continue as Arch Linux PKGBUILD maintainer, if not pass on responsibility to the project.

## Steps to Reproduce (for bugs)

- https://aur.archlinux.org/packages/o

[2018-03-07 06:18] alexellis commented on #348
I'd agree with this statement - we have to keep third-party packages in sync.

Ping @rawkode - please could you take a look?

[2018-03-07 06:25] alexellis commented on #346
Thank you for raising this John and for working on a fix.. good catch

[2018-03-07 06:28] alexellis commented on #345
@milsonian it would be great to get some context with your link and a short explanation of how it can be used to help with this problem.

I took a look at the link and this sentence doesn't mention config/args and env vars. It's worth noting that we have our own configuration file / format already for storing basic auth and for the YAML stack files.

[2018-03-07 07:17] pkeuter commented on #347
Hey guys, yes that was what I was waiting for. AppVeyor offers a free tier for oss.

The best thing would be to trigger the build from a CI job in faas-cli, but it can be done manually as well. We just need to swap credentials from my account to an openfaas account. Also, a summary needs to be added for Chocolatey, but that's about it.

If someone can set up an account and provide me with credenti

[2018-03-07 09:44] alexellis commented on #337
Derek close: released

[2018-03-07 09:44] #337 closed

[2018-03-07 09:50] johnmccabe commented on #346
This has been merged upstream, recommend keeping this open until the next release.

[2018-03-07 12:46] milsonian commented on #345
I was just stashing the link for later.  I'm not super familiar with viper but after some poking at it, that's correct this doesn't provide for any envvar on its own.  It could imply switching to/adding viper for some of this stuff which would obviously be a bigger refactor (though perhaps would make this easier to manage longer term)..I'm going to ping some folks who know viper better for their t

[2018-03-07 14:20] johnmccabe commented on #345
FYI this is a 5 line change to introduce, can raise a PR for it later if you wish @alexellis

[2018-03-07 15:02] alexellis commented on #345
I'm not sure whether viper is going to be the right thing to do:

* resulting binary size
* additional value offered isn't obvious

John the change will have to cover all the verbs and be thoroughly tested.

Before raising the PR we need to discuss expectations about the preferential order of flag/env/yaml (config).

Does it make sense to make use of the config file and have a context like Kuberne

[2018-03-07 15:09] johnmccabe commented on #345
roughly 1.6MB overhead with all the additional functionality you get, agree if `os.Getenv` is all thats wanted here better to roll your own.

[2018-03-11 20:21] rgee0 commented on #342
Derek close: merged in #349

[2018-03-11 20:21] #342 closed

[2018-03-12 10:52] yogeek commented on #203
I have the same need : in order to quickly deploy openfaas with custom functions, I clone the faas repo, use the "deploy-stack.sh" from the faas repo and then I have all the samples functions by default.
If I want to have only my custom functions, I currently have 2 solutions :

- duplicate the docker-compose.yml of openfaas, remove all samples functions and deploy from it
(but this implies keepin

[2018-03-12 10:55] alexellis commented on #203
Let's look at remove all sample functions from the initial stack. I'd like help with this, but we will need to update all blogs and documentation also.

[2018-03-12 11:05] yogeek commented on #203
@alexellis maybe you do not need to replace the initial stack but just to add another stack file without the sample functions (e.g. docker-compose.without-samples.yml) to leave the choice to the user to deploy one or the other. It would have less implications on the blogs and docs, wouldn't it ?

[2018-03-12 15:44] iyovcheva commented on #203
@yogeek, the error is because a provider is not referenced in the `docker-compose.yml`.

`faas-cli remove -f ./docker-compose.yml` will not work for removing the functions, as it's not in a format that will be successfully parsed from the `remove` command.

[2018-03-12 16:40] alexellis commented on #203
`faas remove --all` is dangerous because as of #351 we will have four overrides

* ARG --gateway
* YAML -f / --yaml (or if default file is in directory stack.yml) (I count this as two)
* ENV-VAR OPENFAAS_FN
* Finally the default

So `faas remove --all` could have unexpected behaviour. The experience might need refining, it'd be better to move this to a new issue i.e. https://github.com/openfaas/fa

[2018-03-12 16:41] alexellis commented on #203
Derek lock: please move conversation to new issue or linked issue.

[2018-03-12 18:39] #345 closed

[2018-03-13 09:17] alexellis commented on #346
@johnmccabe I released yesterday please check brew?

[2018-03-13 09:19] alexellis commented on #348
From David via DM: "I have disowned the package and it cannot be deleted"

Not great IMHO :thinking:

Not sure what we can do from here so I'll close the issue. If someone finds this via Google, you're welcome to take over the maintenance of the package.

[2018-03-13 09:19] #348 closed

[2018-03-13 09:21] rawkode commented on #348
Unfortunately, I am getting married this weekend; so my availability to contribute has been non-existent, as planning a wedding isn't exactly trivial.

I did attempt to upgrade the package, but the dependency management changed from vndr to dep and the PKGBUILD changes weren't as simple as I expected; so I had to disown so that someone else can pick it up.

[2018-03-13 10:23] johnmccabe commented on #346
<img width="956" alt="screen shot 2018-03-13 at 10 22 32" src="https://user-images.githubusercontent.com/83862/37336170-79585d04-26a8-11e8-9662-580490e2dfd9.png">

👍 - thanks @ilovezfs

[2018-03-13 10:24] johnmccabe commented on #346
Fixed in Homebrew/homebrew-core#25182

[2018-03-13 10:24] #346 closed

[2018-03-13 16:18] alexellis commented on #346
Thanks both 🎉

[2018-03-13 19:12] rgee0 opened #352 "Change `defaultNetwork` so that `func_functions` is no longer used when a value isn't provided"
## Expected Behaviour
With the changes in https://github.com/openfaas/faas-swarm/commit/e36f90b36f5b81498ea7dc018b3cf0b48127f7a1 a default network is no longer required.  Instead the network to be used will default to the swarm network labelled with `openfaas` during deployment.

## Current Behaviour
if a value for the network isn't provided then the CLI defaults to sending `func_functions` which

[2018-03-14 07:49] alexellis commented on #29
This was merged and is stable.

[2018-03-18 20:50] alexellis commented on #347
Thanks for the input Peter. Do you know how many people downloaded your Chocolatey package?

[2018-03-19 06:38] pkeuter commented on #347
@alexellis 196 in total. Not so much :-)

[2018-03-20 12:29] alexellis commented on #352
@rgee0 are you going to raise a PR for this or should someone else work on it?

[2018-03-20 13:08] rgee0 commented on #352
I’m doing it. Started with the store but at the time I couldn’t get the latest cli from GitHub to test.

[2018-03-20 13:41] alexellis commented on #352
Please raise a PR here too when ready. https://github.com/openfaas/store/issues/27

GH release should be available for downloads - I think AWS S3 was having a hiccup.

[2018-03-21 19:34] samueleaton opened #354 "Suggestion: block appending of the same function more than once"
Summary: Using "append" with the "new" command allows duplicate function names

Using the `--append` option appends function to yaml file regardless of if the function name is already taken, creating ambiguous yaml file.

## Expected Behaviour
It should return an error if the function name would result in a duplicate.

## Current Behaviour
it will continue to append.

Example when running `faas-cl

[2018-03-22 09:42] iyovcheva commented on #354
Thanks for logging this @samueleaton
If you have an idea, feel free to contribute.
Otherwise we'll add the issue to the backlog.

[2018-03-22 09:43] iyovcheva commented on #354
Derek add label: review

[2018-03-22 09:43] iyovcheva commented on #354
Derek add label: help wanted

[2018-03-22 09:49] iyovcheva commented on #352
Derek add label: proposal

[2018-03-22 09:51] alexellis commented on #354
This is as-designed - we didn't build in validation as it wasn't a concern. Has being able to add the same function name twice been an issue for you in practice or is it mainly a nice idea?

[2018-03-22 16:30] samueleaton commented on #354
Its mostly about duplicate keys creating ambiguity and potential for buggy software. I also thought it was invalid YAML so I guess one could say faas-cli generates invalid YAML which I suppose _could_ be a bug.

From the [YAML spec](http://www.yaml.org/spec/1.2/spec.html):

[2018-03-23 03:49] s8sg opened #355 "Adding Support for Build ARG from FASS-CLI"
Adding support for having build time argument with FAAS Cli would help to provide argument in the build process

## Expected Behaviour
The flag `--arg` can be used to specify the argument
[code]
A command might look like:

[code]

Which would eventually be passed as build argument in the docker build process for the function image
[code]

## Current Behaviour
Currently `environment` can be specifi

[2018-03-23 08:43] iyovcheva commented on #355
Derek add label: proposal

[2018-03-23 09:40] iyovcheva commented on #355
@s8sg Thanks for proposal.
Actually this is a duplicate of [#262](https://github.com/openfaas/faas-cli/issues), so will close the issue, but feel free to comment/share ideas/contribute to the other open issue.

[2018-03-23 09:41] iyovcheva commented on #355
Derek close

[2018-03-23 09:41] #355 closed

[2018-03-24 16:47] alexellis commented on #354
Thanks for reporting this, I've now triaged your feedback.

If you would like to contribute your own time for a fix then here are some guidelines for making your first contribution to OpenFaaS: https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md

[2018-03-26 02:13] s8sg commented on #262
After going through the previous comments, what I like the most about the build args is to provide a defined argument with variable set of values. The `build args` are very useful in a environment when the build process is dependent on the argument. For example in an automated build process the function needs to pull the dependent version of application, where we can provide the version via `--bui

[2018-03-26 08:40] iyovcheva commented on #262
Derek add label: help wanted

[2018-03-26 10:39] alexellis commented on #262
This proposal is not approved for work at this stage.

[2018-03-26 14:18] tarunmangukiya opened #356 "Runtime Error in Function - Fatal error: epollwait failed"
## Context

I am doing image resizing with Node Sharp. Functions are failing with an error: `runtime: epollwait on fd 4 failed with 14`. Containers gets restarted.

Googled some references and feels like it's Go Language issue. Can anyone help to debug and resolve the same?

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):
Version 17.12.0-ce-win47 (15139)
* Are you us

[2018-03-29 04:03] rayhero opened #358 "lang: Dockerfile can not success build on latest 0.6.4"
In previous version 0.5.2, I can set my yml like below:
  auto-hotspot-openmvg-test:
    lang: Dockerfile
    handler: ./sample/auto-hotspot
    image: gcr.io/auto-hotspot-test
    fprocess: "node handler.js"

and use faas-cli build --filter=auto-hotspot-test -f ./auto-hotspot.yml to build the faas image

after I upgrade to latest 0.6.4, I get the error message below:

[0] > Building auto-hotspot-

[2018-03-29 07:05] alexellis commented on #358
Use a lowercase dockerfile please

[2018-03-29 08:58] iyovcheva commented on #356
Hi @tarunmangukiya , can you please share steps to reproduce?

[2018-03-29 08:58] iyovcheva commented on #356
Derek add label: support

[2018-03-29 08:58] iyovcheva commented on #358
Derek add label: support

[2018-03-29 09:29] alexellis commented on #358
@iyovcheva there is a work-around for this as I gave above. Please can you put this on your list to check over? The code in the CLI used to allow Dockerfile and dockerfile for deployments.

[2018-03-29 14:42] iyovcheva commented on #358
@rayhero I cannot reproduce.
Tested this with 0.6.4 on Kubernetes with [helloc](https://github.com/openfaas/faas/tree/master/sample-functions/CHelloWorld) function from the samples, which uses `Dockerfile` language and it builds successfully.

Can you share more details about your function? (may be there is some typo/extra space/etc in your yaml)

[2018-03-29 15:35] alexellis commented on #358
I can confirm the same - I was unable to reproduce the error. The only time you may see this error is if you don't have any templates in the folder when deploying or building.

Try to run `faas template pull` first and make sure your templates are the latest version.

I'm going to close the issue but let us know if you still have difficulties after trying the above steps.

[2018-03-29 15:35] #358 closed

[2018-03-29 15:36] alexellis commented on #356
@tarunmangukiya You need to provide more context if you want us to help support your usage of OpenFaaS. I don't know what "Node Sharp" is?

Please share a GitHub repo with us which we can use to build/test your application.

[2018-03-30 14:14] iyovcheva opened #359 "faas-cli store command does not honour the OPENFAAS_URL env variable"
When `OPENFAAS_URL` env variable is set, it should be used from `faas-cli store` command, but currently it is ignored.

## Possible Solution

## Steps to Reproduce (for bugs)
1. `export OPENFAAS_URL=http://invalidurl:8080`
2. `faas store deploy figlet`

## Expected Behaviour
[code]

## Current Behaviour
[code]

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05

[2018-03-30 14:15] iyovcheva commented on #359
Derek add label: review

[2018-03-30 14:15] iyovcheva commented on #359
Derek assign: iyovcheva

[2018-04-01 18:28] #359 closed

[2018-04-02 07:49] #354 closed

[2018-04-02 07:50] #352 closed

[2018-04-04 14:58] rosskevin opened #362 "Support secrets via `build` command passing --build-args to `docker build`"
## Expected Behaviour

`faas-cli build` is responsible to for building the docker image amongst other things. To build a docker image that relies on any secret, the recommended way is with `--build-arg FOO=${FOO}`.

Here is a walkthrough of such a docker image build setup for node and an npm private package:
https://docs.npmjs.com/private-modules/docker-and-private-modules

Without a change, `faas

[2018-04-04 15:01] iyovcheva commented on #362
Derek add label: proposal

[2018-04-04 16:02] alexellis commented on #362
I would accept a PR for an additional --build-arg parameter to be passed to Docker. It would not be a YAML override though. It does raise some issues around when we want to use other services to run a faas-cli build which may not support --build-arg such as some of the interfaces for Moby's Buildkit (used in OpenFaaS Cloud).

FYI: build-time secrets or mounted files are not to my knowledge support

[2018-04-04 16:27] rosskevin commented on #362
https://docs.docker.com/engine/reference/commandline/build/
`--build-arg |   | Set build-time variables` - intent that these are ephemeral and not saved anywhere, therefore docker supports a built time secret through this mechanism.  They do not have a vault or any other support for secrets, but this works for the simple cases where a secret is passed via environment variable.

You cannot use with

[2018-04-04 17:15] rosskevin commented on #362
Looks like `faas-cli build --shrinkwrap` may be what I'm looking for in terms of merging code with a template, then I can follow up with custom build commands.

[2018-04-04 17:46] alexellis commented on #362
So `--shrinkwrap` also looks useful for your use-case.

That would count as a contribution too.

I think the argument can be added reasonably quickly but I would ask for help testing it. Do you think having it only as a CLI argument would suit your use-case?

[2018-04-04 17:57] rosskevin commented on #362
CLI-only arg is fine. I'm happy to test direct from a fork.

[2018-04-04 18:02] alexellis opened #363 "Feature: Add `--build-arg` to `faas-cli build`"
Add a new flag to `faas-cli build` to accept a flag `--build-arg` - it should accept multiple key-value-pairs. At build-time these should be appended to the `docker build` CLI command.

## Reasoning

Requested from community users:

#362 #262 #355

This should not change the YAML file format. This feature is being requested for secret strings/authentication.

## Testing

This should be tested by c

[2018-04-04 18:11] ryanfields commented on #262
@alexellis I can work with that, yes.

[2018-04-04 18:14] alexellis commented on #262
Glad to hear it @ryanfields - the work will be starting under #363 and contributions are welcome (if you want to write some code towards it) as well as helping us validate we're doing this the way that helps.

[2018-04-04 18:59] alexellis commented on #363
Testing:

Dockerfile:

[code]

Build:

[code]

Check the data was populated:
[code]

[2018-04-04 19:05] alexellis commented on #362
@ross code is pushed up / tested in this branch - https://github.com/openfaas/faas-cli/pull/364

[2018-04-04 19:24] ross commented on #362
You probably want @rosskevin :grin:

[2018-04-04 19:47] rosskevin commented on #362
Hey @alexellis - thanks for the work on this.  I'm going to pull and try and get this tested now before I leave - will be gone until Monday.  Will get back to you shortly.

[2018-04-05 17:46] #363 closed

[2018-04-06 04:09] ericstoekl opened #366 "faas-cli remove command doesn't honor OPENFAAS_URL"
There seems to be some inconsistencies with the `faas-cli remove` command. It tries to access `127.0.0.1:8080` even though I have the `OPENFAAS_URL` set.

## Expected Behaviour

The function is removed.

## Current Behaviour

[code]

If I run the command `faas-cli remove n1 -g http://localhost:31112` (my correct url endpoint), the remove command works. However, if I run the command with the same u

[2018-04-06 04:10] ericstoekl commented on #366
Derek add label: skill/beginner

[2018-04-06 05:55] rgee0 commented on #366
@ericstoekl can you provide the output of 'faas-cli version', please?

@alexellis can we get the issue template on this repo updated to request the output of 'faas-cli version', please?

[2018-04-06 06:40] alexellis commented on #366
@rgee0 yes please raise a PR.

[2018-04-06 07:25] viveksyngh commented on #366
@alexellis I will have look at this one.

[2018-04-06 07:29] alexellis commented on #362
Fixed and released 👍

[2018-04-06 07:29] #362 closed

[2018-04-06 07:30] alexellis commented on #362
Thanks for input from everyone on the thread

[2018-04-06 07:41] alexellis commented on #356
Derek close

[2018-04-06 07:41] #356 closed

[2018-04-06 07:42] alexellis commented on #356
Closing this issue as inactive, we've also had no instructions on reproducing the error and couldn't reproduce it locally. Feel free to keep commenting.

[2018-04-06 14:17] ericstoekl commented on #366
Updated with faas-cli version.

[2018-04-06 14:18] ericstoekl commented on #366
Derek assign: viveksyngh

[2018-04-07 08:29] alexellis opened #371 ""faas-cli new" should accept option to use default stack.yml name"
When typing in `faas-cli new --lang node html-project` for instance you get a YAML file named html-project.

We introduced "stack.yml" as a default file-name, but have no way of generating a new function with the stack name of stack.yml. You have to rename it afterwards.

What ideas do you have for allowing this without getting to verbose in the CLI?

[code]

We do have an append flag - perhaps we

[2018-04-07 08:53] #366 closed

[2018-04-07 23:43] ericstoekl commented on #371
I like `--stack` to perform the functionality of:

- create your function in a new `stack.yml` if the file does not exist in your current directory
- append the function definition to `stack.yml` if it exists

I would then vote to remove `--append`. I think there is no need for `--override` here.

[2018-04-08 22:09] alexellis commented on #371
I like the idea where ‘—stack’ performs both functions with the functions appended if the target file already exists. @s8sg do you want to go ahead and work on this?

[2018-04-09 00:00] s8sg commented on #371
@alexellis Sure I'm on it

[2018-04-10 04:30] s8sg opened #374 "build error while image name is uppercase"
`faas-cli build` command failed when image name has a uppercase tag as
For example:
`faas-cli build `
the internal `docker build -t <image_name> .` fails

## Expected Behaviour
[code]
A image should be created have a image name as of my function name if not specified

## Current Behaviour
The `faas-cli build` command fails with below error:
[code]

## Possible Solution
This bug is introduced as do

[2018-04-10 20:53] Lawouach opened #376 "Question on self-signed SSL certs"
Hi all,

I have deployed OpenFaaS on a cluster and made the gateway accessible via an Ingress that accepts both HTTP and HTTPS. The latter is using a self-signed cert as this is a demo only cluster.

When I try to deploy, I'm getting:

[code]

With the config as follows:

[code]

I don't see a flag telling faas-cli to accept insecure connections.

I could also try to reconfigure my ingress to not

[2018-04-10 21:00] Lawouach commented on #376
Just, FYI, indeed, preventing my ingress from automatically redirecting to HTTPS did the trick. But I still would appreciate the possibility for self-signed certs/insecure connection support. Is this something you'd consider?

[2018-04-10 21:16] alexellis commented on #376
I'm confused by this issue. Why are you not using `https://demo.foo.bar` as the gateway URL?

[2018-04-11 03:39] viveksyngh commented on #376
Derek add label: question

[2018-04-11 07:49] Lawouach commented on #376
It is indeed the request.

Well, to be fair, those are throw aways so that could be tedious. It is common to have a flag on the client side.

[2018-04-11 07:53] Lawouach commented on #376
## Expected Behaviour
Add a flag to disable client certificate check and allow insecure communication.

## Current Behaviour
Currently, faas-cli will not accept to perform insecure communication and throw

[code]

## Possible Solution
Add a flag such as: `--no-tls-verify`

## Steps to Reproduce (for bugs)
1. Create a self-signed cert and host OpenFaaS on server which uses that cert
2. Run faas-cli

[2018-04-11 09:47] iyovcheva commented on #376
Derek add label: proposal

[2018-04-11 21:02] ericstoekl opened #377 "Quick-install script can cause hitting of rate limiter from GitHub"
During the workshop people starting hitting an issue where the `cli.openfaas.com` quick-install script was failing. The exact issue is that the file that was downloaded contained only the text `Not Found` -- the cause of this was that the first command of the script which runs:

`version=$(curl -s https://api.github.com/repos/openfaas/faas-cli/releases/latest | grep 'tag_name' | cut -d\" -f4)`

wa

[2018-04-12 18:01] ericstoekl opened #379 "Revise error message for faas-cli deploy"
To deploy a new stack from a YAML file, use the command:

[code]

If the user makes a mistake and instead issues:

[code]

The error message that is thrown can be confusing:

[code]

## Expected Behaviour

An error message such as:

[code]

## Current Behaviour

Prints `Please provide a --image to be deployed`

## Possible Solution

Add extra checks in code and provide a better error message.

##

[2018-04-12 18:49] rgee0 commented on #377
Since the API call is only looking for the latest release, rather than the moving the binaries would an alternative approach be to trigger a webhook on release and store the release value 'somewhere else'?  The value can then be read from 'somewhere else' and the binaries still retrieved from GH.

[2018-04-12 18:56] rgee0 commented on #322
We've actually hit this issue ourselves.  The chosen solution was to write a shell wrapper to copy `common` into the function directory before calling build & push and then deleting `common` from the function directory in order to keep things clean.

[2018-04-12 18:57] rgee0 commented on #379
Derek add label: proposal

[2018-04-12 18:59] rgee0 commented on #297
The API rate limit could be a factor here unless we shift the version lookup 'somewhere else'

[2018-04-13 01:12] ericstoekl commented on #374
I believe that the current error message is sufficient. `repository name must be lowercase` should describe the issue clearly to most users.

Maybe we could bubble up the error and make it nicer than `Could not execute command: [docker build -t myFunc .]`. I don't think running `toLower()` on the image name should be done here.

[2018-04-13 01:16] ericstoekl commented on #377
@rgee0 That would be great especially if we have a standard storage bucket that contains the current version.

[2018-04-13 02:09] s8sg commented on #374
Agreed. Although for a new function we can't mandate user to provide **lower case func name**, as we generated by the platform we can change the image name to lowercase.  i.e. for a new function named `myAwsomeFunc` the image name would be `myawsomefunc`. The current PR includes only this change

[2018-04-13 03:11] BurtonR commented on #374
I'd have to argue against doing a "magic update" to the users' input. Having the function name match the image name is expected.

As an example: If someone is using a script that looks at the deployed functions, then parsing the images available, they wouldn't find "MyAwesomeFunc" due to the case differences. (probably a bad example, but it's the first thing that came to mind :) )

I'd vote for a

[2018-04-13 05:24] alexellis commented on #374
So the concern is valid but it sounds like we don’t want to edit the string to prevent side effects. I wonder if we should  prevalidate the value passed to the new command rather than do a conversion?

[2018-04-13 05:27] alexellis commented on #377
Caching sounds like a useful solution for rate limited scenarios. What are the thoughts on the PR that aims to improve the error experience?

[2018-04-13 06:41] rgee0 commented on #377
@ericstoekl has addressed my comment on the PR.

[2018-04-14 17:42] alexellis commented on #377
This will be closed when updated on the server

[2018-04-15 00:50] #297 closed

[2018-04-15 00:50] alexellis commented on #297
I'll close and mark for #revisit

[2018-04-15 00:52] alexellis commented on #379
We can probably make this more concise and still resolve the problem:

[code]

[2018-04-15 10:40] Chrislevi commented on #196
Is there any ENV variable for the gateway url to override the default 8080? @alexellis

[2018-04-18 22:44] dineshsriram opened #382 ""Unexpected status: 500, Unauthorized" error on faas-cli deploy/list"
I'm trying to deploy my first (lang: Dockerfile) function on an in-house k8s cluster.

I was able to build and push the Docker image to my internal registry using the `faas-cli` fine. However when I try to list/deploy, I get an Unauthorized 500 status code error which I'm not sure why.

## Expected Behaviour
faas-cli deployment to succeed.

## Current Behaviour
[code]
[code]

## Possible Solution

[2018-04-19 00:55] BurtonR commented on #382
Hi @dineshsriram! Sorry to hear you're having some troubles.

That blog post is a little outdated already (it's a fast moving project!) We have RBAC enabled by default on `faas-netes`. That could be the source of your troubles. Are you able to view the UI?

What versions of the OpenFaaS services are you running? Gateway, faas-netes?

Have you had a look at the [Kubernetes guide](http://docs.openfa

[2018-04-19 02:44] dineshsriram commented on #382
Thanks for the response @BurtonR. I ended up re-deploying `faas-netes` artifacts onto the k8s cluster again and that seemed to have fixed the problem. Most likely my missed/erred on an instalation step.

[2018-04-19 02:44] #382 closed

[2018-04-19 02:45] BurtonR commented on #382
Glad you got it sorted!

[2018-04-23 10:33] alexellis opened #384 "Create a Docker image openfaas/faas-cli for use in CI and jobs"
We should release a tagged Docker image after every GitHub release / tag.

Please see the pattern for the API gateway in the faas repo or faas-netes repo.

Help wanted - you should change the .travis.yml file in this repository.

[2018-04-23 11:16] #374 closed

[2018-04-23 11:38] alexellis opened #386 "Regression in 0.6.6 - panic: runtime error: slice bounds out of range"
## Expected Behaviour

Deployment as per usual

## Current Behaviour

I'm trying to deploy an image to my local machine but got this error:

[code]

## Possible Solution

@BurtonR @nenadilic84 to investigate how this issue could have occurred on Docker for Mac since it is the primary platform for our users.

## Steps to Reproduce (for bugs)

1. Create function with Go template
2. Build
3. Deploy

[2018-04-23 11:51] alexellis opened #387 "0.6.6 spams two messages about HTTPS when deploying"
## Expected Behaviour

A single warning about HTTPS not being used on a remote gateway - or actually nothing for loopback addresses of `127.0.0.1` and `localhost` cc @stefanprodan

## Current Behaviour

Since the change via @BurtonR @nenadilic84 to make registry auth strings get passed on every deployment.

[code]

## Possible Solution

We need to only print the message once - not twice. It could

[2018-04-23 12:02] alexellis commented on #387
I think the feature that populates private registry configs for Swarm should be made an opt-in configuration via environmental variable.

[2018-04-23 12:07] stefanprodan commented on #387
I think on Kubernetes we should not send the registry auth at all as it exposes this sensitive information with no benefit for the user. On Kubernetes you have to use the secrets field inside the stack file to specify the registry auth.

[2018-04-23 12:09] alexellis commented on #387
Introduce an environmental variable to opt-in to this feature if wanted?

`OPENFAAS_SEND_REGISTRY_CREDS=1` or similar?

[2018-04-23 13:27] alexellis commented on #387
cc @BurtonR

[2018-04-24 00:11] BurtonR commented on #386
@alexellis  You're right. After checking out commit `86a6c25b21240a222d647884db0f4cd65ab5258c` which is what `0.6.6` was tagged, I created a new `go` function and got a panic when trying to deploy.
This was an oversight in the work that was done for the authentication. We didn't verify that it would still work with a basic local function.
I did checkout commit `4e72ea6ef77a3375904a8b84e257efc16636

[2018-04-24 00:42] BurtonR commented on #387
Trying to repro this locally (from the master branch) I get the double warning only the first time I deploy a function...
[code]

The first warning, and the one that is present in the subsequent requests, is the warning that was recently added inside the `proxy/deploy.go` file. The second warning, only present on the first call is coming from the `commands/login.go` when it attempts a login to the

[2018-04-24 08:49] alexellis commented on #387
I think we should suppress the message for loopback addresses and make the flag opt-in - i.e. not on by default. I'll also document this in the README.md file but would like you to write a documentation page under the CLI section explaining how to work with private registries on Swarm or Kubernetes - it should cover this new flag.

[2018-04-24 09:09] #386 closed

[2018-04-24 09:09] #387 closed

[2018-04-24 09:10] alexellis commented on #384
https://github.com/openfaas/faas/blob/master/.travis.yml

[2018-04-24 11:26] iyovcheva commented on #384
Derek assign: iyovcheva

[2018-04-24 12:00] iyovcheva commented on #384
@alexellis May be you mean a `faas-cli` only as an image name - https://github.com/openfaas/faas-cli/blob/86370e8042b20d22bb55ffe92e9c001af35a0a1d/build.sh#L3 ?
I think there is not existing `openfaas` docker namespace.

[2018-04-24 13:45] alexellis commented on #384
I have some images on there already.

The primary change here is to push the image to make it available for other people to pull in and use in their automation of functions.

Also just check that the final image stage is a minimal image and not a full Golang SDK which would be a huge Docker image.

[2018-04-25 02:43] ericstoekl opened #391 "When deploying an image directly, I get Invalid Registry Auth on 0.6.7"
## Expected Behaviour

An image that I am able to deploy with a Stack YAML file should be able to be deployed directly using syntax like `faas deploy --image tf2 --name tf2`

## Current Behaviour

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Build latest version of faas-cli (925937c12)
2. deploy an image from the command line like `faas deploy --image tf2 --name tf2`
3. It wi

[2018-04-25 02:57] BurtonR commented on #391
I'm willing to bet it's related to this bug issued against `faas-swarm`
https://github.com/openfaas/faas-swarm/issues/19

At the moment, faas-swarm expects the image to be in the `<username>`/`<imagename>` format _only_
Once that issue is corrected, we'll need to release a new faas-swarm that will accept all variations of the image field

[2018-04-25 03:52] ryanfields opened #392 "Build returns "docker build" requires exactly 1 argument with particular build-arg values"
When passing a build-arg value that contains newlines, the docker build step fails with `ERROR - Could not execute command`

A practical example is to pass to the CLI the expansion of an environment variable containing a private key.

[code]

This will fail, and even worse, will echo the private key to the screen.

## Expected Behaviour

CLI should gracefully handle quoted multiline strings as inp

[2018-04-25 04:41] ryanfields opened #393 "Re-deploy fails when using generic secrets in stack.yml"
I'm using secrets, provided via stack.yml, in faas-netes.

faas-cli deploy works as expected when deploying a function that isn't currently deployed.  However, subsequent attempts to deploy the same function result in:

[code]

## Expected Behaviour

I should be able to re-deploy a function that relies on secrets without having to completely remove the function from openfaas first.

## Current Beh

[2018-04-25 09:59] alexellis commented on #391
The flag I introduced in 0.6.8 should resolve this. It will suppress sending the registry auth statement. Please update and try again.

[2018-04-25 10:01] alexellis commented on #393
Ryan thanks for logging the issue (I haven't seen this yet), but it looks like something we should fix ASAP in the faas-netes code.

Please can someone take a look from: @LucasRoesler @ericstoekl @stefanprodan - if either of you have 5 mins we should aim to get this straighten-out fast.

[2018-04-25 10:36] LucasRoesler commented on #393
Agreed, this is an issue in the faas-netes project, we need to update this block to modify or create the projected secrets volume instead of just appending it to the list of volumes https://github.com/openfaas/faas-netes/blob/master/handlers/secrets.go#L75

[2018-04-25 12:46] LucasRoesler commented on #393
I have a potential fix, but I am trying to write a test case for it and that is just being tedious to get setup correctly

[2018-04-26 14:16] alexellis opened #394 "Make sending registry auth optional for "store deploy""
## Expected Behaviour

No errors when deploying figlet from the store.

## Current Behaviour

I get two warnings then an error (I can't get past this issue)

[code]

https://github.com/openfaas/faas-cli/pull/388

## Possible Solution

Fix is in https://github.com/openfaas/faas-cli/pull/388 - replicate the work for the store deploy command.

## Steps to Reproduce (for bugs)

1. Get CLI 0.6.6, .7 or

[2018-04-26 16:03] rgee0 opened #395 "Enable function name override when deploying from store"
## Expected Behaviour
When performing a `faas store deploy` enable a facility which enables the deployed function to take a different name to that contained within the store.json.

## Current Behaviour
Currently when deploying from store the name of the function is taken from the `store.json` name attribute.

## Possible Solution
Use the existing `name` arg, or provide an additional flag.  If feas

[2018-04-26 16:03] rgee0 commented on #395
Derek add label: proposal

[2018-04-27 02:31] ericstoekl commented on #395
I think the flag `--rename` should be used for this purpose, as the difference between the Store name and the deployed function name is confusing.

[2018-04-30 19:30] alexellis commented on #395
I'm not keen on the semantics of `--rename`. In my opinion the `store` keyword is a modifier for `faas-cli deploy` - so all arguments should match for both commands.

Do we have a volunteer to work on this? It simply needs to take any override through for the name like we use for a manual deployment with the CLI.

[2018-04-30 19:33] tranotheron commented on #395
I'm on it. :-)

[2018-04-30 19:35] alexellis commented on #395
Where we have this override for a manual deployment:

[code]

We should be able to override `faas-cli store deploy figlet` with a new name

For instance if we want two copies of Figlet running - one on a regular PC and one on an RPi or special node:

[code]

Or another example:

[code]

[2018-05-02 03:54] ericstoekl commented on #392
Derek add label: bug

[2018-05-02 04:44] ericstoekl commented on #392
How about create a Secret in Kubernetes to store this info?

I can repro this issue however, and people may need to have multi-line build args outside of this context. @ryanfields would you like to have a go at fixing this?

[2018-05-02 04:53] ryanfields commented on #392
@ericstoekl This is needed for the Docker build step and therefore exists completely outside of Kubernetes.  A Kubernetes secret would be of no help here.

As for fixing this, I have not had the opportunity to learn go and am probably weeks or months away from understanding go well enough to be making system calls with it.

[2018-05-02 19:41] rgee0 commented on #392
I'm not sure this is to do with newlines, but rather the spaces in `--build-arg` value.  Theres a split on space to create a slice which is fed into `exec.command`.  The upshot of that is that the `--build-arg` value appears as multiple args.

As part of the debug I stripped the newlines out and it still failed in the same way.  Taking the spaces out of the value sees it build.

@ryanfields In ord

[2018-05-02 19:45] rgee0 commented on #392
Derek set title: Build returns "docker build" requires exactly 1 argument with particular build-arg values

[2018-05-02 20:00] ryanfields commented on #392
@rgee0 I tried this and it does get manage to start the docker build.  Build still fails, but now it's just because the key format has become invalid.

[2018-05-03 06:04] alexellis commented on #392
@rgee0 does your PR fix this?

[2018-05-03 06:31] rgee0 commented on #392
@alexellis PR #399 aims to be less sensitive to spaces which seems to be the issue here.

Its still WIP as it needs refining & testing, although it is now passing CI.

I've pinged @ryanfields to see if he can build locally and confirm it solves his issue.

[2018-05-03 06:43] rgee0 commented on #392
Derek assign: me

[2018-05-06 09:36] kenyeung128 opened #400 "support GET request in python function"
Hi,

in all the samples, it looks like the input can only be POST request with string or json? what about GET request with parameters in url?

Thanks.

[2018-05-07 14:49] rosskevin opened #401 "Unexpected 0 exit code with unreachable gateway URL (connection refused)"
When using `faas-cli` in a CI environment, it is critical that exit codes are properly used to avoid continuing on in a build pipeline when a command has failed.

Specifically, this should return a non-zero exit code

[code]

## Expected Behaviour

The deploy command should exit with [1 or higher](http://bencane.com/2014/09/02/understanding-exit-codes-and-how-to-use-them-in-bash-scripts/) in the c

[2018-05-07 17:18] viveksyngh opened #402 "Review: secret override flag when using YAML file"
In a `stack.yml` file if we have more than one function and one of the function uses `secrets` then it is being used for other functions as well.

## Expected Behaviour

Ideally `secrets` should be used for only those function in `stack.yml` which has `secrets` defined when we deploy the functions.

## Current Behaviour

`secrets` is used for the other functions in `stack.yml` even if they do not

[2018-05-08 07:27] iyovcheva commented on #402
@viveksyngh Thanks for proposing and working on this.

Can you please test with the latest `0.6.8` faas-cli version? (0.6.4 is a little old now)

[2018-05-08 07:33] iyovcheva commented on #402
IMO it's better if a secret is applied to all functions by default and the updated behaviour to be optional. Otherwise one will need to specify it for every function instead of configuring it once.

[2018-05-08 12:00] alexellis commented on #402
Hi I agree that this is a confusing behavior - we should apply it if there is only a single function, to all (existing) or to none (showing a warning).

[2018-05-08 15:13] kenfdev commented on #401
Derek add label: enhancement

[2018-05-08 18:39] rgee0 commented on #402
My thoughts are that the behaviour needs to be deterministic.  At the moment, if the backend is missing a secret, the same stack file containing a function referring to the missing secret will deploy different functions / fail with different functions deployed on repeated runs.  Debugging this would be quite challenging and would require a level of understanding of golang data structures.

Additio

[2018-05-08 19:48] alexellis commented on #402
@viveksyngh Thanks for raising an issue - this does need our attention so that we can figure out how to change or document the design. I'm going to close the PR since it is not the desired design.

A secret can be set for a manual override only when a YAML file is not being used

Or the YAML file only contains a single function or a --filter was passed which only matches a single function - both v

[2018-05-09 05:43] rgee0 commented on #402
As I understand the issue:

A stack file has 100 functions detailed. 50 of them have a unique secret specified. The remaining 50 have no secret.  One of the secrets hasnt been added to the chosen orchestrator.

The first run of `faas-cli deploy` sees 10 functions deployed. All 10 are from the set with secrets so fn1 has one secret and fn10 has 10 secrets. The attempted 11th function is the one wit

[2018-05-09 06:47] alexellis commented on #402
I'm not following the example you've given. Are you saying that a secret is attached some of the time but not the rest?

[2018-05-09 07:13] viveksyngh commented on #402
I think it depends on the order in which functions are processed after loading from file. When we load functions definitions from file, every time it does not preserve the same order. That's why it has different behaviour everytime we run `faas-cli deploy`.

[2018-05-09 07:27] rgee0 commented on #402
1) It iterates a map which doesn't retain an order.
2) Secrets are cumulative so which secrets are applied depends on where thing arrive in the order.
3) If a secret is missing everything from the point that the missing secret is added will fail.
4) Due to 1 the point of failure will vary from run to run

[2018-05-09 08:00] #394 closed

[2018-05-09 08:02] #392 closed

[2018-05-09 10:54] ilovezfs opened #406 "Latest version? 0.6.5? 0.6.7? 0.6.8?"
0.6.7 had been marked as the latest version. Then it went back to being marked as prerelease. Now there's also an 0.6.8 prerelease and yet 0.6.5 is still marked as latest release.

Should we rollback to 0.6.5 in Homebrew? Wait for 0.6.8 to be marked latest? Something else?

[2018-05-09 17:48] alexellis commented on #406
Please roll back - there was a bad PR submitted so I had to update the OpenFaaS curl script to point to an earlier version by making the later ones as prerelease.

[2018-05-09 17:48] alexellis commented on #406
I'm drafting 0.6.9 which I hope corrects the issues we had.

[2018-05-09 19:25] alexellis commented on #391
Please re-test with master.

[2018-05-09 19:25] alexellis commented on #401
All commands were altered to bubble up errors. If this isn't doing then it will be an exception to the rule and should be fixed.

[2018-05-09 19:26] alexellis commented on #401
I'd suggest starting with the specific scenario given:

`Put http://127.0.0.1:8080/system/functions: dial tcp 127.0.0.1:8080: getsockopt: connection refused`

[2018-05-09 19:29] alexellis commented on #401
Remember this needs testing with positive, negative and edge cases.

So with a YAML file with a single function - with no functions and with more than one function.

And then again without a YAML file

Do the same testing and fix-up for the `faas-cli store deploy` command.

@rosskevin do you want to work on the fix? How important is this to you?

[2018-05-09 19:29] alexellis commented on #395
Fixed in 0d53637 and scheduled for 0.6.9 release of the CLI.

[2018-05-09 19:29] #395 closed

[2018-05-09 19:30] alexellis commented on #400
That is not correct. Any binary data is also acceptable.

GET is also support by the OpenFaaS templates.

Try creating a new function with `faas-cli new` and then deploying that.

[2018-05-09 19:30] #400 closed

[2018-05-09 19:31] alexellis commented on #400
Feel free to re-reopen the issue if you are building with the official templates and finding they won't accept a GET.

[2018-05-10 07:40] #377 closed

[2018-05-10 07:40] alexellis commented on #377
@ericstoekl this has been deployed on the server cli.openfaas.com now

Can you try to repo the error and see that you get the expected instructions?

[2018-05-10 14:38] ericstoekl commented on #377
This works but the only trick is that you NEED to execute the script with `bash` -- `sh` will cause it to download a corrupted version of `faas-cli` when the rate limit is exceeded.

[code]

[2018-05-10 14:49] rgee0 commented on #377
I'm not sure how it would do that.  If the rate limit is exceeded then it wont get a version and therefore shouldn't download anything.

Looks icky on the double square brackets - the rest of the script uses single.

[2018-05-10 15:06] kenfdev commented on #401
If we bubble the errors [here](https://github.com/openfaas/faas-cli/blob/master/commands/deploy.go#L214), when we have multiple functions it's going to end early while before bubbling the errors, it used to try to deploy all the functions.

e.g. current behavior (all failing silently)
[code]

e.g. bubble the errors
[code]

Does anyone know if trying to deploy all the functions despite an error int

[2018-05-10 15:28] ericstoekl commented on #377
New PR has been submitted to address this issue. Thanks for your input @alexellis and @rgee0

[2018-05-11 16:43] cnashRR opened #408 "Question: `Unexpected status: 502, message:` when attempting to deploy"
I was working through your "Morning coffee with the OpenFaaS CLI" when I got down to the deploy section, which just states to call the line `faas-cli deploy -f callme.yml`

When I do this, however, I get the status listed above:
`Unexpected status: 502, message: `

I have no Idea what is going wrong. I also tried to change the gateway under the provider section from `127.0.0.1` to `localhost` and

[2018-05-12 12:27] viveksyngh commented on #408
can you see anything is `gateway` and `faas-swarm` logs ?

You can use these command to check the logs.
`docker service logs -f func_gateway`
`docker service logs -f func_faas-swarm`

[2018-05-12 16:54] alexellis commented on #408
You need to work through the troubleshooting guide which is linked for you in the issue template (which you deleted)

Please also try the suggestions from Vivek including docker service ps

[2018-05-12 16:57] alexellis commented on #377
That’s a breaking change. Was this work tested?

[2018-05-13 00:04] Affix commented on #376
@alexellis I will take this on :)

[2018-05-13 02:51] ericstoekl commented on #391
Tested, issue is resolved. Thanks :100:

[2018-05-13 02:51] #391 closed

[2018-05-13 11:50] Affix commented on #376
@alexellis I spent some time proofing this as a solution, Super easy to implement and would provide alot of value to alot of users at very little cost.

[2018-05-14 12:55] cnashRR commented on #408
After booting up my VM again and trying to replicate the problem, the deploy worked flawlessly. I am pretty sure that it was a problem with my gateway, as now when I connect to the localhost I can see the "Search for function" toolbar with a lot of the functions that I imported during a different tutorial pop up, which was not present before, and the command `docker service logs -f func_gateway` c

[2018-05-14 13:08] #408 closed

[2018-05-14 13:27] johnmccabe commented on #406
hi @ilovezfs are there instructions on how to raise a rollback?

[2018-05-14 14:35] #379 closed

[2018-05-14 14:35] alexellis commented on #379
Closing - fix merged.

[2018-05-14 14:39] alexellis opened #410 "[Blocking] Testing needed for 0.6.9 release"
The CLI has not been released since 0.6.5. Some PRs which were merged from the community broke any deployments from YAML files / manual definitions and the store.

Before cutting the next release I'd like some help testing the following:

* Deploying via YAML files

This should also exercise the new flag for Swarm: `--send-registry-auth`

* Deploying manually via CLI arguments

This should also ex

[2018-05-14 16:37] #393 closed

[2018-05-14 18:01] LucasRoesler commented on #393
Hi @ryanfields the newest release of faas-netes (tag 0.5.1) has been released and includes the fix for this issue. If you update faas-netes, deployment with the client should behave as expected.

[2018-05-14 20:38] rgee0 commented on #401
In proxy.deploy the http status is returned but it is then only used internally within proxy.deployFunction to trigger a further deploy with update set to false.  Nothing is returned from here to indicate an error has occurred and the status is lost - only the deployOutput is printed.

My opinion on the deployment of a stack file would be that it may depend on the nature of the failure.  If the ga

[2018-05-14 20:59] iyovcheva commented on #410
Did some basic testing. Looks ok.

[code]

[code]

[code]

Will proceed tomorrow with some different use-cases to check for regression.

[2018-05-15 04:15] hamish-rose opened #411 "[0.6.8] deploying from docker repository results in server error with 500 status code"
## Expected Behaviour

`faas-cli deploy --image=viveksyngh/openfaas-ocr --name=openfaas-ocr --gateway=http://<GATEWAYIP>`

202/200 status, function is deployed

## Current Behaviour

Deployment fails
`
Unexpected status: 500, message: Deployment.apps "openfaas-ocr" is invalid: spec.template.spec.containers[0].image: Required value`

## Steps to Reproduce (for bugs)
1. Download 0.6.8 windows faas-c

[2018-05-15 05:45] ericstoekl commented on #410
One thing I have noticed is that when attempting to deploy a function with `faas-cli deploy -a` and the `stack.yml` functions section looks like this:

[code]

It will fail to deploy and throw an error:

[code]

Is this expected? Shouldn't it be okay with not authenticating because it's implied that the image is from the local registry?

[2018-05-15 06:35] alexellis commented on #410
So you're saying it should ignore the author string is the image points at the local library. Sounds fair - this was a miss from the original PR.

Who is going to volunteer to pick up the change?

[2018-05-15 10:32] iyovcheva commented on #410
I can work on this

[2018-05-15 12:19] alexellis commented on #410
Strangely I cannot reproduce that error @ericstoekl - I'm on Docker for Mac. @iyovcheva can you reproduce the error from Eric?

[2018-05-15 12:32] alexellis commented on #410
I have pushed https://github.com/openfaas/faas-cli/commit/b7c6f0bf79e871e8e74661c56520d5010df5ac5b to fix the behavior highlighted by Eric.

[2018-05-15 12:46] alexellis commented on #411
Hi @hamish-rose, why are you using 0.6.8 when it's marked as pre-release?

The error you found is interesting though - it looks like your image value is not being honored. Have you tried running this command in a new folder?

Alex

[2018-05-15 12:48] alexellis commented on #411
I've been able to deploy via 0.6.5 and master (which will be 0.6.9)

[code]

I do wonder if you have an unwanted stack.yml or similar in your current directory?

[2018-05-15 12:49] alexellis commented on #410
I've cut a pre-release build of 0.6.9 - please can you switch over to this binary for testing?

https://github.com/openfaas/faas-cli/releases/tag/0.6.9

Alex

[2018-05-15 12:50] iyovcheva commented on #410
I reproduced on Mac OS. [b7c6f0b](https://github.com/openfaas/faas-cli/commit/b7c6f0bf79e871e8e74661c56520d5010df5ac5b) fixes the issue.

Are we good to promote 0.6.9 with this fix?

[2018-05-15 13:53] iyovcheva commented on #410
It failed deploying via CLI

[code]

The same issue was reproduced with some other images:
`--image=hello-python -name=tmp`
` --image=docwareiy/sorter -name=sorter`

Also tries to deploy images different than the image argument, as visible in the output above.
E.g.
`Deploying: nodejs-echo.`
`Deploying: shrink-image.`

Deploying with YAML worked with the same `registryAuth`:

[code]

[2018-05-15 13:56] alexellis commented on #410
You can't deploy manually when you have a stack file in the directory. You need to change out first or delete it.

[2018-05-15 14:03] iyovcheva commented on #410
I ran it from /faas-cli and forgot about the `stack.yml` there. So it tried to deploy the functions listed in it.

[2018-05-15 14:36] iyovcheva commented on #410
There are no more issues from my side. Retested all the examples above and the deployment works well.

[2018-05-15 15:55] alexellis commented on #406
Let's do it.

[2018-05-15 17:43] ilovezfs commented on #406
0.6.9 shipped in Homebrew!

[2018-05-15 17:43] #406 closed

[2018-05-17 08:04] iyovcheva commented on #410
Closing as 0.6.9 is released

[2018-05-17 08:05] iyovcheva commented on #410
Derek close

[2018-05-17 08:05] #410 closed

[2018-05-19 12:18] BurtonR commented on #411
Derek close

[2018-05-19 12:18] #411 closed

[2018-05-19 12:42] BurtonR commented on #262
Looks like this issue got lost in all the other issues/PRs around this feature.
#364 resolves this and has been merged.

[2018-05-19 12:42] BurtonR commented on #262
Derek close

[2018-05-19 12:42] #262 closed

[2018-05-19 13:58] alexellis commented on #406
Thank you @ilovezfs 👍

[2018-05-19 13:59] alexellis commented on #384
Ping @iyovcheva

[2018-05-20 15:37] Vitucho opened #413 "Augment WeekDay with handy funcs to retrieve the immediate next and previous week days."
Perhaps in future editions it would be nice to have a convenient function to get the following (or previous) week day of a given one.

## Current Behaviour
As a client of time.Util library, for a given day if i rqquire to calculate the following one
[code]

## Motivation
the` func (t Time) Weekday() Weekday` does non-linear calculations (i do take a look at the code and see the logic behind and it

[2018-05-20 15:38] Vitucho commented on #413
Sorry, my bad!! this is not the repo that i aimed to post!

[2018-05-20 15:38] #413 closed

[2018-05-20 18:14] alexellis commented on #411
Great to hear it @hamish-rose - if you'd like to join Slack check out https://docs.openfaas.com for the community page.

[2018-05-20 19:31] alexellis commented on #413
No problems! I think we'll have some confused maintainers for a few days haha

[2018-05-24 02:29] psoares opened #415 "faas-cli should be the only thing needed in order to launch openfaas"
The current mode of deployment of OpenFaas is cumbersome. A "simple" user of the framework needs to checkout the code and run a script. By doing so, he also imports demo functions that he's probably not interested in, and the only way of getting rid of them is to remove them from the `docker-compose.yml` file located at the root of the project.

This also makes upgrades difficult. The only thing t

[2018-05-24 05:36] ericstoekl commented on #415
derek add label: proposal

[2018-05-24 05:50] ericstoekl commented on #415
This can make sense for deploying locally, but how would you deploy to a remote cluster like GKE? How would it know that it's kubernetes and not docker swarm? This might be useful if it only deploys on docker swarm locally.

[2018-05-24 08:53] alexellis commented on #415
While I can see where you are wanting to get with this, I don't think it's right for the project.

The responsibility of the faas-cli mirrors that of the Docker CLI (it wraps `docker` for some operations).

I already addressed the point of having sample functions built-in on Slack saying that you should delete them. We have an issue going back to Jan 2018 which outlines that we plan to remove the

[2018-05-24 08:54] alexellis commented on #415
Derek close: non-goal

[2018-05-24 08:54] #415 closed

[2018-05-24 08:54] alexellis commented on #415
If anyone would like to contribute towards creating a separate stack which retains the functions that would be great. The work has been outstanding since January and our Kubernetes flavor already addresses this point.

[2018-05-24 13:43] psoares commented on #415
@ericstoekl Deployment to other platforms could maybe be addressed through an integration of faas-netes with faas-cli ? Meaning faas-cli would be usable for local deployment by default, and with some options for kubernetes?... Anyway, it seems like this is a non goal for the project.

[2018-06-07 12:18] IainColledge opened #417 "Allow for --image to be defined for faas-cli push as it is for build and deploy."
When using faas-cli in a CICD pipeline it is advantageous to override the developer defined image in the associated config.yml file.

For example a workflow may have a developer locally developing with a local image of hello-python but when the last git commit is pushed to the remote repository and subsequent CICD build, push and deploy activities take place they may use a remote docker repository

[2018-06-07 13:49] iyovcheva commented on #417
@IainColledge you can still add the docker registry prefix to the image name in the yaml file and do not push until the latest updates.
Can you please give an example for an use-case when this will not work?

[2018-06-07 15:17] IainColledge commented on #417
Thanks for the reply. Absolutely that is a workaround however what it does is introduce tight coupling between the developer and eventual deployment config.

The developer either has to change the config.yml file every time just before push or has to sync two config.yml files which seems to go against the ethos of functions making deploys simple and minimal effort.

This is also not congruent with

[2018-06-09 06:16] alexellis commented on #417
Let's see what the current options are and whether we can come up with any ideas in this thread

The --image override assumes there is only one file in the stack.yml file. This is not a correct assumption.

Can we go back to the original problem and understand the requirements before discussing one solution or another?

In OpenFaaS Cloud the image name gets a suffix of :TAG-SHA. I would expect tha

[2018-06-09 08:33] rgee0 commented on #417
Has there been a misunderstanding around how `--image` functions?  If `-f filename.yml` is provided for build then the `--image` flag isn't used. Try:
[code]
You will likely see:
[code]

This is the piece of code that handles the parsing of flags / yaml:

https://github.com/openfaas/faas-cli/blob/56c251a3f82532ad73bb809577105a23bc96793b/commands/build.go#L136-L150

If the yaml file has size then d

[2018-06-09 09:49] IainColledge commented on #417
Thanks for your replies everyone and I had assumed that the --image flag overrode the yaml file definition for the first function.

The use case for me is that I want to plug this into a CICD pipeline and separate developer configuration from deployment in a way that still gives the developer all of the advantages of the fast and easy function development pattern. It may mean that there is a const

[2018-06-11 12:57] jacopo1395 opened #418 "How to run Python Numpy on Raspberry?"
I'm trying to run a python script on a rasbperry pi 3. I have to use numpy libraries.
but when I use the `faas-cli build` command I get:
ERROR - Could not execute command: [docker build -t kmeans .]

Without numpy everything is ok.

The documentation says to use `python3-debian` to use numpy in amd64 systems.

Is there something similar for the raspberry?

[2018-06-11 13:27] BurtonR commented on #418
There are several templates available for the RaspberryPi (armhf) platform.
Have a look at the templates repo [here](https://github.com/openfaas/templates)

Specifically, for this case, you're probably looking for `python3-armhf`

[2018-06-11 13:35] iyovcheva commented on #417
@IainColledge AFAIU your use-case is that you need to automate the process of pull function code/build/push/deploy for automated testing, you can configure the Docker namespace in the testing tool, but the developer should not know or does not need to know the namespace.

If you're using a script for triggering tests, you can do the same with
[code]

Automating that within faas-cli can be reasonab

[2018-06-11 14:13] iyovcheva commented on #417
@IainColledge Yes, it finally runs `docker push`  - [push.go](https://github.com/openfaas/faas-cli/blob/master/commands/push.go#L72).
The benefit of `faas-cli push` is that it allows you to push the whole stack of functions and makes use of the function's yaml configuration.

[2018-06-11 14:22] IainColledge commented on #417
@iyovcheva So my trade off is I would have to export the functions one by one using multiple docker push's, if that's correct then am perfectly happy with that.

Overriding the prefix in future as an option would be fantastic but this at least lets me get going with building the CICD machinery.

Thanks very much, you're a star!!!

[2018-06-11 14:33] iyovcheva commented on #417
@IainColledge I'm happy this helps.
If this works for you, then I will close the issue.

If the community agrees on adding the `--prefix` flag, then we'll add a `help wanted` label and you (or someone else) are welcome to contribute.

[2018-06-11 14:33] iyovcheva commented on #417
Derek close

[2018-06-11 16:32] alexellis commented on #417
I don't think we should close this issue.

If we're going to do that then let's open a new one so we can resolve the problem of running the CLI in a CI/CD environment.

[2018-06-11 16:37] alexellis commented on #418
It should work for RPi with just one modification to download the armhf version of the watchdog. Can you manage that on your own or do you need more help?

[2018-06-11 16:37] alexellis commented on #418
@rgee0 could you maybe try porting this template to armhf?

[2018-06-11 16:41] IainColledge commented on #417
I'm not a Go dev, but put me down for testing it out in a CICD environment as illustrated above.

[2018-06-11 16:43] alexellis commented on #418
In the meantime I'll let you know we have a better user experience coming up for using native modules like numpy

[2018-06-11 16:54] jacopo1395 commented on #418
@BurtonR I tried to use python3-armhf  but I get an error when installing numpy after the command faas-cli build.

@alexellis Can you help?

Thank you.

[2018-06-11 17:12] rgee0 commented on #418
@jacopo1395 can you push your code up to GH and link me to it, please?

[2018-06-11 17:35] jacopo1395 commented on #418
@rgee0
This is my simple code [https://github.com/jacopo1395/faas](url)

This is the final part of the output of build command:

File "numpy/core/setup.py", line 675, in get_mathlib_info
    RuntimeError: Broken toolchain: cannot link a simple C program
    /bin/sh: gcc: not found
    /bin/sh: gcc: not found

You are using pip version 8.1.2, however version 10.0.1 is available.
You should consider

[2018-06-11 21:23] alexellis commented on #418
As well as updating the watchdog that is downloaded in the Dockerfile also add gcc via apt-get. The Dockerfile is in the template folder

[2018-06-11 21:25] alexellis commented on #417
Can you give us the clear requirements?

You want the same image tag as the yaml but with a different repository? Because each environment has its own registry?

[2018-06-11 21:35] IainColledge commented on #417
For me in this case it is having a different registry for devs and the pipeline, if as it seems I can tag with a version then I can have multiple versions living in the same image repository.

Devs can use whatever they want including local, and the pipeline just changes and/or adds a prefix to one or more defined functions in the config file.

However a prefix command line arg covers all cases.

[2018-06-12 06:15] rgee0 commented on #418
I'm still looking at this.  I've moved it forward - setup.py now runs - but I've hit the next error which seems to be concerned with how pip handles dependencies.  I'm trying a slightly different approach but since we're working on a Pi the builds are taking some time.

[2018-06-12 06:35] rgee0 commented on #418
Derek add label: question

[2018-06-12 08:10] iyovcheva commented on #417
Derek reopen

[2018-06-14 05:43] rgee0 commented on #418
@jacopo1395 I've built the image - the build took ~ 7 hours on a Pi3.

I used a mixture of upcoming template changes and addition of further packages to enable SciPy to compile.  I've pushed the resulting image up to 'rgee0/kmeans' . I haven't been able to test it as I don't know how its to be used.

I'll share the changes once when I've a little more time, though it might be a 3rd party version p

[2018-06-14 10:16] iyovcheva commented on #384
Derek close

[2018-06-14 10:16] #384 closed

[2018-06-14 14:30] jacopo1395 commented on #418
Thank you very much for the support!

[2018-06-16 23:47] alexellis commented on #393
Resolved.

[2018-06-16 23:47] alexellis commented on #393
Derek lock

[2018-06-16 23:47] alexellis commented on #410
Thank you @iyovcheva

[2018-06-16 23:47] alexellis commented on #410
Derek lock

[2018-06-16 23:48] alexellis commented on #417
Let's review at next contributor call. @IainColledge please can you also join Slack? https://docs.openfaas.com/community

[2018-06-16 23:49] alexellis commented on #408
@cnashRR please see https://docs.openfaas.com for all guides/docs and thanks for using OpenFaaS.

[2018-06-16 23:49] alexellis commented on #408
Derek lock

[2018-06-16 23:49] alexellis commented on #391
Derek lock

[2018-06-16 23:57] IainColledge commented on #417
Yup, will do, thanks for the invite.

[2018-06-18 20:53] napperley opened #420 "CLI Fails To Expand Template"
Every time the CLI tool is used to pull a template from a Git repository it fails to expand the downloaded template.

## Expected Behaviour

The CLI tool should skip the **expand** phase if no archive file was downloaded (eg **.tar.gz**).

## Current Behaviour

A error message appears mentioning that the CLI tool can't find templates after expanding the downloaded template.

[code]

## Steps to Re

[2018-06-19 06:38] rgee0 commented on #420
Derek set title: How should 3rd party templates be set out for use with the CLI?

[2018-06-19 06:38] rgee0 commented on #420
Derek add label: question

[2018-06-19 09:54] alexellis commented on #420
Nick, I think if you follow the correct pattern for the git repo that should resolve the error you're seeing. See the note from Richard for more info.

Alex

[2018-06-19 21:05] napperley commented on #420
Is it *OK* to have the repo restructured to include future Kotlin platforms? Eg:

template/
├── kotlin-js
├── kotlin-jvm
└── kotlin-native

Restructuring the repo will require the repo name to be changed from **openfaas-kotlin-native-template** to **openfaas-kotlin-template**.

[2018-06-20 06:42] rgee0 commented on #420
I think its OK to _plan_ for inclusion of future platforms as you suggest.  We should only include platforms that are fully available as the CLI indicates to the user which templates are available

[2018-06-22 13:37] marclar opened #421 "Trouble using "Deployment guide for Docker Swarm""
I'm following https://docs.openfaas.com/deployment/docker-swarm/ but I get errors when running `faas deploy`.

So far I've done:

- `docker swarm init`

- `docker swarm join --token ***`

there, I get:

considering manager nodes are worker nodes, I figured I could skip past this step.

- `./deploy_stack.sh`

[code]

- `docker service ls`

| ID | NAME | MODE | REPLICAS | IMAGE | PORTS |
| --- | ---

[2018-06-22 20:13] rgee0 commented on #421
Deploy failing is likely linked to what we see in the output of `docker service ls`.  In order to deploy the OpenFaaS containers need to be showing at least 1 replica.

Did you leave sufficient time for the stack images to be pulled down?
Did you try removing the stack and redeploying?

[code]

Could you try restarting docker?

[2018-06-22 21:33] alexellis commented on #421
Hi there please let us know how you get on. I can Richard is working with you on this.

The join command is meant to be run on another computer not on your master node. When you have a single node like your Mac then the join isn't needed.

If the services stay at 0/1 you may need to restart docker.

[2018-06-24 12:15] alexellis opened #422 "Create hashes for binary distribution"
## Expected Behaviour

We should ship a hash of each binary as a release artifact.

This can be used for verification during the installation script for Linux.

## Current Behaviour

Manual

## Possible Solution

Generate hashes during CI build and let Travis capture them as release artifacts via .travis.yml

A Linux utility could be used to generate a hash and they could be piped into a file.

[2018-06-29 06:31] rgee0 commented on #421
@marclar how did you progress on this?  For info, the documentation has also been updated in order to make the required order of events during deployment via swarm clearer.

[2018-06-29 11:36] marclar commented on #421
Hey - sorry for the delay; gonna try this out now

[2018-06-29 11:44] marclar commented on #421
Everything works now - I'm guessing restarting Docker did it?

Anyway, thanks for the help :)

[2018-06-29 12:21] rgee0 commented on #421
Highly likely, it’s my initial action whenever docker images don’t fire up.
Great to read you’re up and running. Do let us know if you need help as you continue to use OpenFaaS.

I’ll close this as resolved.

[2018-06-29 12:21] rgee0 commented on #421
Derek close: resolved

[2018-06-29 12:21] #421 closed

[2018-06-29 13:02] marclar commented on #421
Oh - one more thing - I just noticed that the link to "install the OpenFaaS CLI" is broken here (section 2.2): https://docs.openfaas.com/deployment/docker-swarm/

[2018-06-29 13:09] rgee0 commented on #421
Thanks. I’ll take a look

[2018-06-29 13:17] Gallouche opened #423 "No files created in the function directory when created with Python-armhf language."
The `faas new` function provided by the CLI doesn't seems to work with the Python-armhf.
## Expected Behaviour

When you run `faas new test --lang Python-armhf` in the same directory as the `template` directory, it should produce something like :
├── test
│   ├── handler.js
│   └── package.json
├── test.yml
└── template

## Current Behaviour
There is nothing in the `test` directory, it's look like

[2018-06-29 13:19] alexellis commented on #421
Yes it's broken let's fix in a new PR. No issue needed

[2018-06-29 14:24] alexellis commented on #423
Hi, thanks for using OpenFaaS.

It's case-sensitive, so you should enter it the same as it is listed. python-armhf or python3-armhf

Alez

[2018-06-29 14:30] Gallouche commented on #423
Oh ! Sorry so ! Thanks a lot ! :+1:

[2018-06-29 14:40] rgee0 commented on #421
ref: https://github.com/openfaas/docs/pull/40

[2018-06-29 14:41] #423 closed

[2018-06-29 16:01] rgee0 commented on #422
Are we thinking something along the lines of this?
[code]

[2018-06-29 16:30] alexellis commented on #422
Yes, perfect

[2018-07-02 11:03] alexellis opened #426 "Feature: Generate Kubernetes CRD YAML files via cli"
The new definition for the Kubernetes CRD used in OpenFaaS Operator is different from the current stack file YAML definition.

I think the faas-cli should be used to generate/build/test functions in the stack.yml format and then if deployment is needed via `kubectl` then we should add a command to generate OpenFaaS Operator YAML.

## Example conversion

stack.yml

[code]

The Kubernetes YAML omits

[2018-07-02 20:46] alexellis opened #427 "Enhancement: version command should give the server version"
Enhancement: the faas-cli version command should give the server version info via `/system/info` URL which already exists in the gateway.

Current data from `/system/info`

[code]

Data format will change slightly via PR mentioned below to also give gateway version. **Please read carefully**

Current version:

[code]

Expected result when version endpoint available:

[code]

Expected result when v

[2018-07-02 20:47] alexellis commented on #427
We have a /system/info endpoint which can be used to start the work, the PR by Ed will extend/alter the payload response from the gateway.

https://github.com/openfaas/faas/pull/737

[2018-07-02 20:48] alexellis commented on #427
Calling @openfaas/cli - would be great to get a volunteer for this one, should be an easy one.

[2018-07-05 19:17] jjainschigg opened #429 "PyMySQL will not build with python3 template"
I've been using the PyMySQL python3 connector without issues for several months, building functions atop Kubernetes. Today I deployed a fresh Kubernetes cluster and OpenFaaS, without issues, used OpenFaaS to build and deploy several small Python3 functions, without issues. I then tried to build a known-good Python3 function with PyMySQL as the connector, and received a build error around the crypt

[2018-07-06 04:34] ericstoekl commented on #429
Hi @jjainschigg , thank you for your question and welcome to the community.

I was able to build the function with the `requirements.txt` file you described by running the following command:

[code]

This makes use of the new `build_option` feature from [Release 0.6.11](https://github.com/openfaas/faas-cli/releases/tag/0.6.11)

Please let us know if you have any other questions.

[2018-07-06 04:34] ericstoekl commented on #429
Derek close

[2018-07-06 04:34] #429 closed

[2018-07-06 04:51] jjainschigg commented on #429
Worked for me in vivo, too. Thanks a lot, Eric! Alex and others recommended this, but I was befuddled at how to use it.

[2018-07-06 07:35] alexellis commented on #429
Hi folks,

First of all thanks to Eric @ericstoekl for helping.

I just want to make sure we get to the best solution for you. I would not recommend passing `ADDITIONAL_PACKAGES` - consider this a private API.

@ivanayov and @rgee0 have been working on a solution for the problem when a pip module needs a native compilation toolchain as in the example above. The mechanism we've added is for consump

[2018-07-06 13:54] ivanayov commented on #427
For setting `Orchestration` I'm thinking of:
1. If `! -z $OPENFAAS_URL` check `$OPENFAAS_URL/system/info` for `faas-netes` or `faas-swarm`
2. Check `http://127.0.0.1:8080/system/info`

If both swarm and netes are available, print both.
Print versions.

[code]

Not sure how we can find out easily if OpenFaaS is running on Kubernetes and `OPENFAAS_URL` is not set.

What about `faas-cli version --end

[2018-07-06 14:12] rgee0 commented on #427
If OPENFAAS_URL isnt set we tend to use the defaultgw value.  The orchestrator is available from the /system/info endpoint, isn't it?

I think the server output should also output the gateway address that has been interrogated.

[2018-07-06 14:17] alexellis commented on #427
@rgee0 you're right it exists.

@ivanayov the endpoint already exists with basic information and will gain additional data in the PR referenced. The task is to parse the JSON and format it as plaintext for the user.

What do you think?

Alex

[2018-07-06 18:52] alexellis commented on #427
PR is merged - Ed volunteered to pick up the change.

[2018-07-06 19:58] jjainschigg commented on #429
Thanks, Alex -- this is very helpful.

Confirmed that I can compile functions that use PyMySQL (my original issue) using the build_options -- specifically, by adding options:

- dev
- mysql

[2018-07-06 20:45] ewilde commented on #427
@alexellis yes i think now that the PR is merged, I can go ahead with the spec as you outlined at the top of this issue

[2018-07-06 21:09] rgee0 commented on #427
@ewilde please include the gateway address as well as the ouput alex has specified. I think it will help offset questions where people are ‘defaulting’ rather than ‘remoting’ and so seeing results they may not be expecting.

[2018-07-07 10:59] ewilde commented on #427
@alexellis @rgee0

Made a start with the version command change:

[code]

Thoughts?

[2018-07-09 07:32] stefanprodan opened #432 "Feature: Generate unique image tag on build"
Faas-cli `build` should produce unique image tags as in `gitbranch-gitsha` besides the `latest` one.
Faas-cli `push` should push the unique tag along with `latest`.

## Expected Behaviour

The faas-cli CI pipeline should:
- detect Git
- get the current branch name and commit SHA
- tag the function image with `gitbranch-gitsha`
- build, push and deploy the  `function:gitbranch-gitsha` image

## Cur

[2018-07-09 07:40] stefanprodan commented on #432
Derek add label: proposal

[2018-07-09 11:39] alexellis commented on #426
Two primary ideas for implementation:

1) reference ClientSet, create struct, populate from stack.yml and write to YAML

The ClientSet will be a huge dependency and only useful for Kubernetes, it may bloat the repo and binary a lot. On the flip side it will also mean versioning is easier.

2) Maintain separate struct and marshal into that before writing it to YAML file

Creating a parallel struct

[2018-07-09 15:02] alexellis commented on #432
We do something like this with OpenFaaS cloud, this is what we have done in OpenFaaS cloud:

Example from OpenFaaS Cloud via the functions for @kenfdev:

[code]

[2018-07-09 15:20] affix commented on #426
I could take a stab at this at some point this week @alexellis

I suggest calling it create-crd instead of generate, generate could be misleading

[2018-07-09 16:48] alexellis commented on #426
Create could also be misleading as that's a kubectl verb.

Thoughts on my two suggestions for approaching implementation?

[2018-07-09 16:50] affix commented on #426
I’d prefer option 2. It’s a lot cleaner by having a separate strict for the crd.

Maybe add an option to save it instead of dump to stdout

[2018-07-11 19:10] james-r-smith commented on #280
+1 on this bug. I was running through the Docker Swarm tutorial. I used `faas deploy` for the sample functions, then I deployed an additional function, let's call it `foo`. When trying to remove `foo` while in the `/faas` directory using the command `faas remove foo`, it removed the sample functions instead and left `foo`.

[2018-07-12 12:06] Gallouche opened #433 "RPi: Kubernetes error function stuck in ImageInspectError state"
Hi, I trying to deploy a home made function, but every time I, the pod that run that function goes in ImageInspectError state...
When I deploy a test function like `figlet`, everything work, but when it come to something I write myself, it fails.
I think I'm maybe missing something in the functioning because I'm pretty new to K8s and Openfaas.

I'm running OpenFaas with Kubernetes on a 2 nodes Ras

[2018-07-13 08:10] ivanayov commented on #433
Derek add label: support

[2018-07-13 08:21] ivanayov commented on #433
Hi @Gallouche,

Is this a copy-paster error or there is an indentation problem in the function code?

[code]

[2018-07-13 08:21] ivanayov commented on #433
Derek add label: support

[2018-07-13 08:22] Gallouche commented on #433
Hi ! @ivanayov
It's a copy paste error ! Sorry !

[2018-07-13 08:24] Gallouche commented on #433
@ivanayov I corrected it !

[2018-07-13 09:06] alexellis commented on #433
<img width="1211" alt="screen shot 2018-07-13 at 10 05 42 am" src="https://user-images.githubusercontent.com/6358735/42683129-57326cb0-8684-11e8-96fe-e13380ff7075.png">

Hi, I was able to run your function with `docker run` and it worked fine.

I would suggest this is a Kubernetes on ARM issue, not an OpenFaaS issue. Could you raise it with the Kubernetes team?

Can you also give:

[code]

Alex

[2018-07-13 09:12] Gallouche commented on #433
Hi @alexellis ! Yes I did the same with GKE and it works fine too...
Ok will check with them !

My kubernetes version :
[code]
Did you still have a working Raspi cluster with K8s and OpenFaas working actually ?

Thanks a lot !

[2018-07-13 09:57] alexellis commented on #432
I think the tag should be the SHA only (similar to [Skaffold](https://github.com/GoogleContainerTools/skaffold))

[2018-07-13 12:45] Gallouche commented on #433
I've post my question on [Stackoverflow](https://stackoverflow.com/questions/51325211/getting-imageinspecterror-when-trying-to-run-an-openfaas-function-on-raspberry-p), I will keep you update. Thanks !

[2018-07-13 13:06] ivanayov commented on #433
@Gallouche Yes, it was tested 3 weeks ago with K8s 1.10.2 on RPi 3 B+ and python3-armhf functions for a demo.

In your case there can be some incompatibility with the image, but it's hard to guess.
I think Kubernetes community could give more guidance.

We'd appreciate if you write back to confirm what's the actual issue.

Ivana

[2018-07-13 13:22] Gallouche commented on #433
@ivanayov and which docker version ? Cause someone answer me on Stack and told that he saw this error once with a docker/kubernetes versions problem...

Yes for sure  !

But @ivanayov @alexellis I just noticed that in the pod's description, that say :
[code]

Shouldn't be python3-armhf ?

Thanks.

[2018-07-14 08:07] alexellis commented on #108
Bump on this. If we can do this in a GDPR-friendly fashion then I think we should and it will help greatly with understanding usage of the flags/templates etc.

[2018-07-16 06:40] ewilde opened #436 "Support annotations in function schema"
Co-ordinating issue see: https://github.com/openfaas/faas/issues/682

## Expected Behaviour
CLI should support the new `annotations` attribute

## Current Behaviour
n/a

## Possible Solution
[code]

## Context

[2018-07-16 06:41] ewilde commented on #436
@alexellis additional labels can be supplied as an argument to the `deploy` command. Is this in scope for the annotations attribute?

[2018-07-16 11:21] alexellis opened #437 "Feature: Language-specific welcome messages for "faas-cli new""
When generating a template with a given language we should be able to supply a message to give the user hints on how to use it.

* With Go for instance we could mention installing and using `dep` for vendoring

* For Java (coming very soon) we would explain the Gradle version installed and optionally link to a docs page on it containing examples.

* For Node we'd state that `npm i --save` can be u

[2018-07-16 11:22] alexellis commented on #437
I'd like someone to volunteer to start work on this feature as soon as possible so it can go out with the Java template, or shortly there-after.

Alex

cc @viveksyngh @dungeonmaster18 @ericstoekl @rgee0 @burtonr

[2018-07-16 11:46] viveksyngh commented on #437
I can work on this one.

[2018-07-16 12:00] alexellis commented on #437
Derek assign: viveksyngh

[2018-07-16 12:00] alexellis commented on #437
Thank you. How long do you think it will take?

[2018-07-16 13:22] viveksyngh commented on #437
I will try to have CLI changes ready by tomorrow morning IST. We will have to also add the welcome message for each template.

[2018-07-16 15:37] viveksyngh commented on #437
@alexellis The welcome message format will be a single string separated by newlines in `template.yml` ?

[2018-07-16 16:17] rgee0 commented on #437
It might be easier for formatting to use a block in `template.yml` where multiline content is desired

[2018-07-16 16:53] alexellis commented on #426
Hi @affix we're one week on so I wanted to check on progress. What's your ETA for completion with option 2?

Thanks,

Alex

[2018-07-16 16:54] alexellis commented on #436
Let's go for YAML only for the first cut and add flag support after

[2018-07-16 20:02] alexellis commented on #436
@ewilde does Kubernetes have restrictions on what is valid in an annotation key?

[2018-07-16 20:08] alexellis opened #441 "Upgrade to license-check 0.2.2 as per faas repo"
## Expected Behaviour

`OpenFaaS Author(s)` should now be recognized as a valid license header, but is not.

## Current Behaviour

## Possible Solution

Update to latest version of license-check - https://github.com/alexellis/license-check/releases

Check openfaas/faas openfaas/faas-netes for usage guidelines (in the Dockerfile)

This is blocking PR #439

Skill level: easy - copy/paste from openfa

[2018-07-16 20:09] alexellis commented on #437
A block of text, multi-line within the YAML file. @viveksyngh

[2018-07-16 20:13] burtonr commented on #441
I'm on it!

[2018-07-16 20:41] #441 closed

[2018-07-17 13:00] rimiti opened #443 "Return real exit code"
Hello,

In first, thank you everybody for this amazing project.

### Issue:

When I try to deploy a function and there is an error, the exit is always returning a 0 exit code:

**Command**

[code]

**Exit status**
[code]

It could be useful to return 1 when deploy hasn't be succeeded. :)

Have a nice coding day.
Regards,

[2018-07-17 13:10] alexellis commented on #443
I agree that this would be useful. I thought we had addressed the issue (it should be shown in past issues)

[2018-07-17 13:22] mrtind commented on #443
I can work on this one!

[2018-07-17 14:13] #437 closed

[2018-07-17 15:21] #427 closed

[2018-07-17 15:42] alexellis commented on #443
Thanks @mrtind - what's your ETA for this change?

[2018-07-17 16:29] maiermic opened #444 "Self-signed cert: x509: certificate signed by unknown authority"
I'm running a OpenFaas gateway at https://faas.mysite.com and a Docker registry at https://docker-registry.mysite.com. I can build my function, push it, login to the registry and the gateway:

[code]

**OpenFaas.yml**

[code]

However, if I try to deploy I get a certificate error:

[code]

I got a similar error for the Docker registry before I added the certificate `~/.docker/certs.d/docker-regist

[2018-07-18 07:04] alexellis commented on #443
Derek add label: duplicate

[2018-07-18 07:38] mrtind commented on #443
Probably two days. I am not sure yet how faas-cli works and i need some time to check that out and in which places I should return 1.I looked into the code and saw that we return err but no os.Exit(1) in most of the places in commands/deploy.go

[2018-07-18 07:47] alexellis commented on #443
If you return an error in the command it should be sufficient as long as it bubbles up. There's some discussion on the linked issue.

[2018-07-18 07:48] alexellis commented on #443
@rgee0 bump

[2018-07-18 07:55] ivanayov commented on #432
Working on this

[2018-07-18 10:12] mrtind commented on #443
@alexellis I was wondering on which status codes you want to exit 1 ? I made it to return 1 for codes 4XX and 5XX as stated by @kenfdev in the other issue?

[2018-07-18 14:30] viveksyngh opened #446 "Add a new command to display a function information"
Add a new command in CLI which will show information related to a function (same as what we display in Gateway UI for a function)

## Expected Behaviour

Have a new command with the name `describe`/`get`/`inspect` which can be invoked as

[code]

which will display function information like `Status`, `Replicas`, `Invocations`, `Image`, `URL`

## Current Behaviour

NA

## Possible Solution

Invoke

[2018-07-18 14:44] alexellis commented on #444
Hi,

It looks like you have a self-signed certificate in use where your certificate authority is not trusted by the server or the client.

Alex

[2018-07-18 15:01] ivanayov commented on #432
I think that we don't need the branch as the SHA is unique and it's enough to identify the version.

If one really needs the branch name, can easily find it with ` git branch --contains <sha>`.
For a version as shorter as possible is always better IMO.

[2018-07-18 15:13] burtonr commented on #446
How would the output look?

Would it be a table, similar to the `faas-cli list` command?

Or, should we go with a `json` object return?
This may be more expected if using the `describe` command (as is the result with Swarm and K8s using that same command).

[2018-07-18 15:13] burtonr commented on #446
Derek add label: proposal

[2018-07-18 15:15] maiermic commented on #444
Hi Alex,
it is not a self-signed certificate. It is a wildcard certificate `*.mysite.com` that is used for `faas.mysite.com` and `docker-registry.mysite.com`.

Michael

[2018-07-18 17:19] maiermic commented on #444
Which CA database is faas-cli using?

[2018-07-18 18:20] alexellis commented on #443
Non 2xx I would say. @rgee0?

Alex

[2018-07-18 19:53] viveksyngh commented on #446
I think with table structure we will have the challenge in putting everything into one line in the terminal as `URL` length can be varied.

We can display in `json` structure like `describe` or `inspect`.

cc @alexellis

[2018-07-18 20:12] rgee0 commented on #443
Review request acknowledged. Short on time / tech today.

If we’re being strict then >= 400 usually makes sense. However, I can’t think of a situation where we would expect, and handle, a 3xx in the CLI.

[2018-07-18 21:35] rgee0 commented on #446
What the user knows:
the gateway address in order to deploy, which can bee obtained from `—version`
the function name, which can also be found in the existing list command.

The url of a function is http://$OPENFAAS_URL/function/<function-name>. With a variation for async.

What is the problem we are trying to address here? Ultimately understanding that will drive the solution.

[2018-07-18 22:34] alexellis commented on #446
I think this would act like the store and print in ASCII. Take a look at the store subcommand, there's something available like "info".

A table doesn't make sense because an argument would be necessary so we're only showing one item. Not sure what the idea about JSON was, but this is already available via the API.

[2018-07-18 22:35] alexellis commented on #446
I think Vivek's original intent was to get a URL for a specific function and some other data that we hold. Kind of like an info/inspect/get function in Docker or kubectl. Is that about right?

[2018-07-19 09:10] viveksyngh commented on #446
@alexellis Yes, Idea was to display the function URL and other information related to a function in CLI as we are displaying Gateway UI.

When I was getting familiar with OpenFaaS, many times I forgot what is the URL to use to invoke the function using curl or any other client. I think having this information available in CLI for a particular function will help a new OpenFaaS user.

[2018-07-19 13:51] alexellis commented on #432
## Task acceptance

This task is only complete when it works for the following:

- build
- push
- deploy

Without all of the above there is no point in merging a PR.

We also have a tricky case where someone may build/push then add another commit. They will then type in "deploy" expecting it to deploy the previous SHA but it won't. It will deploy the current SHA that will not exist.

Alex

[2018-07-19 14:58] alexellis opened #448 "Include "git" in the apk packages for our faas-cli Docker image"
## Expected Behaviour

Expected this to work:

[code]

## Current Behaviour

Fails due to git missing.

## Possible Solution

Add "git" package to the Dockerfile we use to cut a release at the end of the multi-stage build.

[2018-07-19 15:20] alexellis commented on #444
It should use the one in your local system.

Can you link to the actual site so we can verify the cert?

Alex

[2018-07-19 15:22] alexellis commented on #426
@affix is on a long vacation now.

I would consider this work as available for someone to work on. It's important to get in soon.

[2018-07-19 15:22] alexellis commented on #426
Derek add label: priority/high

[2018-07-19 15:30] ivanayov commented on #432
@alexellis For the use case you've mentioned - only `faas build` is taking into account the latest SHA.

`faas push` works as required (pushing both versions) without any code changes as all the tagged images of the same function have the same image id.

If there is a new commit, there won't be an image associated with it, so deploy takes the latest built.

May be I don't understand well the use c

[2018-07-19 15:57] alexellis commented on #432
The use-case is that build/push and deploy all use the SHA. cc @stefanprodan

Alex

[2018-07-19 17:01] alexellis commented on #432
This is the developer workflow and use-case as I understand it from Stefan who has only just got back from vacation, so may not have time to reply straight away.

* Make change to code 1
* Commit to git
* faas-cli build --tag  (hello-world:0.2-bbe56fab)
* faas-cli push --tag  (hello-world:0.2-bbe56fab)
* faas-cli deploy --tag  (hello-world:0.2-bbe56fab)

Test function

* Make change to code 2
* Co

[2018-07-19 17:08] stefanprodan commented on #432
Yes that's the workflow I had in mind. A more advanced use case will also require the git branch name, so you can do multi-env promotion with a CD tool.

[2018-07-19 17:20] stefanprodan commented on #432
@ivanayov I hope the above example is ok. The `--tag` without a value will add only the `-sha` while `--tag=branch` will result in `branch-sha`

[2018-07-19 17:38] alexellis opened #451 "Ugly error when deploying CLI before OpenFaaS"
## Expected Behaviour

A nice welcoming message

## Current Behaviour

[code]

## Possible Solution

Add a flag to `faas-cli version` which does not contact the server, then make the get.sh script use this.

## Steps to Reproduce (for bugs)

1. Stop Docker
2. Install the CLI or run `faas-cli version`

cc @ewilde and @rgee0 who contribute to either part mentioned above.

[2018-07-19 18:19] ewilde commented on #451
@alexellis other possible solutions might be:

1. Eat the error
or
2. Only log the error when a `debug` environment variable is set

[2018-07-19 20:31] rgee0 commented on #451
Shouldn't the gateway going away just be handled by `version`?  I'm not clear on the need for a flag?

[2018-07-19 22:25] johnmccabe opened #452 "Registry auth with `-send-registry-auth` fails for nested images in custom registry (Gitlab)"
## Expected Behaviour

It should be possible to use a private registry by setting the `-send-registry-auth` flag to extract an auth header from the docker credentials manager.

## Current Behaviour

This currently fails on Gitlab when using an image thats nested under the parent repo.

For example this works:

    registry.gitlab.com/johnmccabe/myfunctions

But this fails to find any credentials:

[2018-07-19 22:29] johnmccabe commented on #452
@tarunmangukiya this *should* fix the issue for you on Gitlab, can you run this build of the cli on your Windows env and let us know please.

[2018-07-19 22:30] johnmccabe commented on #452
@alexellis ^ do you have a K8s setup with a private registry to hand that you could sanity check this on.

[2018-07-20 07:00] rgee0 commented on #451
I'd also suggest that the Lab 1 needs its order changing.  Deploying OpenFaaS isn't dependent upon the CLI being in situ.  I've raised https://github.com/openfaas/workshop/pull/58 to address.

That resolves the tutorial issue, but my original question about the gateway going away holds. Examples:

What about when a user mistypes the gateway IP?

[code]

And what about when the user then mis-types

[2018-07-20 07:48] ivanayov commented on #432
@stefanprodan Do we really need the branch? I mean that the SHA is unique and can determine the branch it belongs to.

[2018-07-20 07:51] alexellis commented on #432
This is the feature being asked for and it's easy to do. Stefan suggests default of the SHA and with s flag you get his variant with branch-SHA.

[2018-07-20 09:59] alexellis commented on #426
@viveksyngh did you want to take this on?

Alex

[2018-07-20 09:59] alexellis commented on #426
cc @stefanprodan

[2018-07-20 09:59] viveksyngh commented on #426
Yes I will work on this one.

[2018-07-20 13:03] tarunmangukiya commented on #452
Thanks for opening an issue!

[2018-07-20 13:06] ivanayov commented on #432
@stefanprodan I'm going to address the `--tag=branch` in a separate PR.

Does a new flag `--tag-branch` look fine to you?

[2018-07-20 13:20] tarunmangukiya opened #455 "Question: Using multiple environments"
Generally, we're deploying our functions to multiple environments, i.e. testing, staging, production, etc.
We use, different key, secrets i.e. AWS_KEY, AWS_SECRET, AWS_BUCKETS, and many more in our functions. It makes redundant to change them every time before I use `faas-deploy`.

## Current Behaviour
Every-time before I deploy to production/staging, I need to
- Change  `environment_file`
- Manua

[2018-07-20 13:39] #451 closed

[2018-07-20 13:48] alexellis commented on #455
Hi Tarun, if you have private data such as keys there is a feature for this called "secrets".

Providing each gateway URL is a separate environment, you can create your secrets in each environment and then just change the gateway URL without editing any YAML files.

i.e.

In staging and prod:

* Create secret `aws-s3-key` (use the respective values)
* Create function and add `- aws-s3-key` to `sec

[2018-07-20 17:22] ivanayov commented on #432
For test purposes this is going to the `tagging` branch first by suggestion from @alexellis. See [#456](https://github.com/openfaas/faas-cli/pull/456)

[2018-07-21 21:00] alexellis commented on #452
Derek close: resolved & released

[2018-07-21 21:00] #452 closed

[2018-07-21 21:00] alexellis commented on #448
Derek close: released & resolved

[2018-07-21 21:00] #448 closed

[2018-07-21 21:03] alexellis commented on #443
Derek close: merged. @rimiti please give this a test now by building from master.

[2018-07-21 21:03] #443 closed

[2018-07-21 21:03] alexellis commented on #401
Derek close: merged. @rosskevin please give this a test now by building from master.

[2018-07-21 21:03] #401 closed

[2018-07-21 21:03] alexellis commented on #401
Derek set milestone: 0.6.16

[2018-07-21 21:04] alexellis commented on #443
Derek set milestone: 0.6.16

[2018-07-23 08:57] maiermic commented on #444
Sorry that it took that long. The actual site is https://faas.virality.de/

By the way, `curl` is working. I did a request using OpenFaaS Portal and used "copy as cURL" in Chrome Dev Tools to get the command.

The x509 error appears also on `invoke` (not only on `deploy`).

[2018-07-23 09:41] alexellis commented on #432
I've had to spend around half a day working on the code in #465, but it is now working as expected for adding the SHA and the default mode of using the tag from the YAML file (this was never meant to use a git tag).

I'll raise a separate issue for @stefanprodan to work on to add the branch-formatting mode.

[2018-07-23 09:41] #432 closed

[2018-07-23 09:45] alexellis opened #463 "Feature: offer --tag option which includes branch name"
## Expected Behaviour

@stefanprodan has asked for extension to the new `--tag` flag which includes branch name as part of the Docker tag.

Given this stack.yml, branch: staging and SHA ef5b6

[code]

Produce this image name: `image-name:0.2-ef5b6-staging`

## Current Behaviour

Tag used from file, or if `--tag=sha` is given the short-SHA is appended to the tag.

Given this stack.yml and no option

[2018-07-23 09:46] alexellis commented on #463
@stefanprodan if you'd like to add this feature it should be very easy now given the pre-work and tests done this morning.

[2018-07-23 09:48] stefanprodan commented on #463
Yes but the branch name should be a prefix not suffix, instead of `image-name:0.2-ef5b6-staging` should be `image-name:0.2-staging-ef5b6`

[2018-07-23 09:49] alexellis commented on #463
(I'm curious, why is that?)

[2018-07-23 10:08] stefanprodan commented on #463
So you can define deployment policies like:
*  `glob:0.2-staging-*`  --> staging namespace
* `glob:0.2-master-*`  --> prod namespace

The CD flow I'm referring to is documented [here](https://github.com/stefanprodan/gitops-helm)

[2018-07-23 10:15] alexellis commented on #444
I have a suspicion that your HTTPS certificate is not set up correctly.

When I try to access a non-existing sub-domain it gives a bad HTTP certificate error, try this for example:

https://test.virality.de/

[code]

[2018-07-23 10:17] alexellis commented on #444
There's an error in the logs showing the issue:

I've just merged a feature into faas-cli which you should not use (fix the underlying issue instead), but will remove the error. It's called `--no-tls-verify`. To use the changes in master, do a git clone and run ./build.sh in the faas-cli repo.

Alex

[2018-07-23 10:18] alexellis commented on #463
What about a policy of: `glob:0.2-*-staging`?

[2018-07-23 10:19] stefanprodan commented on #463
ThiswWill break if instead of the sha you'll be using sem ver since sem ver can have `-`

[2018-07-23 10:57] maiermic commented on #444
Not all domains are handled by the same server. `test.virality.de` is resolved as IP `85.214.237.187` and `faas.virality.de` is resolved as `188.172.243.59` by the DNS server. It shouldn't matter that the server of `85.214.237.187` is using a self signed certificate, should it?

[2018-07-23 11:07] alexellis commented on #444
There appears to be something wrong with the certificate configuration or redirection. I can't reproduce the issue with a single HTTPS cert or wildcard card from LetsEncrypt with Nginx.

Have you tried looking at issues in the Traefik repos? Not sure how to help you more at this point. Maybe someone else has a suggestion?

Alex

[2018-07-23 11:12] kobynet opened #464 "Question: Node.js template code sharing between functions"
Assume we want to create CRUD rest service using node.js template. Functions share some code (for example bootstrap of the environment. since faas-cli forces me to have single handler.js file, what is the best way to do this without code redundancy ?

## Expected Behaviour
yml file allows to pick my own handler file

## Current Behaviour
handler.js is picked without any other option

## Possible S

[2018-07-23 15:41] maiermic commented on #444
I found the cause of the error: A misconfiguration of traefik. I didn't use a CA bundle. Error messages have led me quite astray.

@alexellis Thanks for your help.

[2018-07-23 15:41] #444 closed

[2018-07-23 18:45] viveksyngh commented on #426
how does this work .. if stack file contains more than one function? @alexellis

[2018-07-23 18:46] rgee0 commented on #464
Possible duplicate. Ref: #322

[2018-07-23 19:00] alexellis commented on #426
In Kubernetes/YAML it's valid to have multiple definitions in file they are separated by `---` and a new line.

[2018-07-24 06:29] kobynet commented on #464
Thanks @rgee0 , missed that one.

[2018-07-24 11:54] alexellis opened #466 "faas-cli store deploy - deploys wrong image with mismatched name"
## Expected Behaviour

`faas-cli store deploy invalidname` should give an error, i.e. not found

## Current Behaviour

`faas-cli store deploy invalidname` deploys the sentimentanalysis function 😕 ❓ 🤔

## Possible Solution

Write tests / fix bug.

## Steps to Reproduce (for bugs)

1. As above

[2018-07-24 12:35] jukefr opened #467 "Feature: tell in store list what platform the image is built for"
When a user runs
`faas-cli store list`

He gets back the available images.

I ran this command on my raspberry pi and tried 4/5 different images, but apparently they are not built for armhf architecture.

Maybe there could be a way to differentiate between built platforms for store images ?

Now I can completely understand if the armhf support is simply a little side-project or a demo type feature

[2018-07-24 13:45] alexellis opened #468 "dockerfile template: build --shrinkwrap option doesn't produce build folder"
## Expected Behaviour

All other templates apart from the "dockerfile" type create a sub folder under ./build/ with their build-context copied in. The dockerfile type does not do this and probably doesn't need to for the majority of the cases.

## Current Behaviour

For the --shrinkwrap option we need to create the build folder and copy in the context (local handler folder)

## Possible Solution

[2018-07-24 13:59] rosti opened #469 "Possible races in build.go and push.go"
## What happened
While explaining the behaviour of [build() @ build.go](https://github.com/openfaas/faas-cli/blob/5434831b432398807ee35bfd8372a85fed2ded9b/commands/build.go#L168) to @mrtind, I've spotted a possible race on the WaitGroup execution.

The `wg.Add()` call should be done in the same context as `wg.Wait()` otherwise it's possible to have the `build()` function exit before any work is do

[2018-07-24 17:08] rgee0 commented on #466
This always returns an item. Sentiment is the last item in the list.

https://github.com/openfaas/faas-cli/blob/5434831b432398807ee35bfd8372a85fed2ded9b/commands/store.go#L81-L91

[2018-07-24 17:31] james-r-smith commented on #466
The problem is with [storeFindFunction](https://github.com/openfaas/faas-cli/blob/d52f47461872966966d9419f4f5e2a5bd13928f0/commands/store.go#L81). I'll be happy to work on this.

[2018-07-24 17:33] james-r-smith commented on #466
Found the same thing that @rgee0 found. I'll be happy to work on this if needed, unless Richard wants to work on it.

[2018-07-24 17:33] rgee0 commented on #466
I've pretty much sorted it.  The tests were broken too, hence the 25 minute delay.
Thanks anyway @james-r-smith

[2018-07-24 17:41] alexellis commented on #466
Good to see collaboration on this

[2018-07-24 20:44] alexellis opened #472 "Feature: "watch" mode -> automatic build/push/deploy on save"
## Expected Behaviour

New feature: file-system watch mode will detect a change in a function handler folder and then automatically build/push/deploy the affected function.

This would be done via the existing OpenFaaS API meaning all backends are supported - faas-fargate, faas-swarm, faas-netes and openfaas-operator.

Similar things are done in entire projects such as [skaffold](https://github.co

[2018-07-24 21:38] #469 closed

[2018-07-24 22:46] alexellis commented on #464
Interesting, so you'd want the exact same code, just somehow with different names and handlers?

I'd suggest you use a single function and switch on a query string parameter.

[2018-07-25 07:11] kobynet commented on #464
@alexellis with having switch i might end up writing the whole controller in single handler file.

There is an example of restful service using openfaas [here](https://github.com/testdrivenio/openfass-node-restful-api) but it actually has very small bootstrapping code and it is copied from function to function which is what i am trying to avoid.

In addition, when team needs to manage rest service

[2018-07-25 09:51] mrtind opened #473 "Command store deploy still returns 0 when deploy failed"
I referenced the return status 0 in this PR https://github.com/openfaas/faas-cli/pull/445. But that PR only fixed deploy command and didn't include store deploy.

## Expected Behaviour

Couple of cases pointed by @rgee0

[code]

Should return 1

[code]

Should return 1

## Current Behaviour

Examples above return 0.

## Possible Solution

Bubble up the error like in deploy command.

## Steps to Re

[2018-07-25 21:12] LucasRoesler opened #475 "Streamline the DeployFunction signature"
## Expected Behaviour

As we add more features the call signature for `proxy.DeployFunction` has gotten enormous, we should break the values into a struct so that it is easier to document and maintain going forward.

## Current Behaviour

 For example

[code]

## Possible Solution

This could become

[code]
We should also look at the the openfaas-operator and see if we can attempt to unify some of

[2018-07-26 06:53] kobynet commented on #322
@rgee0 when you copy common directory into the function directory it requires changing the relative path in the handler, for example from (../common) to (./common) which creates problems when you want to locally debug the function.

How do you handle that?

[2018-07-26 17:23] rgee0 commented on #473
Derek close: fixed in #476

[2018-07-26 17:23] #473 closed

[2018-07-26 17:25] rgee0 commented on #473
@mrtind just for info, when referencing issues in PRs please try to use one of the keywords that Github looks for as that will enable Github to close the issue on merge.

Further info here: https://help.github.com/articles/closing-issues-using-keywords/

[2018-07-26 18:25] viveksyngh opened #478 "`faas-cli build` fails for function with same directory for stack and handler file"
`faas-cli build` fails for function when we have `stack.yml` and `handler` are in the same directory.
if we update the handler path to `.` in `stack.yml`

## Expected Behaviour

The build should pass successfully.

## Current Behaviour

It fails with below error.

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. create a new function using `faas-cli new`
2. Move function .yml fil

[2018-07-26 19:22] rgee0 commented on #478
I believe the cause to be losing the recursion flag from the copyFiles method. As `build` is also written to the current directory the recursion traverses this.

[2018-07-26 19:31] alexellis commented on #473
Can you so put "closes #number"?

[2018-07-26 19:31] alexellis commented on #473
Derek set milestone: 0.6.16

[2018-07-26 19:32] alexellis commented on #475
SGTM

[2018-07-26 19:34] alexellis commented on #467
We have that for the UI, for the CLI I don't think we had a good way to determine the architecture. You can specify the URL for the arm JSON file. https://raw.githubusercontent.com/openfaas/store/master/store-armhf.json

[2018-07-26 22:59] jgnagy opened #479 "Feature: Consider a ~/.faas directory and/or rc file"
It could be that I am using the CLI incorrectly (not using some better paradigm) but most CLI tools that I use (`aws`, `git`, and others) store at least a "rc" or other config file in my home directory for common/global configuration options. It would also make sense to stick a local copy of the `template` directory there, rather than scattering them all over my filesystem when I make new function

[2018-07-26 23:13] alexellis commented on #479
Derek set title: Suggestion: Offer to cache templates rather than fetching latest versions

[2018-07-26 23:18] alexellis commented on #479
Hey thank you for your suggestion. The OpenFaaS CLI can actually pull templates from any Git repo and there is a .openfaas folder for login credentials.

We've had this suggestion a long time ago, but the templates repo is so tiny I don't think it bothers most users.

With a cached folder I'd worry that people would get out sync and we wouldn't be able to effectively update the templates with fixe

[2018-07-27 06:52] viveksyngh commented on #478
Yeah, We should exclude `build` and `template` directory when we are copying files to `build` folder. let me know what do you think?

[2018-07-27 07:00] mrtind commented on #473
Yeah ok

[2018-07-27 07:19] rgee0 commented on #478
My thinking at the moment is that we should discover what needs to be copied - traverse the filesystem from the provided handler point - prior to commencing any copying activity.

I also think that how we can exclude `build` and `template` directories also needs some careful consideration.

[2018-07-27 12:51] martindekov commented on #468
I can work on this one

[2018-07-27 13:01] martindekov commented on #468
I did the change. My concern is that the template copies two Dockerfiles and its confusing. I should have 2 Dockerfiles right ? 1 for the watchdog in ```./build/<func_name>/Dockerfile```  and 1 for the handler in ```.build/<func_name>/function/Dockerfile```

[2018-07-27 18:01] dmcclory opened #481 "Suggestion: Configurable function directory name"
It would be nice if a user could specify the output directory for the function code when they are creating a new function.

## Expected Behaviour

I'm imagining there would be a new flag:

[code]

the resulting tree would be:
[code]

and the stack yaml file would be:

[code]

## Current Behaviour

Right now, people need to make those changes manually.

## Possible Solution
It seems like it would r

[2018-07-29 07:43] rgee0 commented on #322
@kobynet it depends how you perform the separation of the common parts. We kept the handler within each function, extracted the common code into `common` then had the handler code expect to find a `common` directory from which to import.  This means that during development / debugging the `common` directory exists within the function dir and be moved out when you're happy.

[2018-07-29 14:38] rgee0 opened #482 "Should faas-cli new honour $OPENFAAS_URL?"
Not sure if this is actually by design as $OPENFAAS_URL it would be honoured during deploy.

## Expected Behaviour
If $OPENFAAS_URL is set then should the provider gateway value in the function's yaml file represent this value rather than favouring the default gateway?

## Current Behaviour
[code]

## Possible Solution

Update `new` so it follows a pattern similar to that of other verbs

## Steps

[2018-07-29 15:59] viveksyngh commented on #481
Derek add label: proposal

[2018-07-29 16:02] viveksyngh commented on #478
Derek add label: bug

[2018-07-29 16:04] viveksyngh commented on #464
Derek add label: question

[2018-07-29 16:04] viveksyngh commented on #464
Dereke add label: support

[2018-07-30 08:31] martindekov opened #483 "Build fails in context of ./build.sh"
I noticed the build failing while building to test change I made.I reverted to master branch pull clean and tried to build again it failed.The failed tests and commands fail only in the context of ```./build.sh``` and not when i run them separately.

## Expected Behaviour

```./build.sh```
should build successfully

## Current Behaviour

currently ```./build.sh``` fails for me
[code]
(they pass wh

[2018-07-30 14:44] martindekov commented on #483
Edit: Problem was nginx I installed by mistake couple of weeks ago.

[2018-07-30 14:44] #483 closed

[2018-07-31 08:55] alexellis commented on #482
Yes, this is a miss and should be factored in.

@martindekov please can you work on this?

Alex

[2018-07-31 08:57] martindekov commented on #482
Yeah I'm on it.

[2018-07-31 20:30] #482 closed

[2018-07-31 20:42] alexellis commented on #481
Seems like a fair request, @dmcclory would you be willing to work on this yourself?

[2018-07-31 20:43] alexellis commented on #481
`--function-dir` could be more a little more concise, otherwise I think this is fine.

[2018-07-31 20:46] alexellis commented on #479
This is a completely unrelated point the issue you raised. You want to store your Docker Hub / registry prefix somewhere for when you run `faas-cli new`?

Elegance is obviously super-subjective. How many gateway URLs do you have? What ideas do you have for managing them? Right now we store a list of URLs in ~/.openfaas/config.yaml - you can find them there, but would you like to assign them names

[2018-07-31 21:04] ewilde commented on #475
Derek assign: me

[2018-07-31 21:08] jgnagy commented on #479
The first sentence of my issue (emphasis added):

I don't recall my original title (confusing as it may have been), but the original intention with this issue was to suggest storing things used by the tool in a manageable place that I could refer to (perhaps as a "[profile](https://docs.aws.amazon.com/cli/latest/userguide/cli-multiple-profiles.html)" as the `aws` CLI does) to refer to configurable

[2018-07-31 21:17] alexellis commented on #475
Derek assign: ewilde

[2018-08-01 07:33] LucasRoesler commented on #478
I agree with @rgee0, to keep the current behavior and to supper the handler being in the same folder as the stack, we would need to traverse and index at least the current directory, if not the whole folder, and then copy the contents.  Perhaps [using Glob](https://golang.org/pkg/path/filepath/#Glob) would help?  Either way the fix will probably need to completely replace the current copy methods.

[2018-08-01 13:38] dmcclory commented on #481
Yeah, I'll give it a go! I'll see if I can think of a better name for the flag too.

[2018-08-02 10:53] alexellis opened #489 "Swarm private registry fails when no "username" prefix is given"
## Expected Behaviour

This should be valid:

[code]

## Current Behaviour

Docker Hub credentials are sent, we seem to only support two variations at present:

[code]

The third option is now added and should fix #748

## Possible Solution

Added failing unit test and then fixed code.

https://github.com/openfaas/faas-cli/commit/90ccfad3207b0f6bedea406ef3b9c119f620d337

[2018-08-02 10:53] alexellis commented on #489
Derek set milestone: 0.6.17

[2018-08-02 12:01] alexellis commented on #481
Awesome. Make sure to join Slack too https://docs.openfaas.com/community

[2018-08-02 15:21] alexellis commented on #463
Derek close: released

[2018-08-02 15:21] #463 closed

[2018-08-02 15:22] alexellis commented on #455
Derek close: suggestion given on GitHub & Slack

[2018-08-02 15:22] #455 closed

[2018-08-02 15:22] alexellis commented on #436
@ewilde if you add yourself to DEREK.yml in the faas repo then you can type in "Derek close" on this one.

[2018-08-02 15:23] alexellis commented on #433
Derek close: problem with user's environment

[2018-08-02 15:23] #433 closed

[2018-08-02 15:24] jukefr commented on #467
Since you do have a separation for architecture in your data (via urls) maybe you could simply run
[code]
and maybe use that ?

[2018-08-02 15:31] alexellis opened #490 "CLI: store - use read-only root file-system flag when defined"
## Expected Behaviour

For whichever functions are defined in the store manifest that have the read-only root file-system flag enabled, we should deploy as read-only.

## Current Behaviour

Not available

## Possible Solution

Work on the store / deployment code.

Help wanted.

[2018-08-02 15:35] alexellis commented on #490
Value in schema for store is the same as the API gateway.

https://github.com/openfaas/store/blob/master/store.json

https://github.com/openfaas/faas/blob/master/gateway/requests/requests.go#L51

[2018-08-02 17:07] alexellis commented on #490
Maybe we can split this work between yourself @burtonr and @james-r-smith ? If James takes the CLI piece and you take the UI/faas piece?

[2018-08-02 18:13] #426 closed

[2018-08-02 22:36] alexellis opened #492 "Add unit tests for "generate" verb"
We need unit tests to be added to cover the changes in the "generate" verb.

https://github.com/openfaas/faas-cli/pull/474

This should show various test-cases and whether they produce the expected CRD output.

Include minimal and maximal examples.

Alex

[2018-08-05 08:11] alexellis opened #496 "Support for contexts or profiles for remote gateways"
We could offer a way to support a profile or context as an alias for a gateway. A user suggested something similar about an "rc" file or not having to remember multiple gateway URLs in #479

## Current behaviour

You need to remember your gateway URLs or look them up in ~/.openfaas/config.yaml

## Feature

This might be similar to how `kubectl` handles multiple contexts.

[code]

[2018-08-06 07:26] lapwat commented on #322
A possible solution would be to have a structure like this one:

[code]

The `handlers` list would be optional and be set to `[ handler.py ]` by default. Generated docker images would be `hello-python_function1` and `hello-python_function2`.

The drawback is that you would have multiple functions in the same folder which may not be the vision of OpenFaaS.

[2018-08-06 11:03] #490 closed

[2018-08-07 06:04] james-r-smith opened #497 "Design Review: Default Function (Stack) File Name"
There are [multiple](https://blog.alexellis.io/introducing-openfaas-cloud/) [points](https://docs.openfaas.com/reference/yaml/#function-name) [in our documentation](https://github.com/openfaas/faas-cli#quick-guide) where we either ask the user to change the function file name to `stack.yml` or just basically reference the function file as `stack.yml` despite it not always being called that. It see

[2018-08-07 09:06] ivanayov commented on #497
Thanks for opening this issue @james-r-smith

"Should we by default use stack.yml when creating new functions instead of the function name" - it's a good proposal. The problem here is what happens if we overwrite an alredy existing file, should we merge them or print a warning advising to create the function in a folder without `stack.yml`, etc. The current default behaviour with `function-name.ym

[2018-08-07 09:08] ivanayov commented on #497
Derek add label: design/review

[2018-08-07 09:08] ivanayov commented on #497
Derek add label: proposal

[2018-08-07 09:09] ivanayov commented on #497
Derek edit title: Default Function (Stack) File Name

[2018-08-07 12:34] ivanayov commented on #497
Similar to #371

[2018-08-07 12:36] ivanayov commented on #467
Derek add label: proposal

[2018-08-07 15:57] james-r-smith commented on #497
Hey @ivanayov, thanks for the input. 😊 In the concern you mentioned, my suggestion is to merge the file into `stack.yml`. I can think of three scenarios to handle currently:

1. Initializing a new workspace
2. Adding to an existing workspace without `stack.yml`
3. Adding to an existing workspace with `stack.yml`

In all scenarios, when I first call `faas new <FN_NAME> --lang=<LANG>` the result is

[2018-08-07 20:12] rgee0 commented on #497
Probably worth catching up with some of the discussion on #373 too.

[2018-08-08 12:37] ivanayov opened #498 "Add `--annotation` flag to deploy"
At the moment annotations are supported only via YAML.

This doesn't allow applying them to functions deployed from store, f.e.
[code]

Documentation update is also required. It should follow up [docs#54](https://github.com/openfaas/docs/issues/54)

For reference [faas-swarm#28](https://github.com/openfaas/faas-swarm/pull/28)

[2018-08-08 12:50] alexellis commented on #498
This could be useful for deploying from the store. @martindekov would you be able to work on this? Assign it to yourself with Derek if you want to pick it up.

[2018-08-08 13:13] martindekov commented on #498
Derek assign: me

[2018-08-09 02:05] burtonr opened #499 "build command doesn't return non-zero exit code when image is not built"
The build command returns exit code `0` even though an image was not created/built.

In this particular example, the path in the `handler` property of the function's `.yml` file was invalid/not found

## Expected Behaviour

The `build` command should return a non-zero exit status when the image cannot be built

## Current Behaviour

Running `faas-cli build -f test-fn.yml` with an invalid `handler`

[2018-08-09 03:07] warunsl commented on #499
Looking into this.

[2018-08-09 14:42] #498 closed

[2018-08-12 20:31] dmcclory commented on #481
Hello!

I've almost got a PR ready, it took me a little while to get the tests passing.

Before I put it up, I've also been thinking about the feedback on the name of the flag. I thought of a few alternatives, `--handler-dir` or `--handler`. (We could also have a short abbreviation like `-d` or `-H`)

[2018-08-14 08:37] alexellis commented on #499
This is a hard problem to solve @burtonr @warunsl due to needing to track the status across N parallel and concurrent tasks. I wrote a fix for this but never published it due to the work involved.

Can you confirm that when Docker executes and produces an error that it returns a non-zero exit code? I can see only one test-case failure here.. how about looking into different errors and reporting ba

[2018-08-14 08:38] #492 closed

[2018-08-14 08:41] alexellis commented on #481
Hi, glad you're making progress. I don't think you can use capital letters with Cobra for the short variant.

`--handler` sounds fine, maybe just stick with that for the first version/PR?

Alex

[2018-08-14 08:44] alexellis commented on #467
Hi, I could see how this could be confusing but creating a portable solution is not easy.

For `store deploy` on ARM you will have to pass the armhf raw-git URL right now.

Alex

[2018-08-14 08:45] alexellis commented on #446
@burtonr there's data you're showing which is not available on a deployed function. We can only show what's available within the API.

@viveksyngh do you know about the `faas-cli invoke` command?

Alex

[2018-08-14 08:46] alexellis commented on #446
I think it'd be fine if someone wanted to work on this. Do we have any volunteers?

Alex

[2018-08-14 08:50] alexellis opened #502 "Feature: Template pull override"
## Expected Behaviour

Provide an override for where to pull templates from i.e. `OPENFAAS_TEMPLATES_URL`, if not set we'd use https://github.com/openfaas/templates, but it could be set to https://internal-gitlab.com/alexellis/suse-golden-images for instance.

## Current Behaviour

You can pass this as a parameter, but allowing an override would mean a user could customize this as a one-time thing

[2018-08-14 08:53] alexellis commented on #417
@IainColledge just checking in with you - did you make it into Slack?

We added a feature `--tag` which might be useful for you, please take a look over at and let us know if we can close this issue - https://docs.openfaas.com/cli/tags/

[2018-08-14 09:05] alexellis commented on #489
Derek close: released

[2018-08-14 09:05] #489 closed

[2018-08-14 09:18] viveksyngh commented on #446
I will work on this.

[2018-08-14 10:38] viveksyngh commented on #446
Derek assign: me

[2018-08-15 19:06] warunsl commented on #499
This is open for anyone who wants to work on it.

[2018-08-16 07:53] alexellis commented on #472
I was chatting to @johnmccabe about this, we're thinking of adding `faas-cli up` with an optional `--watch` flag which would be an alias for the whole workflow of `build/push/deploy`

[2018-08-18 18:31] #436 closed

[2018-08-21 11:41] ivanayov commented on #464
@kobynet Does this proposal work for you - [#322#issuecomment-410613647](https://github.com/openfaas/faas-cli/issues/322#issuecomment-410613647) ?

I'm going to close this issue, as it's a duplicate of #322, but feel free to comment on the other issue.

Ivana

[2018-08-21 11:41] ivanayov commented on #464
Derek close

[2018-08-21 11:41] #464 closed

[2018-08-21 16:37] alexellis opened #507 "Tests fail on ARMv7"
## Expected Behaviour

Unit tests to pass in an unmodified Dockerfile

## Current Behaviour

[code]

## Possible Solution

Try bumping Golang version.

## Steps to Reproduce (for bugs)

1. Use an ARMv7 machine such as RP2/3/3B+ or Scaleway ARMv7 VM
2. Run `make ci-armhf`

## Context

We generally don't build the `faas-cli` for ARM due to the multi-arch binary build in build_redist.sh, but in this

[2018-08-22 14:32] pyramation opened #508 "not finding images when deploying functions"
Hello! Got excited when i found openfaas, newbie here trying to create some template functions, one node and one dockerfile. I'm trying to work locally without a registry -- is that required?

[code]

## Expected Behaviour

I'm expecting the cloud functions to be available

## Current Behaviour

image pull backoff loop

[code]

Even though i've checked the `docker images` locally

[code]

## Possi

[2018-08-22 14:35] alexellis commented on #508
Hi there thanks for using OpenFaaS,

The problem is that you need to push your Docker images to a remote repository and you haven't done that. If you want to avoid pushing the images you can work around this with an image pull policy of "IfNotPresent" as defined in the Helm chart instructions in the faas-netes repo.

I don't know if it helps, but you can also combine your functions into a single s

[2018-08-22 14:35] #508 closed

[2018-08-22 16:41] alexellis opened #509 "Invoke failed with header containing several = symbols"
## Expected Behaviour

This should work:

[code]

## Current Behaviour

Invoke failed to parse the line properly

## Possible Solution

Investigate and fix.

## Steps to Reproduce (for bugs)

1. Run command given above
2.
3.
4.

## Context

It's preventing me from triggering openfaas-cloud events via the CLI with an additional header I need to use.

## Your Environment

* FaaS-CLI version ( Full o

[2018-08-22 16:48] LucasRoesler commented on #509
I am away from my computer, but should

`"X-Hub-Signature"="sha1=shashashaebaf43"`

be

`X-Hub-Signature="sha1=shashashaebaf43"`

[2018-08-22 16:49] alexellis commented on #509
Both give the same result.

[code]

[2018-08-22 16:51] rgee0 commented on #509
https://github.com/openfaas/faas-cli/blob/dbb4c78462f807b2eed6cda202bfb6eecb632e95/proxy/invoke.go#L129-L132

[2018-08-22 16:56] warunsl commented on #509
Is the parser expected to handle `=` in the keys as well?

[2018-08-22 17:00] viveksyngh commented on #509
Derek assign: me

[2018-08-22 19:00] alexellis commented on #509
@warunsl looks like Vivek is taking it. Please can you join Slack and I'll help to find something else for you to pick up. Don't worry, there's plenty! https://docs.openfaas.com/community

[2018-08-24 08:38] martindekov commented on #502
@s8sg If you are not currently working on this can I take the issue?

[2018-08-24 09:00] alexellis opened #511 "Test mixed-case usernames"
We need to test mixed-case usernames end-to-end including:

* of-router (using wildcard DNS)

No instructions exist for Swarm, just a YAML file for Kubernetes, so update the docs/README.md too

* UI dashboard
* GitHub push events

You'll need a second GitHub account with a MixedCase username (don't rename your existing one) and then add it to the official CUSTOMERS list or turn `validate_customers

[2018-08-24 09:57] viveksyngh commented on #446
I will be working on it this weekend.

[2018-08-24 09:57] martindekov commented on #502
Of course @s8sg !

[2018-08-24 11:41] alexellis opened #512 "Add --sign flag for faas-cli invoke"
## Expected Behaviour

We should be able to enable HMAC on `faas-cli invoke` so that requests can be signed automatically with a symmetric key. This will help with testing GitHub integrations.

[code]

`sha1` should be a default option

This would add a header: `X-GitHub-Event: sha1=digest_of_body-bytes`

## Current Behaviour

Needs to be done manually, or replayed via GitHub UI

## Possible Solut

[2018-08-24 11:44] alexellis opened #513 "Use separate HMAC key for inter-function trust"
## Expected Behaviour

Functions should use a separate named symmetric key for HMAC / trust i.e. `function-hmac-key`

## Current Behaviour

We re-use the key shared with GitHub `github-webhook-secret`

## Possible Solution

* Add step for Swarm + Kubernetes to README to generate the new secret
* Replace the secret in the list of secrets for all functions apart from `github-push`which needs both
*

[2018-08-24 12:06] alexellis commented on #507
I've since restarted the machine and pushed `openfaas/faas-cli:0.7.0-armhf`

[2018-08-24 12:06] #507 closed

[2018-08-24 12:06] alexellis commented on #507
Derek add label: revisit

[2018-08-24 14:17] alexellis commented on #513
Derek close: wrong repo

[2018-08-24 14:17] #513 closed

[2018-08-25 16:49] LucasRoesler commented on #478
What if we move the openfaas `build` folder to the os level temp folder using https://golang.org/pkg/io/ioutil/#TempDir ?

Instead of changing `CopyFiles` we change `createBuildTemplate` and `dockerBuildFolder`.  Doing this means we aren't potentially modifying the directory that we are iterating over.

I prefer this solution because it doesn't introduce any additional assumptions about what shoul

[2018-08-27 08:15] martindekov commented on #511
I created mixed case username `MartinDekovWat` and deployed `goforfun` on the cloud the function name is `MartinDekovWat-goforfun` in the URL the name is mentioned with whatever case you wrote and its accepted e.i. `../overview?user=MartinDekovWat` == `../overview?user=mArTiNdEkOvWaT` == ... haven't tested the of-router yet but will start doing it now

[2018-08-27 10:35] stayingcool opened #516 "faas-cli up command issue (Please provide a valid --image name)"
Trying to use the new command `up` from [blog - tip 5](https://www.openfaas.com/blog/five-cli-tips/) throws this below message:
**`# faas-cli up`**
`Please provide a valid --image name for your Docker image`

## Expected Behaviour
I expected that the up command would just run fine without asking for anything more.

## Current Behaviour
Look at the above, it is asking for --image name.

## Steps to

[2018-08-27 10:43] rgee0 commented on #516
Is your yaml file named `stack.yml`?  if it isn't then you'll need to pass in `-f <yaml-file>`.

[2018-08-27 10:59] martindekov commented on #511
The router gives me 502 I don't yet know why. But for now I see in the code the function redirects me to the `../function/<name_of_function_in_ui>` my `<name_of_function_in_ui>` name is `MartinDekovWat-goforfun` which means that I wont be able to invoke in the URL like `MartinDekovWat.team-serverless.xyz/goforfun` I think you cant have case sensitive subdomains? Maybe we should rename functions to

[2018-08-27 11:41] stayingcool commented on #516
No. It is as follows:

**```# ls```**
[code]

[2018-08-27 11:49] LucasRoesler commented on #478
This is a classic issue in iteration, you should _not_ mutate the thing you are iterating over, in this case the filesystem.

Adding an ignore for certain folders/files might just cause a new bug. Can we really assume that we should ignore the `build` folder? It is not unreasonable that someone would create a folder called `build` to contain content specifically for their Docker build process.   S

[2018-08-27 12:50] rgee0 commented on #516
You've a choice:

[code]
or
[code]

[2018-08-27 12:58] ivanayov commented on #516
Derek add label: support

[2018-08-27 13:36] ivanayov commented on #478
We could move to `.build` and `.template`. This way we can distinguish the contents that belong to the framework from the user's function code.

[2018-08-27 13:39] ivanayov commented on #478
Derek remove label: bug

[2018-08-27 13:39] ivanayov commented on #478
Derek add label: review

[2018-08-27 14:18] LucasRoesler commented on #478
We could do that to make the distinction clearer.

I still think that modifying the project structure with temporary build objects is messy.  Ideally, we should only write content into the project when we expect the user to save that content, e.g. only if they should subsequently commit that content.  I can see an argument for committing the `template` folder, but not so much for the `build` folde

[2018-08-27 14:20] martindekov commented on #512
What if I want to append couple of headers? Currently I will just `... | ... invoke ... -H "..." -H "..." ...`. In the example I will need to `... --sign "<some header>" --key "<key for header>" --algorithm "<algorithm for  header>" to append single header. I was wondering isn't it a good idea to use existing header functionality and check if algorithm exists in the key e.g. `"header"="sha1=key_wi

[2018-08-27 16:26] stayingcool commented on #516
Thanks @rgee0

I'll ensure to use -f flag.
`faas-cli up -f create-meeting.yml`

I'm new to open-faas, anyhow getting a hang of certain things now. Thank you!

[2018-08-27 16:26] #516 closed

[2018-08-28 16:15] warunsl commented on #512
@martindekov If I understand this correctly, this is what you mean, right?
[code]
In that case, we would have to think of other valid cases for using a header of the form `faas-cli invoke ... -H Header="<key>=<value>"` where the user does not want to sign the content. Having a `--sign` expresses an intent that the user wants to sign the content?

[2018-08-28 20:17] alexellis commented on #512
I'm not sure what is unclear in the issue/task.

What needs clarification for you guys?

[2018-08-28 20:42] viveksyngh commented on #478
I think this is a nice approach to avoid copying the `build` directory from the root folder. I have updated the PR to use this approach.

[2018-08-29 09:18] alexellis commented on #512
@warunsl please work on the implementation, how long do you think it will take?

Alex

[2018-08-29 10:05] martindekov commented on #512
@warunsl We discussed and for the purposes we need the change go with Alex's approach.

[2018-08-29 12:36] #509 closed

[2018-08-29 13:44] alexellis opened #517 "faas-cli invoke does not honour http_proxy"
## Expected Behaviour

HTTP Proxy should be set / honoured with faas-cli invoke

## Current Behaviour

It's not due to the Transport getting overwritten in proxy/invoke.go

[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Run `nc -l 3128`
2 `faas store deploy figlet`
2. `http_proxy=127.0.0.1:3128 faas-cli invoke figlet --gateway http://IP:port` - in this step the gateway must be

[2018-08-29 13:45] alexellis commented on #517
@affix this regression may have been introduced from the changes made to add tlsinsecure

[2018-08-29 13:57] affix commented on #517
I will fix this through the week :)

[2018-08-29 14:05] #517 closed

[2018-08-29 14:07] alexellis opened #518 "Questionable use of SetAuth in faas-cli invoke"
## Expected Behaviour

faas-cli invoke should be setting basic auth headers.

## Current Behaviour

It is, and could be leaking the admin credentials to functions.

## Possible Solution

Remove this line

## Steps to Reproduce (for bugs)

1. faas-cli login
2. faas-cli invoke

## Context

I saw this while browsing the code for another issue.

[2018-08-29 14:17] #518 closed

[2018-08-30 09:46] alexellis commented on #511
Hi @martindekov this is all part of the task (please don't move off the task if you have questions, but see it through until completed.. Why? Because we'll end up with lots of half-finished work-in-progress) cc @burtonr

We shouldn't mutate (change) the source of truth.

Please come up with 2-3 suggestions on how to proceed.

Alex

[2018-08-30 09:50] alexellis commented on #511
If your function is deployed with the DNS entry of: `MartinDekovWat-goforfun` and we're mapping from a  `Host: ` entry then that host entry will always be lowercase i.e. `martindekovwat`. This means that the proxy will need to convert from  `martindekovwat` to `MartinDekovWat-goforfun`.

The simplest way I think you could do that is by querying the back-end API to match the function. This will add

[2018-08-30 09:53] #481 closed

[2018-08-30 10:00] #478 closed

[2018-08-30 10:01] martindekov commented on #511
Sorry I thought that I should only report my tests will proceed to work on the task

[2018-08-30 10:03] alexellis commented on #511
I think this is actually on the wrong repo too.. (which is my fault)

[2018-08-30 10:04] alexellis commented on #511
Derek close: wrong repo

[2018-08-30 10:04] #511 closed

[2018-08-30 10:06] alexellis commented on #511
I wasn’t clear that (we as a team) need to fix up what is wrong or propose how to do so.

[2018-08-30 10:07] alexellis commented on #472
@johnmccabe how did the initial attempt go with this? How does Docker-Compose handle de-bounce?

[2018-08-30 14:28] johnmccabe commented on #472
Initial PoC worked well, I'll pick this up after work tomorrow and get something pushed up for eyeballs.

[2018-08-31 20:50] viveksyngh commented on #376
Derek: close

[2018-08-31 20:51] #376 closed

[2018-09-01 17:15] alexellis commented on #472
Awesome John.

[2018-09-01 18:02] burtonr opened #519 "Proxy the version command's HTTP calls"
Currently, all the commands are being proxied to call the gateway keeping all the http code in one place, while the commands are focused on processing the requests and displaying the information.

The `version` command is missing the proxy.

## Expected Behaviour

Expect `version` command to not include any http dependencies or calls. Those should be migrated to the proxy

## Current Behaviour

Th

[2018-09-02 07:55] viveksyngh commented on #519
Derek: Assign me

[2018-09-02 19:59] #519 closed

[2018-09-03 13:17] alexellis opened #521 "Breaking change introduced in 0.7.2"
I released a new CLI today with 0.7.2 and the following change:

Fixes issue with faas-cli build for same folder #480 by viveksyngh

Looks like any Golang image built with this CLI version results in hello world being produced.

Reverting the CLI fixes the issue.

@viveksyngh please can you look at this ASAP?

[2018-09-03 13:18] alexellis commented on #521
I'm guessing that this relates to the changes in #480, for now I've marked the CLI as pre-release, but brew may still bump their version so the sooner we can fix this the fewer users will get interrupted.

[2018-09-03 14:17] #521 closed

[2018-09-03 20:30] rgee0 commented on #502
Derek close: Fixed in #515

[2018-09-03 20:30] #502 closed

[2018-09-09 00:36] colbyn commented on #497
As an outsider evaluating OpenFaaS. The default filename ‘stack.yaml’ would be unfortunate for any Haskeller since it clashes with the Stack toolchain. https://github.com/commercialhaskell/stack

[2018-09-10 12:31] alexellis commented on #512
Hi @warunsl,

This has been inactive for 13 days so I'm going to suggest that @ivanayov or @martindekov pick this up. Feel free to pick up other issues as you have availability to work on them.

Alex

[2018-09-10 12:36] alexellis opened #527 "Task: Test templating during CI"
## Task:

Create a new function in a language such as python3 during CI and test that it works. Do not use the default handler, this must be overridden with some custom code to prove the templating engine is working end to end.

## Work:

Write a bash script to be called during CI to do the following:

- create a function using a template
- override the default message or handler code
- build usin

[2018-09-10 12:38] ivanayov commented on #527
Derek assign: me

[2018-09-13 08:03] #446 closed

[2018-09-13 08:06] alexellis commented on #496
Wonder if there's much interest in this from our users?

[2018-09-13 12:12] padiazg commented on #496
I think it would be useful,  mainly to avoid deploying at the wrong gateway by mistake. Also for auditing and coordination purposes, as we work in teams using git as central repository.
At creating a project the team leader could establish each context beforehand, improving project visibility.

[2018-09-14 20:48] warunsl commented on #512
Should `sign` be a sub command of `invoke` and the usage be something like:
`faas-cli invoke echo --sign --signheader "X-GitHub-Event" --key "key" --algorithm "sha1"`

Having it they way suggested in PR: `faas-cli invoke echo --sign "X-GitHub-Event" --key "key" --algorithm "sha1"` would involve checking for all possibilities:
1. `--sign` present but `--key` not present --> Error and print usage.
2

[2018-09-15 07:44] rgee0 commented on #512
I'm not entirely clear on the distinction here.  I do think that `--sign` with `--signheader` is potentially less intuitive and introduces some redundancy into the command.

I may be over-simplifying but in my mind all three possibilities would print the same usage output and since all three are required then its a single check against the two flags that don't have a default value.

[code]

* Vali

[2018-09-18 19:16] alexellis commented on #496
I would like us to spend some more time working on the user experience before working on this with Go code.

cc @openfaas/cli @rgee0 @stefanprodan @LucasRoesler

[2018-09-18 19:17] alexellis commented on #512
`--sign` is fine for me like in the original issue.

@warunsl @rgee0

How close are we to a PR with this? Are there any questions that need an answer or input from me?

[2018-09-24 07:35] alexellis commented on #512
Yes that's fine for what we need it for and happy to omit `--algorithm` / `-a` for the initial pass or lock it down to only `sha1`

[2018-09-25 19:31] #512 closed

[2018-09-26 08:40] alexellis opened #531 "Update faas-cli describe to align text left"
## Expected Behaviour

(i.e. aligned to left)
[code]

## Current Behaviour

[code]

[2018-09-26 08:41] alexellis commented on #531
Also this would be better as "No such function: inception"

[code]

[2018-09-26 08:42] alexellis commented on #531
@ivanayov suggested we may want to add any labels or annotations present too.

[2018-09-26 08:42] alexellis commented on #531
Ping to @viveksyngh

[2018-09-26 08:55] viveksyngh commented on #531
Sure, I will work on this one.

[2018-09-26 08:55] viveksyngh commented on #531
Derek assign: me

[2018-09-28 21:00] #531 closed

[2018-09-28 21:01] alexellis commented on #531
Please can we also print out any labels or annotations that are available?

[2018-09-28 21:21] alexellis opened #533 "describe verb should display annotations/labels"
## Expected Behaviour

describe verb should display annotations/labels

## Current Behaviour

It shows some data, but we have more available.

## Possible Solution

Suggest text output for how things will look and work with core contributor @rgee0 before raising PR.

## Steps to Reproduce (for bugs)

1. `faas-cli store deploy nodeinfo --label label=value --annotation annotation=value`
2. `faas-cli

[2018-09-30 06:29] viveksyngh commented on #531
I will create a separate issue for that and work on that.

[2018-09-30 06:46] viveksyngh opened #535 "Print labels or annotations in `faas-cli describe <function_name>`"
Print any labels or annotations for function if available in `faas-cli desribe <function-name>`

## Expected Behaviour

[code]

## Current Behaviour

[code]

## Possible Solution

Consume annotations or labels information from the same API

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version

[2018-09-30 21:42] alexellis commented on #527
Derek close: resolved

[2018-09-30 21:42] #527 closed

[2018-10-01 04:46] viveksyngh commented on #533
Derek assign: me

[2018-10-01 04:46] viveksyngh commented on #535
Derek Close

[2018-10-01 04:47] #535 closed

[2018-10-01 08:34] Rasarts commented on #417
In some-project.yaml I have:
[code]

When I try use faas-cli like this:
[code]
after that I use docker command:
[code]
than I get error in my pipeline :
[code]
But I am expect what I can build docker image with other tag then some-project-name in some-project.yaml

[2018-10-01 08:38] alexellis commented on #417
Hi @Rasarts I'm going to close this issue since it's an old thread and you have a different question.

Basically you need to fill in all the details in the .yaml file

This is an invalid Docker image name if you want to push it:

[code]

Best use `faas-cli new --lang golang --prefix=some-user`

Which will generate:

[code]

Alex

[2018-10-01 08:38] alexellis commented on #417
Derek lock: original issue resolved

[2018-10-01 08:39] alexellis commented on #417
Derek close

[2018-10-01 08:39] #417 closed

[2018-10-01 09:42] Rasarts opened #536 "User prefix from environment in ci pipeline"
For ci pipeline in gitlab I use environment variables and want to push image to two different docker registry.

## Expected Behaviour

I can push some commit to repository, after successful pipeline I can change $CI_REGISTRY_USER environment variable and restart last build stage for push image to other docker registry.

## Current Behaviour

I use this [.gitlab-ci.yml](https://gist.github.com/Rasa

[2018-10-01 18:12] rgee0 commented on #496
[code]

[code]

[code]

[code]

[2018-10-01 19:14] LucasRoesler commented on #496
I like those. But I would prefer the verb `use` instead of `set`.  Set makes me think it is an edit/update command. So,

[code]

Also, a we should support the hyphen shortcut

[code]

We probably also want the ability to rename a context, like

[code]

[2018-10-01 22:37] johnmccabe commented on #496
@rgee0 I would avoid using pretty output on its own, as it makes scripting with the cli a pain.

[code]
Could alternately hang displaying the current context off the `context` root with no subcommand.

I'd also stick to commonly used verbs across the cli, for example
[code]

It should also specify what output is returned when no context had been set and either some gateway logins exist, or nothing

[2018-10-01 23:07] johnmccabe opened #538 "Recent update to --tag breaks backwards compatibility"
## Expected Behaviour

It should be possible to pass the `--tag` flag to `build`/`push`/`deploy` and `generate` without specifying an option. The help text should also reflect the valid options that can be passed to this arg.

## Current Behaviour

The currently CLI sets a default value of `file` which is invalid and results in the following if used on its own (with `build` in this case):
[code]

[2018-10-01 23:13] johnmccabe commented on #538
Invalid issue.

[2018-10-01 23:13] #538 closed

[2018-10-02 08:20] alexellis commented on #538
Fixed in #539

@johnmccabe please close this issue now and add it to the latest milestone using Derek.

[2018-10-02 20:57] johnmccabe commented on #472
Yeah, needs dusted off and pushed (got side-tracked helping with the minikube stuff) - I can swing back round to this on Sunday after I get VMUG and PHP Scotland out of the way.

[2018-10-02 21:07] johnmccabe commented on #496
You can alias both `list` and `ls`.

[2018-10-03 06:38] rgee0 opened #540 "Add ls alias to store list command"
## Expected Behaviour
Consistent experience through all cli commands.

## Current Behaviour
`faas ls` provides an alias to `faas list`
[code]
`faas store list` has no such alias
[code]

## Possible Solution
Mirror implementation of the alias in `faas list`

## Context
Aiming to improve UX by providing consistency across CLI commands

[2018-10-03 07:15] alexellis commented on #540
Derek add label: design/approved

[2018-10-03 07:15] alexellis commented on #540
Derek add label: Hacktoberfest

[2018-10-03 07:39] LucasRoesler commented on #496
I like John's suggestion to keep the output scripting friendly and to use the root `context` command for the "show currently active".

If no context is active or none exist, it seems reasonable that it would return a message on standard error: "no context configured"

[2018-10-03 15:48] rgee0 commented on #540
Derek set milestone: 0.7.6

[2018-10-04 14:01] ivanayov commented on #536
The CLI does not support changing image name for the moment, but you can simplify by using
`docker tag old-image-prefix/image-name:verision new-image-prefix/image-name:version`

If this is the use-case, you don’t need to build twice, nor to create the function twice.

[2018-10-07 16:00] alexellis opened #543 "Issue with `faas-cli new --append` - overwrites environmental variables and secrets"
Issue with `faas-cli new --append` - overwrites environmental variables and secrets

## Expected Behaviour

[code]

Edit test and give it some env-vars or secrets

[code]

Env-vars and all other configuration for `test` should remain.

## Current Behaviour

They're getting removed.

## Context

Confusing for users

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

[2018-10-07 16:01] alexellis commented on #543
I'd like an existing faas-cli contributor to look at this issue (not a Hacktoberfest issue)

Alex

[2018-10-07 16:13] rgee0 commented on #543
Still investigating, but I think the following could be implicated:

https://github.com/openfaas/faas-cli/blob/517db31170a099e96701987f96c247109f5c1e70/commands/new_function.go#L167-L180

[2018-10-07 17:01] alexellis commented on #543
Good detective work. In an ideal world we now create a failing test in a branch to show the behaviour.

[2018-10-07 17:01] rgee0 commented on #543
Confirmed.  The template doesn't parse out the full set of attributes from the Function struct when iterating the existing set of services.
This will impact more than just `environment` & `secrets`

[2018-10-07 17:03] rgee0 commented on #543
Derek assign: me

[2018-10-07 18:02] rgee0 commented on #543
See PR #544

[2018-10-08 13:32] ivanayov commented on #536
@Rasarts did this work for you?

[2018-10-09 13:41] Rasarts commented on #536
Yes. I understand, now. It's worked, thx.

[2018-10-09 13:53] ivanayov commented on #536
Derek close

[2018-10-09 13:53] #536 closed

[2018-10-11 15:09] ivanayov opened #545 "(Can't reproduce error) faas-cli login doesn't indicate failure with wrong credentials"
When running `faas-cli login` and it fails due to wrong credentials, one can understand it only if trying to deploy a function, but will not see an error message from the login command.

## Expected Behaviour

[code]

Should return some message like
[code]

## Current Behaviour

[code]
does not result in error message
[code]

and you can spot it on deployment only
[code]

[2018-10-12 18:11] rgee0 commented on #545
@ivanayov can you provide the output from `faas-cli version` please?

[code]
The last line tells us we aren't logged in.  Its provided by this block:

https://github.com/openfaas/faas-cli/blob/517db31170a099e96701987f96c247109f5c1e70/commands/login.go#L130-L140

If you aren't receiving this line then we may also need to look at the status code coming back from the gateway in your environment

[2018-10-12 18:13] ivanayov commented on #545
@rgee0 I was using  0.7.4. Seems I've missed out it's resolved.

[2018-10-12 18:17] rgee0 commented on #545
@ivanayov can we double check because it was also working for me on 0.7.4. I upgraded to 0.7.5 during my response to ensure that it wasn't an issue with 0.7.5.  I'd like to check we haven't had a regression since my gateway is 0.8.11

[2018-10-12 18:21] ivanayov commented on #545
Hm, it's failing:
[code]

My gateway version is 0.9.5

[2018-10-12 18:30] rgee0 commented on #545
Brand new instance.  Can you try logging in to the same?

[code]

[2018-10-12 18:33] ivanayov commented on #545
It prints the error message:
[code]

Is it with 0.9.5 too or with 0.9.6?

[2018-10-12 18:35] rgee0 commented on #545
[code]

[2018-10-12 18:49] ivanayov commented on #545
I can investigate on Monday as it's reproduced on my machine.

My docker version is 18.06.1-c and I'm running on Mac.

[2018-10-12 19:52] alexellis commented on #545
[code]

[2018-10-12 19:52] alexellis commented on #545
Maybe auth was off on your gateway @ivanayov ?

[2018-10-12 19:54] alexellis commented on #545
The other (with Kubernetes and a bad password gives):

[code]

[2018-10-12 20:16] alexellis commented on #545
Could you maybe had a mix of OpenFaaS GW / faas-swarm versions where one had auth on `basic_auth=true` and one did not?

[2018-10-12 20:18] alexellis commented on #543
I originally pushed back on us re-writing the file in favour of appending to the file. Re-writing removes comments and any other custom meta-data that users may want.

Was there any discussion in the history / PRs as to why we went for re-writing the whole file?

[2018-10-13 10:56] rgee0 commented on #543
Took some tracking down as there were multiple PRs on this.  The story starts in #141, where it's agreed to append.

Then the feature is moved over to #213 which never saw the light of day as it was superseded by #301.

#301 took the existing file and appended to it.  Then #357 adds some deduplication to the functionality introduced in #301, so that files cannot contain multiple functions with the

[2018-10-13 11:28] alexellis commented on #543
Good detective work

[2018-10-13 19:48] #533 closed

[2018-10-14 03:59] kenfdev opened #547 "deploy command with `--image` doesn't respect the OPENFAAS_URL env variable"
## Expected Behaviour

The `OPENFAAS_URL` env variable should take effect when running `faas-cli deploy --name env --image="functions/alpine:latest"`

[code]

## Current Behaviour

The `OPENFAAS_URL` does not take effect and the default url `http://127.0.0.1:8080` is used.

[code]

## Possible Solution

This happens because the `gateway` url is only set when `sendRegistryAuth` is `true`.
https://g

[2018-10-14 03:59] kenfdev commented on #547
Derek assign: me

[2018-10-14 04:39] kenfdev commented on #547
I've already created a PR for this, but am open for discussions if this change is missing some points.

[2018-10-14 08:34] alexellis commented on #497
@colbyn our file won't clash since it's named `stack.yml`.

Let's not get confused in the issue - the default *is already* `stack.yml`.

[2018-10-19 18:06] #543 closed

[2018-10-19 21:33] rgee0 opened #550 "Suggestion: Support an OPENFAAS_PREFIX env var"
Having to repeatedly supply `--prefix` was mentioned in #479 and #496 covers the broader idea of having a concept similar to the AWS CLI where profiles can be specified to save the user having to repeatedly supply details.  Should we support an env var which when present would negate the need to provide `--prefix`, in much the same way as OPENFAAS_URL negates the need to provide `--gateway/-g`

##

[2018-10-19 21:34] rgee0 commented on #545
Derek close: inactivity / unable to reproduce

[2018-10-19 21:34] #545 closed

[2018-10-20 22:07] johnmccabe opened #551 "Template fetching has line-endings overridden by git config (breaks function build on Windows)"
## Expected Behaviour

Templates pulled via `faas new` or `faas template pull` should have the same line endings as committed in the openfaas/templates repo.

## Current Behaviour

Currently the fetch code in `faas-cli` doesn't attempt to override any user settings of `core.autocrlf` which results in function builds working for some users and failing for others depending on whether it has been set

[2018-10-20 22:28] johnmccabe commented on #551
Derek assign: me

[2018-10-24 22:05] itscaro opened #553 "Switch to Go module from dep"
Since Go module is experimental in 1.11, we should wait for 1.12 to have this feature as official.

## Expected Behaviour
Go `module` will be used to keep track of dependencies and avoid the need of GOPATH

## Current Behaviour
`dep` is currently used

[2018-10-24 22:06] itscaro commented on #553
/derek add label proposal

[2018-10-24 22:06] itscaro commented on #553
derek add label proposal

[2018-10-24 22:07] itscaro commented on #553
Derek add label: proposal

[2018-10-25 09:05] feifeiiiiiiiiiii opened #554 "README.md exist not can't reach link"
## Expected Behaviour

Fix to right place

## Current Behaviour

README.md exist not can't reach link

[2018-10-26 02:16] #554 closed

[2018-10-26 07:11] alexellis commented on #553
Derek add label: proposal

[2018-10-26 07:12] alexellis commented on #553
Derek add label: blocked

[2018-10-26 07:12] alexellis commented on #553
Please see notes on: https://github.com/openfaas/faas/issues/875

[2018-10-30 20:06] rgee0 commented on #402
This kinda caught us out this week in that one day we had a working system that actually shouldn't have been working and the next we didn't have a working system without us having changed anything.

[2018-10-30 20:12] alexellis commented on #402
I need a bit more context, can you give an example of how this caught you out?

[2018-10-30 20:18] rgee0 commented on #402
We rebuild every morning.  When deploying we had a secret that was required by a function but wasn't specified in the `stack.yml`. 9 out of 10 times deployments saw the secret mounted into the function (because of the scenarios already described), the 10th time it wasn't.

[2018-10-30 20:29] alexellis commented on #402
I'm reading through the thread but it would help if someone could sum this up. Why does deploying the same code fail some of the time?

[2018-10-30 20:54] rgee0 commented on #402
The CLI collects secrets cumulatively.  Imagine two functions that both make use of `secret1`, `secret2` & `secret3` and the incorrectly specified pseudo-yaml:

[code]
It's incorrect as `fn1` should have the same secrets specified as `fn2`.

On the first deploy `fn2` is processed first which means the CLI secrets slice will consequently contain secrets 1-3, which are subsequently mounted into `fn1

[2018-10-31 18:52] alexellis commented on #402
That makes a lot of sense said this way. Please can you create a new issue and link to this one? Then raise a PR when you're ready.

[2018-10-31 20:43] rgee0 opened #557 "Inconsistent application of secrets when multiple functions are deployed"
## Expected Behaviour
Each deploy against a given `stack.yml` should be deterministic in terms of access to secrets.

## Current Behaviour
There are a couple of behaviours that manifest, which are discussed in detail in #402.  Both are related to the CLI collecting secrets cumulatively.

1) If a secret that is detailed in the `stack.yml` is missing from the orchestrator then the deploy will fail a

[2018-10-31 20:47] alexellis commented on #557
Great write-up and analysis here.

Perhaps on the line above here (the loop) we could create a new slice and use that to merge each time so that we don't get this cumulative effect?

https://github.com/openfaas/faas-cli/blob/772de4eafc1fe050582644e478ccdc75db8ade98/commands/deploy.go#L167

[2018-10-31 20:57] rgee0 commented on #557
That was along the lines of what I was thinking.  Initialise a new slice per function and append any deploy flag secrets specified.

I think both fixes could be relatively straight-forward.

[2018-10-31 20:59] alexellis commented on #557
For the deterministic ordering for processing the functions - I think there are pros and cons to that, but for the slice per function I think we should do this right away. Do you want to work on it?

[2018-10-31 21:02] rgee0 commented on #557
Derek assign: me

[2018-11-02 16:28] #557 closed

[2018-11-04 17:45] #551 closed

[2018-11-08 07:49] alexellis opened #559 "Suggestion: template store in CLI"
Suggestion: template store in CLI

## Expected Behaviour

Just like we have `faas store list` to help find and group useful sample functions, we could do the same for the templates we use the most in the community but which are not in the templates repo.

[code]

## Implementation

I would see this being platform-specific and reading from a JSON file on the openfaas/store repo such as templates-st

[2018-11-08 13:41] burtonr commented on #559
I like the idea of making community templates more discoverable!

I would think the list should be maintained in the `openfaas/templates` repo though, rather than the store. Maintaining it in the templates repo would mean it'd be easier to find and keep up to date (if we brought one of them in to the official templates) than cross-repo. Since the store is more about ready-to-run functions.

[2018-11-08 16:32] ivanayov commented on #232
@muka do you have any input on the issue? This seems pretty outdated. How do you feel with the latest faas-cli?

[2018-11-08 16:37] ivanayov commented on #186
@stefanprodan is this still a valid proposal?
I can see the PR implementing it closed. Should we close the issue?

[2018-11-08 16:42] rgee0 commented on #559
Should we take the opportunity here to include an attribute for hardware platform(s) within the JSON schema so that we have one file and then could potentially filter the output at the client?

I can understand @burtonr's thinking around the location and I see this more as a _store for templates_ in much the same was as we have a _store for functions_.  So there's an idea that we have a single sto

[2018-11-08 16:44] stefanprodan commented on #186
Yes I'll close it. thanks for the ping

[2018-11-08 16:44] #186 closed

[2018-11-08 16:58] ivanayov commented on #259
This proposal seems not approved, so I'm closing the issue.
Please feel free to comment, if you have any additional input or think this should be revisited. Thanks

[2018-11-08 16:59] ivanayov commented on #259
Derek close

[2018-11-08 16:59] #259 closed

[2018-11-08 17:40] muka commented on #232
Please close, thank you!

[2018-11-08 17:43] ivanayov commented on #371
What's the status of this issue? I can see the PR closed.

[2018-11-12 09:03] martindekov commented on #550
I think this is a very good idea. Most of the time I am pushing to my dockerhub and it is annoying to write the prefix every time. Is it approved? If so I can start working on it

[2018-11-12 09:32] ivanayov commented on #550
+1 for this

I wonder if it's better to make the name more descriptive, but  just`OPENFAAS_PREFIX` is also fine.
IMO  it should be taken into account only by `faas new` and prioritised after the `--prefix` flag.

[2018-11-12 17:45] rgee0 commented on #550
I was anticipating a precedence order approach similar to that which we use in the `getGateway()` method.  Whether the order itself is the same as that in the gateway decision is open to discussion.

It mirrors the flag, which the user should already be familiar with.  Happy to deviate on the suggested name, but in doing so we should consider whether the flag is affected in the same way.

[2018-11-19 11:55] martindekov commented on #559
Derek assign: me

[2018-11-19 12:19] martindekov commented on #559
I have started adding some fields to the struct and the columns started to grow which I think overcrowds the command, and for the sake of simplicity I think the repository names are pretty self explanatory aka `python3-armhf` is enough to know that the template uses python 3 on armhf architecture and if we list all possible variations then the length of the fields that we need to provide starts to

[2018-11-19 14:03] martindekov commented on #559
Also was thinking of moving `template` as its own command with `store` and `push` as separate commands appended to the first one and Imagine it working like:
[code]
[code]
[code]

[code]
[code]

Already moved `template` as `master-command` I can re-do that if needed, can you give me some feedback before proceeding ?

[2018-11-19 17:17] rgee0 commented on #559
For ease of reference: https://github.com/openfaas/store/pull/42

[2018-11-27 14:10] Jan-Axoom opened #562 "Suggestion: faas-cli should be able to authenticate with a client certificate"
Many servers use client sided certificate authentication which seems to not be supported by faas-cli.

## Expected Behaviour
faas-cli should handle certificates as authentication for the deploy command

## Current Behaviour
not implemented

## Possible Solution
faas-cli grabs installed certificates or allows a flag to submit a certificate manually.

## Context
The ingress of my openFaaS service ru

[2018-11-27 20:47] alexellis commented on #553
I've upgraded to Go 1.11 but continue to use dep -> https://github.com/openfaas/faas-cli/releases/tag/0.8.0

[2018-11-27 20:51] alexellis commented on #562
Hi @Jan-Axoom I'm not sure if I fully understand your use-case here.

Are you saying you're using self-signed certificates which are not in your locally trusted CA bundle?

Alex

[2018-11-29 08:51] alexellis opened #563 "faas-cli template store describe"
## Expected Behaviour

Since we were unable to fit the GitHub repo URL for a template in the "list" / "list --verbose" view of the new commands, we should do this in a new command named `describe`:

[code]

In summary: show all the info we have for that template in the JSON file including the repo URL.

See `faas-cli describe` for formatting or reach out to @viveksyngh for more (he did the changes

[2018-11-29 18:56] #563 closed

[2018-11-30 08:47] Jan-Axoom commented on #562
Hi,

I'm using a self signed certificate, which I already added to my trusted CA bundle, but the faas-cli won't use it. The faas-cli answers with "remote error: tls: bad certificate" even with the installed cert.

Jan

[2018-11-30 11:49] alexellis commented on #562
I would expect the CLI to honour a self-signed cert if and only if the CA bundle is trusted and configured properly locally.

I'll ask someone to look into this.

Do you have the exact steps and OS you used so that we can try to reproduce it?

I would also suggest looking at the insecure TLS flag via --help as a temporary workaround.

Alex

[2018-11-30 11:49] alexellis commented on #562
@ewilde PTAL?

[2018-11-30 13:10] ewilde commented on #562
@Jan-Axoom just to confirm is this issue to add: Mutual TLS support to the faas-cli?

As referenced here: https://www.codeproject.com/Articles/326574/An-Introduction-to-Mutual-SSL-Authentication

![image](https://user-images.githubusercontent.com/329397/49291184-4d624d00-f4a1-11e8-8bd4-3c64e6f70974.png)

[2018-11-30 13:31] Jan-Axoom commented on #562
@alexellis I am using a 18.04 Ubuntu inside a VirtualBox.
Steps:
1. I deploy my openfaas via helm onto kubernetes engine in gcloud with an traefik-internal ingress pointing to the host openfaas.<our-secured-server>
2. I build and push the hello-python example and try to deploy it to openfaas.
3. the deploy fails with bad certificate.

If I use any other tool as browser or postman to access the pag

[2018-11-30 15:04] alexellis commented on #562
Hi,

How are you deploying/configuring your Traefik Ingress to the gateway?

Alex

[2018-11-30 15:08] Jan-Axoom commented on #562
I'll just send my files:
[openfaas.zip](https://github.com/openfaas/faas-cli/files/2633841/openfaas.zip)

[2018-11-30 15:16] alexellis commented on #562
How is traefik configured?

Thanks,

Alex

[2018-11-30 15:42] Jan-Axoom commented on #562
I hope this is what you need: I don't have access to the helm chart but this is the config showing inside our kubernetes engine:

apiVersion: v1
kind: Service
metadata:
  creationTimestamp: 2018-09-14T06:33:25Z
  labels:
    app: traefik-internal
    chart: traefik-internal
    heritage: Tiller
    release: ingress-controller
  name: traefik-internal-ingress
  namespace: ingress-controller
  resou

[2018-11-30 16:46] ewilde commented on #562
@Jan-Axoom i think we would need to verify how traefik was configured? If for example you are using the require client certificates as documented here: https://docs.traefik.io/configuration/entrypoints/#tls-mutual-authentication

[2018-12-05 09:31] alexellis opened #567 "Proposal: Support build-time labels for Docker images"
As a faas-cli user I would like to provide a series of labels to be built into my Docker images so that I can identify, catalog and organize my images.

This feature was suggested by "zeeque" on Slack who works at e2x.com.

An example is http://label-schema.org/rc1/

## Expected Behaviour

[code]

We may also want to place these labels in YAML files such as:

[code]

There may be a place in the YA

[2018-12-07 21:34] mikeroyal opened #569 "Snap Package Support (Feature Request)"
I was thinking in the install and setup could be improved for Ubuntu and other Linux distros by having a [snap package](https://snapcraft.io/) version. If it's not a priority would you mind if I made the snap?

[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Build and test snap](https://snapcraft.io/build)

[Getting Started snap template](https://github

[2018-12-07 21:57] burtonr commented on #569
Hey @mikeroyal Although I personally use Ubuntu (and snaps) primarily, this isn't a priority for the project.

The challenge is in maintaining the versions with releases.

We currently only officially support `brew` installer on MacOS as that is the primary platform for our users. Even that can be a challenge to keep up with the changes.

If you could propose a way that the maintenance of the snap

[2018-12-08 01:31] mikeroyal commented on #569
@alexellis, Yes, here are the docs if you want to read more in-depth. https://microk8s.io/docs/

**List of available addons**

 **dns**: Deploy kube dns. This addon may be required by others thus we recommend you always enable it.

**dashboard**: Deploy kubernetes dashboard as well as grafana and influxdb. To access grafana point your browser to the url reported by **microk8s.kubectl cluster-info*

[2018-12-08 09:19] martindekov opened #570 "Filter templates by platform"
We can filter the templates by platform for the times user is interested in writing a function on `armhf` devidce

## Expected Behaviour

Filter templates by `PLATFORM`

## Current Behaviour

We cannot filter templates  by the platform we are interested in

## Possible Solution

We can add two additional flags:

* One for the user to check what platforms are available. Example: `faas-cli template

[2018-12-08 15:50] martindekov commented on #570
It can be implemented with single flag proposed by @rgee0 `faas-cli template store list --platform armhf` ✔️ (cause we support that) and if we write
[code]

[2018-12-09 00:12] lucidprogrammer opened #572 "faas-cli - separate out stdout and stderr stream"
If there was a way to get the error stream separately while using faas-cli deploy, it could have been greatly helpful. Ideally separate out the stdout and stderr. Then its easy to check status of automatic deployments and do appropriate actions.

[2018-12-10 14:36] alexellis commented on #572
Hi @lucidprogrammer thanks for your feedback.

I believe you should be able to look at the exit code ascertain whether there was an error a deployment time. Cc @ivanayov

Alex

[2018-12-11 15:38] ivanayov commented on #572
Hi @lucidprogrammer

You can find instructions for that here: https://github.com/openfaas/workshop/blob/master/lab4.md#making-use-of-logging

[2018-12-11 15:46] alexellis commented on #572
( @ivanayov this issue is about deployment, via the CLI not about invoking the function. )

[2018-12-11 22:14] alexellis commented on #572
@lucidprogrammer did this help?

[code]

[2018-12-13 04:34] lucidprogrammer commented on #572
@alexellis thank you for the response and really like this project and using this heavily. can work with exit code, that's fine. Thank you

[2018-12-13 04:34] #572 closed

[2018-12-17 17:44] alexellis opened #573 "Allow pinning of templates to version via SHA/branch or tag (release)"
## Expected Behaviour

I should be able to pin a template to a specific version via SHA/branch or tag (release) so that I can control my build pipeline and keep it reproducible.

## Current Behaviour

I can clone and checkout a templates repo manually, but not via `faas-cli template pull`.

## Possible Solution

[code]

If no `#` is given then the behaviour should default to the current functional

[2018-12-17 17:45] alexellis commented on #573
cc @LucasRoesler who wrote the original code

[2018-12-18 08:13] LucasRoesler commented on #573
`dep` uses this format with an `@` instead of `#`  `dep ensure -add github.com/pkg/foo@^1.0.1`

NPM also uses the same format.  Should we also use that?

[2018-12-19 09:21] alexellis commented on #567
Hi @viveksyngh thank you for picking this up 👍

To make this easier to manage, test and review I would start with the build flag first as one PR, then add the YAML options in a second PR.

Alex

[2018-12-19 13:51] #570 closed

[2018-12-22 09:37] alexellis commented on #573
Sounds good to me

[2018-12-28 11:51] itscaro commented on #553
Updated the branch so that there is only ref to go module, since 1.11 is already on master

[2018-12-28 20:21] martindekov commented on #550
Is there any movement on this Issue?

[2018-12-28 20:32] martindekov commented on #371
Should we be closing this? I saw [Swarvanu](https://github.com/openfaas/faas-cli/pull/373) and [Eric](https://github.com/openfaas/faas-cli/pull/434) both worked on this issue but both PRs got closed, does this mean the Issue is obsolete?

[2018-12-28 20:47] martindekov commented on #467
I think we already added platforms for `template store` why shouldn't we do the same with `store`?

I see we have couple of `store-armhf.json` etc... containing different images with functions on the architectures

We can add `--platform` flag to `faas-cli template store list --platform armhf` and get the `store-armhf.json` etc.

Now we can do this if we find the link and manually paste `faas-cli

[2018-12-28 21:16] alexellis commented on #467
It is inconvenient as a user experience.

For the UI code we bake-in the architecture at build-time for the function store. We could do the same via a compile-time variable for the faas-cli?

I would like to see 3-4 clearly-written ideas for this from the community. cc @rgee0 @burtonr

Alex

[2018-12-28 21:19] alexellis commented on #550
I think it would make more sense as `OPENFAAS_USER_PREFIX` - for context - `--prefix` was only chosen for the CLI for brevity.

I think there are two problems here so let's make sure we are solving the right one first:

## 1. Users want to hack on a stack with a prefix such as `openfaas` or `rgee0` but have to manually hack on the YAML and keep that in sync

## 2. Some people find adding `--prefix

[2018-12-28 21:52] rgee0 commented on #467
The CLI is a client which may run on a different architecture to the gateway/ui/functions. How would baking in a compile time variable help in this regard?

My view has always been one file for store.json and supported architectures becomes an attribute of the listed functions. The user could then filter on the target hardware through either a user supplied value or a gateway API derived equivalen

[2018-12-28 21:59] rgee0 commented on #467
Ref: https://github.com/openfaas/faas/issues/429

[2018-12-30 14:48] LucasRoesler opened #577 "Implement secret management commands"
## Expected Behaviour

The CLI needs to implement secret management commands as specified in openfaas/faas#807 These commands would talk to the OpenFaaS gateway that would then work with the configured provider to Create, Update, or List the secrets

## Possible Solution

Implement a new `secrets` command with the following subcommands

[code]

Some other ideas to consider

1. Support a `--from-fi

[2018-12-30 18:16] viveksyngh commented on #577
Derek assign me

[2019-01-02 08:01] LucasRoesler commented on #467
I like the idea of adding `architectures` as an attribute in the `store.json`

[2019-01-02 13:42] ivanayov commented on #467
I like the option with the `—platform` flag. This + `architectures` as an attribute would work well.

[2019-01-02 13:51] burtonr commented on #467
I'll put another vote in for the `architectures` attribute and a `--platform` flag. That solution makes the most sense in my mind.

We could then combine both `store*.json` files into one

[2019-01-02 19:20] martindekov commented on #467
I saw in the code and currently the way we would implement the `--platform` flag would be to point to the different `store*.json` files and in the future if we combine the stores into one, we can change the implementation.

Or merge the `store*.json` files into one before implementing `--platform` so we don't do that twice if we are sure merging the files into one is a good idea in general.

[2019-01-05 10:00] #573 closed

[2019-01-05 10:06] alexellis commented on #577
Derek set milestone: 0.8.3

[2019-01-05 10:06] alexellis commented on #577
I'm happy for this work to be broken up - i.e. for someone who has time now to do an initial PR to add the "faas-cli secret list` command first and get that merged.

[2019-01-05 10:07] alexellis commented on #569
Thanks so much for the info. Do you want to join Slack to talk more? https://docs.openfaas.com/community/

How do we go about writing a test snap for this?

Alex

[2019-01-05 11:14] LucasRoesler commented on #577
I would like to do this one

Derek assign: me

[2019-01-05 11:17] alexellis commented on #577
Go for it

[2019-01-05 11:21] viveksyngh commented on #577
I have started work on this should be able to push initial version today.

[2019-01-05 12:42] alexellis commented on #577
Can you both work together on Slack do coordinate?

[2019-01-05 17:59] burtonr commented on #550
I'll put in a vote to focus only on enabling a default for the `faas new` command. When creating new functions, it's easy to forget to add the `--prefix` to the argument list. Then, running `faas up` throws an error since it can't push the image, and causes a minor inconvenience.

A second update could be made to take into account an existing `.yml` file and possibly add the prefix if it doesn't e

[2019-01-09 09:58] ivanayov commented on #577
@viveksyngh @LucasRoesler @bartsmykla did someone started working on `create`/`delete`/`replace`? Can I take one of them?

[2019-01-10 08:07] bartsmykla commented on #577
I didn't

[2019-01-10 08:12] alexellis commented on #577
Please check with Vivek in the members channel. He has an open PR already which should be linked.

[2019-01-10 11:19] leodido commented on #577
Would like to help implementing one command.

[2019-01-10 11:54] alexellis commented on #577
I would say whoever does invoke needs to do replace/update too since it will be the same code, let's not duplicate effort on that one. @viveksyngh did you say you've started this?

I've just put a PR up for `delete/remove`

Alex

[2019-01-10 12:02] alexellis commented on #472
Do you still have a local copy? Anything we should be aware of or watch for?

[2019-01-10 17:53] alexellis opened #581 "Refactor TLS warning into const"
## Expected Behaviour

The following string is repeated in several places, especially when we merge all the remaining secrets features such as #580

[code]

## Possible Solution

We should extract these messages into a const within the package they live in. If they live in both, then maybe they should go in a common existing package?

[2019-01-10 19:17] viveksyngh commented on #581
Like this there are few more error messages that we can refactor, they are mostly part of the proxy functions.

[2019-01-10 22:16] alexellis commented on #294
I've not heard this mentioned for some time. @rgee0 any thoughts if this is still considered an issue?

[2019-01-10 22:16] alexellis commented on #2
Derek close: see OpenFaaS Cloud for automated builds

[2019-01-10 22:16] #2 closed

[2019-01-11 11:04] LucasRoesler opened #583 "Reduce the number of package level variables"
## Expected Behaviour

It would be nice/better if the CLI flag values were scoped to the methods being run instead of the package, e.g. we shouldn't expose the `secretName` variable to the `deploy` command.

## Current Behaviour

Many (or all) of the CLI commands have flag values that are parsed by supplying a pointer to a package level variable, e.g.

[code]

## Possible Solution

Flag values can

[2019-01-11 15:00] mario-mazo commented on #581
I would like to take this one

[2019-01-12 10:35] alexellis opened #584 "Bump brew chart to 0.8.3"
We need someone to bump the brew chart to 0.8.3 to include the secrets work

Instructions are in or available via the README.md file.

@rgee0 normally does this, but anyone should be able to follow the instructions.

Alex

[2019-01-12 10:36] alexellis commented on #584
Instructions: https://github.com/openfaas/faas-cli/blob/master/CONTRIBUTING.md#how-to-update-the-brew-formula

[2019-01-12 17:12] alexellis opened #586 "Add instructions for updating get.sh"
## Expected Behaviour

There should be a note in the contributing guide saying that the `get.sh` file is served from https://github.com/openfaas/cli.openfaas.com and that PRs to that repo need to be made to keep get.sh in sync.

We could even add a note to the contributing guide in the top of the get.sh file stating its source and where it is served from.

I also noted get.sh didn't have `#!/bin/b

[2019-01-13 17:40] ZeoX06 commented on #586
Hi,
as I wrote in slack, I can add some documentation. Nice to see that Alex already fixed the error message of the script.

[2019-01-13 17:51] alexellis commented on #586
Please can you take this one?

[2019-01-13 23:02] ZeoX06 commented on #586
Yes, I'll have time tomorrow.

[2019-01-14 07:58] recollir commented on #584
Can be closed. I just saw that the chart is already on 0.8.3.

[2019-01-14 08:22] rgee0 commented on #584
Derek close: [Already completed](https://github.com/Homebrew/homebrew-core/commit/5279454346c41740b5b48309c39bb02917a52f43)

[2019-01-14 08:22] #584 closed

[2019-01-14 22:40] ZeoX06 commented on #586
Can someone check:
https://github.com/ZeoX06/docs/blob/add-get-script/docs/contributing/get-started.md
https://github.com/ZeoX06/cli.openfaas.com/blob/add-readme/README.md

Thanks :)

[2019-01-15 22:24] alexellis commented on #586
Please can you raise the PR for me to check?

[2019-01-16 19:34] anubhabMajumdar opened #587 "Changing environment variables across multiple YAML file"
## Expected Behaviour
I have a unique problem, I couldn’t find anything online specific to this.
I am using environment variables to provide `db-name` and `collection-name` for mongoDB. I have multiple `stack.yml` files which injects `db-name` to multiple functions. This works great.
Now, here is the problem - let’s say I want to switch the DB from `dev` to `test`. One way is to manually change th

[2019-01-16 21:19] anubhabMajumdar commented on #587
Thanks! I will discuss this with team members and get back to you.

[2019-01-25 10:23] sbhardwaj-mt opened #589 "faas-cli build fails for golang on minikube"
I created new function for golang through faas-cli : faas new go-fn --lang go
after building the faas function with : faas build -f go-fn.yml

`[0] > Building go-fn.
Clearing temporary build folder: ./build/go-fn/
Preparing ./go-fn/ ./build/go-fn/function
Building: go-fn:latest with go template. Please wait..
Sending build context to Docker daemon 6.656 kB
Step 1/20 : FROM golang:1.10.4-alpine3.8

[2019-01-25 10:33] alexellis commented on #589
[code]

This works fine for me ^

Perhaps try again?

[2019-01-25 11:00] ivanayov commented on #589
Hi @sbhardwaj-mt I tested and building is working well for me:

[code]
[code]

docker version: 18.09.0
faas-cli version:  0.8.3
minikube version: v0.26.1

Can you try `docker pull golang:1.10.4-alpine3.8`?

[2019-01-25 12:19] sbhardwaj-mt commented on #589
probably I will shift to docker version 18.09.0 and minikube 0.26.1.
will update if I get the same result.

Looks like docker issue I tried building it from build/ directory via docker build . I am getting the same error.

[2019-01-25 15:55] LucasRoesler opened #590 "Validate secret name before submission"
The Secrets API currently returns all errors from the k8s cluster as 500 Server Error. This obfuscates validation errors and can be confusing.  This has been documented (as shown below) when the secret name is not valid.

## Expected Behaviour

The CLI should validate the secret name before submitting to the API

[code]

## Current Behaviour

No validation is done and the server will return a 500

[2019-01-25 15:59] viveksyngh commented on #590
Derek assign: me

[2019-01-25 17:04] ivanayov opened #591 "Proposal: Add `faas-cli log/describe fn`"
What do you think about abstracting function logs with the cli, as well as `docker inspect`/`kubectl describe`?

This would help with debugging functions. In Kubernetes it's taking longer to type `kubectl logs deploy/your-fn -n your namespace`, especially when you're debugging more complex environment (like OpenFaaS Cloud for example). Another good reason is abstracting over Swarm or K8s.

It can

[2019-01-25 22:43] rgee0 commented on #587
@anubhabMajumdar Can we assume that since there is no update this is no longer an issue and so can be closed?

[2019-01-25 22:47] anubhabMajumdar commented on #587
Yes. Thank you. This worked out for our project.

[2019-01-25 22:47] #587 closed

[2019-01-28 19:46] #581 closed

[2019-01-28 19:54] alexellis opened #594 "Add [--tls-no-verify] to "store deploy" command"
## Expected Behaviour

We need to add [--tls-no-verify] to "store deploy" command

## Current Behaviour

Only available in the regular deploy command.

[code]

## Possible Solution

See the `faas-cli deploy` command file for how this is implemented.

[2019-01-28 20:09] mario-mazo opened #597 "refactor TLS warning messages"
TLS warning messages should be refactored to a more flexible approach

## Expected Behaviour
something like
[code]
should validate and print the warning
## Current Behaviour
There is a return statement and extra `\n`

## Possible Solution
please refer to #581

[2019-01-28 20:10] mario-mazo commented on #597
I will work on it

[2019-01-28 20:18] alexellis commented on #597
Putting this into review.

[2019-01-28 20:42] viveksyngh commented on #577
This can be closed now.

[2019-01-28 20:42] viveksyngh commented on #577
Derek close

[2019-01-29 18:06] padiazg opened #599 "Error updating secrets"
We tried to update one secret that is used by 14 functions, but we get error 502.
[code]
## Expected Behaviour
A successful update to the secret

## Current Behaviour
We get `server returned unexpected status code: 502`.

This is the log from func_faas-swarm:
[code]

## Context

## Your Environment
* FaaS-CLI version ( Full output from: `faas-cli version` ):
[code]
* Docker version ( Full output f

[2019-01-29 19:17] bartsmykla commented on #599
@padiazg docker swarm doesn't support updating secrets unfortunately

[2019-02-01 15:05] alexellis commented on #569
@mikeroyal

[2019-02-02 16:17] #594 closed

[2019-02-03 22:24] burtonr opened #600 "gateway url parameter priority not as described"
Using `faas list` in a directory where there is a `stack.yml` file, the gateway URL is always taken from the yml file. The `--gateway` parameter and the `$OPENFAAS_URL` values are not used as is described in the [readme](https://github.com/openfaas/faas-cli#run-the-cli)

## Expected Behaviour

Expect the parameter to always be taken if it is provided as is described in the readme about priority.

[2019-02-03 22:32] alexellis commented on #600
Thanks for logging your findings @burtonr - I'll merge as priority/low since I don't think we have any other reports in "recent memory" so I'm not sure it's a pressing problem for the majority of users.

Looking into the code I see we have tests for this and the value in the YAML file is considered in the `getGatewayURL` code:

https://github.com/openfaas/faas-cli/blob/d33cb5cdc128b75fc7a9856c30fc

[2019-02-05 17:39] palade opened #601 "template pull invalid path"
run **faas-cli new --lang python2 hello** in a terminal

## Expected Behaviour

A function should be created

I do have cygwin, and I added path faas-cli to the environment variables table.

## Current Behaviour

2019/02/05 17:27:21 No templates found in current directory.
2019/02/05 17:27:21 Attempting to expand templates from https://github.com/openfaas/templates.git
Cloning into 'C:\Users\Andre

[2019-02-05 17:41] alexellis commented on #601
Hi there is no python2 template, where did you get that command from?

Alex

[2019-02-05 17:46] palade commented on #601
Hi Alex, I tried with python3 as well. I found the command here:

https://medium.com/devopslinks/getting-started-with-openfaas-on-minikube-634502c7acdf

Thank you,
Andrei

[2019-02-05 18:23] alexellis commented on #601
Please show the output with python3.

Cygwin is not supported, but cmd, powershell and Git Bash for Windows are.

[2019-02-05 20:15] alexellis commented on #601
Derek close: cygwin not supported

[2019-02-05 20:15] #601 closed

[2019-02-05 20:15] alexellis commented on #601
Please feel free to keep commenting or join Slack to talk more.

[2019-02-11 13:15] nicolasguelfi opened #602 "r E: Unable to locate package eclipse-jee The command '/bin/sh -c apt-get install -y eclipse-jee' returned a non-zero code: 100"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version ( Full output from: `docker version` ):

* Are you using Docker Swarm (FaaS-swarm ) or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

[2019-02-11 14:13] #602 closed

[2019-02-11 14:13] alexellis commented on #602
Derek add label: invalid

[2019-02-11 14:15] alexellis commented on #602
Closing since the template has not been filled out with enough information to assist you.

Happy to reopen if you can will out the while issue template and report your issue constructively. I suspect this may be a support request rather than a bug, in which case sign up to Slack: https://docs.openfaas.com/community

Alex

[2019-02-12 14:24] palade opened #603 "Support question: faas-cli invoke just hangs"
After following the tutorial from this [website ](https://medium.com/devopslinks/getting-started-with-openfaas-on-minikube-634502c7acdf), the following command just hangs. No output is produced.

echo test | faas-cli invoke hello-python  --gateway $OPENFAAS_URL

## Expected Behaviour

my handler.py has the following content

def handle(req):
    print ( "HELLO " + req)

So I would expect for the f

[2019-02-12 17:59] alexellis commented on #603
What is `$OPENFAAS_URL` and what is the exact code? Wrap it with a code-block quote

[2019-02-12 18:14] palade commented on #603
192.168.99.100:31112

[2019-02-12 18:17] palade commented on #603
Gateway is set to OPENFAAS_URL. Also, when I deploy the function I get

[2019-02-12 18:20] richsanders commented on #603
@palade - Unless you pasted the code wrong you need to indent the second line of your python function.
`def handle(req):
    print ( "HELLO " + req)`
<img width="340" alt="screen shot 2019-02-12 at 1 19 46 pm" src="https://user-images.githubusercontent.com/47542929/52658402-ead9f400-2ec8-11e9-8eba-a719a1d709b3.png">

[2019-02-12 18:21] alexellis commented on #603
Hi you also need to make sure you push the Docker image. Try faas-cli up instead.

[2019-02-12 18:23] palade commented on #603
@[richsanders](/richsanders) thank you for you reply, but I don't think the indentation is the problem because I have the same issue in Java

[2019-02-12 18:35] palade commented on #603
Can you please provide an example or a template that shows how I configure my .yml file to push the image to push the Docker image?

[2019-02-12 18:38] rgee0 commented on #603
[code]

[2019-02-12 18:59] palade commented on #603
works now. Did docker login --username username --password password and pushed the image to Docker Hub. Afterwards it worked. I was jumping over the push phase since I though that build and deploy should be enough and I was working only with a local image. Apologies for this I'm quite new to this setup, and thank you for your help.

[2019-02-12 19:03] rgee0 commented on #603
Good news.  I'll close this.  You might find it useful to talk more with the community as you aim to get up to speed, details here: https://docs.openfaas.com/community/

[2019-02-12 19:03] rgee0 commented on #603
Derek close: resolved