[2020-11-18 15:49] alexellis commented on #844
Thanks for reporting this. I'm taking a look.

My initial feeling is that our shasum file now uses the "bin/faas-cli" format where before it used "faas-cli", which is causing the 404 error.

[2020-11-18 16:32] alexellis commented on #844
Thanks for reporting the issue.

This is fixed by:

9e3c15ef3ad7bd7cceb0cd577144aebb50c6681c Move back out of ci folder after hashgen by @alexellis
a1b891909977657e616656be6dce651d1ae1c361 Update hashgen not to inject bin in the path by @alexellis

I would recommend not using a bash script to download faas-cli in production, but instead pinning to a specific version and upgrading that periodically

[2020-11-18 16:32] #844 closed

[2020-11-18 16:33] alexellis commented on #844
[code]

I would encourage you and team to look into: [Get the most out of OpenFaaS as an end-user](https://github.com/openfaas/faas/issues/1591)

[2020-11-18 23:49] alexellis commented on #845
Thanks for the report. This is a duplicate of #844 and can now be closed.

[2020-11-18 23:49] #845 closed

[2020-11-19 00:39] antoine-em commented on #842
I will do at some point but as the base images in openfaas come from the template store I guess I will need to create at first my own template including my requirements and push it in a store.
The difficulty here was for me to create the necessary environment to store and pull (if not public) rather than using the docker registry straight away.
But I will try to have a look at it when getting more

[2020-11-26 12:10] utsavanand2 opened #847 "faas-cli publish with the `--parallel` flag not working in Github Actions"
## Expected Behaviour

The `parallel` flag in `faas-cli publish` should not give an error.

## Current Behaviour

`faas-cli publish --parallel` gives out an error:
<img width="1224" alt="Screenshot 2020-11-26 at 5 38 01 PM" src="https://user-images.githubusercontent.com/25264581/100349220-25fdd680-300e-11eb-9026-f2d0a27d996a.png">

## Possible Solution

PR in the works.

## Steps to Reproduce (for

[2020-12-02 12:17] chrishowell opened #849 "Function Templates don't get properly updated when using --overwrite"
## Expected Behaviour
When using the `--overwrite` flag on `faas-cli template pull` file deletions should be propagated into the local template directory.

## Current Behaviour
When using the `--overwrite` flag on `faas-cli template pull` file deletions are ignored, only new or updated files are updated in the local template directory.

## Possible Solution
`https://github.com/openfaas/faas-cli/bl

[2020-12-03 20:29] alexellis commented on #796
@viveksyngh can you take this one please?

[2020-12-09 16:48] alexellis commented on #847
Append this index to each builder

https://github.com/openfaas/faas-cli/blob/c9d284d0c5bd90415baf9130fdce55af8e5a506b/commands/publish.go#L179

If in parallel, you may need to create the named builder within the go routine body

Around here

https://github.com/openfaas/faas-cli/blob/c9d284d0c5bd90415baf9130fdce55af8e5a506b/commands/publish.go#L187

[2020-12-17 15:51] Waterdrips opened #852 "Append flag doesnt add newline if not present in file"
## Expected Behaviour

The append flag shuld a function correctly if the file doesn't have a newline at the end

## Current Behaviour

When using `faas-cli new --append stack.yml` i have found that this doesnt append a newline if one is not present in the file

I therefore created a new function and it appended like this

[code]

## Possible Solution

check the stack file for a newline, if not pre

[2020-12-17 18:14] viveksyngh opened #853 "Remove leaking logs from CLI proxy package"
As proxy package is used as SDK it should remove all logging and should return those outputs as results  from those API

## Expected Behaviour

It should not leak logs when SDK are called.

## Current Behaviour

It is having some print/log statements  like

https://github.com/openfaas/faas-cli/blob/693a50d60c01974c2b5a7c6081f254f385e5b682/proxy/deploy.go#L75

## Possible Solution

Remove these pri

[2021-01-03 13:34] amitlevy21 opened #857 "Using multi line environment variable in stack.yml results in an error"
## My actions before raising this issue
- [x] Followed the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)
- [x] Read/searched [the docs](https://docs.openfaas.com/)
- [x] Searched [past issues](/issues) saw https://github.com/openfaas/faas-cli/issues/392 but it doesn't use the build arg in the yaml file.

I want to stress out that I cannot use k8s secrets as this is

[2021-01-04 12:07] viveksyngh commented on #796
derek assign: me

[2021-01-04 12:12] viveksyngh commented on #619
Derek close

[2021-01-04 12:12] #619 closed

[2021-01-04 12:34] alexellis commented on #796
Does GatewayInfo exist yet?

[2021-01-08 11:50] viveksyngh commented on #796
We have `GatewayInfo` in `github.com/openfaas/faas/gateway/types`. There is challenge with this API is as it has two different version. There is legacy version and there is current version which we use today. They are very different in structure that might be the reason why we are still using interface as return value. If we need to support both version we will have return the result as `map[strin

[2021-01-08 13:01] alexellis commented on #796
There is no legacy version in use as far as I'm aware.

Just faas-netes and faasd, anything else will be out of scope. Can you check both and update accordingly?

[2021-01-08 13:09] viveksyngh commented on #796
Sure

[2021-01-12 19:12] zhangcicely opened #856 "Cannot install faas-cli using get.sh script"
## Expected Behaviour
I am trying to install faas-cli by following the curl command provided in README
curl -sSL https://cli.openfaas.com | sudo sh
I expect it to install properly, and it works before

## Current Behaviour
Right now, by running this command, it failed with this error

$ curl -sSL https://cli.openfaas.com | sudo sh

Finding latest version from GitHub
0.12.21socket-worker-5029ae85.j

[2021-01-12 20:29] michalke-it commented on #856
Having the same issue, https://github.com/openfaas/faas-cli/releases/download/0.12.21socket-worker-5029ae85.js/faas-cli returns 404 at the moment.
However, the binary is still accessible in the releases section, so you can work around this like this (change link to target file if not on amd64 platform):
sudo wget https://github.com/openfaas/faas-cli/releases/download/0.12.21/faas-cli && sudo mv fa

[2021-01-12 20:47] tshakhmu-dev commented on #856
So problem right now is located on identifying latest version from github. Right now we have `curl -sI https://github.com/openfaas/faas-cli/releases/latest|grep -i location
`
I guess we are expecting to see redirect header like
`Location: https://github.com/openfaas/faas-cli/releases/tag/0.12.21`
instead we are facing
`Location: https://github.com/openfaas/faas-cli/releases/tag/0.12.21
Content-Sec

[2021-01-12 22:19] alexellis commented on #856
Hi all, we have put a PR up for this.

Please see: https://github.com/openfaas/cli.openfaas.com/pull/6

Please pay specific attention to the section "Anything else we should know?"

You can continue to download faas-cli via the releases page, brew and "arkade get"

Best,

Alex

[2021-01-13 14:12] alexellis commented on #857
It looks like you may benefit from using a pipe here with `|` and proper indentation.

Have you tried a simple multi-line variable without the interpolation?

For example, how we do it here? https://github.com/openfaas/templates/blob/master/template/go/template.yml#L19

[2021-01-14 04:55] zhangcicely commented on #856
Thanks @alexellis @michalke-it , and the workaround from @michalke-it  works well, thanks a lot for sharing

[2021-01-16 17:49] #856 closed

[2021-01-18 10:27] amitlevy21 commented on #857
@alexellis Hey, thanks for the tip. I remember trying that, just tried that now. it still gives me the error

[code]

My guess would be that only the first line of the multiline env var is being indented, but the other lines wont. i tried also using `>, >-, |-` as suggested [here](https://stackoverflow.com/questions/3790454/how-do-i-break-a-string-in-yaml-over-multiple-lines)

but still got the sa

[2021-01-28 13:58] alexellis commented on #857
I don't think you are quoting the string correctly.

Try adding the literal value and tabbing correctly, then see if it works as expected.

[2021-01-28 14:09] alexellis commented on #852
@Waterdrips I'm going to assign this one to you, can you send a PR and a unit test when you have time.

[2021-01-31 09:11] alexellis opened #858 "Add registry-login command from ofc-bootstrap"
In faasd, when you need to get a private registry configuration, it requires a Docker registry secret that's unencrypted, but Docker Desktop puts passwords in the keychain.

## Expected Behaviour

[code]

## Current Behaviour

Available in ofc-bootstrap:

[code]

## Possible Solution

Given that this is now useful for faasd as well as OFC - we can promote it into the main CLI.

I'm open to suggest

[2021-01-31 09:11] alexellis commented on #858
@Waterdrips want to take a look at this?

[2021-01-31 09:12] alexellis commented on #858
This issue needs a past contributor or openfaas member to pick it up and deliver it.

[2021-01-31 12:07] nitishkumar71 commented on #858
I will pick this up.

[2021-01-31 18:28] kissgyorgy opened #859 "faas-cli secret create corrupts the secret when there is a whitespace at the end"
In my specific case, I wanted to create OpenSSH private keys, but this is a general issue.
SSH private keys MUST have a new line at the end, but the `faas-cli secret create` command trims the secret value.

This is the problematic line, it should be simply removed: https://github.com/openfaas/faas-cli/blob/356b9130018debcce7ef291843e5c3247c07c7f9/commands/secret_create.go#L102

[2021-02-01 21:45] alexellis commented on #859
@kissgyorgy we appreciate your interest in the project. We can take a look at this, but first please edit your issue and use the template.

I assume that you were in a rush, but this is very easy for you to edit and fix - https://raw.githubusercontent.com/openfaas/faas-cli/master/.github/ISSUE_TEMPLATE.md

[2021-02-01 22:18] #859 closed

[2021-02-02 07:55] alexellis commented on #859
I assume that being asked to fill in the template is why you closed your issue, however you can also create openfaas secrets via kubectl which will not trim any trailing lines.

[2021-02-02 10:14] alexellis commented on #859
https://docs.openfaas.com/reference/secrets/#define-a-secret-in-kubernetes-advanced

[2021-02-02 10:14] alexellis commented on #859
/set title: [Feature request] Make trimming newlines optional for secret creation

[2021-02-02 15:04] amitlevy21 commented on #857
OK, it works when I put the literal value and tabbing correctly, how can i make it work as an environment variable?

[2021-02-02 16:08] alexellis commented on #857
Perhaps you can save your file with the indentation in place?

[code]

[2021-02-02 21:34] kissgyorgy commented on #859
When something **corrupts** the data, it's clearly a bug. This is not a feature request.

Yes, I do that.

[2021-02-04 07:56] egorsmth opened #861 "Feature request: execute faas-cli not only from directory with functions"
## Expected Behaviour
I need to execute faas-cli from any directory not only where functions are.

## Current Behaviour
Right know it seems I only can execute it in directory with function, I get that error if I execute it in another directory:
`faas-cli build -f path/to/stack.yaml`
[code]

## Possible Solution
 May be add flag --dir with directory of functions

## Context
I try to run faas-cli fr

[2021-02-04 08:03] alexellis commented on #861
/msg: template

[2021-02-04 08:26] egorsmth commented on #861
@alexellis edited by template, is it ok?

[2021-02-04 09:45] alexellis commented on #861
Yes that's appreciated.

Can you explain that in a little more detail?

What are you trying to achieve there, because we may have other ways for you.

[2021-02-04 17:15] amitlevy21 commented on #857
I don't get the YAML parsing error, but when building the container, ssh connections fail since the RSA value is now indented and has quotes.
[code]
It only indents the first line, and keeps the quotes. gives back the YAML parsing error if I removed the quotes from `stack.yml` tried again combimations with `|` `|-` `>` `>-` but failed to find one, maybe I missed the right one. also should state th

[2021-02-05 15:51] #858 closed

[2021-02-05 23:02] yogsoft opened #862 "Support request for timeout during login command"
https://github.com/openfaas/faas-cli/blob/f65bf00e2fc6ce7e1dcca25823c9bf577c18077f/commands/login.go#L109

## Expected Behaviour

login command time-out should be made configurable either via environment variable or CLI argument.

## Current Behaviour

5 Seconds login timeout hard-coded in code which makes login command fail if gateway command does not respond in 5 seconds and makes it impossible

[2021-02-06 09:29] alexellis commented on #862
/message: template

[2021-02-06 09:29] alexellis commented on #862
/add label: invalid

[2021-02-06 09:30] alexellis commented on #862
/set title: Support request for timeout during login command

[2021-02-06 09:30] alexellis commented on #853
@viveksyngh could you pick this up next please?

[2021-02-06 09:31] #834 closed

[2021-02-06 09:31] alexellis commented on #834
Closing due to lack of interest from community.

[2021-02-06 09:39] alexellis commented on #857
My suggestion would be for you to base64 encode the string, and then run base64 --decode within the container. A base64 string can be represented on a single line preserving any whitespace and newlines required.

In stack.yml:

[code]

At build time:

[code]

Within your Dockerfile:

[code]

I'm going to close out the issue now as we've given a working solution. If you have issues with getting the

[2021-02-06 09:39] #857 closed

[2021-02-06 09:40] alexellis commented on #857
/msg: enduser

[2021-02-06 23:05] yogsoft commented on #862
@alexellis details are in issue now. Can you please remove invalid tag on this?

[2021-02-07 06:17] amitlevy21 commented on #857
Encoding in base64 solves my issue, thanks!

[2021-02-07 09:33] alexellis commented on #862
The issue should say whether this is something that affected you. Did it? And in what scenario? The CLI has had this timeout for a considerable amount of time, so we need to understand the scenario where a simple basic auth validation in openfaas takes > 5s.

[2021-02-07 09:36] alexellis commented on #857
You're welcome. Please consider the message Derek sent over.

[2021-02-07 20:07] yogsoft commented on #862
@alexellis I faced timeout while running command from `WSL` connecting to OpenFaaS deployed on Kubernetes behind ingress. I don't really think this timeout is because of server side execution in Gateway but it could be due to network latency.

In the network latency scenario, I am hoping, I should be able to specify longer timeout for login command. If there is way to specify in timeout, please le

[2021-02-07 20:26] alexellis commented on #862
I can't remember if there is a configuration item for this, I suspect that there isn't. My take is that the community will not want to add this feature if it's not a problem that many people run into.

Are you still hitting this, or was it a one-off?

WSL shouldn't add 5 seconds to this call and I wonder if it was ever going to complete if it took 5 seconds?

[2021-02-07 21:02] yogsoft commented on #862
Yes, timeout frequency is higher, probably due to network latency. Sometimes it is working when its taking 4 seconds.

Is there any chance to increase timeout to 10 or 20 seconds for login?

`deploy` command seems to be having 60 seconds timeout.

https://github.com/openfaas/faas-cli/blob/88a6baff343cc4ccaa9402c533e88e6462c3df5d/proxy/deploy.go#L21

[2021-02-08 07:54] egorsmth commented on #861
Sorry my mistake, I can execute commands from specific folders with java.

[2021-02-08 07:54] #861 closed

[2021-02-08 17:39] alexellis commented on #862
PR #864 raised for this.

[2021-02-08 17:48] #862 closed

[2021-02-08 18:13] viveksyngh commented on #853
Yes

[2021-02-08 19:26] yogsoft commented on #862
Thanks @alexellis  for quick turnaround!

[2021-02-08 19:27] alexellis commented on #862
/msg: service

[2021-02-16 09:19] #796 closed

[2021-02-17 17:18] alexellis commented on #853
Today we have:

[code]

But the example on the call (GitHub) looked like:

[code]

[2021-02-23 10:38] krotofil opened #867 "Openfaas faas-cli deployment 401 error"
Hello together,

we deployed an openfaas locally version on our VM ubuntu Image.

**Our Version:**
[code]

First of all we build an easy testing go function -> named classic-go

if we running the comand faas-cli up -f classic-go.yml, they starting to build the Docker Image:

[code]
After that, tehy Pushing it into our Azure Container Registry:

[code]

Now your deployment goes fail with these Code

[2021-02-23 10:56] alexellis commented on #867
/msg: template

[2021-02-23 10:57] alexellis commented on #867
Hi there,

It sounds like you haven't configured your private registry correctly.

This is explained in the [faasd handbook](https://gumroad.com/l/serverless-for-everyone-else)

Regards,

Alex

[2021-02-23 10:57] #867 closed

[2021-02-23 10:58] alexellis commented on #867
/set title: Question - how do I use a private registry with faasd?

[2021-02-24 17:05] alexellis opened #869 "Remove the default "openfaas-fn" from suffix when using OpenFaaS API"
Remove the default "openfaas-fn" from suffix when using OpenFaaS API

## Expected Behaviour

When no namespace is given, pass an empty string to the API

## Current Behaviour

We previously agreed this would be `openfaas-fn`

https://github.com/openfaas/faas-cli/issues/742#issuecomment-625746405

## Possible Solution

Change from "openfaas-fn" to ""

https://github.com/openfaas/faas-cli/blob/6b5e7

[2021-02-24 21:52] alexellis commented on #759
/add label: help wanted, good first issue

[2021-02-24 22:06] kevin-lindsay-1 commented on #759
Specifically, would the ideal behavior be to not pull if the files have not changed, or should updating via pull be its own separate behavior?

[2021-02-25 09:33] nitishkumar71 commented on #759
I will work on it.

[2021-03-01 02:26] nitishkumar71 commented on #759
an additional  ``--force`` should be helpful for this

[2021-03-01 06:19] nitishkumar71 commented on #759
I am planning to filter the templates for which directory exist in `./template` and pass the remaining to the `pullStackTemplates` for the pull. After this, we will only pull templates which are new in the file.

[2021-03-01 15:47] kevin-lindsay-1 commented on #759
It sounds to me like `faas-cli pull <template> --update` might be the cleanest for that behavior, then.
`--force` implies that it's potentially destructive in some way, and `--pullStackTemplates` implies that it updates all templates, which may not be what certain users want.

If the user would want to update all templates, then perhaps the command `faas-cli pull --update` could be used to update

[2021-03-03 07:24] Dentrax opened #871 "Getting `go: inconsistent vendoring` error when a module is located within function"
## Expected Behaviour
It should work? 🤷‍♂️

## Current Behaviour
[code]

## Steps to Reproduce (for bugs)
We were following the template documentation guide as described [here](https://docs.openfaas.com/cli/templates/).

1. `$ faas-cli template store pull golang-http`
2. `$ faas-cli new notifier-fn --lang golang-http --prefix Dentrax`
3. `$ cd notifier-fn`
4. `$ go mod init github.com/Dentrax/foo`

[2021-03-11 15:40] alexellis commented on #869
/add label: help wanted

[2021-03-11 15:40] alexellis commented on #852
/add label: help wanted

[2021-03-11 16:03] jantytgat commented on #852
I'm willing to attempt to fix this one.

[2021-03-11 20:46] #869 closed

[2021-03-11 21:21] alexellis commented on #852
Thanks @jantytgat

[2021-03-12 07:55] #759 closed

[2021-03-12 11:06] rgee0 commented on #777
This is a bit aged but it piqued my interest.  Seems sample size might be key here.

Create a new stack file and append 19 (simple) functions to it to, creating 20 functions in total:

[code]

Do some generating:

[code]

Now some comparing:

[code]

1.yml and 2.yml `diff`d for detail:

[code]

[2021-03-12 11:26] rgee0 commented on #710
For different docker registries per env, does injecting the envsubstr into the `stack.yml` at `faas new ...` help the workflow? Trying the following with the `--prefix` flag seems to address the described use case:

[code]

[2021-03-12 11:28] alexellis commented on #710
Let's close then 👍

[2021-03-12 11:28] #710 closed

[2021-03-12 11:30] alexellis commented on #777
Any suggestions? I'm not sure what to suggest given that maps are not ordered

[2021-03-14 13:00] rgee0 commented on #745
I'm not sure this is as simple as it seems on first glance owing to the decision to support the use case in #478.

Consider a scenario where the handler resides in the same folder as the stack, for the (broken) cloudlogo project this would mean:
[code]

Here the user would build from within `cloudlogo/clouddemo`, and the first thing `faas-cli` would do is:

[code]

The `template` folder already ex

[2021-03-14 13:31] rgee0 opened #874 "[Suggestion] Suppress error output when GitHub version check fails"
## Expected Behaviour

The `faas-cli` failing to check whether it is the latest version does not affect the operation of the downloaded binary.  If an error is encountered encourage the user to check manually, rather than distracting them with a verbose error message.

## Current Behaviour
[code]
This is a forced error, so somewhat contrived, however a screenshot from a user is shown below:
![imag

[2021-03-14 14:53] LucasRoesler commented on #745
I have a rather big proposal, but one i have thought about for awhile and can implicitly fix this problem as well.

what if we mimicked some of the behavior we see with go modules? Specifically:

1. a `templates.yaml`, this has a format `<template name>: <github repo>#<sha>`
2. a `templates.lock` or `templates.sum` which has the format `<github repo>#<sha> <hash>`
3. write the templates cache to a

[2021-03-26 09:36] wapiflapi opened #875 "faas-cli build overwrites tag in wrong place when column present in image name"
## Expected Behaviour

When running `faas-cli build --tag=sha --image foo/bar` the SHA is inserted in the wrong place when the private registry (`foo`) contains a column.

## Current Behaviour

Working fine when no `:` in the registry:
[code]

That's expected. Now:

[code]

Notice `bar:latest-52f0c55` (expected) vs `bar-52f0c55:latest` which is wrong.

## Possible Solution

I suspect faas-cli is i

[2021-03-26 10:04] alexellis commented on #875
@cpanato want to take a look and see if you can add a failing unit test?

[2021-03-26 12:33] cpanato commented on #875
@alexellis PR here: https://github.com/openfaas/faas-cli/pull/877

[2021-03-26 14:00] alexellis commented on #875
IMHO `foo:4567` is an invalid username for a registry.

@wapiflapi we need you to provide the stack.yaml file to look into this. Sorry for the confusion.

[2021-03-26 15:53] wapiflapi commented on #875
Isn't the steps to reproduce from a fresh template enough? I don't have any specific stack.yaml files.

[2021-03-28 10:37] rgee0 commented on #777
A solution proposed in #873 generated little interest.  Suggest this issue is no longer and can be closed.

[2021-03-29 08:28] cpanato commented on #875
@alexellis I think that is invalid as well, but that builds and might be used just internally.

What do we want to do here? block this kind of format? or alloy like THis PR fix the behavior?

[2021-03-29 09:02] wapiflapi commented on #875
I'm not sure what's being discussed, but from docker's documentation at https://docs.docker.com/engine/reference/commandline/tag/#:~:text=An%20image%20name%20is%20made,prefixed%20by%20a%20registry%20hostname.&text=If%20a%20hostname%20is%20present,.docker.io%20by%20default.

So I think the port name definitely is valid in a docker image name.

[2021-03-30 16:06] asencis opened #878 "Dockerfile is unavailable or not supported"
I'm following the guide for publishing an existing flask application through OpenFAAS.

However, when running the command:

[code]

I receive the following error:

[code]

I'm following the guide here: https://www.openfaas.com/blog/openfaas-flask/

* FaaS-CLI version ( Full output from: `faas-cli version` ): 0.12.21

* Docker version ( Full output from: `docker version` ): 20.10.5

* Are you using

[2021-03-30 16:40] asencis commented on #878
Closing issue.

It seems I need to pull down all the available templates 🤦‍♂️

[2021-03-30 16:40] #878 closed

[2021-03-31 08:28] alexellis commented on #878
This happens if you first pull a custom template, then you must explicitly pull the "default" templates. Otherwise this works out of the box.

[2021-03-31 08:29] alexellis commented on #878
/msg: enduser

[2021-03-31 08:31] alexellis commented on #875
Thanks for elaborating, this is the context we were missing all along. You're trying to use a registry with a port number. Just make sure you are not running an insecure registry without HTTPS 😄

This seems like an edge-case, but should help @cpanato to add new unit tests to prove whether using a port is supported or not. @cpanato please don't change existing unit tests but add new ones which use

[2021-03-31 09:10] asencis commented on #878
@alexellis Yeh. We discovered the need to pull after a while of digging. It might be worth highlighting this in the https://www.openfaas.com/blog/openfaas-flask/ blog, but other than this OpenFaaS is working really well! Thank you 🥇

One thing we have found tho - is that what we can do with `req` within the handler() function for the python3-flask-template is a little bit mysterious. Might it be w

[2021-04-01 08:49] alexellis commented on #878
There is documentation in the repo, have you checked out its docs yet?

https://github.com/openfaas/python-flask-template/

[2021-04-01 08:49] alexellis commented on #878
I can't see any issues with the blog post because it has an explicit command `faas-cli template store pull python3-flask
`? What am I missing?

[2021-04-01 09:10] cpanato commented on #875
@alexellis @wapiflapi added the test cases, let me know what y'all think about that

[2021-04-01 09:42] asencis commented on #878
Hi @alexellis ,

So - the issue is with the section "**Running an existing Flask app**" -> and the command `faas-cli new --lang dockerfile $FN`. We didn't know we had to pull down this image - we assumed that it was some sort of default - but adding the line `faas-cli template store pull dockerfile`, would be so beneficial to this blog? Maybe? (Not sure that this is the exact line) I think yes, we

[2021-04-01 10:16] wapiflapi commented on #875
Test cases look good to me :+1:

[2021-04-02 09:26] #875 closed

[2021-04-04 18:06] viveksyngh commented on #853
I was looking into making CLI response consistent and I was thinking of following approach. Every API from SDK can return three output which are as following

1. Structured Output for that API for e.g. For list Functions it be a ListFunctionOutput
2. A Response struct which wraps HTTP response object as well as additional information from SDK for advance features like pagination, rate limiting
3.

[2021-04-06 09:19] alexellis commented on #878
It is because you already had alternative templates in place. Try it in a new directory and you'll see it work immediately.

[code]

Feel free to ask questions on Slack. We don't use the issue tracker for technical support, but for tracking what work we're doing and for issues with a repro.

[2021-04-06 13:43] LucasRoesler commented on #853
@viveksyngh a couple thoughts

1. a signature like `func Operation(req StructureReqType) (StructureResponse, *http.Response, error)` seems good to me, I have seen it in other places before.
2. your comment about error range (ie not in 200--299) seems valid, i have also seen the same elsewhere
3. I don't agree that _all_  methods need a structured response, for example `func Delete(req DeleteReques

[2021-04-07 15:39] alexellis commented on #745
@LucasRoesler could you spin out your comment on the lock files into its own issue?

[2021-04-07 16:01] alexellis commented on #853
Could we get a couple of brief scenarios showing happy path / sad path / error and the populated values for:

[code]

[2021-04-08 09:04] LucasRoesler opened #879 "Proposal: Template lock file and configurable template cache location"
I have a rather big proposal, but one I have thought about for awhile and can implicitly fix this problems like #745

We should mimick some of the behavior we see with Go modules? Specifically, we should have the equivalent of a `go.mod` and a `go.sum` file. This could look like

1. a `templates.yaml`, this has a format `<template name>: <github repo>#<sha>`
    * I picked yaml for the simplicity

[2021-04-10 17:20] loretoparisi opened #880 "ERROR: Language template: not supported, build a custom Dockerfile"
I have followed the template store docs, doing the following, but I had an error:

[code]

and then
[code]

[2021-04-10 21:58] alexellis commented on #880
Hi, you need to simply run `faas-cli up` without those other arguments.

Thanks for your interest in the project, I'll close this now.

[2021-04-10 21:58] #880 closed

[2021-04-10 21:58] alexellis commented on #880
/msg: enduser

[2021-04-11 11:43] loretoparisi commented on #880
@alexellis thank you Alex. Running `faas-cli up` without args cause the error `Please provide a valid --image name for your Docker image`.

[2021-04-11 12:28] alexellis commented on #880
Please provide the whole stack.yml file here for us to look at

[2021-04-11 15:36] loretoparisi commented on #880
Hello, ah that's the issue. Following the template store I just did

[code]

that correctly created the directory `http-status`

[code]

but I do not see any `stack.yml` there. (There was no mention  in the template store or maybe I did not see any).
Thank you!

[2021-04-11 18:05] alexellis commented on #880
Your YAML file is created where you run the command, don't cd into the `http-status` directory to run faas-cli up.

You may benefit from taking our eBook and workshop for OpenFaaS to understand how all this works and is supposed to be used. There's a promo to get 50 USD off until the end of the weekend.

https://gumroad.com/l/serverless-for-everyone-else

[2021-04-12 07:25] loretoparisi commented on #880
@alexellis definitively I will take the ebook!
Here is the yaml, in fact was outside that folder:

[code]

[2021-04-14 11:12] viveksyngh commented on #853
Response format for different scenarios.

[code]

`res` ->  will be an instance of `DeployResponse` or nil

[code]
`httpResponse` -> instance of Response

[code]

`err` ->  Error is an instance error or an type which implement error interface.
For type error we can use an struct which wraps error message and also implements error interface.

For example

[code]

Then we can also define some method

[2021-04-14 16:42] alexellis commented on #853
Discussed on the call with the contributors group. Please can you go ahead and do a PR for the one method you were working on - deploy/update?

[2021-04-14 16:47] alexellis commented on #874
This looks like the error was generated from an incorrectly configured HTTP PROXY? Given the URL is reported as 127.0.0.1?

Should we keep this around and see if anyone else is affected? If you want to silently fail the error, I'm OK with that too, and perhaps set a shorter timeout at the same time.

[2021-04-19 10:41] nxtcoder17 opened #882 "why does faas deploy need to read from template directory ?"
## Expected Behaviour

## Current Behaviour

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [ ] No

## List All Possible Solutions and Workarounds

## Which Solution Do You Recommend?

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version ( Ful

[2021-04-19 11:07] LucasRoesler commented on #882
Hi @nxtcoder17 I am moving this to the faas-cli repo, because it fits better there.

I did a little searching and I thought this was already reported or had some conversation but I could not find it again.

I have edited your question to insert the issue template, if you could fill it out, especially the expected behavior, it would be really helpful for anyone that else looks for this in the futur

[2021-04-19 11:07] LucasRoesler commented on #662
@alexellis do we consider this complete now?

[2021-04-20 07:46] nxtcoder17 commented on #882
Thanks @LucasRoesler, it is actually not an issue, kind of just annoying thing that's why i did not go with full blown issue format.
I wanted to put things in a different folder structure (different from the one that comes by default in open-faas). Everything worked except the deploy threw error, as it could now find the `templates/node14/template.yml` file.

With your solution, i am able to resol

[2021-04-20 07:46] #882 closed

[2021-04-20 08:04] LucasRoesler commented on #882
@nxtcoder17 the main reason is for backwards compatibility with some very early workflows, perhaps it is something we could research and reconsider

[2021-04-24 08:20] alexellis commented on #853
Let's make sure the middle parameter httpRes isn't wrapped. We don't need that today because we have nothing additional to add, so stdlib is less surprising for consumers.

[2021-04-24 15:45] LucasRoesler opened #884 "Bug: can not update certifier's dependency on faas-cli because it is not a valid go module library"
## Expected Behaviour

I should be able to update the dependency on the CLI by using
[code]

## Current Behaviour

Can not `go get` the faas-cli

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [x] Yes
- [ ] No

## List All Possible Solutions and Workarounds

1. change the faas-cli dependencies to remove any kind of weirdness and then start making re

[2021-04-24 16:04] LucasRoesler commented on #884
I was wondering if I could start the go sum from scratch, but that wont work either

[code]

seeing this makes me prefere the option to move proxy to the `provider` or a separate package so taht it can be a very clean and easy to import module, i would like to avoid any chances of running into these Docker dependencies, which are clearly not needed in the `proxy`

[2021-04-28 16:12] alexellis commented on #853
@Waterdrips do you want to pick up the secrets changes?

[2021-04-29 11:50] Waterdrips commented on #853
PR Raised #885

[2021-05-05 18:51] CC007 opened #886 "Unable to install cryptograpy package in python, since it requires rust"
The python package `cryptography` requires rust nowadays.
The Alpine image that is used by faas-cli doesn't contain rust.
This causes the building of the docker image to fail.

More info: https://github.com/pyca/cryptography/issues/5771

## Expected Behaviour
The docker image builds successfully

## Current Behaviour
I'm getting the error:
[code]

## Are you a GitHub Sponsor (Yes/No?)

- [ ] Yes
-

[2021-05-06 13:05] LucasRoesler commented on #853
@alexellis @Waterdrips and @utsavanand2 continuing from the zoom discussion yesterday

I had a thought this morning about the 3 legged response from the sdk, I actually think it introduces an awkwardness around when to read the `res.Body`:

* if the response is a success, then we need to read the payload into a struct and then close the body. So the user need to be careful to not touch the `res.Bo

[2021-05-12 11:27] #777 closed

[2021-05-17 01:12] tatemz opened #887 "Question: Any intention to support multiple platforms/proxies"
As noted in the documentation, solutions like Google Cloud Run happen to use the same port (8080) and `faas-cli` could work well to rapidly use templates and build Docker images. Using something like Google Cloud Run would mean that useful commands like `faas-cli invoke` or `faas-cli deploy` are made obsolete.

Since most of the logic for communicating with the gateway is stored in the `proxy` fol

[2021-05-18 15:54] alexellis commented on #887
I am sorry, but I don't understand this. What is your ask?

I'm going to close this issue since it's a question and we take those by Slack, but feel free to keep commenting since you've started.

[2021-05-18 15:54] #887 closed

[2021-05-18 15:54] alexellis commented on #887
/msg: enduser

[2021-05-18 16:14] tatemz commented on #887
Thanks for the comment. I'll try to make the question clearer. Correct  me if I am wrong, but the OpenFaaS Gateway supports the following features:

- Building Docker images using shrinkwrapped templates
- Pushing built Docker images
- Publishing/removing containers
- Managing secrets
- Invoking running containers
- etc

A lot of these features are offered by products like Google Cloud. I'm intere

[2021-05-18 16:26] alexellis commented on #887
You can use faas-cli in Google Cloud Build and then deploy to Cloud Run, not a problem.

You should be doing that through a production pipeline, not by running `faas-cli up` on your laptop anyway 🙂

See also: Run your OpenFaaS Functions on Google Cloud Run for free - https://www.openfaas.com/blog/openfaas-cloudrun/

And https://github.com/utsavanand2/gcb-openfaas-go

In short, openfaas has a provi

[2021-05-18 16:27] alexellis commented on #887
/set title: [Feature request] Create a Google Cloud Run provider for OpenFaaS

[2021-05-20 05:48] tatemz opened #889 "Shrinkwrapping takes 30 more seconds due to node_modules"
## Expected Behaviour

Shrinkwrapping a node project should not take long and should not copy `node_modules` into `build` directory because they are ignored by `.dockerignore` and installed during the build

## Current Behaviour

Shrinkwrapping can take up to 30 seconds on a project where most of the function handler's dependencies are `devDependencies` (e.g. `jest`)

## Are you a GitHub Sponsor (

[2021-06-02 19:17] alexellis opened #890 "faas-cli generate is not including annotations for OpenFaaS CRs"
## Expected Behaviour

[code]

with this text:

[code]

Should output:

[code]

## Current Behaviour

Annotations are missing and not present in the unit tests either.

## List All Possible Solutions and Workarounds

Add code to populate and test the annotations are present.

## Context

Reported by someone who uses the cron-connector and wanted to deploy via kubectl with annotations.

[2021-06-02 19:24] alexellis commented on #890
FYI @rgee0

[2021-06-03 07:50] #890 closed

[2021-06-09 15:49] alexellis commented on #853
@viveksyngh what are your thoughts on what Lucas said?

[2021-06-09 15:50] alexellis commented on #853
@LucasRoesler this is something that I hadn't considered. Can someone look into the way the github-go library does this? Since we've been looking at it as a sort of example of how to do things.

[2021-06-10 08:24] alexellis commented on #853
The example for creating a repo ignores the response:

https://github.com/google/go-github/blob/master/example/newrepo/main.go#L44

Here's the create repo function:

https://github.com/google/go-github/blob/edaee9aa26ea0b2fedd961398433b8940b2afef1/github/repos.go#L337

Which calls "Do" and it closes the body, then caches a copy for reading at a later time if needed:

https://github.com/google/go-g

[2021-06-14 15:17] goncalo-oliveira opened #892 "Add namespace to generated functions"
Running the generate command is not adding the function(s) namespace.

## Expected Behaviour
The following command

[code]

Should give this

[code]

Notice the namespace.

## Current Behaviour
The namespace is not added, instead it gives this

[code]

## Are you a GitHub Sponsor (Yes/No?)
Yes

Check at: https://github.com/sponsors/openfaas
- [x] Yes
- [ ] No

## List All Possible Solutions and Wo

[2021-06-15 03:01] yankeexe commented on #892
@alexellis  I will take this issue.

[2021-06-15 20:09] alexellis commented on #892
/set title: Add namespace to function store's generate command

[2021-06-15 20:10] alexellis commented on #892
This is only limited to the store functions, so it's kind of odd to see the original issue reported with a secret attached.

Here's an example of how this works with custom stack.yaml files:
https://github.com/openfaas/faas-cli/pull/893#issuecomment-861797791

@yankeexe can you check that the generate `--from-store` command takes a custom namespace also?

[2021-06-15 22:04] goncalo-oliveira commented on #892
@alexellis this is not limited to store functions. It can be replicated with just any function/stack. It doesn't matter if the yaml has the namespace or not, the generated spec doesn't include it. Unless I'm missing something?

I also don't understand the comment with the secret. What secret?

[2021-06-15 22:42] alexellis commented on #892
See my comment on the linked item. The example I give produces a correct namespace. Can you review it and leave a comment? And or an example stack file that produces no namespace?

Your original message on Slack showed a secret not being found due to the default namespace being used.

[2021-06-16 07:19] goncalo-oliveira commented on #892
@alexellis I've commented on the PR with an example that produces no namespace. Hope it helps.

Regarding the secret, it's not related. In other words, the secret issue was a consequence of not having the namespace on the generated spec, and therefore, the function was deployed on the `default` namespace, instead of `openfaas-fn`. That has been fixed with a workaround, as I'm passing the `--namesp

[2021-06-16 07:22] alexellis commented on #892
Thanks for the update. I may have an older version and have commented on the PR.

[2021-06-16 09:24] alexellis commented on #892
/set title: Add namespace to generated functions

[2021-06-16 09:25] alexellis commented on #892
My version was 0.13.6 so it seems I didn't have @rgee0's change.

[2021-06-16 09:46] yankeexe opened #894 "Display help message with no args on `faas-cli generate`"
## Expected Behaviour

Show help message when no arguments is passed like all the other sub commands.

## Current Behaviour

Shows nothing when `faas-cli generate` is invoked without arguments.

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## List All Possible Solutions and Workarounds

Check for arguments length; if none; show help.

[c

[2021-06-16 10:27] yankeexe commented on #894
@alexellis  Do you want me to address this?

[2021-06-22 11:11] viveksyngh commented on #853
I looked closely at the example and implementation of the go-github library.

To fix issue issues  mentioned by @LucasRoesler

we can read the response body, check for the errors and try to parse the response body. After that , we can rewrite the response body, so that It can be read by the consumer of the SDK again.  This is how it has been also, handled by the `go-github` library as well.

This

[2021-06-22 16:29] LucasRoesler commented on #853
Most people seem happy with the 3 return values instead of 2. Go with that.

[2021-06-23 15:55] alexellis commented on #894
Yes, perhaps: `--yaml or --from-store are required`

[2021-06-24 15:35] #894 closed

[2021-07-05 11:05] #892 closed

[2021-07-25 07:19] sayjeyhi opened #897 "feature request: provide `faas-cli down` to be opposite of up"
This is a feature request and not an issue.
I was wishing to see `faas-cli down` like how `tilt` or other tools has, to work in the opposite way of `faas-cli up`.
maybe it should be just an alias to `faas-cli remove`.

[2021-07-25 12:40] yankeexe commented on #897
Hey @sayjeyhi can you please edit the description and use our [Issue Template](https://raw.githubusercontent.com/openfaas/faas-cli/master/.github/ISSUE_TEMPLATE.md).

Also, can you prefix the title of this issue with `feature request: <text>`, so we will have better visibility. thanks

[2021-07-26 08:55] godspeedelbow opened #898 "Deploying from private Docker registry gives "x509: certificate signed by unknown authority" error"
## Expected Behaviour
I am trying to deploy an image from my private Docker registry.

## Current Behaviour
I've successfully built and pushed an image to a private, remote, corporate registry. When I try to then deploy the image to my `faasd` instance, I get the following error:

[code]

`faas-cli` successfully pushes the image using the corporate CA (that's in my keychain) but it doesn't seem to

[2021-07-26 12:32] alexellis commented on #898
Hey, so glad that you are using openfaas at your company.

We offer support and consulting through openfaas ltd:

Feel free to book in for an hour https://calendly.com/alexellis

Alex

[2021-07-26 12:32] #898 closed

[2021-07-27 06:29] godspeedelbow commented on #898
😞

This is honestly the first time I get a response like this on an issue I opened for an OSS project.

I am stuck using your product. I don't think this problem is very specific to my situation, it's a general issue. How can `push` work with custom CAs but `deploy` doesn't?

We don't use OpenFaas at our company yet. I am trying to see if we should because it looks promising. But if I can't even g

[2021-07-27 20:47] tatemz commented on #889
Hello! I'm just checking back in. I filed this issue as it was a real problem when developing locally. My CI pipelines have no issue since node_modules are in the `.gitignore` of my projects. I made MR #888 and have been using that build locally for all of my tooling. Would love to know what the next steps are to getting this issue shared with the broader community 😄

Thanks for a great tool! It's

[2021-07-28 06:26] alexellis commented on #889
/msg: enduser

[2021-08-17 19:39] shrout1 commented on #774
It would be nice if that message were returned directly to the end user. I beat my head against this for longer than I care to admit.

[2021-08-18 11:10] alexellis commented on #774
You should probably use the [troubleshooting guide](https://docs.openfaas.com/deployment/troubleshooting/)

[2021-08-18 11:12] alexellis commented on #774
/lock: resolved

[2021-08-25 08:24] MrWormHole commented on #666
I am summoning this issue back again :P we should have yaml first supported then yml if both files are given at the same time, let's use yaml? I checked it but it looks very straight forward to add. YAML/YML are both the same btw so it makes sense to support yaml.
![yml-yaml](https://user-images.githubusercontent.com/22800416/130755264-f28f7418-8e80-42f8-a264-34b7b08f5222.png)

[2021-10-05 01:08] Tarang opened #899 "Some hosts rejecting the SSL certificate on install."
Previously this command used to work, a few days ago:
[code]

Now it does this:
[code]

## Expected Behaviour
Expect it to install

## Current Behaviour
Returns SSL validation issue

## Are you a GitHub Sponsor (Yes/No?)

No

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [ ] No

## List All Possible Solutions and Workarounds
Make it insecure

## Which Solution Do You Recommend?

## St

[2021-10-05 08:03] alexellis commented on #899
Hi, unfortunately we cannot reproduce this error, so it may be down to your ISP or local government interfering with your connection. Where do you live?

The good news is that you can simply download the binary here: https://github.com/openfaas/faas-cli/releases

Alex

[2021-10-05 08:03] #899 closed

[2021-10-05 08:04] alexellis commented on #897
We do have this, it's called `faas-cli remove`

Thanks for the suggestion and next time please fill out the entire issue template instead of deleting it.

Cheers,

Alex

[2021-10-05 08:04] #897 closed

[2021-10-05 08:13] Tarang commented on #899
This happens on Google cloud build with the standard bash, not my environment.

[2021-10-05 08:24] alexellis commented on #899
There's a valid TLS certificate being served by GitHub Pages, perhaps raise a support ticket with your GCP account manager?

[code]

[2021-10-05 08:28] Tarang commented on #899
I can see that on my machine,

the product is fully managed (https://cloud.google.com/build) so we dont get to control the instances. I guess i was wondering if you had any recent certificate or setting changes? I would hate to use the --insecure option

[2021-10-05 08:48] alexellis commented on #899
The certificate is valid, so I would suggest that you take it up with your Google Cloud rep. I'm not sure what you want me to say?

[2021-10-06 08:18] alexellis commented on #899
This also came to mind: https://portswigger.net/daily-swig/lets-encrypt-root-cert-update-catches-out-many-big-name-tech-firms

[2021-10-06 09:09] Tarang commented on #899
Yup that looks like it, easy to reproduce & fix

[code]

So that solves it! It was just the root ca had expired. Kind of strange they haven't still solved it & have no open tickets anywhere about the issue.

[2021-10-12 10:47] alexellis commented on #889
Please see comment: https://github.com/openfaas/faas-cli/pull/888#issuecomment-934173327

[2021-10-30 17:02] xrazis opened #900 "faas-cli describe command has wrong formatting"
When using `describe`, the *Labels* and the *Annotations* are printed on the same line.  They should both be printed in separate lines.

## Expected Behaviour
[code]

## Current Behaviour
[code]

## Are you a GitHub Sponsor (Yes/No?)
- [ ] Yes
- [x] No

## List All Possible Solutions and Workarounds
1. We change the  funcDesc.Labels if statement to not enter if the Labels map is empty. This way we

[2021-11-04 19:13] #900 closed

[2021-11-04 19:15] alexellis commented on #900
In the future, write this text in your commit message:

`Fixes: #...`

See mine for example by typing in `git log` and scrolling through this repo or faas-netes.

[2021-11-06 02:02] kylos101 commented on #852
Hi, I'll take a peek at this issue Saturday evening (11/6). I figure it may already be fixed or still need fixin'...either way I'll let you know. :+1:

[2021-11-06 08:17] alexellis commented on #852
Thank you @kylos101 :muscle:

[2021-11-07 12:25] kylos101 commented on #852
Hi, it's definitely still an issue, I was able to recreate using the instructions in this issue.

I started a fix last night, and will share a draft later today.

[2021-11-09 03:32] daiwenlong opened #903 "faas-cli build --handler not rewrite the handler"
## Expected Behaviour

 faas-cli build --image=daiwenlong/find-one:3.0 --lang=java11 --handler=./test --name=find-one

replace the default handler with my handler in ./test

## Current Behaviour
not rewrite the handler , the handler is the default handler

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ): 0.13.13

* Docker version ( Full output from: `do

[2021-11-09 09:11] alexellis commented on #903
This is working as designed, and not supported by the faas-cli.

This doesn't seem to be usual behaviour. What exactly are you trying to do?

[2021-11-09 09:11] #903 closed

[2021-11-09 09:11] alexellis commented on #903
/add label: question,support

[2021-11-09 09:50] daiwenlong commented on #903
I don't want to replace the Handler.java file manually, so I try to do it with faas-cli  build --handler command,  it doesn't work， Is there any way to do it ?

[2021-11-09 13:41] alexellis commented on #903
@daiwenlong you haven't told us what you're trying to achieve yet. I've already asked for more information, but all I can do is guess at this point.

What are you trying to do, and why does the normal workflow not work for you?

https://www.openfaas.com/blog/get-started-with-java-openjdk11/

[2021-11-10 02:38] daiwenlong commented on #903
I'm trying to build  CI / CD with shell, developers only need to write functions, not a complete project.

[2021-11-10 10:31] alexellis commented on #903
If you wanted to book a session with me to discuss this further, I have some drop-in sessions left this week and next: https://calendly.com/alexellis/

For a complete solution, you'd probably find our [Pro builder option](https://docs.openfaas.com/openfaas-pro/builder/) useful. [Waylay](https://www.waylay.io/) provide a source to function capability in their platform and I'm sure they won't mind m

[2021-11-15 19:38] whitmell opened #904 "[Feature Request] Ability to add annotations and environment variables to custom templates"
Looking for a way to define annotations and environment variables in a function template that will be added to the generated function's YAML file.

## Expected Behaviour
Possibly add annotations and environment sections to template.yml that will be added to <function>.yml on "faas-cli new"

## Current Behaviour
Currently not possible.

## Are you a GitHub Sponsor (Yes/No?)
Formerly, not currently.

[2021-11-15 21:09] alexellis commented on #904
Under context can you write the specific thing you’re trying to do? I.e. what you shared on slack

[2021-11-16 09:00] alexellis commented on #904
[code]

[2021-11-16 16:26] whitmell commented on #904
Forgive my ignorance, is there a process to get added as a contributor?  I have a fix for this I wanted to push on a new branch but I'm getting access denied.

[2021-11-21 14:03] kylos101 opened #906 "-f / --yaml flag is not honored when creating new functions"
Issue: A yml file is created matching the function name, instead of using the file name, even when the `-f` or `--yaml` flag specifies a file name.

## Expected Behaviour

[code]

## Current Behaviour

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [x] Yes
- [ ] No

## List All Possible Solutions and Workarounds

1. Support `-f` / `--yaml` flag as o

[2021-11-21 16:38] alexellis commented on #906
Hi @kylos101

This is expected behaviour, the flag is not supported to change the name of a new function when the YAML file doesn't exist yet.

However you do have the `--append existing-file.yml` feature. Would that satisfy the need you had here?

[code]

[2021-11-21 17:44] kylos101 commented on #906
Yes, that'll work nicely. Thank you!

[2021-11-21 17:44] #906 closed

[2021-11-21 17:46] kylos101 commented on #852
Evening :wave: , the :wrench:  for this should be all set in #902 , let me know if any changes are needed? :+1: :+1:

[2021-11-23 12:02] alexellis opened #907 "Specify an environment file to faas-cli deploy"
## Expected Behaviour

When a user of openfaas has two or more environments, and environment variables that are specific to each such as

Testing

[code]

Staging

[code]

They should have a mechanism to specify one set of environment variables or another.

## Current Behaviour

Today we have the ability to add `environment_file` to the stack.yml, but it can only contain a static list, which canno

[2021-11-23 12:43] Waterdrips commented on #907
Env var subst in the stack.yaml has been in since April 2019, https://github.com/openfaas/faas-cli/pull/626

Its also in the docs https://docs.openfaas.com/reference/yaml/#yaml-environment-variable-substitution

Does this "solve" the issue or are there other options? We may need to make this option more obvious to users?

[2021-11-23 14:28] alexellis commented on #907
I mentioned env var substitution in my issue and gave an example of how to use it.

The issue is that I am seeing users come up with complicated bespoke tooling to work around the non-obvious use of environment variable substitution.

[2021-11-25 09:51] goncalo-oliveira commented on #785
Using sensitive information on a build process is somewhat common if you're not working with open source. I think most scenarios would be using private package/source registries, although I'm sure there are others. ARGS are not suitable to pass through this sensitive information, as it is retained in the image history, making it vulnerable to anyone with access to the build cache or the built laye

[2021-11-29 09:37] jgsamblas commented on #907
In my case, this solution worked good because we had to build an script to build the functions and the script would not work with a single config file structure, we needed the ability to use multiple config files structures on each environment.

In a 'normal' scenario, I guess the en var subst would be the best approach.

[2021-11-29 09:39] alexellis commented on #907
@jgsamblas thanks for sharing. Can you explain why this approach wouldn't work for you, using concrete examples?

[2021-11-29 10:00] jgsamblas commented on #907
@alexellis, I'll try it.

Our platform allows you to build and run functions. You build it, upload the code and start using it (we use OpenFaas for this)

But we wanted the flexibility to specify the env vars for each of the functions so not all the functions share all the envs.

For example, if function A uses 3 envs and function B uses 7 envs. we wanted a specific template for A
envinoment-A-tes

[2021-12-01 22:24] kylos101 commented on #852
Hey @alexellis , may I ask for you to take a peek at #902, and let me know if you'd like anything else?

I tested in Linux and Windows, wrote new unit tests (hooray, coverage!), and asserted no existing tests are broken.

[2021-12-03 09:47] alexellis commented on #852
I did take a look already and commented.

I'll add it to the project view so it doesn't keep getting bumped off my radar.

https://github.com/orgs/openfaas/projects/5

[2021-12-04 00:53] kylos101 commented on #852
Hey @alexellis , I might be missing something... :worried:

I thought I addressed your comments from the initial review 21 days ago in a52cd2b. Can you share any feedback that I have not addressed / you would like me to do (a link is okay too)? :+1: :+1:

[2021-12-05 15:24] kylos101 commented on #852
Nvm, I get it now, we're working from a Github project - cool. I'll follow-up in #contributors.

[2021-12-07 02:28] ctwkongmu opened #909 "[Question] How to publish multiple functions in one Github Action?"
Hi community,

I'm quite new to openfaas and github action, and I have a seemly realistic CD scenario where one github project manages multiple openfaas functions, and in the CD process performed by github action, there might be multiple functions being added/updated after the PR is merged.
How to build all those updated/created functions and publish them to openfaas in one github action?

Now I'm

[2021-12-15 01:03] kylos101 commented on #852
Hey @alexellis :wave:

This one should be all set now :partying_face: :tada:

Lemme know if anything else is needed?

[2021-12-21 21:10] alexellis commented on #785
Given that buildkit's secrets mechanism is not compatible with other container builders such as kaniko, podman and cloud builders, coupling to this solution may exclude a bunch of users.

What would make `--shrinkwrap` + `DOCKER_BUILDKIT=1 docker build` easier to use as a solution here?

[2021-12-22 08:00] goncalo-oliveira commented on #785
Makes sense. In that case, I think the best option would be https://github.com/openfaas/faas-cli/issues/785#issuecomment-606761803. That way, the solution is builder-agnostic.

[2021-12-22 08:05] alexellis commented on #909
Hi, that's a very old blog post

You should follow the sample in Serverless For Everyone Else. I reworked it and use it myself. It is much more concise and supports multiple functions and tags.

[Serverless for Everyone Else
](http://store.openfaas.com/l/serverless-for-everyone-else)

Alex

[2021-12-22 08:05] #909 closed

[2021-12-24 08:19] ctwkongmu commented on #909
Thanks @alexellis .
I will check it out!

[2021-12-24 10:27] alexellis commented on #909
We have a promotion running tomorrow, for 50 USD discount on the complete package. Don't leave it too long.

Cheers

[2021-12-24 10:27] alexellis commented on #909
/lock: resolved

[2022-01-28 20:41] hosseinmanafi opened #911 "Currently only Build and Deploy and Create Function on Docker works with Handler extends AbstractHandler"
Currently only deploy works with "Handler extends AbstractHandler". When I build and deploy with "Handler implements IHandler ", it gives an error when creating Docker.

Exception in thread "main" java.util.ServiceConfigurationError: com.openfaas.model.AbstractHandler: com.openfaas.function.Handler not a subtype

Also when I use "Handler extends AbstractHandler". If in the program, for example, I

[2022-02-10 13:46] lapwat opened #912 "faas-cli logs not showing"
## Expected Behaviour

I would expect to see the text printed to stdout/stderr by my function in the function logs.

## Current Behaviour

Text written on stdout/sterr are not showing in the function logs of the function.

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## List All Possible Solutions and Workarounds

## Which Solution Do Yo

[2022-02-10 13:48] lapwat commented on #912
Opened in the appropriate repo https://github.com/openfaas/faas-netes/issues/912

[2022-02-10 13:48] #912 closed

[2022-02-16 16:51] alexellis commented on #889
Just tried this on the Weekly Office Hours call and cannot reproduce the problem.

[code]

[2022-02-23 17:22] alexellis opened #913 "Could we list secret names for functions on faas-cli describe?"
Could we list secret names for functions on faas-cli describe?

## Expected Behaviour

faas-cli describe should list secret names for the function

https://github.com/openfaas/faas-provider/blob/master/types/function_status.go#L28

## Current Behaviour

Not available because it was only added to the API response recently.

## List All Possible Solutions and Workarounds

See example printing code f

[2022-02-24 10:07] alexellis opened #914 "Image name missing on faas-cli describe with faasd"
Image name missing on faas-cli describe with faasd

## Expected Behaviour

`faas-cli describe` should print the image name of the deployed function.

## Current Behaviour

It's missing in the output, and in the API: https://github.com/openfaas/faasd/pull/246

## List All Possible Solutions and Workarounds

Update the faasd API, and re-test here afterwards.

## Which Solution Do You Recommend?

No

[2022-03-02 11:19] #914 closed

[2022-03-02 11:19] alexellis commented on #914
Closing as fixed upstream in faasd.

[2022-03-17 15:45] #913 closed

[2022-03-25 00:35] seguri commented on #746
@alexellis could you please provide the updated working link?

[2022-03-25 09:42] alexellis commented on #746
@seguri This is an issue from 3 years ago. What do you need?

[2022-03-25 10:53] seguri commented on #746
The last link you provided is broken, would you mind updating it with the working one? This thread is the first search result for "uninstall open faas".

[2022-03-28 06:43] atsushi3110 opened #916 "faas-cli login with a gateway of minikube ip"
## Expected Behaviour

* I expected the faas-cli login with a gateway corresponding `minikube ip`
[code]

## Current Behaviour

Does not work with the message `Unable to login, either username or password is incorrect
`. However, seems to be able to log-in with no gateway of minikube.

[code]

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

[2022-03-28 09:37] #916 closed

[2022-05-07 06:36] zryu000 opened #917 "Could I operate openfaas with http rather than faas-cli"
## Expected Behaviour

Operate openfaas through restful api
## Current Behaviour

## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [-] No

## List All Possible Solutions and Workarounds

## Which Solution Do You Recommend?

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cl

[2022-05-08 23:42] NeoTech opened #918 "faas-cli not respecting --tls-no-verify flag, not respecting containerd registry configuration."
Faas CLI does not respect the --tls-no-verify flag

## Expected Behaviour
When issuing `faas deploy --tls-no-verify -f hello-python.yml` i would expect it to pull image from my local development repository without arguing.

I'm running faasd locally with a Local registry that is setup with x509 self signed certificate.

## Current Behaviour
 faas deploy --tls-no-verify -f hello-python.yml
Deployin

[2022-05-09 07:58] welteki commented on #917
Hi @zryu000,

Thanks for your interest in OpenFaaS.

We have a great chapter on this in Serverless For Everyone Else called "Can I get an API with that?"

[Serverless for Everyone Else](http://store.openfaas.com/l/serverless-for-everyone-else)

Han

[2022-05-09 10:58] welteki commented on #917
/close: resolved

[2022-05-09 10:58] #917 closed

[2022-05-09 15:55] LucasRoesler commented on #918
@alexellis this error must come from fast right? The CLI does not actually pull images, the `--tls-no-verify` only applies to the openfaas gateway tls, not the image. The faasd service itself needs to be configured to ignore tls for local registries, right?

[2022-05-10 21:13] alexellis commented on #918
Hi, thanks for the interest in faasd.

I'm going to close this issue since this is just a misconfiguration of your faasd instance, rather than an issue with faas-cli.

The `--tls-no-verify` flag for faas-cli (like @LucasRoesler mentions) is just about the gateway.

See the [eBook Serverless For Everyone Else](https://openfaas.gumroad.com/l/serverless-for-everyone-else) on how to configure faasd wi

[2022-05-10 21:13] #918 closed

[2022-05-18 08:34] MiguelBasarteJefe opened #919 "Redeploying functions: Running faas-cli inside a function"
I'm looking for the best way run faas-cli inside a function.

## Expected Behaviour
My goal is to have a function that accepts as input the name of other functions that are already deployed an it builds and deploy those functions into the cluster.

## Current Behaviour
I am having problems runing Docker inside an openfaas function.

## Are you a GitHub Sponsor (Yes/No?)
- [ ] Yes
- [X] No

## List

[2022-05-18 14:33] welteki commented on #919
Hi @MiguelBasarteJefe

Thanks for your interest in OpenFaaS.

Take a look at the [Function Builder API](https://docs.openfaas.com/openfaas-pro/builder/) which is part of our  [OpenFaaS Pro](https://www.openfaas.com/support/) offering . I think it might be a good fit for what you are trying to do.

Han

[2022-05-18 14:34] welteki commented on #919
/add label: support,question

[2022-05-24 11:59] alexellis commented on #919
Hi @MiguelBasarteJefe as I understand it - you want to run faas-cli build from within a function?

That's not going to work because Docker cannot be packaged within the restricted security scope of a function, so will not be a supported use-case as you have outlined it.

However, as @welteki outlined, you can try our [Function Builder API](https://docs.openfaas.com/openfaas-pro/builder/) which wil

[2022-05-24 11:59] #919 closed

[2022-06-09 21:57] shubhamseth29 commented on #215
@alexellis I am facing a similar issue , I am using a library aspose.cells in my handler.js file , added it in package.json , but on deploying function and invoking it , I get error cannot find module 'aspose.cells'.
npm install is running , then what can be the issue ?

[2022-06-13 07:58] welteki commented on #215
Hi, @shubhamseth29

Could you please open an issue in: https://github.com/openfaas/templates.

Make sure to fill out the issue template and include an example or link to a repo. Also specify which NodeJS template you are using.

This will give us the information we need to help you further.

Han

[2022-06-16 07:20] sqaisar commented on #688
is there any update to this? We also want to use kubernetes HPAv2 to scale through `stack.yml` in openfaas functions deployment

[2022-06-17 10:33] welteki commented on #688
Hi, @sqaisar

Since this issue was opened we did create a [new auto-scaling engine](https://docs.openfaas.com/architecture/autoscaling/) for [OpenFaas Pro](https://docs.openfaas.com/openfaas-pro/introduction/).

It supports scaling to zero and has multiple [scaling modes](https://docs.openfaas.com/architecture/autoscaling/#scaling-modes) like capacity, rps and cpu based scaling.

The scaling rules

[2022-07-01 02:02] colearendt commented on #770
This feature is important for M1 mac users who are deploying to non-arm architectures. In this case, it is important to build with the `--platform linux/amd64` flag.

If the fix is any easier in the short term, I would welcome a single-valued `--platform` argument (i.e. can only build to one architecture at a time) or a generic `--builder-arg` command that passes arguments to the builder CLI itsel

[2022-07-10 09:15] mazitovt commented on #907
@alexellis , hi, can you review https://github.com/openfaas/faas-cli/pull/920, it may solve the issue

[2022-07-11 15:59] fiftin commented on #907
Hi @alexellis can you review https://github.com/openfaas/faas-cli/pull/921 too.

[2022-08-18 15:25] alexellis commented on #907
Thanks for this PR. Having reviewed the options and the demand, we've written up the workaround in more detail and will be advising users to follow that approach

https://www.openfaas.com/blog/custom-environments/

[2022-08-18 15:25] #907 closed

[2022-08-21 20:06] seekeramento opened #924 "Managing functions progrmatically away from cmd"
faas-cli provides the required commands that help mange functions such as build, deploy, and push. In my case, I need to have an app that can deploy functions dynamically. A way to do that is to run faas-cli commands from this app. However, I am not sure if this sound like the best way to do it.

## Expected Behaviour
Is there a way to manage functions programmatically away from faas-cli?

## Curr

[2022-08-22 07:20] LucasRoesler commented on #924
Hi @seekeramento the deploy command is an API call, you can find the entire API for OpenFaaS in Swagger 2.0 here https://github.com/openfaas/faas/tree/master/api-docs

Unfortunately, build and push are locally run commands, they just delegate to your local Docker. However, if you have [OpenFaaS Pro](https://docs.openfaas.com/openfaas-pro/introduction/), then it does include [a builder](https://doc

[2022-08-22 11:19] seekeramento commented on #924
Many thanks. I have been considering OpenFaaS Pro.

[2022-08-22 11:28] #924 closed

[2022-08-24 14:20] alexellis opened #926 "Show memory and CPU requests/limits in faas-cli describe"
## Expected Behaviour

Show memory and CPU requests/limits in faas-cli describe

## Current Behaviour

OpenFaaS Pro shows utilization, but neither Pro or CE show the limit as set on the function spec.

## List All Possible Solutions and Workarounds

See if it's present in the API, and display it if it is.

## Steps to Reproduce (for bugs)

See example stack.yml here:

https://docs.openfaas.com/ref

[2022-08-24 15:05] rgee0 commented on #926
What am I misunderstanding in the issue if I suggest the `-v` flag provides this?

[2022-08-24 15:29] alexellis commented on #926
Thanks for the reminder :facepalm:

I guess that it was so non-obvious that I even forgot how it was implemented.

[2022-08-24 15:29] #926 closed

[2022-08-24 15:45] LucasRoesler commented on #926
I am pretty sure it is hidden behind the `-v` for "backwards compatibility". But i don't know any use cases that would break by showing the values by default.

[2022-09-12 11:38] vnourdin opened #927 "[Feature Request] Fetch templates from configuration first"
## Expected Behaviour
When running `faas-cli up` with no `template` dir, it should fetch templates configured in the `stack.yml` before fetching official ones.

## Current Behaviour
Fetch first from https://github.com/openfaas/templates.git then from configuration.

## Are you a GitHub Sponsor
No

## List All Possible Solutions and Workarounds
Fetch first configuration and check if all templates u

[2022-09-13 07:59] alexellis commented on #927
Hi @vnourdin

It seems like you edited the issue template and removed some key questions. Especially, why you think faas-cli should work that way.

Explaining and defending why you want us to make a custom change for you, is just as important as tell us what the change is that you desire. How is this affecting you? Why do you need the proposed change? This is your opportunity to convince us.

http

[2022-09-13 07:59] alexellis commented on #927
/add label: incomplete/issue-template

[2022-09-15 17:05] welteki opened #928 "Read-only root filesystem settings is lost when using `faas-cli generate`"
The read-only root filesystem configuration from the stack.yml is not included in CRDs generated with `faas-cli generate`

## Expected Behaviour

When `readonly_root_filesystem` is set in the stack.yml configuration of a function it should also be included in the spec of the CRD generated with `faas-cli generate`

stack.yml:
[code]

CRD:
[code]

## Current Behaviour

The `readonly_root_filesystem`

[2022-09-16 08:37] welteki commented on #928
@Jasstkn do you have time to take a look at this?

[2022-09-16 19:06] corinz opened #929 "Deploy without Building"
Is it possible to `fass-cli deploy` without building first? I'm failing to see why the build dir is necessary for the deploy function. Especially if the container has already been pushed, all we really need is the function metadata and the image url, no?

## Expected Behaviour
`fass-cli deploy` should execute with stack.yml alone -- with no guarantees

## Current Behaviour
`fass-cli deploy` requir

[2022-09-20 15:48] #928 closed

[2022-09-21 21:57] superherointj commented on #874
I'm a nixpkgs maintainer, and I'm struggling to avoid triggering the network when looking up version of package (for automated tests). This is relevant because builds in Nix are done offline.

`$ faas-cli version --short-version`

If there is a solution to this, I'd like to know.

[2022-09-22 10:57] alexellis commented on #874
Hi @superherointj would a flag like `--quiet` work for you?

cc @welteki (who also maintains Nix packages AFAIK)

Alex

[2022-09-22 11:00] superherointj commented on #874
Can the flag to also opt out of network communication?

[2022-09-22 11:07] superherointj commented on #874
Thanks for the prompt answer.

Would `--quiet` print the version still? I need to get the version as output for check.
If it is not too much trouble, can the flag to also opt out of network communication?

[2022-09-22 11:08] welteki commented on #874
There is already a flag to skip the check.
[code]

When this is used there should not be any network communication.

[2022-09-22 11:10] superherointj commented on #874
I see. Thanks.

[2022-09-22 15:02] alexellis opened #931 "Remote build command using the Function Builder API"
This is a proposal for a remote build command using the Function Builder API, plus an SDK struct that can be vendored into a Go API / microservice to perform builds with the Function Builder API that OpenFaaS Pro offers.

https://docs.openfaas.com/openfaas-pro/builder/

## Expected Behaviour

`faas-cli publish --remote` /`faas-cli pro-build`?

[code]

Plus some kind of SDK:

[code]

## Current Beh

[2022-09-22 18:53] alexellis commented on #874
@rgee0 can we close the issue?

[2022-09-22 19:10] rgee0 commented on #874
Up to you.
I think the original sentiment is still valid - the user is misdirected towards an error situation through what is essentially an informational failure.
A silent failure in this situation would be more user friendly.

[2022-09-23 07:02] alexellis commented on #929
Hi @corinz

Thanks for your interest in OpenFaaS. You really do need to include an error message if you're going to raise an issue like this, rather than deleting the fields from the template that you don't want to fill in.

Nobody said that you have to build your function before you can deploy it. As far as I'm aware that isn't the case.

I'm going to close the issue due to a lack of information,

[2022-09-23 07:02] #929 closed

[2022-09-23 07:03] alexellis commented on #929
/add labels: support,question,invalid

[2022-09-24 16:12] alexellis opened #932 "Print environment variables in a deterministic order in faas-cli describe"
## Expected Behaviour

I'd expect `faas-cli describe` to print environment variables in a deterministic order, perhaps sorted by the default string sorter.

## Current Behaviour

I was just running this on a Raspberry Pi with faasd as the back end and noticed the fields appeared to be "jumping about".

## Why do you need this?

It's a bit jarring when running `watch faas-cli describe FN`

## List

[2022-09-24 16:42] rgee0 commented on #932
Derek assign rgee0

[2022-09-24 16:42] rgee0 commented on #932
Derek assign: rgee0

[2022-09-25 08:17] rgee0 opened #935 "findRelease() assumes usage is only for kubeseal"
This is loosely related to #874 and is extant in the current CLI version.

## Expected Behaviour
If a faas-cli version check fails the error message that bubbles up to the user should be specific to faas-cli

## Current Behaviour
Due to https://github.com/openfaas/faas-cli/blob/master/commands/cloud.go#L194 if a faas-cli version check fails due to a zero length location header the error message re

[2022-09-25 08:35] #932 closed

[2022-09-25 16:07] rgee0 commented on #927
I had a quick look at this because it seemed familiar - I was recalling how the gateway priority operates.

This is how the template priority is determined:

https://github.com/openfaas/faas-cli/blob/35fcca5759d012cd0d4298ad34588c400c31d836/commands/priority.go#L38

And this is how the gateway priority is determined:

https://github.com/openfaas/faas-cli/blob/35fcca5759d012cd0d4298ad34588c400c31d8

[2022-09-28 16:16] vnourdin opened #937 "Add --quiet option to faas-cli push"
## Expected Behaviour
A `--quiet` option on the `faas-cli push` would suppress every docker logs about the push to registry.
Especially for CI that doesn't have interactive consoles and thus log a lot of lines for each state change (Preparing, Waiting, Mounted, Pushed)

## Current Behaviour
We currently have all logs from docker push.

## Why do you need this?
To make my CI logs readable.

## Are

[2022-09-28 21:08] alexellis commented on #937
Hey thanks for your interest in OpenFaaS again.

Just to be transparent, we are prioritising the needs of customers and sponsors at the moment.

So some ideas for you:

Maybe Docker has an environment variable that you could use?

You might want to try DOCKER_BUILDKIT=1 as a comparison to see if the output is more palatable to you

faas-cli is open source so you may want to fork it and make it wor

[2022-10-03 09:39] vnourdin commented on #937
Hi, I understand your prioritization, no problem !

I haven't found any env variable to reduce docker push outputs, and BuildKit isn't helping on the push side.
I'll consider opening a PR !

[2022-10-03 15:30] alexellis commented on #937
Hi @vnourdin

I can get this done for you, if you sign up as a sponsor on GitHub either for OpenFaaS or for me, I don't mind which. If you don't see a tier that matches the current value you get from our work, then create a custom one.

The PR is pending on my computer, let me know when you want it to be released for you.

Alex

[2022-10-03 20:14] alexellis commented on #935
Is there a package in arkade that we can vendor for this?

[2022-10-03 20:36] rgee0 commented on #935
Maybe:

https://github.com/alexellis/arkade/blob/7b7ade38cff998b68886fe7f1260d080e881383a/pkg/get/get.go#L181

[2022-10-04 08:34] #935 closed

[2022-10-04 08:34] alexellis commented on #935
I've made the suggested change, thank you for looking into it

[2022-10-05 16:23] alexellis commented on #889
@tatemz can you provide an example to reproduce this?

Thanks,

Alex

[2022-10-05 16:23] #884 closed

[2022-10-05 16:23] alexellis commented on #884
Are we OK here? Let me know if it needs reopening.

[2022-10-18 08:31] alexellis commented on #937
Hi @vnourdin it's been a couple of weeks, should we get this closed, or did you want to sponsor OpenFaaS and get this feature?

Your personal account or your company, we don't mind.

https://github.com/sponsors/openfaas

Alex

[2022-10-18 11:33] #937 closed

[2022-10-18 11:34] #785 closed

[2022-10-18 11:34] alexellis commented on #785
This feature will be available for OpenFaaS Pro customers.

If you're a customer, please get in touch for instructions on how to use it with our supported templates.

[2022-10-18 11:34] alexellis commented on #785
/lock: resolved

[2022-10-18 11:36] #402 closed

[2022-10-18 11:36] alexellis commented on #402
/lock: stale

[2022-10-23 05:12] CleverCoder opened #938 "Have the ability to override not only the gateway URL but also the image name (repository, tag) in faas CLI commands"
## Expected Behaviour
Be able to build, push, and deploy locally using a function configuration file, while being able to easily override the gateway and image repository:tag.

## Current Behaviour
The only workaround I've found is to change the name of the image in the function <functionname>.yml file. I am able to build the image locally to Docker (where the image name remains the name in the co

[2022-10-23 06:37] alexellis commented on #938
Thanks for your interest

This is already implemented and available

See my note where I answered you on an existing issue at:

https://github.com/openfaas/faas-cli/pull/614#issuecomment-1288024170

[2022-10-23 06:37] #938 closed

[2022-10-23 07:09] CleverCoder commented on #938
Not to be pedantic, but if this is implemented, what's the command (when running `faas` or `faas-cli` command line) to be able to override the image used when building, pushing, and deploying to an OpenFaas instance? 🤔

[2022-10-23 12:07] rgee0 commented on #938
I'm pretty sure this achieves what you are asking about.  For transparency, this took me 20 mins to pull together; I'd love to know which company I've been solving problems for.

Create a new function:
[code]

Inspect the new `stack.yml`:

[code]

Add env vars into `stack.yml`

[code]

Run a build without env vars set:

<pre>
$ faas build -f clever.yml
[0] > Building clever.
Clearing temporary bui

[2022-10-23 14:30] CleverCoder commented on #938
Thanks for the suggestion, but it doesn't actually provide a pure override through the CLI without the use of environment vars.

I'm aware I could use env vars like this.

Using environment vars require modifying the CICD pipeline as well as editing the function configuration files. If I was able to override the image on the CLI (similar to the gateway with '-g'), then nothing would need to be cha

[2022-10-24 10:34] alexellis commented on #937
You can sponsor us from *any amount* per month, if you're already using it and both requesting features and technical support, then we would expect you to contribute.

`faas-cli publish` does the same as the above, why don't you look into it?

[2022-10-24 10:34] alexellis commented on #937
/lock: resolved

[2022-10-24 10:37] alexellis commented on #938
Well it does though?

[code]

Environment variables can also be saved into files and inputted, if that suits you better.

[2022-10-24 10:37] alexellis commented on #938
/lock: resolved

[2022-10-27 08:45] LucasRoesler opened #940 "Proposal: expose docker cache-from capability"
## Expected Behaviour

When building a function using `faas-cli build`, it should be possible to reference an external source for the docker build/ayer cache, the most common case would be referencing a pervious build. When enabled, it would allow infrequently changed steps, for example `pip install` to be cached between builds and reduce the total build time.

## Current Behaviour

Only the local

[2022-10-28 15:24] alexellis opened #941 "Add ARM64 build for MacOS"
Add ARM64 build for MacOS

## Expected Behaviour

We can provide an ARM64 build for Darwin, Go supports this and it would be quicker for MacOS users on M1.

https://github.com/openfaas/faas-cli/releases

## Current Behaviour

Rosetta emulation is used on ARM Macs

## Why do you need this?

I think it is expected now, and we have it for arkade/inlets, so it should be straightforward to add here fol

[2022-10-28 17:01] alexellis commented on #940
Thanks for suggesting this feature and for providing the examples too.

It's on our list of things to review / prioritise.

[2022-10-28 17:18] nitishkumar71 commented on #941
I will work on it.

[2022-10-28 19:39] LucasRoesler commented on #940
@alexellis , this is something I would be willing to work on and support, so if there is a preferred design or an alternative, just let me know.

[2022-10-31 16:32] kevin-lindsay-1 commented on #940
For the sake of a specific implementation, we use a command that looks like this:
[code]

[2022-10-31 19:20] LucasRoesler commented on #879
Another option to enable this is to use OCI artifacts to publish and store function templates. The templates name would behave the same as docker image names, a full URI with an version tag at the end.

I have a demo of how this could work in a [branch here](https://github.com/LucasRoesler/faas-cli/tree/feat-global-template-cache)

OCI artifacts are supported by some of the largest docker registri

[2022-11-02 12:16] #941 closed

[2022-11-07 19:09] corinz opened #944 "Capability to select container driver"
I am using Podman, and unable to issue faas-cli commands to build using the podman driver. Does faas-cli have the capability to select an alternative driver?

## Expected Behaviour
faas-cli would work with podman by selecting the driver

## Current Behaviour
faas-cli is hardcoded to work with docker

## Why do you need this?
Some background to show the strategic selection here... There are several

[2022-11-12 13:39] LucasRoesler commented on #940
@alexellis  After discussing the proposal more in the community calls, we decided it would be good to try and simplify the yaml/flags a little bit so that the most common usecases do not require extensive configuration.

I present two options below.

## Initial simplification

First, to simplify the configuration, if `build-cache` is configured _or_ if any cache flags are sent to the CLI, then we