[2017-05-04 09:53] alexellis opened #2 "Idea - Consider use of Docker API for builds over scripting CLI"
Example: https://github.com/moby/moby/issues/27186

Docker CLI - https://github.com/moby/moby/blob/master/cli/command/image/build.go

[2017-06-23 13:51] alexellis opened #11 "Idea - Utility script for installation from binary"
Similar to `curl get-faas.com | sh`

[2017-06-25 18:05] alexellis opened #13 "Proposal: parallel builds for stacks"
Docker builds can be run in parallel rather than serial.

Pros:
* much quicker with several functions

Cons
* will be harder to debug

[2017-06-26 14:37] vielmetti opened #14 "faas-cli --help should give some fully worked examples"
The help text tells you what the various flags do. It should also give some fully worked examples, or at the very least, pointers in URL format to same.

[2017-07-12 15:21] jmkhael opened #15 "Support overriding function's Dockerfile"
Considering the below mxnet.yml file to build and deploy my function (code residing under a sample/mxnet folder):

[code]
I would like to have a way to tell faas-cli to use a specific Dockerfile (e.g. under sample/mxnet) instead of the default lang template one.

`faas-cli -action build -f ./sample/mxnet/mxnet.yml`

[2017-07-12 23:21] aafrey opened #16 "cli hanging on deploy command"
Running through the demo commands in the README. Install seemed to go fine as did build the sample functions with `faas-cli -action build -f ./samples.yml`

When deploy though, it seems to hang.
`faas-cli -action deploy -f ./samples.yml`
...hangs with `Deploying: url_ping.`

This is on x86 architecture and Docker 17.06.0-ce.

[2017-07-13 07:16] alexellis commented on #16
What version of the `faas-cli` did you have?

[2017-07-13 07:27] alexellis commented on #16
I have 0.4 - just installed 17.06.0-ce on my Mac:

[code]

[code]

What platform / OS are you testing on?

[2017-07-13 23:29] aafrey commented on #16
@alexellis
[code]
this was on a scaleway server, but I'm thinking it was some kind of network issue. on my home PC this afternoon I had no issues :)

do you want me to close this? I can keep it open and do some further digging if it would be helpful.

[2017-07-17 08:09] alexellis opened #17 "Proposal: auto-completion / Cobra CLI"
* Switching to Cobra could offer [bash auto-completion](https://github.com/spf13/cobra/blob/master/bash_completions.md) - suggested via Ed Robinson
* Making CLI less verbose - suggested by Finnian Anderson.

[2017-07-18 19:06] alexellis opened #18 "-action build should copy sub-folders into template"
When building a function with a node template for instance any additional sub-folders are not copied into the final image - just flat files at the root.

This should be a change in the build step in https://github.com/alexellis/faas-cli/blob/master/app.go#L293

[2017-07-18 19:09] alexellis opened #19 "Should have - templates for other platforms like armv7/armv8"
Maybe the FaaS CLI should look at the `uname` on a local machine to decide whether to use the armv7 or armv8 templates.

i.e.

templates/armv6/node
templates/armv8/python

The main part of a template that needs to change is the line that picks up the watchdog binary and the base Docker image.

[2017-07-18 20:17] rgee0 commented on #18
Possibly employ recursion in the copy files function to traverse the directory tree.

Happy to have a look at this.

[2017-07-24 09:56] #16 closed

[2017-07-24 09:56] alexellis commented on #16
I'll close this issue, but if you can do more digging that would be appreciated. Re-open if needed.

[2017-07-24 09:57] alexellis commented on #11
Done via cli.get-faas.com

[2017-07-24 09:57] #11 closed

[2017-07-24 09:58] alexellis commented on #14
I'm not sure this is part of the Golang `flags` library. Full examples available in the README for now.

I'll close the issue for now, but if you would like to contribute to a solution that would be great.

[2017-07-24 09:58] #14 closed

[2017-07-24 10:00] alexellis commented on #15
So should the template be used at all in this scenario?

[2017-07-24 13:11] jmkhael commented on #15
The idea I had was to apply DRY as much as possible while having the template serve as an initial scaffold.

Ideally I would like to scaffold a FaaS function with a `faas-cli` one liner, and just customize the `FROM image` in this case.
I thought telling faas-cli to do the default, but maybe change some things so my function has what is needed...

[code]

I don't know if this makes any sense

[2017-07-24 20:36] alexellis opened #22 "CLI should support private registries"
Private registries are supported by the FaaS REST API - https://github.com/alexellis/faas/blob/master/docs/managing-images.md

The support hasn't been added to the CLI / YAML yet.

[2017-07-26 18:03] rgee0 commented on #19
Since the Dockerfile is the only part of templates that requires a change how about adding additional suffixed Dockerfiles within the existing structure?  We could then switch using `-f` in the build and limit duplication in the templates directories.

[2017-07-26 19:00] alexellis commented on #19
Would that always be the case?

[2017-07-27 11:52] rgee0 commented on #19
Is the question "would there be any occasion when a language implementation would be different depending on hardware platform"?

[2017-07-29 17:01] alexellis opened #23 "Templating should use the --squash parameter for docker build"
This will result in potentially smaller images.

[2017-08-02 20:32] alexellis commented on #18
Cheers @rgee0 - awesome to get this contribution.

[2017-08-02 20:32] #18 closed

[2017-08-02 20:32] alexellis commented on #18
Fixed in #21

[2017-08-03 20:57] alexellis commented on #19
What is the latest thinking? new field in the YML file `architecture: armhf`? Or a new language - `language: node-armhf`?

[2017-08-05 10:31] alexellis commented on #22
See also - https://github.com/alexellis/jaas/commit/0aa57a8b8f057ded6a276d0674d5facb466464b1

[2017-08-07 09:36] alexellis commented on #23
Fixed in #24 - thanks a lot Richard!

[2017-08-07 09:36] #23 closed

[2017-08-10 07:08] rawkode opened #27 "Proposal: Support multiple template versions - i.e. Python 2 + 3 separately"
I have started to work on providing a PHP template and I'd like to ensure support for PHP 5 and 7 (This proposal is also relevant for Python 2/3)

I'd like to propose that we add an additional parameter, either `version` or `language_version`

I considered having a template for each and avoiding additional changes, but as very little would be different across the templates, I think it's better to

[2017-08-10 07:28] alexellis commented on #27
Thanks for the suggestion. There should be a template available for new issues now.

How would this work in either scenario? I think whether you have a different "language" field entry or use a pair of fields (language, version) - it will still need a second template. The template is the Dockerfile and entrypoint/loader class/module.

[2017-08-10 09:30] alexellis commented on #17
Hey @johnmccabe - this is what I was talking about.. could be a good secondary benefit of switching to Cobra.

[2017-08-10 09:34] alexellis opened #29 "Should have - "Custom" template type"
## Expected Behaviour

It should be possible to "build" a function which isn't using one of the known / supported template types. An example would be the shrink_image example in the repo.

Snippet:

[code]

The context is whatever is in the `handler` folder and the Dockerfile in the root of the directory will be used for the build.

## Current Behaviour

Build manually and remove the `lang` elemen

[2017-08-14 20:00] alexellis commented on #2
See also: Buildah (suggestion via @kelseyhightower)

https://github.com/projectatomic/buildah

[2017-08-16 12:20] alexellis opened #33 "Docker Swarm issue - Address in use (upstream issue)"
When re-deploying a function (aka Docker Swarm Service) we can get an error "Address in use - unable to allocate container" or similar.

I've raised the issue upstream but it's been open 30 days already. I don't believe the issue occurs when using Kubernetes as a back-end.

https://github.com/moby/moby/issues/34163

The Docker swarm work-around appears to be to deploy again after a few seconds or

[2017-08-16 12:26] rorpage commented on #33
The same is happening for me as well. My workaround is to simply re-issue the deploy command:
`faas-cli -action deploy -f ./stack.yml` and then my function starts.

[2017-08-16 19:29] alexellis commented on #33
I'll update the Python blog post with a few notes on troubleshooting & logs. https://blog.alexellis.io/first-faas-python-function/

[2017-08-16 20:44] alexellis commented on #33
The following work-around fixes the observed behaviour - https://github.com/alexellis/faas/pull/128

Ideally this will be fixed upstream too.

[2017-08-16 22:02] johnmccabe commented on #17
Had a bit of a think about the initial shape of the CLI (as discussed we'd want to keep it backwards compatible with a deprecation warning).

Just some initial thoughts, wdyt.. this sound like something you'd be happy with?

| Command | Description |
| ------- | ----------- |
| **build verb** |
| `faas-cli` | prints available verbs and global flags (think of docker/kubectl etc) |
| `faas-cli --hel

[2017-08-16 22:09] johnmccabe commented on #17
I do like the idea of making images/containers as self-describing as possible via labels - in the spirit of http://label-schema.org/rc1/.

[2017-08-20 17:59] alexellis opened #40 "Bump Golang version to 1.8.x"
## Expected Behaviour

We need to start moving the FaaS projects to 1.8.x. The CLI has the least complex dependency-set so let's start here.

## Current Behaviour

We're using 1.7.x for x86 and ARM.

## Possible Solution

* Update Dockerfiles to best available 1.8.x version
* Run unit tests
* Do integration testing with Docker Swarm and K8s

[2017-08-21 19:40] johnmccabe commented on #40
Contentious, but should we skip 1.8 and bump to 1.9 - its due "real soon now" (TM), and we could use the rc build images in the meantime

[2017-08-21 20:11] johnmccabe opened #42 "Enhancement - CLI should support function deletion"
## Issue

It is not possible to delete functions via the FaaS CLI.

### Proposed fix

Extend `faas-cli` with the ability to delete a specified function.

Suggest we do do after #17 has been implemented and do so via the `faas-cli delete <fn>` verb based approach.

[2017-08-21 20:11] johnmccabe commented on #17
@alexellis I've started working on this

[2017-08-21 20:30] alexellis opened #43 "Refactor: app.go into separate packages/files"
There was a suggestion by @rgee0 to refactor into separate files. I think we have to do this now due to the upcoming cobra CLI changes.

[2017-08-21 20:54] #43 closed

[2017-08-21 21:03] alexellis commented on #42
Fixed in #41 - all commands will use a verb-based approach with the new CLI, right?

[2017-08-21 21:03] #42 closed

[2017-08-21 21:04] alexellis commented on #17
Might want to sync with #43

Can we avoid anything that is stateful / additional functionality for the first cut - i.e. "provider add" / "provider login"?

[2017-08-21 21:09] alexellis opened #45 "Add tests for a dummy endpoint"
Similar to what we've done in the `brew` formula - we should write some tests to check that correct operations are called on a remote server. This doesn't need to be white-box testing of classes and can invoke the CLI directly. It would just need a temporary server at the start of the tests.

https://github.com/Homebrew/homebrew-core/blob/6eee85ea6724594fc29268aa8564cb0061e471b0/Formula/faas-cli.r

[2017-08-21 21:36] johnmccabe commented on #43
yep thats how you structure a client with cobra
[code]

[2017-08-21 21:43] johnmccabe commented on #17
First drop will just include what we have currently `build`, `deploy` and likely `delete` which I'll rebase in.

Regarding backwards compatibility, thats problematic, Cobra doesn't like the use of `-` for long flags, `-` is for short and `--` is for long.

Torn as to how to deal with that, and its impact on existing blog posts/docs etc. Gut would be to output some example old -> new commands if th

[2017-08-21 21:47] johnmccabe commented on #42
correct

[2017-08-23 16:10] alexellis commented on #40
I think 1.8 may be better interim step since that's what the Docker client/API (main dependency) is building against. The K8s work should be on 1.8 but we're somehow getting away with 1.7.

[2017-08-25 00:27] binoy14 opened #48 "Docs using ./faas-cli instead of faas-cli"
Simple documentation fix in Readme.md to change it from ./faas-cli to faas-cli so it doesn't confuse beginners.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reproduce issue:

[2017-08-25 03:36] ems5311 opened #49 "on faas-cli -action deploy: dial tcp 127.0.0.1:8080: getsockopt: connection refused"
When attempting to deploy a function with `faas-cli -action deploy -f ./urlping.yaml` I get the following error message:

[code]

The file, urlping.yaml, is as described in the README.md example file.

This happens with both the faas-cli downloaded from https://cli.openfaas.com, or one which I have compiled from this repo.

## Expected Behaviour

Deploys function

## Current Behaviour

Produces ou

[2017-08-25 07:03] alexellis commented on #48
Using faas-cli via PATH, rather than dev version is a good idea 👍 Done..

[2017-08-25 07:03] #48 closed

[2017-08-25 16:03] ems5311 commented on #49
Update - This error is due to a docker stack not being deployed on localhost:8080, or another docker service already occupying that address and port. I had a service running on localhost:8080, so I removed it, and ran the ./deploy_stack.sh script in the faas/ repository, which set up a single node docker swarm cluster on my local machine, enabling me to deploy a function with faas-cli.

[2017-08-25 16:03] #49 closed

[2017-08-25 16:09] alexellis commented on #49
Good point .. glad you could figure it out. https://github.com/alexellis/faas/commit/e40730f7405dd54e3079fac20e2d0d01a80fc754

[2017-08-27 07:36] alexellis commented on #40
Suggesting 1.8.3.

[2017-08-27 08:15] alexellis commented on #40
Fixed in #51

[2017-08-27 08:15] #40 closed

[2017-08-27 08:28] alexellis commented on #29
Fixed.

[2017-08-27 08:28] #29 closed

[2017-08-27 09:08] alexellis opened #53 "Use multi-stage build and dotnet publish for C#"
* Use multi-stage build and dotnet publish for C#

Optimizes final image size and uses published rather than debug build.

[2017-08-27 16:16] itscaro opened #55 "Proposal: Add support for PHP"
Expected Behaviour

Add template for PHP in order to support built-in build for PHP

Your Environment

Docker Version: 17.06.1-ce
Go version: go1.8.3
OS/Arch: linux/amd64

[2017-08-27 16:22] itscaro opened #56 "Update fwatchdog to 0.6.1 and update command help message"
## Expected Behaviour
Update all Dockerfiles in samples directory to get the latest version of fwatchdog, 0.6.1
Update help message for "action" option to include "push" and "delete" keywords

[2017-08-27 16:28] alexellis commented on #55
Hi @itscaro thanks for trying OpenFaaS.

The idea behind opening an issue is for discussion more than process. I had a few questions.

Is PHP a language you are going to need to work with? I ask because each new language added as an official template needs consideration as we'll have to support it in the project.

**Core supported version**

I also wonder what PHP version people are most likely to

[2017-08-27 16:52] alexellis commented on #56
I'm not sure what this issue is for? Did you want to fill in the template please?

[2017-08-27 17:13] itscaro commented on #55
**Is PHP a language you are going to need to work with?**: I work mostly with PHP and Go.

**Core supported version**: I think PHP 7 is ok for faas. Older versions of PHP are still widely used, but for new developments in my environment we opt for latest version of PHP (7.x)

**Dependency management**: It's Composer for PHP libraries, there are also extensions which need to be compiled and added t

[2017-08-27 17:22] alexellis commented on #55
Thanks for the info. I think the most basic template needs to have dependency management to follow the style and experience of the project.

[2017-08-27 19:34] alexellis commented on #56
Thanks for filling in the template.. 👍

[2017-08-28 09:35] itscaro commented on #55
I've just updated the template. Composer is used to handle PHP-library dependencies. Other PHP have extensions which need to be compiled can be add through php-extensions.sh which is a shell file called by Docker build.

[2017-08-28 17:09] alexellis commented on #56
Merged changes in #57

[2017-08-28 17:09] #56 closed

[2017-09-01 12:01] alexellis commented on #53
@rorpage fancy taking this based upon the PoC work we did?

[2017-09-02 09:51] alexellis opened #59 "Issue - function sub-folders are not copied recursively"
## Expected Behaviour

All / any assets such as a "src" or "samples" folder should be copied into the final image.

## Current Behaviour

Only files in the root directory are copied in

## Possible Solution

Seems as simple as setting a flag to "true" in the builder.

[2017-09-02 09:52] alexellis commented on #59
@rgee0 https://github.com/alexellis/faas-cli/compare/recurse_function_copy?expand=1

[2017-09-02 09:59] alexellis opened #60 "Proposal - filter functions in stacks"
## Expected Behaviour

If a stack has 10 functions but I only want to build one (by name) - then I should be able to do this:

[code]

Applies to:

* delete, build, deploy, push

[2017-09-02 17:42] johnmccabe commented on #17
@alexellis should this now be closed

[2017-09-02 17:52] alexellis commented on #17
How do I enable it?

On 2 Sep 2017 18:42, "John McCabe" <notifications@github.com> wrote:

[2017-09-02 18:36] #17 closed

[2017-09-02 18:36] alexellis commented on #17
Thank you 🥇

[2017-09-02 18:43] alexellis commented on #60
@johnmccabe - feel free to add examples / alternative.

[2017-09-02 18:47] johnmccabe opened #62 "GitCommit in commands package not being updated at build time"
## Expected Behaviour

This results in the following output for a brew installed CLI:
[code]

## Current Behaviour

Following the merge of #50 and the move of the `GitCommit` variable from the old `main` package rather than `commands` package this commit SHA isn't getting populated.

This results in the following output:
[code]

## Possible Solution

## Steps to Reproduce (for bugs)

1. Download t

[2017-09-02 18:48] johnmccabe commented on #62
spotted by @ems5311 in the #faas channel on Slack

[2017-09-02 19:20] #59 closed

[2017-09-03 03:36] ems5311 commented on #62
I've created a pull request with a fix for this bug here:

#65

[2017-09-03 15:55] alexellis commented on #62
Fixed by #62.

[2017-09-03 15:55] #62 closed

[2017-09-03 19:00] johnmccabe opened #67 "Proposal - automate adding cli binaries to Github release on tag"
## Expected Behaviour
Tagging a release should automatically upload the built cli binaries to the Github release from Travis.

[2017-09-03 19:01] johnmccabe commented on #67
I'll push up a PR showing how to do this

[2017-09-04 00:42] ems5311 opened #69 "Proposal: Mock HTTP client for testing"
**Update - I have found a much better way of doing this, now available at #66**

I have created a mock HTTP mode for the faas-cli build command, that swaps out the real http client `Do()` method for a fake version when it is called in `fetch_templates.go`, for the purpose of downloading the `master.zip` file. Please check out this change at my forked branch:

https://github.com/ems5311/faas-cli/co

[2017-09-04 04:37] ems5311 commented on #69
I have now done this with a mock HTTP server from the `net/http/httptest` package. This calls into the `fetchTemplates()` function directly, setting the `templateUrl` environment variable so that the fake server is used by the method.

[2017-09-04 07:01] alias1 opened #70 "Proposal: Add init/new/create commands to the CLI"
It would be nice if all of the required 'knowledge' for creating a new function/etc was built into the command line, with something akin to `faas-cli init funcName`

## Expected Behaviour

Be able to create a new function/etc with ease from the command line

## Current Behaviour

Need to read through a lot of different places to understand how to create a new function.

## Possible Solution

Add i

[2017-09-04 07:25] 0xdevalias opened #71 "Proposal: Default to a 'well-known' named stack file"
## Expected Behaviour

In a similar vein to `docker compose` it would be nice if `faas-cli` defaulted to a well-known, named yaml file (eg `openfaas.yml` or similar) If it did, it wouldn't be a requirement to specify `-f foo.yaml` on each CLI command.

[2017-09-04 07:31] 0xdevalias opened #72 "Proposal: Wrap 'docker service' commands for the OpenFaaS CLI"
## Expected Behaviour

Currently to look at deployed OpenFaaS commands we have to use things like:
* `docker service ls`
* `docker service ps <function_name>`
* `docker service logs <function_name>`

While this is fine if you understand the underlying technologies, it adds another barrier of entry for new users, and another difference in usability between backends.

Wrapping this functionality in

[2017-09-04 07:34] alexellis commented on #70
Hey @alias1 all good ideas. If you'd like to submit a lot of feedback how about joining us on Slack to chat synchronously?

[2017-09-04 07:34] alias1 opened #73 "Proposal: Add 'list' command to the CLI"
## Expected Behaviour

It would be nice to be able to list the functions on the current gateway from the CLI. This would improve the functionality of the CLI, and make discoverability/updates easier.

I am thinking in a similar vein to how apex does things:
* http://apex.run/#listing-functions

[2017-09-04 07:35] alexellis commented on #71
Good suggestion. We were talking about this recently. I think `stack.yml` or `functions.yml` could be a good name.

Are you interested in completing the work also?

@johnmccabe - can the `-f` flag be adapted to take a default easily?

[2017-09-04 07:35] alias1 opened #74 "Proposal: Add 'invoke' command to the CLI"
## Expected Behaviour

It would be nice to be able to invoke functions on the current gateway from the CLI. This would improve the functionality of the CLI.

I am thinking in a similar vein to how apex does things:
* http://apex.run/#invoking-functions

[2017-09-04 07:37] alexellis commented on #70
Did you try the samples in the CLI?

[2017-09-04 08:00] alias1 commented on #71
At this stage i'm not sure if I have the capacity to contribute, though if I find I do down the line and it isn't implemented yet, happy to take a shot at it then.

[2017-09-04 08:00] johnmccabe commented on #71
@alexellis that should be straight forward, the only bit that is worth calling out is the expected behaviour when passing explicit flags and no `-f|--yaml` as that logic will be impacted. The use of a default was mentioned in the examples in #17 but we'd decided against it at the time.

[2017-09-04 08:05] johnmccabe commented on #73
I'd noticed @itscaro had a [local branch](https://github.com/itscaro/faas-cli/tree/add-command-to-list-registered-function) where he was working on something like this.

[2017-09-04 08:06] alias1 commented on #70
Emailed RE: Slack. As I probably don't have the capacity to implement, I thought putting them somewhere public people can see/comment/take on would be useful.

Have had a read through them, and started to work from them for my own project. This (and the other) comments are more calling out things that would improve the UX/etc as I see them, as I find the best time to notice these sorts of things i

[2017-09-04 09:15] alexellis commented on #74
Are you also aware that there is a UI built-in for testing functions?

[2017-09-04 09:18] alexellis commented on #71
Can you give an example?

[2017-09-04 23:29] johnmccabe opened #76 "Swarm - deploy prefers remote registry image over local one"
## Expected Behaviour

If I edit the sample `url-ping` python handler in `sample/url-ping/handler.py`, run `faas-cli build -f ./samples.yml` I can see a new latest image is created `alexellis/faas-url-ping:latest`.

I would expect that running `faas-cli deploy -f ./samples.yml` would use the local `alexellis/faas-url-ping:latest` image.

## Current Behaviour

What appears to happen is that the loc

[2017-09-05 00:42] alias1 commented on #74
By that do you mean the WebUI on `:8080`? If so, I am, and it is nice, but I see a lot of power in being able to use this like an extension of 'local' CLI applications, and build it into my workflow that way.

Obviously I can do it with curl/through the UI/wrap my own thing to do it, but in the vein of improving the 'all in one' functionality this CLI provides, it would be a nice addition.

[2017-09-05 00:50] alias1 commented on #74
Looks like this landed in https://github.com/alexellis/faas-cli/commit/0bdfbcb26bc56480e9bde5a0728ce9a0ef7bdcce If so, this can be closed now.

[2017-09-05 00:50] alias1 commented on #73
Looks like this landed in https://github.com/alexellis/faas-cli/commit/0bdfbcb26bc56480e9bde5a0728ce9a0ef7bdcce If so, this can be closed now.

[2017-09-05 00:51] alias1 commented on #70
Looks like this landed in https://github.com/alexellis/faas-cli/commit/e0131833325dc900f9f375a240ddb708e657503a If so, this can be closed.

[2017-09-05 01:18] alias1 commented on #74
Looks like there are a few hangovers from the file it was copied from (handler, image, language):
* https://github.com/alexellis/faas-cli/blob/master/commands/invoke.go#L26-L28

[2017-09-05 03:41] alias1 opened #79 "Proposal: Add template for golang functions"
## Expected Behaviour

Currently there are [templates](https://github.com/alexellis/faas-cli/tree/master/template) for:  csharp, node, python, ruby. It would be great to have a go template as well.

There is a [golang base function](https://github.com/alexellis/faas/tree/master/sample-functions/BaseFunctions/golang) in the main FaaS repository that can be used as a base. Though this could be impro

[2017-09-05 06:57] #73 closed

[2017-09-05 06:58] alexellis commented on #74
Thanks, we'll clear them up in the next binary

[2017-09-05 07:01] #74 closed

[2017-09-05 07:01] #70 closed

[2017-09-05 07:02] alexellis commented on #76
I believe this is because your image is published on the Docker Hub. When the swarm service creates your function replica it will check the Hub for a digest. What behavior do you see via the `docker CLI`?

[2017-09-05 19:08] alexellis opened #81 "Proposal: Alter templates to run as non-privileged user"
## Expected Behaviour

Instead of "root" let's run as a non-privileged user

## Current Behaviour

They use the default root user.

## Possible Solution

https://github.com/alexellis/faas-cli/blob/master/template/node/Dockerfile

[2017-09-06 11:48] alexellis commented on #79
Derek add label: skill/intermediate

[2017-09-06 19:08] johnmccabe commented on #81
Derek add label: enhancement

[2017-09-06 19:12] johnmccabe commented on #69
@alexellis is this a dupe of #45?

[2017-09-06 19:12] johnmccabe commented on #67
Derek add label: skill/beginner

[2017-09-06 19:13] johnmccabe commented on #67
Derek add label: proposal

[2017-09-06 20:01] alexellis opened #85 "Proposal: third-party templates via GitHub"
## Expected Behaviour

Anyone should be able to download a community-supported 3rd party template for Perl, PHP, Kotlin etc.

## Current Behaviour

PRs to main project.

## Possible Solution

I'm open to input on this too.

[code]

Repo structure:

./template/kotlin/Dockerfile
./template/kotlin/handler.java
./README.md

Initial version of this can be a "dumb" shortcut to download a zip file and un

[2017-09-06 20:04] johnmccabe commented on #85
Derek add label: proposal

[2017-09-06 20:07] rgee0 commented on #85
Questions:

[2017-09-06 20:11] johnmccabe commented on #71
Derek add label: skill/beginner

[2017-09-06 20:11] johnmccabe commented on #71
Derek add label: enhancement

[2017-09-06 20:11] ems5311 commented on #85
I'm happy to take on this issue if that's okay. Should have a first-run of it committed by tonight (west coast time).

[2017-09-06 20:12] johnmccabe commented on #27
Derek add label: enhancement

[2017-09-06 20:14] johnmccabe commented on #69
Derek add label: duplicate

[2017-09-06 20:23] ems5311 commented on #85
Derek add label: skill/intermediate

[2017-09-06 20:28] ems5311 commented on #69
Yes, it is. Closing now

[2017-09-06 20:28] #69 closed

[2017-09-06 20:34] alexellis commented on #85
@rgee0 - maybe we should "cowardly refuse" to overwrite files?

@ems5311 absolutely, please do. I'd see this as re-using some of the work around "fetchTemplates".

[2017-09-06 20:35] alexellis commented on #85
Derek add label: skill/intermediate

[2017-09-06 21:05] alexellis commented on #85
@ems5311 added some more detail in the original comment.

[2017-09-06 21:07] alexellis commented on #79
Want to have a go at this @alias1?

[2017-09-06 21:10] alexellis opened #86 "Core supported languages"
This issue tracks the core supported languages by the FaaS-CLI. This is a finite set of languages the project maintainers are happy to support.

## Existing

* CSharp / .NET standard 2.0
* Node.js
* Python
* Ruby

## Candidates

* Golang
* Java

These may be covered by community support #85

* #55 PHP
* #84 Perl
* Swift via @nicholasjackson

Anything else can be submitted as a "sample-function" to

[2017-09-07 07:18] alexellis commented on #45
The idea would be that we can spin up a temporary server which returns canned responses - then do a full integration test with all the relevant OpenFaaS CLI commands.

[2017-09-07 07:43] alexellis commented on #72
Docker isn't the only back-end we support, so for us to help solve this - what are the core things you wanted to achieve?

[2017-09-07 08:05] alias1 commented on #72
Reading back over what I wrote.. `list` probably covers a lot of it, though if it doesn't already, showing some of the additional state about replicas/deployed status/etc might be useful.

The other main part that is currently missing would be the `logs`, as you pointed out.

[2017-09-08 04:34] ems5311 commented on #85
@alexellis, Should this change expect there to be a separate `template.yml` file in each template folder? And would the schema of that file be just `language:` and `fprocess:`?

[2017-09-08 06:48] alexellis commented on #85
In terms of decoupling the Golang code I think yes. What's your take on it?

[2017-09-08 18:14] rgee0 commented on #79
Derek add label: proposal

[2017-09-08 18:23] alexellis commented on #79
@rgee0 how practical is it to template with Golang? Should we generate a "Dockerfile" version with all the assets in the handler folder? I have the impression third party dependencies are often required beyond what you can pull with vndr or similar.

[2017-09-08 18:23] alexellis commented on #79
I agree that we can make Hubstats multi-stage and the base Golang sample. Can someone do that initially?

[2017-09-08 19:22] rgee0 commented on #79
@alexellis initial thought was that Golang is potentially closer to the .exe use cases.  However, if we are going to include the build in the template then I think we head into the territory you're alluding to.  I'm not experienced enough with vndr to comment on that specifically.  What fuels you impression?

[2017-09-09 00:03] rorpage commented on #53
This can be closed now.

[2017-09-10 00:12] clh8801 opened #88 "publish function api to kong"
## Expected Behaviour
faas-cli publish -f ./samples.yml -gw kong

[2017-09-10 02:52] alexellis commented on #88
We have no Kong integration yet. It's planned by Mashape but we may do it sooner. I'll close this issue but feel free to comment on the open issue in the faas repo.

[2017-09-10 02:52] #88 closed

[2017-09-10 02:56] alexellis commented on #88
https://github.com/alexellis/faas/issues/167

[2017-09-10 13:47] lucj opened #89 "Add Clojure as supported language"
Hi, as Clojure is a great functional language (of the lisp family, you know with lot of parenthesis), I was thinking of adding a template for it in OpenFaaS.

Some of the benefits of Clojure:
- based on Lisp
- relies on the standard JVM platform
- use JVM but do not have to write Java code :)
- real functional language with immutable data structures
- designed for concurrency
- more at https://clo

[2017-09-10 16:02] alexellis commented on #89
Thank you for taking time to write out a proposal @lucj. Please could you start by creating a sample function over in the main OpenFaaS repo?

https://github.com/alexellis/faas/blob/master/sample-functions/

Please also see - https://github.com/alexellis/faas-cli/issues/86 and #85

Alex

[2017-09-10 18:33] aafrey commented on #85
would it make sense to have all templates in their own individual repo? officially supported and custom? officially suportted could still be used on the command line with `--lang node` etc, but have the github URL's hard coded, all others could use custom URL's. this might also eliminate the need to download the entire `master.zip` jus to grab the templpates. you'd only need to grab exactly what i

[2017-09-10 20:36] rgee0 commented on #85
@aafrey I can see some merit to that idea.  I did have to read it twice to understand tho, first time through i thought it was saying a single repo full of templates.

I think if we went down this route we'd have to look at putting the officially supported template details into a config/yaml file - rather than hard coding.  This would save rebuilding if we added support for a new language and coul

[2017-09-11 00:09] aafrey commented on #85
@rgee0 apologies if that was confusing but i think you got what i meant :) each template would have it's own repo `OpenFaaS/node-template` or `OpenFaaS/python-template`. Not sure if that would add to much complexity or management overhead, but it could be useful

`putting the officially supported template details into a config/yaml file - rather than hard coding`
^^ much smarter :)

[2017-09-11 02:47] ems5311 commented on #85
@alexellis Sorry, missed your comment. Currently the change that is in the PR #87 puts a separate `template.yml` file into each language's template dir. If we want to change that to something else, that's no problem

[2017-09-11 03:07] alexellis commented on #85
Having a template file is great - exactly what we said above. I think for reducing latency and for quicker maintenance the cli repo would hold all official templates. Third part repos would also contain one or more language templates.

[2017-09-11 03:42] alias1 commented on #85
My /2c is that I sort of like the idea of having them in separate repos, but it would increase the overhead of things potentially. That could be solved with some local caching/etc, but at that point, I wonder if we're over engineering things.

I really like the idea that by having separate repo's we can basically reuse the same code paths for 'official' and '3rd party' templates.

Following the co

[2017-09-11 03:51] alexellis commented on #85
This.

Let's try out v0.1 of the change with the current bundle coming from the main repo and anything else added through "add-template" and a well-formed URL.

Can someone try out the PR with their own template? It could be i.e. python3.5 which you use for testing.

[2017-09-11 05:00] ems5311 opened #90 "Calling function created with `csharp` template results in error"
When I try to call a function created with the C# template, I get the following result:

[code]

This error code apparently indicates that the image that is built does not have the SDK installed. (https://stackoverflow.com/questions/42346498/dotnet-aspnetcore-docker-build-fails-with-a-145-error-code)

Are others seeing this issue? I'm deploying by adding the following to `./samples.yml`:
[code]

#

[2017-09-11 05:07] alexellis commented on #90
It's to do with fprocess. Can you upgrade the cli?

[2017-09-11 05:19] ems5311 commented on #90
Correct, my apologies. Must have forgot to rebuild the cli since using some other changes... :raised_hands:

[2017-09-11 05:19] #90 closed

[2017-09-11 05:46] ems5311 commented on #85
The way the current PR is written, you need to have your templates directory in a faas-cli project. This is because the template parsing function uses `faas-cli-master/` as the hard-coded root directory of the `master.zip` file.

https://github.com/alexellis/faas-cli/blob/3a2e81471c69275571d71f84c158bb787fb1ad7b/commands/fetch_templates.go#L31

[2017-09-12 11:43] johnmccabe opened #94 "build action template download/extraction fails on Windows"
## Expected Behaviour
Build should "just work"

## Current Behaviour

Fails with:
[code]
Note this has been around for a while, reproduced on current release and old `0.4.8`

## Possible Solution

## Steps to Reproduce (for bugs)

1. Build a sample function on windows

## Context

User experience on Windows is compromised

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05

[2017-09-12 11:44] johnmccabe commented on #94
Derek add label: bug

[2017-09-12 14:00] alexellis commented on #94
Derek add label: windows

[2017-09-12 14:00] alexellis commented on #94
Fixed in: https://github.com/alexellis/faas-cli/commit/9bf8cee146c2ccddfb12d91db7e049e8dc763dc9

[2017-09-12 14:00] #94 closed

[2017-09-12 14:45] itscaro opened #95 "Proposal: Do a gofmt verification before build"
## Expected Behaviour
If there is a file which need to be reformatted, the docker build is interrupted.

## Current Behaviour
There is no verification.

[2017-09-14 01:06] alias1 opened #96 "CLI can't successfully deploy to 'custom' named stack"
## Expected Behaviour

When I deploy a command to my custom named stack, it works (or gives me an error saying it can't)

## Current Behaviour

The CLI claims to successfully deploy the command, but it doesn't work. There is an error in the logs of the gateway. The CLI appears to have hardcoded the name:

[code]

https://github.com/alexellis/faas-cli/blob/3a2e81471c69275571d71f84c158bb787fb1ad7b/p

[2017-09-14 01:26] alexellis commented on #96
Can you jump in on this?

[2017-09-14 01:40] alias1 commented on #96
@alexellis Theoretically maybe, but in reality I have so much going on in so many different things right now that I am hesitant to commit to anything. If/when i find spare time/energy to actually contribute something code-wise, I will, but I don't know if/when that will be.

[2017-09-14 07:31] itscaro opened #97 "Proposal: use Makefile to run shell scripts"
Use Makefile instead of shell scripts

## Expected Behaviour
Tasks are organized in makefiles folder along with the main Makefile at root.
Current scripts will call the corresponding makefile rule in order to maintain backward compatibility.

```build.sh``` calls ```make build```
```build_redist.sh``` calls ```make build_redist```
```test/version.sh``` calls ```make test_version```
```deploy_sampl

[2017-09-14 08:06] theodesp opened #99 "Cli: open ./template/python: no such file or directory error"
I'm trying to build a python example using the tutorial https://blog.alexellis.io/first-faas-python-function/ and the moment I call:

[code]

I get:

[code]

is there anything that I miss?

## Expected Behaviour

[code]

## Current Behaviour

[code]

[code]

[code]
## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

I was trying to follow the tutorial steps from here:

[2017-09-14 08:34] aafrey commented on #99
@theodesp I was unable to reproduce, using the commands you had listed. There have been some updates to the cli recently though, what version are you using? `faas-cli version`

and you might also try running the below commands to see if you have better luck.
[code]

[2017-09-14 08:46] itscaro opened #101 "Proposal: Use constant to declare default gateway"
Use a constant to declare the default gateway instead of having "http://localhost:8080" hard-coded in multiple places

[2017-09-14 09:04] lucj commented on #89
faas-reverse-geocoding function added to https://github.com/faas-and-furious

[2017-09-14 09:04] #89 closed

[2017-09-14 13:03] itscaro commented on #85
I move downloaded archives to .cache directory and add --overwrite, --keep-archive flags

For the build command, the archive is kept as the current behaviour. The command "add-template" does not keep archives by default

[code]

[2017-09-14 18:32] rgee0 commented on #99
@theodesp I managed to replicate but only through running the `faas-cli` command in the wrong place.

The blog post suggests using the user's home directory so the lay out of files should be:

~/functions
├── hello-python
│   └── handler.py
└── stack.yml

The `faas-cli -action build -f ./stack.yml` command should then be run from the functions directory.

[2017-09-14 18:32] rgee0 commented on #99
derek add label support question

[2017-09-14 18:33] rgee0 commented on #99
Derek add label: Support Question

[2017-09-14 19:27] alexellis commented on #99
As long as you don't have a template folder already, the templates are always downloaded every time you run a "build" or "new" command via the CLI.

[2017-09-14 19:29] alexellis commented on #99
Here's an example:

[code]

[2017-09-14 20:31] itscaro opened #105 "Proposal: Improve version command"
## Expected Behaviour
[code]

## Current Behaviour
Version contains only SHA1

## Context
Provide a more human-readable version info, easier for people to report their version

## Your Environment

go 1.8.3 linux/amd64
docker 17.06.2-ce

[2017-09-14 22:05] rgee0 commented on #105
Derek add label: proposal

[2017-09-14 22:05] rgee0 commented on #101
Derek add label: proposal

[2017-09-14 22:05] rgee0 commented on #97
Derek add label: proposal

[2017-09-14 22:06] rgee0 commented on #95
Derek add label: proposal

[2017-09-14 22:21] itscaro commented on #95
Please close this issue as the PR is merged. I forgot to put in commit message token to close issue automatically

[2017-09-14 22:24] #95 closed

[2017-09-15 09:29] itscaro commented on #13
Example output (not yet optimized, suggestions are welcomed)

[code]

[2017-09-15 16:49] #99 closed

[2017-09-15 16:49] alexellis commented on #99
Closing the issue. If anyone has more information feel free to re-open / comment here.

[2017-09-15 16:49] alexellis commented on #60
Thanks to @ems5311 we now have this and it will be out in the next release.

[2017-09-15 16:49] #60 closed

[2017-09-15 16:50] alexellis commented on #67
Derek add a label that @johnmccabe is killing it. 👍

[2017-09-15 16:50] alexellis commented on #67
Merged via travis changes.

[2017-09-15 16:50] #67 closed

[2017-09-15 16:51] alexellis commented on #15
This will be implemented (in kind) via #85 - thanks @jmkhael for a great suggestion.

[2017-09-15 16:51] #15 closed

[2017-09-15 16:52] alexellis commented on #96
This will be fixed in #100 - please can you pull the code from `master` and build to confirm @alias1?

[2017-09-15 16:52] alexellis commented on #96
Closing via #100 - if there are issues when testing please ping @itscaro and re-open.

[2017-09-15 16:52] #96 closed

[2017-09-15 16:53] alexellis commented on #101
Merged via #102 - @rgee0 thank you for the triage 👍

[2017-09-15 16:53] #101 closed

[2017-09-15 16:55] alexellis commented on #85
@ems5311 - if we are able to work out the prefix by convention we can remove the hard-coding.

[2017-09-15 16:55] alexellis commented on #85
@ems5311 @itscaro would either of you like to write a guide for building and using a third-party template and submit it to the FaaS repo under /guide/ ? (this will be a requirement of merging)

[2017-09-15 20:45] itscaro commented on #105
Two separate lines in full version

[code]

The short version gives
[code]

[2017-09-17 13:37] alexellis commented on #79
Here's an idea - let Golang generate a Docker build. That way it's still a template but you are expected to hack on the Dockercon etc

[2017-09-17 21:02] alexellis opened #108 "Research item: anonymous usage analytics"
## Expected Behaviour

Track usage of commands (verbs), parameters (used), build times and other anonymous data that can help us understand usage and improve the CLI.

Opt-out of collection via environmental variable like VSCode does.

## Current Behaviour

Relying on unsolicited feedback / word of mouth

## Possible Solution

Google Analytics (subject to costing out) - has a Golang library. https

[2017-09-18 00:03] alias1 commented on #96
Hopefully able to check this out later, not setup to build/run `faas-cli` from the repo atm.

In the meantime, I see that it was [released as 0.4.14](https://github.com/alexellis/faas-cli/releases/tag/0.4.14)

Tried bumping in homebrew ([similar to previous updates](https://github.com/Homebrew/homebrew-core/pull/17633)), but hangs here. Maybe @johnmccabe has a better idea?

[code]

[2017-09-18 21:53] alias1 commented on #96
@itscaro So testing the default 'fail case', openfaas/cli still report the deploy as sucessful, even though it isn't. Did a little digging on slack as to where this seems to be coming from the other day, can't remember where it was off hand (in the gateway+CLI from memory). But basically, I would expect that the error shown in the logs should be returned somehow to fail the deploy command, or prov

[2017-09-18 21:59] itscaro commented on #96
@alias1, @alexellis should  it be a new issue in `faas` to make the gateway return the error to `faas-cli`?

[2017-09-18 22:10] alexellis commented on #96
There is technically no error, just unexpected behaviour. The service responded 200 because it was a valid request and accepted by the scheduler. Maybe we can update the documentation to make this clearer.

[2017-09-18 22:29] alias1 commented on #96
Hrmm.. i'm not sure if I would agree that there is 'no error', but I suppose that depends on how you're defining it.

The log line specifically states error:

[code]

If `faas-cli` is treating a 200/no error as "i sent a command and the server got it" then i'd agree there is no error, but from a UX perspective.. that's going to be super confusing and unintuitive to most.

I'm not sure how quickly

[2017-09-18 23:36] alexellis commented on #96
I didn't see that there was an error logged, in which case we can change the http code and response message. It's a quick fix.

https://github.com/alexellis/faas/blob/master/gateway/handlers/createhandler.go#L57

[2017-09-19 03:16] alias1 commented on #96
Opened `faas` issue for it: https://github.com/alexellis/faas/issues/195

@itscaro Also, related to this issue. Using the command line flag with the yaml file, the yaml file seems to take precedence. Do we have a defined 'order of operations' across `faas-cli`? I would normally expect a command line argument to overwrite a 'settings file'.

So in the following example, it would appear to deploy to

[2017-09-19 20:09] rgee0 commented on #2
I will delete this shortly.  Testing the hooks.

[2017-09-20 16:17] alexellis commented on #81
Work in progress above.

[2017-09-21 08:38] #105 closed

[2017-09-23 14:39] alexellis commented on #13
I have merged the parallel build work, have you been able to test?
If there is an error I think we can do something like this:

[code]

Also - I'm coming up with an ASCII progress/animation but need to find a way to make Windows play nice too and so far it's just printing ASCII codes everywhere.

[2017-09-23 14:40] alexellis commented on #27
Python 3 supported merged @rawkode

[2017-09-23 23:33] johnmccabe commented on #108
I'll pick this up, have done something similar in the past.

[2017-09-24 01:31] ericstoekl opened #114 "faas-cli push made it so that I couldn't update my container"
I am working on the [faas-and-furious/youtube-dl](https://github.com/faas-and-furious/youtube-dl) function. My workflow was:

1. Push docker [image to docker hub](https://hub.docker.com/r/ems5311/youtube-dl/) with `faas-cli push -f <yaml>`
2. Update function `entry.sh` file
3. Retry `faas-cli build -f <yaml>; faas-cli deploy -f <yaml>`, and the function is not updated!

My current version of the c

[2017-09-24 05:05] ericstoekl opened #115 "Proposal - On faas-cli deploy --image <>, pull image if not found."
I think this has been brought up before, but I believe that if you run `faas-cli deploy --image <>` and the image has not yet been pulled to your machine, it should pull this image first. Currently it doesn't even seem to display an error message on `faas-cli deploy`. Maybe a `faas-cli pull` command would also make sense.

If this sounds like a good addition, I would like to work on this.

## Expe

[2017-09-24 08:23] alexellis commented on #115
I'm pretty sure I do this every day and that it works on my clusters.. Can you give the instructions to reproduce the issue?

[2017-09-24 08:25] alexellis commented on #76
Ping @johnmccabe

[2017-09-24 08:36] alexellis commented on #114
Order is a bit wrong there:

1) Push docker image to docker hub with faas-cli push -f <yaml>
2) Update function entry.sh file

It works like this:

* edit
* build
* push
* deploy

What you might be seeing is a behaviour of the Kubernetes back-end which may not be detecting a change in the image.

https://github.com/alexellis/faas-netes/issues/26

[2017-09-24 10:09] ilovezfs opened #116 "Canonical repository URL does not match Go import"
I noticed that the canonical repository url had changed, so was going to `%s/alexellis/openfaas/g` in the Homebrew formula, but it looks like the Go import paths are still using the old location. Ideally, these should probably match.

[2017-09-24 10:20] alexellis commented on #116
Yes that's what we've seen happen with an org move. The imports will still work the same (GitHub does redirects) and then later this week or next we'll start to update the various projects with the new imports.

[2017-09-24 17:21] ericstoekl commented on #115
Okay, so I tested it and as you say, it works. :+1:  It pulls the docker images properly, although it does not let the user know that it needs to pull the image.

However, if the image name specified does not exist on docker hub, it will not give any error message letting you know that it failed to pull the image. I believe there are some improvements that could be made here. Let me know your thou

[2017-09-24 17:30] johnmccabe commented on #115
@ericstoekl you'd need to make your image available from a local registry if you're not pushing it up to the hub, Swarm doesn't handle propagating images across a cluster.

[2017-09-24 17:35] johnmccabe commented on #76
Its working the way its supposed to work, switching to my own local registry for images let me get the behaviour I wanted. Closing as invalid.

[2017-09-24 17:35] #76 closed

[2017-09-24 17:36] alexellis commented on #76
Did you use TLS or insecure registry?

[2017-09-24 17:40] johnmccabe commented on #116
@alexellis I'll push up a PR to perform the move

[2017-09-24 21:25] johnmccabe commented on #115
Derek add label: question

[2017-09-24 21:27] johnmccabe commented on #116
Derek add label: skill/beginner

[2017-09-24 21:36] alexellis commented on #116
Derek assign to: johnmccabe

[2017-09-24 21:36] alexellis commented on #116
I'm not sure if he's upgraded yet

[2017-09-25 02:52] ericstoekl commented on #115
@johnmccabe Thanks for the answer. However, I believe if the image is not found, instead of just deploying the non-existant image, which will forever be stuck at replica count of `0/1`, faas-cli should report some kind of error message saying "docker image not found". Similarly, if it does find an image but it is not yet pulled locally, it should say "pulling image from docker hub". Let me know yo

[2017-09-25 16:06] ericstoekl opened #122 "Proposal - Include `ls` alias for faas-cli list"
It would be useful to be able to run 'faas-cli ls' rather than 'faas-cli list' in order to list running functions. This is just a matter of adding an `Aliases:` property to the `listCmd` object.

## Expected Behaviour

`faas-cli ls` provides the functionality of `faas-cli list`

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environme

[2017-09-25 16:11] johnmccabe commented on #122
Derek add label: proposal

[2017-09-25 16:12] johnmccabe commented on #116
You didn't merge that PR I think?

[2017-09-25 16:23] alexellis commented on #122
Happy with this, but please full the full template out or delete the sections that don't apply. Merged in #118.

[2017-09-25 16:23] #122 closed

[2017-09-25 16:23] alexellis commented on #115
Please fill out the whole template so people of varying levels of experience (or on little time) can repo the issue easily.

[2017-09-25 16:29] alexellis commented on #116
Fixed in #117

[2017-09-25 16:29] #116 closed

[2017-09-25 16:30] alexellis commented on #114
Closing for now - if you have more issues please send a comment on Slack or comment here again.

[2017-09-25 16:30] #114 closed

[2017-09-25 16:33] alexellis commented on #71
I would see this as being "stack.yml". We have to make sure that the override works well with all the commands before merging a fix.

[2017-09-25 17:02] nicholasjackson commented on #71
I can take a look at this in the morning

[2017-09-25 20:59] alexellis commented on #115
Derek add label: revisit

[2017-09-25 20:59] #115 closed

[2017-09-26 05:09] ericstoekl opened #124 "Print error message when --filter or --regex returns no matches"
This change is to provide an error message if --filter or --regex returns no matches. This was mentioned by @johnmccabe in the Slack to be a desired feature.

## Expected Behaviour

When you run a --filter or --regex statement that returns no functions from the YAML file, return an error message like: `"No functions found in YAML, check --filter/--regex"`

## Current Behaviour

No error message is

[2017-09-26 06:07] johnmccabe commented on #124
Derek add label: bug

[2017-09-26 06:07] johnmccabe commented on #124
Can you get rid of the 'proposal -' in the issue title please.

[2017-09-28 21:58] alexellis commented on #13
For #hacktoberfest it'd be great to get a nice colourised terminal that works on Windows 7/10 `cmd` natively and MacOS/Linux bash.

[2017-09-28 21:58] alexellis commented on #13
Derek add label: hacktoberfest

[2017-09-29 06:30] alexellis opened #127 "Create and manage .gitignore file for function templates"
When a templated function is created with the `faas-cli new` command then certain files are created and we should add them to the .gitignore file:

[code]
Used as a local cache of FaaS templates - this can be edited and committed but generally isn't

[code]

This is a temporary folder which is not supposed to be committed

Rules:
* Create .gitignore if none exists
* If one exists try to append the

[2017-09-29 06:32] alexellis opened #128 "When creating new functions - offer to append to existing YAML"
Here's the scenario:

I scaffold 5 functions, but end up with 5 YAML files.

[code]

Let's offer a new parameter `--yaml YAML_FILE` which means you can append new functions into an existing file:

[code]

[2017-09-29 06:33] alexellis opened #129 "Add colour to "faas-cli new" command"
This should mimic the project logo, but in ASCII colour.

Alternatively add colour to the `figlet` OpenFaaS splash screen on `faas-cli version` command

[2017-09-29 10:37] viveksyngh commented on #127
I would like to work on these issue. Only these two rules should be added in .gitignore ?

[2017-09-29 14:44] alexellis opened #130 "Proposal: Rename CLI"
Chatting on the Slack channel at JeffConf - should we rename?

I'll post three comments.. please vote or suggest another option.

[2017-09-29 14:44] alexellis commented on #130
`faas-cli`

[2017-09-29 14:44] alexellis commented on #130
`faas`

[2017-09-29 14:44] alexellis commented on #130
`openfaas`

[2017-09-29 14:49] shorsher commented on #129
I'd like to help do this!  This would be my first OSS and I'm fairly novice with go but it doesn't seem too hard lol.  Any preferences on the colors?

[2017-09-29 14:53] alexellis commented on #129
I was thinking we could use the ASCII art converter function to generate a sample based upon the logo we have for a favicon in the faas repo.

https://github.com/developius/faas-node-ascii

[2017-09-29 17:33] shorsher commented on #129
I generated the faas logo with the ascii function but it turned out quite big.  I would add it here but probably not able to view it correctly.

[2017-09-29 19:19] alexellis commented on #129
I think we may need to just go with a coloured figlet logo for now. Just did a release which you can check out via the sh script. We'll find something else for you to get stuck into and tag it #hacktoberfest

[2017-09-29 19:20] alexellis commented on #129
If you like you can still share the image by dragging it into a comment

[2017-09-29 19:24] shorsher commented on #129
I'll be happy to do the colored figlet logo.  Here's an attached screenshot from my terminal of the ascii favicon, quite large as you can see lol.
![screen shot 2017-09-29 at 3 23 44 pm](https://user-images.githubusercontent.com/10987380/31032517-4199e6ee-a52a-11e7-9086-510290fdb15e.png)

[2017-09-29 19:41] austinfrey opened #131 "Proposal: Support port mapping"
## Expected Behaviour

Map ports via a command line `-p` flag or using the `stack.yml` file similar to `docker-compose.yml`
[code]

## Current Behaviour

Currently you need to add a function to a `docker-compose.yml` file and deploy with the rest of the OpenFaaS framework or deploy using the Docker CLI.

## Context

The current use would be to more easily allow debugging by exposing another port a

[2017-09-29 19:46] rgee0 commented on #131
Derek add label: proposal

[2017-09-29 20:12] rgee0 commented on #128
I think this is a great idea.  Making it easier for people to build and maintain a suite of functions.

So that others are clear, is the suggestion that the new parameter should be `--yaml` or `--append`?  The narrative and codeblock seem to suggest both.  I'd lean more towards `--append` as it would be more intuitive a command.

[2017-09-29 20:12] alexellis commented on #131
This is with the debugging in mind right?

[2017-09-29 20:14] austinfrey commented on #131
yes, should Iink that issue?

[2017-09-30 13:46] developius commented on #130
`ofaas`?

[2017-09-30 17:39] ericstoekl commented on #128
I'm working on this ATM, appending the new function to the `Services` struct and then using  `yaml.Marshall()` to write out the modified YAML file. I gotta go to an all-day event today but I should have it done tomorrow morning (Sunday oct 1).

Also plan on adding some tests

[2017-09-30 18:11] ericstoekl commented on #128
Alright, so I've got the basic functionality working in this branch. This one doesn't leverage the `Services` interface to append the data, it just writes string data to a file. I want to get maintainers' opinions on whether we should append by adding to a `*Services` object then writing that out with `yaml.Marshall()`, or if this way is sufficient.

https://github.com/ericstoekl/faas-cli/commit/e

[2017-09-30 18:52] rgee0 commented on #128
My preference would be to use `yaml.Marshall()` as I feel it keeps things cleaner.

[2017-10-01 12:29] alexellis commented on #128
What resulting template do you get for Lang Dockerfile?

[2017-10-01 18:47] ericstoekl commented on #128
@alexellis You get a folder containing an empty file named `Dockerfile`. I was thinking putting something very basic in, like `catservice` as a starting point, might be helpful for users.

[2017-10-01 19:32] alexellis opened #133 "Hacktoberfest - move from --name parameter to positional arg"
## Expected Behaviour

[code]

## Current Behaviour

[code]

## Possible Solution

Match the `remove` verb

## Context

Helping to move the developer-experience forward.

[2017-10-01 19:46] alexellis opened #134 "Hacktoberfest: Alter verb invoke to take positional argument"
## Expected Behaviour

[code]

## Current Behaviour

[code]

## Possible Solution

Follow pattern in `new` and `remove` verbs.

## Context

Reducing CLI verbosity.

[2017-10-01 19:46] gardlt commented on #133
Is this issue, still open, i would like to give it a go?

[2017-10-01 20:00] alexellis commented on #128
See also #132

[2017-10-01 20:01] alexellis commented on #133
I've just merged this one @gardlt but I have another one almost exactly the same 👍

Feel free to start on: #134 and ping alex@openfaas.com to join the Slack community

[2017-10-01 20:02] amirkarimi commented on #134
Can I work on this issue?

[2017-10-01 20:07] alexellis commented on #128
@ericstoekl did you PR for this yet?

[2017-10-01 20:08] alexellis commented on #128
@rgee0 I'm not sure. Maybe we should actually go for `--yaml` because we'll need that anyway when we default all new functions to a `stack.yml` file instead of `NAME.yml`

[2017-10-01 20:08] alexellis commented on #133
Fixed in #132

[2017-10-01 20:08] #133 closed

[2017-10-01 20:16] gardlt commented on #134
@alexellis can i pick up this work? per discussion on #133

[2017-10-01 20:16] alexellis commented on #134
Hi Amir,

@gardlt asked to work on this via https://github.com/openfaas/faas-cli/issues/133 - but we can find you something else to get stuck into. Would you like to ping alex@openfaas.com and I'll introduce you to our Slack community and other new contributors?

We have more issues ready here too:

https://github.com/openfaas/faas/issues

https://github.com/openfaas/faas-netes/issues

https://git

[2017-10-01 20:17] amirkarimi commented on #134
Of course, go ahead @alexellis :+1:

[2017-10-01 20:24] alexellis commented on #134
Here's another example issue @amirkarimi - https://github.com/openfaas/faas/issues/198

[2017-10-01 21:53] gardlt commented on #127
is this still been worked?

[2017-10-02 00:31] ericstoekl commented on #124
This is merged

[2017-10-02 00:31] #124 closed

[2017-10-02 01:18] ericstoekl commented on #128
@alexellis  I don't have a PR yet, still working on the details. So far what I have is here:

https://github.com/ericstoekl/faas-cli/commit/89b255715745860813e665cb8eb5d13c3b43f690

Issues to fix:
1. Need to add tests for this functionality (manually tested and the happy path works)
2. Would be nice to be able to order the YAML data manually. For example, the file produced by this method looks lik

[2017-10-02 11:46] alexellis commented on #127
@viveksyngh @gardlt

The `.gitignore` for the CLI should remain unchanged - this is about adding to the .gitignore file in the directory where `faas-cli new` is entered, and if it doesn't exist we have to create it:

i.e.

[code]

This should create /tmp/test/.gitignore with the entries:

[code]

Then if the .gitignore file exists should only add the entries (append) if they are not already presen

[2017-10-02 11:49] alexellis commented on #95
Merged 👍

[2017-10-03 02:33] gardlt commented on #127
My bad misunderstood, PR. so the ask is that we want to add `.gitignore` file when we executing `faas-cli new [command]`. okay will correct

[2017-10-03 03:09] viveksyngh commented on #127
@alexellis Should we skip the .gitignore file creation and  proceed to next steps if we get any error during file creation or append ?

[2017-10-03 09:24] alexellis commented on #127
Right - so is anyone able to work on this?

[2017-10-03 09:28] alexellis commented on #129
Colour was added to `new` and `version` through ASCII codes.

[2017-10-03 09:28] #129 closed

[2017-10-03 09:28] alexellis commented on #129
Thanks for helping to look into the ASCII art.

[2017-10-03 09:28] alexellis commented on #97
Will come back to this.

[2017-10-03 09:29] #53 closed

[2017-10-03 09:29] alexellis commented on #53
Thanks @rorpage

[2017-10-03 09:43] viveksyngh commented on #127
I am working on it and implemented the logic. I need to test it.

[2017-10-03 15:54] ericstoekl commented on #128
I'm only able to work on this a bit per day because of other stuff going on, but I'm about 90% of the way there. Just need a few more tests and it'll be ready to PR.

Progress so far: https://github.com/ericstoekl/faas-cli/commit/6c13121bfda95a1cf16bcd42aff3fa2fc0b0fb85

[2017-10-03 15:59] alexellis opened #138 "Fail "build" if Docker CLI throws an error"
## Expected Behaviour

We need to "stop the world" if a `faas-cli build` throws an error.

## Current Behaviour

Error is swallowed and hard to see.

## Possible Solution

At the least just `log.Fatal()` and emit non-zero exit code.

Better - print a message in red with the aec library we use for "version"/"new" commands.

## Steps to Reproduce (for bugs)

Use a Dockerfile with a bad instruction a

[2017-10-03 16:20] shorsher commented on #138
I’ll give this one a shot 🙌🏼🙌🏼

[2017-10-03 17:46] alexellis commented on #138
Please provide output from testing in the PR (positive and negative) along with what happens if you have multiple functions or a single. GIFs are also very good for showing new behavior. Looking forward to seeing this.

[2017-10-03 20:56] shorsher commented on #138
So it seems the only way to get the error status is in ExecCommand(), would you like to handle any errors there?  The push command also utilizes ExecCommand() so that might be the best option.

[2017-10-03 21:03] alexellis commented on #138
I think you can check for Exit code on the command object

[2017-10-04 07:46] yesimdinesh opened #140 "How do I monitor resource utilization?"
Hi, is there a way to get the container id in which the deployed service/function is running?
I need this container id to use in docker stats command to get the resource utilization statistics of the service.

[2017-10-04 08:29] alexellis commented on #140
As far as an OpenFaaS user is concerned you should not be getting deeply attached to the container instance. I'd suggest adding cadvisor or a Prometheus plugin to your deployment.

If we need to measure the memory usage of functions that is something we should do through the wider project.

[2017-10-04 08:47] yesimdinesh commented on #140
Thanks Alex,
     I got the resource utilization of the non-containerized binary using "atop" command on a RaPi. But in future this binary shall be deployed in a docker container as a service/function on a resource constrained swarm node. Hence, while deploying this function(in a container), I will be specifying values for --reserve-cpu and --reserve-memory.
My intention is to run this binary in a

[2017-10-04 10:00] yesimdinesh commented on #140
Anyway, I got the solution for this:

Get the task id for your service:
docker service ps facto
Get container id for this task:
docker inspect --format "{{.Status.ContainerStatus.ContainerID}}" <task id>
Run the docker stats command:
docker stats <container id>

Thanks
Dinesh

[2017-10-04 10:00] #140 closed

[2017-10-04 16:03] ericstoekl commented on #128
Sent out a PR: #141

[2017-10-04 16:15] alexellis commented on #128
Great, thank you 👍

[2017-10-05 07:19] #134 closed

[2017-10-05 07:52] alexellis commented on #138
Fixed in 139. With some notes on a v2 implementation.

[2017-10-05 09:35] yesimdinesh opened #143 "How do I use --reserve-cpu, --reserve-memory options in "faas-cli deploy" command ?"
Hi,

I want to supply minimum resource constraints needed for my application/service to run/deploy on a target swarm node. If this much quantity of resources is available on a swarm node then only the application/service should get deployed, else it should be in a state e.g. pending.

I would like to pass values for --reserve-cpu, --reserve-memory options in a "faas-cli deploy" command.

At the mo

[2017-10-05 17:36] cmollis opened #144 "Error deploying faas-cli"
trying to deploy the sample.. I was able to successfully build:

Deploying: hello-python.
Error removing existing function: Delete http://localhost:8080/system/functions: dial tcp [::1]:8080: getsockopt: connection refused, gateway=http://localhost:8080, functionName=hello-python
Is FaaS deployed? Do you need to specify the -gateway flag?
Post http://localhost:8080/system/functions: dial tcp [::1]

[2017-10-05 17:36] cmollis commented on #144
I don't have anything running on :8080

[2017-10-05 19:18] alexellis commented on #144
Please try changing your yaml from localhost to 127.0.0.1

[2017-10-05 19:27] rgee0 commented on #144
I'm a little concerned that you answered no to Swarm or K8S.  Where did you install openfaas @cmollis?  The cli needs to be pointed at the openfaas gateway in order to deploy.

[2017-10-05 19:30] cmollis commented on #144
Yeah.. that's the problem.  Sorry new to this.. I didn't have the Swarm
running which is (probably) why it's not working.  Please close this
issue.  I will re-open once I get everything configured correctly.

On Thu, Oct 5, 2017 at 3:27 PM, Richard Gee <notifications@github.com>
wrote:

[2017-10-05 19:37] alexellis commented on #144
@cmollis which guide / link were you following? Maybe we need to make this clearer. Thanks @rgee0 for helping

[2017-10-05 19:37] #144 closed

[2017-10-05 20:09] cmollis commented on #144
I was reading a few of the blog posts.. and just focused on the function
creation part using the CLI tool (which now I see was dumb).  Having never
deployed a swarm, I kind of *skipped* that part.

I ran one of the tutorials that used the docker playground and I saw what
 I was doing wrong.

Thanks for responding.. sorry for the bother.

On Thu, Oct 5, 2017 at 3:37 PM, Alex Ellis <notifications@gi

[2017-10-05 22:10] ericstoekl commented on #144
When I started working on this project I ran into the same issue. I suspect that folks with 0 Docker experience might run into this unless the blog posts all explicitly state that Step 1 is to run `docker swarm init`, with the `--advertise-addr` flag if necessary.

[2017-10-05 22:51] cmollis commented on #144
right..  I focused on the 'python' tutorial, when I should have read the
node tutorial..   This spells it out pretty well, actually.

https://blog.alexellis.io/quickstart-openfaas-cli/

when I went back and created the swarm first and then deployed the faas
stack, everything went fine with my python sample func.

thanks again... it's all pretty cool, actually.

On Thu, Oct 5, 2017 at 6:10 PM, Eric

[2017-10-05 23:18] austinfrey commented on #143
Derek add label: question

[2017-10-05 23:21] austinfrey commented on #143
@yesimdinesh i do not think those flags are currently supported. If you'd like to modify this issue or open up another as a proposal for changes that would allow that behavior, it can be discussed more in depth.

[2017-10-05 23:22] austinfrey commented on #130
i'm throwing in `ofs`

[2017-10-06 05:44] yesimdinesh commented on #143
Hi Austin,

I propose to include these features (though not too immediate). People would use it in future.

Thanks
Dinesh

[2017-10-06 14:33] austinfrey commented on #143
@yesimdinesh could you fill out the issue template above with more specific information? it would be helpful. Thanks!

[2017-10-06 20:23] rgee0 opened #146 "Golang Template Dockerfile tests Vendor Package"
## Expected Behaviour
Tests run within the Dockerfile test user added content and ignore any vendor packages

## Current Behaviour
The Dockerfile has made provision for running go tests and as the base image uses 1.8.3 the current command is also testing any vendor packages that are present.

## Possible Solution
Choice:
1) Move base image to go 1.9
or
2) Keep current level of 1.8.3 and change the

[2017-10-06 20:28] alexellis commented on #146
+10 points for being the first person to fill out the whole issue template. If you would like to fix I'll merge. Thank you for the usual attention to detail @rgee0

[2017-10-07 07:43] alias1 commented on #79
This seems to have landed in https://github.com/openfaas/faas-cli/pull/145 with some additional work in https://github.com/openfaas/faas-cli/issues/146

[2017-10-07 07:45] alias1 commented on #71
See https://github.com/openfaas/faas-cli/pull/126

[2017-10-07 14:57] craigham opened #148 "faas-cli: not deploying to my pi swarm"
after I type in the deploy command the cli is hanging.  I am running it on my manager node, and I have updated the templates.

Is there a way for me to see logs for faas-cli so I maybe I can figure out what is not working for me ?  Or any suggestions on how I might debug the issue?

thanks
Craig

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1

[2017-10-07 15:02] alexellis commented on #148
You need to fill out the whole template for us to offer support. Cheers Alex

[2017-10-07 15:03] alexellis commented on #148
Also you may want to try changing the gateway from localhost to 127.0.0.1

[2017-10-07 15:18] craigham commented on #148
it was the gateway.  thanks.

[2017-10-07 15:18] #148 closed

[2017-10-07 15:55] alexellis commented on #148
If you'd like to chat more about RPi and OpenFaaS you're welcome to join us on Slack - email alex@openfaas.com

[2017-10-07 15:56] craigham commented on #148
Thanks Alex.  Cool project you have going here.

On Sat, Oct 7, 2017 at 8:55 AM Alex Ellis <notifications@github.com> wrote:

[2017-10-07 17:54] #138 closed

[2017-10-07 20:58] #79 closed

[2017-10-07 21:18] alexellis commented on #79
Yes - https://blog.alexellis.io/serverless-golang-with-openfaas/

[2017-10-08 02:04] johnmccabe opened #149 "Version logo colour clashes with Powershell blue background"
## Expected Behaviour

The logo displayed when running the version subcommand should use a legible colour such as green.

## Current Behaviour

The logo currently renders in blue which is illegible against the default Powershell blue background.

## Possible Solution

Set colour to green on windows.

## Steps to Reproduce (for bugs)

1. Run `faas-cli version` in Powershell

## Context

This is a l

[2017-10-08 02:04] johnmccabe commented on #149
Derek add label: enhancement

[2017-10-08 08:20] rgee0 opened #151 "`faas-cli new --help` shows a --name flag"
## Expected Behaviour
The help text should be unambiguous and help the user navigate the CLI options effectively.

## Current Behaviour
Running `$ faas-cli new --help` yields the following:

[code]
The usage line appears to be accurate but there is a `--name` shown in the flags which may lead users to attempt the following command:
[code]

## Possible Solution
Remove `--name` from the help text or

[2017-10-08 11:01] johnmccabe commented on #151
@rgee0 @alexellis @gardlt  did anyone check that the cli backwards compatibility was being maintained when this verb change was made? In the `legacy_cli.go`.

[2017-10-08 11:04] rgee0 commented on #151
@johnmccabe the excellent legacy_tests.go still passes.  I think maybe `new` didn't exist in the legacy cli?

[2017-10-08 11:17] johnmccabe commented on #151
Ahh ignore me so, you're correct, its fine.

[2017-10-08 11:17] johnmccabe commented on #151
Derek add label: bug

[2017-10-08 11:17] johnmccabe commented on #149
Derek assign: johnmccabe

[2017-10-08 11:18] johnmccabe commented on #128
Derek assign: ericstoekl

[2017-10-08 11:20] johnmccabe commented on #127
Derek assign: viveksyngh

[2017-10-08 11:20] johnmccabe commented on #130
Derek add label: proposal

[2017-10-08 11:21] johnmccabe commented on #108
Derek assign: johnmccabe

[2017-10-08 19:36] johnmccabe commented on #108
Have this working locally, will push up a PR asap - heres a screengrab of a Data Studio report, generated with a dev build - thanks to @kinghuang and @burtonr for being my guinea pigs today.

<img width="905" alt="screen shot 2017-10-08 at 20 32 33" src="https://user-images.githubusercontent.com/83862/31320202-589d34e6-ac68-11e7-97e7-8a409d096c5a.png">

[2017-10-08 21:08] johnmccabe commented on #108
@alexellis can you have a think about what else might be useful to capture

### Currently have
- Country
- Random UUID for telling an existing user from a new one
- OS
- CLI version
- CLI verb used
- Language when the subcommand uses it, unset otherwise

[2017-10-08 21:09] johnmccabe commented on #108
Also, do you want this opt-in, or opt-out.

Adding a flag and support for setting an envvar that sets your preference wrt letting the project capture the basic usage info above.

[2017-10-08 21:16] johnmccabe commented on #149
Derek add label: hacktoberfest

[2017-10-08 21:17] johnmccabe commented on #108
Derek add label: hacktoberfest

[2017-10-09 14:55] briansiemens commented on #108
@alexellis @johnmccabe This looks great. Should we also consider:

- Number of replicas
- Duration of invocations
- API connected? Yes/No

In reference to your other ideas section
- Number of deployed functions != sample functions

[2017-10-09 15:16] alexellis commented on #108
@briansiemens - John's work right now is not around the daemon/server but at the `faas-cli` level.

I'd say opt out via ENV_VAR to follow the model of Brew and VSCode.

We can report functions deployed / invoked but only really if someone uses `faas-cli list`

In order to track back-end used, we should return a header via the gateway for system functions - or introduce an info endpoint. People sho

[2017-10-09 15:17] johnmccabe commented on #108
@briansiemens can you clarify what you're mean by *API connected*.

[2017-10-09 15:23] vegasbrianc commented on #108
@johnmccabe Sorry was logged into the wrong account. I was just brainstorming if we could see if something like Kong or some other service is connected or not.

[2017-10-09 16:56] #146 closed

[2017-10-09 18:21] rawkode opened #154 "Proposal: Store Templates in $HOME"
## Expected Behaviour
When I run a `faas-cli` command, it should store all templates within `$HOME/.openfaas/templates`

## Current Behaviour
When I run `faas-cli`, if the templates don't exist in the current directory, it will download and extract them to the current directory

[2017-10-09 19:53] alexellis commented on #154
Interesting idea. The reason it stores in the current directory is to allow multiple sets of templates to be maintained and downloaded fresh for each stack.

[2017-10-10 07:23] kenneyhe opened #156 "faas-cli deploy -f sample.yml failing to start"
[code]

## Expected Behavior

Should work just like just like below

[code]

## Current Behaviour

I expect both to be same because "docker service inspect <name>" tells me they are the same.

## Possible Solution
Deploy state is not parsed to be true or use in stack yaml, I suspect

## Steps to Reproduce (for bugs)

1. 	copy https://github.com/kenneyhe/BingRewards.git (branch) mp_faas's compose y

[2017-10-10 07:40] johnmccabe commented on #156
What are you seeing in the service logs?

[2017-10-10 07:43] kenneyhe commented on #156
@johnmccabe blank
[code]

[2017-10-10 07:44] johnmccabe commented on #156
Did you mean to use a different image name in your yaml and cli invocations?
[code]
[code]

[2017-10-10 07:50] kenneyhe commented on #156
@johnmccabe Cool. That fixed it.  I have both docker hub accounts for company and private purposes.    thanks

[2017-10-10 07:50] #156 closed

[2017-10-12 08:15] alexellis opened #159 "Hacktoberfest: modify installation script to pull .exe on Windows / Git Bash"
## Expected Behaviour

Modify installation script to pull .exe on Windows / Git Bash

## Current Behaviour

`curl -sL cli.openfaas.com | sudo sh` should get you faas-cli.exe on Windows, but it gets the Linux binary.

## Possible Solution

* Add to README saying how to download from releases page
* Update shell script to see if we can work out "windows" from environment/uname.

@johnmccabe may know

[2017-10-12 08:15] alexellis commented on #159
Derek add label: priority/high

[2017-10-12 12:04] fntlnz commented on #159
Worth creating a chocolatey package contestually ? https://chocolatey.org/docs/create-packages

[2017-10-13 21:09] wsteimel77 commented on #159
It probably isn't perfect, but I've just added the following case to get it working for me for now
[code]

[2017-10-13 22:49] alexellis commented on #159
What did you test on?

[2017-10-13 22:50] alexellis commented on #159
Will you raise a PR for it too?

[2017-10-13 23:16] wsteimel77 commented on #159
Sure.  I am using Git Bash on Windows 10 (x64).  I also ran it on my Linux machine.

[2017-10-13 23:46] wsteimel77 commented on #159
There is also an OS environment variable which appears to always be Windows_NT if you prefer to go that route.

[2017-10-14 04:17] psyhomb opened #163 "python3 template proposal"
I have proposal for python3 template and this is how I think it should look like
https://github.com/psyhomb/serverless/tree/master/openfaas/templates/python3

example of two real functions based on it
https://github.com/psyhomb/serverless/tree/master/openfaas/imgmod
https://github.com/psyhomb/serverless/tree/master/openfaas/yaml2json

## Context

These are some of the changes I've made:
- Reduced

[2017-10-14 06:26] alexellis commented on #163
Great idea. Python 3 is important.

Have you got the most recent CLI? I think we have this.. please double check.

[2017-10-14 08:04] psyhomb commented on #163
Yes I have and I'm proposing improvements for existing template, cause it doesn't include query string parser function, existing `get_stdin()` function is overcomplicated and `Dockerfile` generates too many layers...

[2017-10-14 10:11] alexellis commented on #163
Probably not going to merge this because it breaks with the convention of our signature. However you may want to propose a client library that we can use on pip to reconstitute http data from the environment

[2017-10-14 10:12] alexellis commented on #163
Breaking convention means broken compatibility for existing users. I'm interested in your ideas around reducing image size

[2017-10-14 10:50] alexellis commented on #163
Also work working with @jockdarock who is combining OpenFaaS with Flask.

[2017-10-14 10:50] alexellis commented on #163
*worth

[2017-10-14 11:10] Lewiscowles1986 opened #164 "curl / faas-cli etc hangs with IPv6 entry for localhost"
Running `faas-cli list` without valid `--gateway` seems to hang process indefinitely

## Expected Behaviour

Either:

* an error message stating that --gateway parameter is not optional then exiting process with non-zero code
* attempting to get a list with a timeout of n-seconds (default to 30 seems sane)

## Current Behaviour

[code]

## Possible Solution

Please see expected behaviour

## Steps

[2017-10-14 11:16] rgee0 commented on #164
Seeing the same effect on rpi3 using v0.4.18b

Previous version would return:
[code]

derek add label: bug

[2017-10-14 11:17] rgee0 commented on #164
derek add label: bug

[2017-10-14 11:17] rgee0 commented on #164
Derek add label: bug

[2017-10-14 11:18] Lewiscowles1986 commented on #164
I know limited go but I was thinking `net.Conn.SetReadDeadline(timeout)` might be an idea.

I noticed https://github.com/openfaas/faas-cli/blob/master/stack/stack.go#L90 seems to be the place making http calls

[code]

I'd like to PR if possible

[2017-10-14 11:19] Lewiscowles1986 commented on #164
Btw @rgee0 I think the previous message was a bug too.

[2017-10-14 11:29] rgee0 commented on #164
stack.go fetches the yaml file.

Have you got an ipv6 address set in `/etc/hosts`?

[2017-10-14 11:46] alexellis commented on #164
I don't believe this is a bug, but a configuration issue with Raspbian.

Please try this:

Change your gateway to 127.0.0.1 or pass --gateway http://127.0.0.1

Or open up /etc/hosts and remove the IPv6 entry for localhost.

[2017-10-14 11:47] alexellis commented on #164
Invalid gateway:

[code]

[2017-10-14 11:48] rgee0 commented on #164
IPv6 localhost in effect:
[code]

IPv6 localhost commented out
[code]

[2017-10-14 11:49] rgee0 commented on #164
Derek remove label: bug

[2017-10-14 11:53] alexellis commented on #164
We should use a well-configured HTTP client - the default Golang client will hang forever. It needs changing in three files though rather than where we pull YAML. I'll look into this and get back.

[2017-10-14 14:47] Lewiscowles1986 commented on #164
I know it works for 127.0.0.1 it's in the tests I ran. It also works for 0.0.0.0 broadcast, but it should not hang for 60 minutes because it cannot resolve in any case (and could default internally to legacy compat ip for internal traffic no?)

[2017-10-14 16:14] Lewiscowles1986 commented on #164
Yeah confirmed it's a debian problem for raspbian and vanilla debian, so solving won't just be helpful to raspberry pi hobbyists

[2017-10-14 16:35] alexellis commented on #164
Please look at the PR I raised.

We can't fix Docker's use of IPv4/IPv6. This will affect any system with the entries in /etc/hosts - but in your case it's a Raspbian issue.

[2017-10-14 17:52] Lewiscowles1986 commented on #164
It's not a raspbian issue, it's a Debian issue (which is a much wider audience of which a subset is Raspbian). I've tested this on x86_64 stretch too.

[2017-10-14 18:27] wsteimel77 commented on #159
And it is still saving it without the .exe extension, which works fine for git bash, but is going to cause problems if you wanted to use it elsewhere.

[2017-10-14 20:57] alexellis opened #166 "Proposal: Set User-Agent: for all HTTP requests to identify FaaS-CLI"
Proposal: Set User-Agent: for all HTTP requests to identify FaaS-CLI

## Expected Behaviour

FaaS-CLI should identify itself through a standard HTTP header.

## Current Behaviour

`Go-http-client/2.0`

## Possible Solution

Add headers via Golang calls. See PR in motion #165

[2017-10-14 21:33] Lewiscowles1986 commented on #166
got it, thanks @alexellis should I base off of your PR or master?

[2017-10-14 21:41] alexellis commented on #166
My PR I'd say - you will need the changes I believe.

[2017-10-14 21:56] Lewiscowles1986 commented on #166
I'm thinking that I can relocate version to it's own package (it's already injected on build for command version)

I'm not that great at go, but I think I'm nearly ready

[2017-10-14 22:36] Lewiscowles1986 commented on #166
okay I'm sure it's ready. I'll rebase against yours and merge once complete :+1:

[2017-10-15 09:01] alexellis opened #168 "Proposal: faas-cli should be able pass query string parameters"
## Expected Behaviour

[code]

## Current Behaviour

Can only do this via curl - or use the CLI with no query string.

## Possible Solution

Extend CLI code (this is written in Cobra) to add the parameters. See as an example "secrets" for the deploy command.

[2017-10-15 12:52] udondan commented on #164
I was trying openFaaS on a new CentOS 7.3.1611 system and having the same issue. Removing the line `::1    localhost localhost6.localdomain6 localhost6` from `/etc/hosts` solved this.

[2017-10-15 13:00] alexellis commented on #164
I believe it's because Docker doesn't support ipv6 with out of the box configuration - I.e. most people. Will ask at Dockercon if there is another fix for this other than using 127.0.0.1

[2017-10-15 13:03] Lewiscowles1986 commented on #164
So this affects CentOS, Debian, and Raspbian, localhost and any ipv6 address?

[2017-10-15 13:05] alexellis commented on #164
I think I have said this before (maybe on Slack). It's any distro or OS with an ipv6 address for localhost. I think we've documented the behaviour of Docker on the main repo. I'll check once landed. It has nothing to do with Debian or Raspberry Pi specifically.

[2017-10-15 13:19] alexellis commented on #164
@udondan alternatively use flag `--gateway http://127.0.0.1:8080` and with curl use the additional flag `-4`

[2017-10-15 19:10] johnmccabe opened #169 "The CLI is setting fprocess to `node index.js` on deploy by default, ignoring the value set in images"
## Expected Behaviour

If I set the `fprocess` envvar in a function image, I should be able to omit the `--fprocess` flag when deploying and have the value in the image used.

## Current Behaviour

Currently if I deploy using the CLI and omit the `--fprocess` flag then a default value is being set of `node index.js` in the deployed function.

See openfaas/faas#297 for an example.

## Possible Solu

[2017-10-15 19:11] johnmccabe commented on #169
Derek add label: bug

[2017-10-15 19:52] johnmccabe commented on #169
Derek assign: johnmccabe

[2017-10-15 21:43] wsteimel77 commented on #159
#171 should ensure the .exe extension is retained when it is copied from temp to /usr/local/bin.  This allows it to be invoked outside of the Git Bash environment, for instance, on Powershell.

[2017-10-16 11:28] ilovezfs opened #175 "Homebrew test block fails with 0.4.18c"
[code]

## Expected Behaviour
The test block to pass, as it does with 0.4.18b

## Current Behaviour

The test block fails.

## Possible Solution

## Steps to Reproduce (for bugs)

https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/11005/version=high_sierra/testReport/junit/brew-test-bot/high_sierra/test_faas_cli/

## Context

Trying to upgrade the Homebrew formula to 0.4.18c: https://gi

[2017-10-16 11:55] ilovezfs commented on #175
CC @johnmccabe @alexellis

[2017-10-16 12:13] johnmccabe commented on #175
Derek add label: bug

[2017-10-16 12:14] johnmccabe commented on #175
Thanks @ilovezfs we should have a look at ensuring the brew test is also executed as part of CI here to prevent this happening again in future.

[2017-10-16 12:15] ilovezfs commented on #175
That would be great! :)

[2017-10-16 12:17] johnmccabe commented on #175
@ilovezfs I don't suppose you've come across any existing projects that do so? Ideally I'd like to be able to run the same tests in both homebrew-core and this repo - avoid having two places to sync.

[2017-10-16 12:20] ilovezfs commented on #175
Not off the top of my head but something like this is probably still viable https://stackoverflow.com/questions/20396325/using-travis-ci-to-test-homebrew-tap

[2017-10-16 12:23] ilovezfs commented on #175
You could also just run test-bot.

See
https://github.com/dunn/homebrew-emacs/blob/master/.travis.yml

[2017-10-16 12:24] ilovezfs commented on #175
and https://github.com/Linuxbrew/homebrew-core/blob/master/.travis.yml

[2017-10-16 14:28] Lewiscowles1986 opened #176 "faas-cli build to select architecture automatically"
Provide a mechanism for FaaS CLI / Docker to detect CPU type and attempt to build Dockerfile.{cputype} if exists, with fallback to Dockerfile.

## Expected Behaviour

This is an improvement AFAIK, I've not been able to find anywhere that mentions how to do this. I was going to have a cascade from `Dockerfile.$(arch)` (most specific) `Dockerfile.$(arch-short)` (semi-generic) to the default `Dockerf

[2017-10-16 14:59] austinfrey commented on #176
derek add label: proposal enhancement

[2017-10-16 15:36] johnmccabe commented on #175
@ilovezfs @alexellis has unblocked things for the moment with #174 and a bumped release at Homebrew/homebrew-core#19508

[2017-10-16 15:37] alexellis commented on #176
We haven't done this yet because we didn't have a good / standard way of doing it. Don't want to really end up managing this in the project if possible. Multi-arch builds may solve this..

[2017-10-16 15:38] alexellis commented on #176
Derek add label: revisit

[2017-10-16 16:17] Lewiscowles1986 commented on #176
I do have a way of doing it on Linux, but I must admit I hadn't considered anything outside of arm, arm64 and amd64 (only architectures I have access to)

[2017-10-17 01:40] ilovezfs commented on #175
Thanks for the fix. Please let me know if you run into any problems with getting `brew test` or `brew test-bot` working in Travis.

[2017-10-17 01:40] #175 closed

[2017-10-18 10:33] alexellis opened #178 "Proposal Enable basic auth for CLI"
## Expected Behaviour

Pass username/password to remote calls - deploy/list/invoke etc.

## Current Behaviour

Need to use API / curl.

## Possible Solution / Design

We will need to discuss and review a design here before moving forward.

**Options for reading:**

- Pass a parameter `password` - should not follow this approach due to bash cache history
- Read from stdin - resolves issue with para

[2017-10-18 11:34] Lewiscowles1986 commented on #178
Should this wait for #165 and #166? I definitely feel like #166 (check issue for branch merged with #165 current works) provides a more centralised place to locate logic

[2017-10-18 11:37] Lewiscowles1986 commented on #178
Btw Happy to work on this. (I take it, this would be optional and use cli arguments?)

[2017-10-19 23:11] alexellis commented on #178
I've updated the design brief and commented on #180. Still needs to have the design reviewed.

[2017-10-19 23:25] Lewiscowles1986 commented on #178
what about using an env var instead of a file? It seems cleaner and isn't polluting the FS with secrets (which seems to be the concern over cli history). For now, it empowers users to come up with their own mechanism, and we get the functionality without painting into a corner?

[2017-10-21 02:50] alex-dixon commented on #86
Hi. I see a sample function was added for Clojure (#89). Is there a process for adding support for `--lang clojure` to the cli along with the other magic you provide for the currently supported languages? Thanks! :)

[2017-10-21 16:45] stefanprodan commented on #178
Hi,

I would suggest adding a `login` command that would validate and store the authentication data on disk, and a middleware for the API client that would fetch the user/pass from the auth store based on the gateway URI.

The `login` command would have the following signature:

[code]

The first implementation would store a JSON array of OpenFaaS endpoints at `$HOME/.openfaas/config.json` on Linu

[2017-10-21 17:28] alexellis commented on #178
Hi Stefan,

I think `faas-cli login` would be needed to store/collect credentials to be used with basic auth on the server. Having spoke to the Docker security team at Dockercon they suggested storing the data in the keychain for Windows/Mac and Linux. There is an implementation in the Docker CLI which is worth exploring.

In your example config over on the Weave repo we should ideally only protec

[2017-10-21 18:11] stefanprodan commented on #178
Forcing the password to be submitted via stdin will make CI workloads harder I think. All FOSS projects I've seen using TravisCI, Drone, etc are passing the credentials to docker login via -p flag since most CI tools allows you to store the password value as a secret. The build environment gets destroyed after each run so bash history is not much of a concern.

Regarding the keychain store, OpenFa

[2017-10-21 20:56] Lewiscowles1986 commented on #178
This is going to sound trivial, but would it be possible to use YAML instead of JSON? I know it might sound a bit :roll_eyes:; but lots of the tooling is already working with YAML, and by working with YAML apparently it can load JSON (I've never tried that)

If it is something you'd be interested in, then there is lots of opportunities for reuse. @johnmccabe uses this to load config from YAML in h

[2017-10-21 21:05] alexellis commented on #178
I've not seen YAML used for config much, but I had a similar thought to this earlier for consistency. We also need a config file for third party templates.

[2017-10-21 21:51] stefanprodan commented on #178
If YAML would help with consistency sure I'll use that.

Regarding openfaas-bitbar, looks like it uses `~/.openfaas/config.yaml`. I could make the auth store write to `~/.openfaas/auth.yaml` or try to append to the bitbar config, hopefully it will not crash bitbar's deserialisation.

On the long run, maybe we should consider renaming the bitbar config to `bitbar.yaml`. Could be confusing for users

[2017-10-22 06:59] alexellis commented on #178
Makes sense. Bitbar is currently a bolt-on project by @johnmccabe - I'm sure he'd rename his file.

[2017-10-22 16:28] austinfrey commented on #86
@alex-dixon i think the idea is that there will be a few core supported languages, with the ability to add you own templates from GitHub using a flag. check this pull request for details #87

[2017-10-22 16:57] stefanprodan opened #183 "Refactoring: Return non-zero exit codes for error conditions"
## Expected Behaviour

When a command fails I would expect exit code 1 so automation tools can detect an error occurred and stop/react accordingly.

## Current Behaviour

Some examples of error handling:

[code]

[code]

[code]

## Possible Solution

* use cobra.Command.RunE instead of Run
* change the signature of all runCmd functions to return error
* propagate errors with pkg/errors and wrap th

[2017-10-22 17:17] ericstoekl commented on #183
Derek add label: proposal

[2017-10-22 19:46] alexellis commented on #183
Agree with this refactoring. Should ideally return an error. This is tech debt.

[2017-10-23 15:52] austinfrey commented on #143
ping @yesimdinesh

[2017-10-24 04:09] ericstoekl opened #185 "Use strict parsing for --gateway flag"
I was trying to call `faas-cli list --gateway 10.244.0.6:8080`, which did not work. The error variable that you get when `http.NewRequest()` errors out is not assigned to a variable, and lost:

https://github.com/openfaas/faas-cli/blob/46b2db894024f8707d080510202a592930894d9e/proxy/list.go#L26

We assume the call succeeds, so we then call `client.Do()` with a `nil` request object.

## Expected Beh

[2017-10-24 04:10] ericstoekl commented on #185
Derek assign: ericstoekl

[2017-10-24 04:10] ericstoekl commented on #185
Derek add label: bug

[2017-10-24 12:37] stefanprodan opened #186 "Proposal: Build and run tests on Windows with AppVeyor"
## Expected Behaviour

We should build the CLI and run the unit tests on Windows to ensure everything works ok.

## Current Behaviour
No automated CI for Windows.

## Possible Solution
Reuse the AppVeyor setup from the watchdog project and add go test to it.

Build script:
https://github.com/openfaas/faas/blob/master/watchdog/build.ps1

Docker file:
https://github.com/openfaas/faas/blob/master/sam

[2017-10-24 16:32] ericstoekl commented on #186
Derek add label: proposal

[2017-10-24 16:33] ericstoekl commented on #186
Derek add label: skill/beginner

[2017-10-26 09:07] rayhero opened #189 "Deploy CentOS nodeJS image but got Internal Server Error Can't reach service"
Deploy CentOS nodeJS image but got Internal Server Error Can't reach service

I try to run the sample nodejs-echo and it works on my k8s. Since I have some function
need to work on centOS, I need to install nodeJS on centOS kernel. I write a custom
Dockerfile and success build and deploy using faas-cli. But when I invoke the function
I always get the error:
Server returned unexpected status code:

[2017-10-26 09:56] rayhero commented on #189
I solve the problem...The root cause is my k8s is build on GCP. So I need to push my image to GCR. That's why I get the "trying and failing to pull image" error

[2017-10-26 11:45] yesimdinesh opened #190 "Question: Raspberry Pi (linux/arm) + Docker Swarm"
"Failed to find a load balance…" while deploying the service

Getting above error while deploying service on swarm6 worker node.
Is this issue due to new version of Docker or other OS version?
Surprisingly, service gets correctly deployed if done with docker create service command .
Please consider automatic Striked out text in this message as a Valid and non-striked.

1) Today, I have installed D

[2017-10-26 17:28] austinfrey commented on #190
Derek add label: question

[2017-10-26 17:30] austinfrey commented on #189
Derek add label: question

[2017-10-26 17:30] austinfrey commented on #189
@rayhero did you need anything else? or is this closable?

[2017-10-27 08:55] yesimdinesh commented on #190
On a worker node(swarm6), I removed the docker (17.10.0-ce) and installed older docker (17.07.0-ce).
This has fixed the issue and now I am able to deploy the service on swarm6 node through faas-cli deploy.

[2017-10-27 14:26] alexellis commented on #190
Hi, half of your output here is formatted as strike-out? Is there a reason for that? What does that mean?

[2017-10-27 14:31] #189 closed

[2017-10-27 14:31] alexellis commented on #189
@austinfrey please feel free to close resolved issues.

@rayhero feel free to keep commenting.

[2017-10-27 14:32] alexellis commented on #185
Yes we could add validation for this parameter for all the methods that need a gateway.

[2017-10-27 14:34] alexellis commented on #176
Which architectures do you need? I think two is enough to come up with a solution.

I'm going to close this issue but mark it as revisit when multi-arch support is finished by Docker Inc.

[2017-10-27 14:34] #176 closed

[2017-10-27 14:35] alexellis commented on #169
Fix merged. Cheers John you ⭐️

[2017-10-27 14:35] #169 closed

[2017-10-27 14:36] alexellis commented on #164
We now have generous timeouts for all functions between 60 and 120 seconds. Invoke is currently unlimited. Closing - please feel free to keep commenting.

[2017-10-27 14:36] #164 closed

[2017-10-27 15:44] yesimdinesh commented on #190
Hi Alex,
Yeah, I know.
May be due to some html tags, i just copied console output.
But i mentioned at start to consider striked out text as valid and non
striked.

Thanks
Dinesh
On 27 Oct 2017 7:56 pm, "Alex Ellis" <notifications@github.com> wrote:

[2017-10-27 19:09] Lewiscowles1986 commented on #154
I'm against `$HOME` because it silo's to a single user. I worry would be a hot-mess like nvm. What about `/opt/faas/templates` ?

[2017-10-27 21:01] Lewiscowles1986 opened #191 "Dependency resolution within template Dockerfiles"
TGI demo highlighted that Makefile or similar should be used to resolve deps

## Expected Behaviour

`faas-cli build -t func.yml` should build and fetch deps. Provided templates should provide that.

## Current Behaviour

When following the go hash tutorial presenter had an issue resolving dependencies.

## Possible Solution

The build is already multi-stage. Makefile in templates could assist in

[2017-10-27 21:46] #191 closed

[2017-10-27 21:46] alexellis commented on #191
Going to close this for now. Happy to re-group next week on slack and review comments etc.

[2017-10-29 12:37] pkeuter commented on #159
I've gone ahead and created a Chocolatey package, which is currently pending review: https://chocolatey.org/packages/faas-cli

Code is available here: https://github.com/pkeuter/au-packages/tree/master/faas-cli

[2017-10-29 12:43] alexellis commented on #159
I think we'd need to control any official packages through the OpenFaaS GitHub organisation. You could transfer ownership, cancel the request or use another name such as faas-cli-community.

[2017-10-29 12:51] pkeuter commented on #159
@alexellis Sure thing, I'd be happy to transfer ownership to openfaas, but I don't have authority to do so. What do you recommend?

[2017-10-29 12:58] alexellis commented on #159
Thank you for putting this together. I have a couple of people I'd like to review this. We currently release to GitHub as a binary and to `brew`. Are you in our Slack community yet? Maybe we can sync-up there.

[2017-10-29 13:01] pkeuter commented on #159
No I'm not, what do you need from me to join?

[2017-10-29 15:46] alexellis opened #193 "derek test this"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reproduce issue:

[2017-10-29 15:46] alexellis commented on #193
Derek close

[2017-10-29 15:51] alexellis commented on #193
Derek close

[2017-10-29 15:51] alexellis commented on #193
Derek add label: demo

[2017-10-29 16:26] david972 opened #194 "Question about valid naming of functions on Kubernetes"
Manage Exit Code

## Expected Behaviour
[code]
Exit code should be differ from 0

## Current Behaviour
CLI always exit with 0

## Environment
* Docker version :
[code]
* I'm  using Kubernetes (FaaS-netes)

* Operating System and version:
[code]

[2017-10-29 16:26] alexellis commented on #193
Derek close

[2017-10-29 16:26] #193 closed

[2017-10-29 16:39] alexellis commented on #194
Hi, thanks for using OpenFaaS!

You can ignore the 500 warning, we have it fixed and are waiting to release.

The second error gives away a clue in the naming. You can't use an
underscore for kubernetes, it must be a dash or a-z.

Let us know if we can help more.

On 29 October 2017 at 16:26, David ALEXANDRE <notifications@github.com>
wrote:

--
Regards,

Alex Ellis

[2017-10-29 16:46] david972 commented on #194
In fact I wish to create faas dynamically from my own  gitlab projects.
And I use CI to do this. And jobs was succeed even if the deploy does not work.
So I waiting for the new release. Actually I did a workaround.

Thank for your fast answer.

[2017-10-29 16:48] alexellis commented on #194
For now you could use grep, but we are working on it and hear you. Maybe connect with us on Slack so you can keep up to date with the changes? Email alex@openfaas.com if you'd like to join our community.

[2017-10-29 16:49] david972 commented on #194
Thank I'll join you

[2017-10-29 16:53] david972 commented on #194
Just send a email thank

[2017-10-29 16:53] #194 closed

[2017-10-29 18:44] alexellis commented on #183
I think it would make sense to start with one of the commands in isolation, merging that then doing the others one at a time. Could be easier for bite-size chunks / contributions.

[2017-10-29 18:44] nenadilic84 commented on #183
I'll work on this if anyone asks 😄

[2017-10-29 18:45] alexellis commented on #183
Which one do you want to take first?

[2017-10-29 18:46] nenadilic84 commented on #183
I'll start with `build` if you're ok with it...

[2017-10-29 19:14] nenadilic84 commented on #183
Added the PR ^
If it seems ok, I can continue and add other commands as well

[2017-10-30 12:27] jonocodes commented on #183
Ok if I take a stab at the list command?

[2017-10-30 12:30] alexellis commented on #183
Let's get one finished and merged before doing the next. Yes Jono please do the lists command and reach out on Slack there will be people ready to help and to get you up to speed.

[2017-10-30 12:44] alexellis commented on #183
I mean one PR per person, so we have less work in progress and more work delivered.

[2017-10-30 16:29] ericstoekl opened #196 "Proposal: Set default gateway value for executable"
It would be nice to be able to set the default gateway value, when you are working with `faas-cli` on a platform that requires it.

For example, when deployed on a raspberry pi with docker swarm, you will need to use `--gateway http://127.0.0.1:8080`. With kubernetes, you will need to use the IP of your gateway pod for the `--gateway` value.

## Expected Behaviour

Ability to set default gateway,

[2017-10-30 16:29] ericstoekl commented on #196
Derek add label: proposal

[2017-10-30 18:20] alexellis commented on #196
Agreed, but bear in mind we already have at least 3 places we can override the gateway and this applies for every command. I recently wrote a unit test and function that deals with the ordering. Alternatively you can use a YAML file and specify the gateway there.

Do we have an alias for --gateway yet? Maybe we can add that first... `faas-cli list --gw $GW`

[2017-10-31 14:57] developius commented on #196
@alexellis an alias would be good, I'd vote for `-g` unless that conflicts with something else

[2017-11-01 03:28] ericstoekl commented on #196
@johnmccabe Do you know if it's possible to add an alias to a flag in cobra? The only other way I'm thinking of to add `--gw` as a shorthand for `--gateway` is to add `"gw"` as another flag, for example:

[code]

[2017-11-01 11:04] johnmccabe commented on #196
@ericstoekl adding a second longopt is not a good idea, aliases are for verbs only.

I would go with @developius' suggestion of adding the `-g` short flag.

[2017-11-01 16:49] alexellis opened #200 "New template: Java 8"
We support Java and any language through a Dockerfile and sample. This work means that the CLI would have a new template added for Java 8 support.

## Expected Behaviour

[code]

Should be based upon the following Java sample:

https://github.com/openfaas/faas/tree/master/sample-functions/BaseFunctions/java

Take notes from the CSharp or Node.js:

* Multi-stage build if desirable
* Non-root user

[2017-11-01 20:09] rgee0 commented on #196
Can we try to keep issues on topic, please?  If another idea comes to the fore during discussions then a new issue should be raised to cover it.

As a point of accuracy - which I mention as some people will review issues as a sort of 1st line support mechanism - it is only necessary to specify `--gateway http://127.0.0.1:8080` on RPi when running with a IPv6 localhost entry in your hosts file.  As

[2017-11-01 23:45] Lewiscowles1986 commented on #200
I don't mind picking this up, but we have a slight problem in that there are multiple build tools and some Java peeps use maven, some gradle, some Ant. Does it matter what is used?

[2017-11-02 02:05] Lewiscowles1986 commented on #200
https://github.com/CODESIGN2/func_javatest?

Does same as BaseFunctions/java but has junit setup, uses maven and runs tests (gradle branch also) final image is non-root (stage 0 is disposable).

[2017-11-02 07:15] alexellis commented on #200
Good point. Maybe provide one as a default.

[2017-11-02 09:34] Lewiscowles1986 commented on #200
I've given a choice of two in the linked repo as separate branches. Ideally, we'd pick one or come up with a strategy to allow the user to choose between gradle and maven build.

[2017-11-02 09:44] alexellis commented on #200
What does @jmkhael think? We'd pick one as default and folks are free to hack on that template or provide their own. The branch you pointed me to isn't formatted as per the other templates so will need adjusting.

We can't include tests either, but we can include the ability to run them. This is due to the way templates are always overlaid over the top of the working folder before a build.

[2017-11-02 10:14] Lewiscowles1986 commented on #200
Unsure what this means. Is this different to

* https://github.com/openfaas/faas-cli/blob/master/template/go/Dockerfile#L13
* https://github.com/openfaas/faas-cli/blob/master/template/go/Dockerfile#L17

[2017-11-02 10:21] Lewiscowles1986 commented on #200
Anyone able to help me understand this as well? (comments or issues on repo is fine)

[2017-11-03 08:26] alexellis commented on #200
You cannot supply tests for your hello world program within in the template. Since they can never be deleted.

Check the folder structure of the other templates, they are all like this:

Template supplies:
/Main.java

User writes:
/Function/Handler.Java

[2017-11-03 12:03] Lewiscowles1986 commented on #200
@alexellis Got to push back again. You may want me to leave this and let someone else handle, which is fine. It's why I started by linking a repo that I intend on using.

Java projects don't have single file without a dir structure, it's not how they work. They also tend to pull in non-core dependencies if they are executable, but output to a standard place.

My concern is that the existing single

[2017-11-04 06:28] ericstoekl opened #203 "Add `--all` option to `faas-cli rm` to quickly remove all functions"
## Expected Behaviour

When you issue the `--all` flag to `faas-cli`, you will remove all the deployed functions.

## Current Behaviour

It's more difficult to quickly remove all functions deployed.

## Possible Solution

Get list of functions by calling `proxy.ListFunctions()`, call `proxy.DeleteFunction()` on each returned function.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

##

[2017-11-04 08:22] alexellis commented on #203
This needs a design review around the UX/DX. We are really coupled to the yaml files, so we'd have to validate there was no -f parameter passed in or a command line name either.

[2017-11-04 10:22] rgee0 commented on #203
Feels like something that should be dependent on multitenancy. Perhaps something to revisit?

[2017-11-04 18:22] ilovezfs opened #204 "Versioning"
Is 0.4.3b considered newer than 0.4.20?

[2017-11-04 19:11] ericstoekl commented on #203
Derek add label revisit

[2017-11-04 19:11] ericstoekl commented on #203
Derek add label: revisit

[2017-11-04 19:12] ericstoekl commented on #203
Derek add label: proposal

[2017-11-04 19:33] rgee0 commented on #204
0.4.3b is shown as the latest release.

0.4.20 was released 8 days ago

[2017-11-04 19:35] ilovezfs commented on #204
Is there an explanation of this version scheme somewhere? If it continues like this we'll have to keep bumping the `version_scheme` in Homebrew over and over because it's not actually monotonically increasing.

[2017-11-04 19:37] ilovezfs commented on #204
Specifically:
[code]

[2017-11-04 20:02] alexellis commented on #204
We'll fix this, sorry for any inconvenience.

[2017-11-04 20:03] ilovezfs commented on #204
@alexellis no worries.

[2017-11-04 20:10] alexellis commented on #204
Look out for 0.4.39 just released now.

[2017-11-04 20:11] ilovezfs commented on #204
Perfect. I'll close https://github.com/Homebrew/homebrew-core/pull/20258.

[2017-11-04 20:11] #204 closed

[2017-11-04 20:16] ilovezfs commented on #204
Voilà: https://github.com/Homebrew/homebrew-core/pull/20274

[2017-11-05 02:53] austinfrey commented on #143
@yesimdinesh I'm going to close this issue, but there is some discussion about this in the main faas repo: https://github.com/openfaas/faas/issues/239
feel free to re-open if you feel that it doesn't answer your question.

[2017-11-05 02:53] austinfrey commented on #143
Derek close

[2017-11-05 02:53] #143 closed

[2017-11-05 20:09] Lewiscowles1986 commented on #200
I'm not sure I understand. There's probably something I'm not appreciating here.

* why can tests never be deleted?
* would it be wrong to have the function-handler code as a sub-module? My thought is that people with an existing repo can replace, then it can bundle what it needs? (probably complicates the build system, RE: maven, gradle, ant)
* I can rename `Handler` folder to `function`. What I'

[2017-11-05 20:32] alexellis commented on #183
@stefanprodan @johnmccabe can we compile a quick mark-down table showing what's done/left in terms of non-zero exits? Is faas-cli login/logout covered already?

Thanks. @austinfrey @jockdarock maybe we can direct some of the newer contributors here so they can get their first Go PRs into the project?

[2017-11-06 16:31] alexellis commented on #196
Let's revisit later. We have good ways of doing this for now.

[2017-11-06 16:31] #196 closed

[2017-11-06 16:32] #203 closed

[2017-11-06 16:32] alexellis commented on #203
Closing to focus work.. please feel free to keep commenting.

[2017-11-06 16:35] #185 closed

[2017-11-06 16:35] alexellis commented on #185
Merged.

[2017-11-06 17:43] alexellis commented on #163
We have a Python3 template, please check it out @psyhomb

Closing issue.

[2017-11-06 17:43] #163 closed

[2017-11-06 17:46] alexellis commented on #55
Please can you raise a PR with a table of community templates starting with yours?

I'll merge after #201

| Language  | Author   | URL  |
|---|---|---|
| PHP | @itscaro   | https://github.com/itscaro/openfaas-template-php/  |
| PHP5 | @itscaro   | https://github.com/itscaro/openfaas-template-php/  |

@johnmccabe 👍 👎 ?

[2017-11-06 18:07] alexellis commented on #190
@yesimdinesh I'm not sure if you've answered the question.. can you please review comments and let us know what we can help with? Otherwise I'll close the issue in a couple of days.

[2017-11-06 18:11] johnmccabe commented on #55
Big 👍

[2017-11-06 18:11] alexellis commented on #151
Fixed in commit f13001a8104b02723982eef2bf3c6d45b5ae7a15. Will be out in next release.

[2017-11-06 21:21] #178 closed

[2017-11-06 21:22] #151 closed

[2017-11-06 21:22] #149 closed

[2017-11-06 21:22] #127 closed

[2017-11-06 21:23] #71 closed

[2017-11-06 21:23] alexellis commented on #71
This has been merged.

[2017-11-06 21:23] #45 closed

[2017-11-06 21:36] alexellis commented on #55
Awesome. Let's do it then.

[2017-11-06 22:09] Lewiscowles1986 opened #208 "Separate version from command version"
Pre-commit to #166

## Expected Behaviour

Version command works as-is.

## Current Behaviour

Not modified

## Possible Solution

Pending PR

## Steps to Reproduce (for bugs)

`faas-cli version`

## Context

Merging #166 keeps stalling, lets get this done separately. We can then push the user-agent (which uses version) or push without user-agent using version and either close this or integrate la

[2017-11-07 04:37] yesimdinesh commented on #190
Hi Alex,

Thanks....I did not see your comments "Hi,This appears to be running on a Raspberry Pi. I haven't tested this version of Docker...."....probably there was a race condition between comments of both of us.
For the time being, we can close this issue.

[2017-11-07 04:37] #190 closed

[2017-11-07 06:50] ericstoekl opened #210 "Return non-zero error code when `faas-cli new` command fails"
## Expected Behaviour

In order to signal to automation tools, we need to return an error when `runNewFunction()` fails.

Inspired by this issue: #183

The file in question:

https://github.com/openfaas/faas-cli/blob/96155667fab2003d6906d71f070e41f0e41ef68c/commands/new_function.go#L44

## Current Behaviour

`runNewFunction()` does not return anything, even if it fails there is no way to know.

##

[2017-11-07 19:19] austinfrey opened #212 "[Proposal] Add NodeJS 8 support to templates"
NodeJS 8 has reached LTS status. This brings some significant usability upgrades. Should we maintain support for both LTS versions?

## Possible Solution

Add additional templates based on current NodeJS 6 template, with support for NodeJS 8. Functionality should remain the same by simply bumping the base image to NodeJS 8 but this would need testing to confirm.

## Context

Adding NodeJS 8 suppor

[2017-11-07 19:20] austinfrey commented on #212
Derek add label: proposal

[2017-11-08 19:27] alexellis commented on #108
Additional useful data:

* Count of URLs in login section and whether they use HTTP/s
* Are they localhost or remote (don't pick up the actual URL)
* Is `--parallel` being used?

Let's checkout the new commands we've added too.

I need to checkout any legal implications or data protection notices we need to include before merging. Conceptually looks great.

[2017-11-08 19:36] #208 closed

[2017-11-09 13:50] withinboredom commented on #55
I was just wondering about this! Huge thanks to @itscaro for getting this together! 👍

[2017-11-10 08:13] alexellis opened #214 "Error behaviour for when a parallel faas-cli build fails"
This issue discusses error behaviour for when a parallel faas-cli build fails.

I was building the samples in the main faas repo using the YAML file, one of them failed and printed red text but it was really hard to see and I could have missed it.

# How do we want this to work?

## Scenario 1 - sequential

You're building 5 functions sequentially from a YAML file - number 3 fails, should we break

[2017-11-10 14:44] kenfdev opened #215 "Weird permission issue with node.js when requiring packages."
When you `npm install --save` a package and `faas-cli build` it on a `OSX` machine, `faas-cli deploy` ing it to a `ubuntu` machine causes a permission error when `require` ing the package.

## Expected Behaviour

We should be able to `faas-cli build` on any machine and `faas-cli deploy` it to any machine.

## Current Behaviour

`faas-cli build` ing on `OSX` and `faas-cli deploy` ing it on `OSX` wh

[2017-11-10 14:45] kenfdev commented on #215
Derek add label: bug

[2017-11-10 18:01] alexellis commented on #215
Try creating a . dockerignore file in there for `node_modules`

[2017-11-10 20:11] nicholasjackson commented on #215
This pull request should fix if you could test @kenfdev

https://github.com/openfaas/faas-cli/pull/216

[2017-11-11 03:24] ericstoekl opened #217 "`faas-cli deploy` needs to wait until function has been deleted before running deploy"
On kubernetes with multi-node cluster on AWS EC2, I get this error when using `faas-cli deploy` on an already deployed function:

[code]

The function will eventually terminate, but it will not re-deploy. Will have to run `faas-cli deploy` again.

## Expected Behaviour

The cli tool waits until the function has been deleted before deploying in `faas-cli deploy` in kubernetes.

## Current Behaviour

[2017-11-11 05:06] ericstoekl opened #218 "`faas-cli deploy` needs to reset constraints array after each function deploy in stack YAML"
Because the constraints array is not reset every time, you will have unintended functions in your stack YAML get constraints that were intended for only one function.

Consider this if statement:
https://github.com/openfaas/faas-cli/blob/5a79f8f0060772dadebcbb5aa7d6fdc1dbeeb672/commands/deploy.go#L136

Can be fixed by resetting the constraints array to `nil` if `*function.Constraints` is nil. Othe

[2017-11-11 08:56] #218 closed

[2017-11-11 17:21] #55 closed

[2017-11-11 17:21] alexellis commented on #55
This is moving over to #220 #201

[2017-11-11 17:55] alexellis commented on #85
Merged - congratulations to all involved. 🥇 💯 👍

[2017-11-11 17:55] #85 closed

[2017-11-11 18:30] alexellis commented on #85
Work merged in #220

[2017-11-12 01:47] kenfdev commented on #215
Thanks @nicholasjackson , I've commented on the PR. Thank you!

[2017-11-12 03:31] #215 closed

[2017-11-12 06:40] BurtonR commented on #212
@austinfrey I don't think that there is a need for maintaining previous versions of a language in the templates. The templates are for new functions being created. I would think we would advocate for the latest features and security updates of what we provide in the templates.

Creating a function using a previous version of a language is still supported with the Dockerfile language option.

[2017-11-12 14:28] rgee0 commented on #212
A consideration here should be backwards compatibility - can we assure that existing code will not break on a new template?

I think that now we have the custom templates feature merged we could have a model where old templates are made available through a template archive.  There isn't any additional work / maintenance involved here other than moving the existing template to the archive repo once

[2017-11-12 14:43] BurtonR commented on #212
Forgive me if I'm missing something, but updating the templates' version _shouldn't_ affect any existing code. This is only when calling `faas-cli new function_name --lang node`. Existing code would either be already written out in an existing function, or copy/paste into the new template.

Copying existing code into a new template may cause some issues as there are some breaking changes [here](ht

[2017-11-12 19:36] alexellis opened #223 "Backlog: support memory limits / reservations in YAML"
## Description

Backlog: support memory limits / reservations in YAML

## Acceptance criteria

* Integrates with https://github.com/openfaas/faas/pull/385 tested through Docker Swarm
* Includes following schema elements at per-function level:

At function level:

[code]

[code]

* Console output from test-plan should be shown along with PR

[2017-11-12 20:32] austinfrey commented on #212
closing in favor of @BurtonR 's pr  #212

[2017-11-13 23:41] markbirbeck opened #226 "Question: guidance/best practice on how to connect to other containers from functions"
## Expected Behaviour

A function might query a MySQL database, for example.

## Current Behaviour

A naive attempt at passing the IP address of the host to the function is not good enough, unfortunately.

Telling the function to join the same Docker network as the MySQL database is on also fails since port `8080` is already in use (i.e., by using `faas-cli deploy --network host`).

And doing it t

[2017-11-14 08:23] alexellis commented on #226
Hi Mark,

There are three ways to do this. Let me know if you have any questions about the approaches listed. You're also welcome to join Slack if you email alex@openfaas.com

## Option 1 - host port

Bind a port to the host and use the host's IP / DNS-entry in the function

## Option 2 - Swarm service

If you are creating a new container such as MySQL then you can create a swarm service and simpl

[2017-11-14 08:42] markbirbeck commented on #226
Thanks @alexellis, I really appreciate you getting back to me so quickly.

Your comments made me revisit option 1. I'd been using '0.0.0.0' to try to access MySQL, but of course that won't work. As you say though, using the host's IP does work! Thanks!

I'll still join Slack if that's ok--I can see myself using OpenFaaS a lot going forwards.

[2017-11-14 08:42] #226 closed

[2017-11-14 08:44] alexellis commented on #226
In terms of best practice, I prefer Option 2 + 3. I like the question though, this is a gap in our online guides / docs. @johnmccabe @rgee0

Full index of guides including workflows / chaining.

https://github.com/openfaas/faas/tree/master/guide

[2017-11-14 08:47] alexellis commented on #226
Send me an email with a 1-2 line intro and I'll introduce you to our community.

[2017-11-14 09:08] markbirbeck commented on #226
Thanks @alexellis. Yes, I liked options 2 and 3 as well. However, the majority of the scenarios I'm working on involve using centralised databases. For example, a number of pipelines take data from MySQL and Postgres, map it to a different schema, and then place it into ElasticSearch; I'm working on using OpenFaaS to run these pipelines so that I get all of your Prometheus/scaling/healthcheck good

[2017-11-14 10:03] markbirbeck commented on #226
On reflection I've actually gone for option 3. I'll explain why in case anyone stumbles across this thread in the future.

Looking at it again, I realised that in a live environment the reference to some centralised DB is easy...it will be some host name that is unlikely to be running in the same swarm as the functions so visibility is unlikely to be a problem.

My issue was that I am trying to ru

[2017-11-14 10:04] alexellis commented on #226
Just to let you know you can configure the database through environmental variables using the YAML stack file, here's an example:

https://github.com/alexellis/faas-twitter-fanclub/blob/master/stack.yml

[2017-11-15 22:34] johnmccabe commented on #159
@pkeuter did you get anywhere with the transfer?

[2017-11-15 22:45] pkeuter commented on #159
@johnmccabe I did. It's currently have: https://github.com/openfaas-incubator/au-packages, but still connected to my AppVeyor account. It would be nice if we can use an openfaas account, and to initialize the build when a new version is released (I guess through Travis). I have had some contact with @alexellis about this but we haven't done anything concrete yet.

[2017-11-15 23:01] johnmccabe commented on #183
@alexellis this should probably be closed following the merge of #207

[2017-11-15 23:11] johnmccabe commented on #212
@austinfrey do we need a new issue opened to track @BurtonR's PR? Or is this still valid?

[2017-11-16 00:46] austinfrey commented on #212
@johnmccabe I'll re-open if want to track that PR here.

[2017-11-18 08:47] rgee0 commented on #183
Derek close

[2017-11-18 08:47] #183 closed

[2017-11-18 09:16] alexellis commented on #223
Fixed and released

[2017-11-20 02:24] ericstoekl opened #227 "faas-cli when used with stack.yml should pick up secrets"
Secrets could be put into a stack.yml file like so:

[code]

Currently, the secret list in this situation would not be picked up by `faas-cli`

## Expected Behaviour

Secrets can be applied via the stack.yml file.

## Current Behaviour

Secrets must be set via the `--secrets` command line parameter.

## Possible Solution

https://github.com/ericstoekl/faas-cli/commit/97110be8511b1f2fba699398d4ede7

[2017-11-20 03:06] ericstoekl opened #228 "When you use `faas-cli deploy` on kubernetes, it needs to wait for the function to be deleted`"
When using faas-netes, when you run `faas-cli deploy` to create a new function, the CLI tool will first remove any existing function with the same name. When it does so in docker swarm, it is a synchronous operation, so the function will be deleted before we deploy. In kubernetes, the CLI will delete the existing function, then attempt to re-deploy before the old instantiation of the function is d

[2017-11-20 03:07] ericstoekl commented on #228
Just realized there's a duplicate of this

[2017-11-20 03:07] #228 closed

[2017-11-20 03:07] ericstoekl commented on #217
derek add label bug

[2017-11-20 03:07] ericstoekl commented on #217
derek add label: bug

[2017-11-20 03:08] ericstoekl commented on #217
Derek add label: bug

[2017-11-20 04:03] ericstoekl commented on #210
This has been resolved by this commit:

https://github.com/openfaas/faas-cli/commit/af4e75212352c20fc2c9773511d5bd77b57ba209#diff-4e0fbf5ad1c657e2d3f8a554849f6f25R54

[2017-11-20 04:03] #210 closed

[2017-11-20 04:07] ericstoekl commented on #227
Derek add label: proposal

[2017-11-20 11:18] alexellis commented on #227
I thought I had done the secret support. Are you sure it's not in the code?

[2017-11-20 11:24] rgee0 commented on #227
No secrets in `schema.go`. It looks like they're via CL flag only

[2017-11-20 15:22] ericstoekl commented on #223
Derek close: fixed in #225

[2017-11-20 15:22] #223 closed

[2017-11-20 17:27] ericstoekl commented on #227
Thanks @rgee0 . @alexellis These are the changes I think need to be made for `secrets:` to be configurable in the stack.yml:

https://github.com/ericstoekl/faas-cli/commit/97110be8511b1f2fba699398d4ede7cbff82ee14

[2017-11-23 20:57] alexellis commented on #130
So if we pick one that's not `faas-cli` how easy is it to ensure both work even if `faas-cli` becomes an alias until everyone's used to the change?

[2017-11-23 21:02] rgee0 commented on #130
`ln` on linux & derivatives?
`mklink` on windows?

[2017-11-23 21:11] ilovezfs commented on #130
A rename is supported.
https://github.com/Homebrew/homebrew-core/tree/master/Aliases
https://github.com/Homebrew/homebrew-core/blob/master/formula_renames.json

[2017-11-24 17:06] rgee0 opened #230 "Proposal: Introduce a .DEREK.yml file for managing maintainer permissions"
## Expected Behaviour
The latest version of Derek uses yaml format for managing maintainers and features.  The repo should include a `.DEREK.yml` to enable the use of the latest version of Derek.

## Current Behaviour
Derek is still wearing flares & a tank top and relies on MAINTAINERS.

## Possible Solution
Add a .DEREK.yml which includes the current maintainers and includes `comments` and `dco_c

[2017-11-24 17:06] rgee0 commented on #230
Derek add label: proposal

[2017-11-24 17:07] alexellis commented on #230
Approved.

[2017-11-25 14:03] muka opened #232 "Proposal: Create/extract faas-cli SDK"
Detach faas-cli logic currently in `commands` package  to an autonomous package. This would make reusability a lot easier and testing (as library or exposed as service) .

## Expected Behaviour

I would like to reuse commands in a grpc service (https://github.com/muka/faas-cli-grpc) to expose build & deploy as  a service API

Currently this may be done by just running shell scipts, but raw respons

[2017-11-26 05:15] ilovezfs commented on #130
@alexellis Are you also planning to rename the repository?

[2017-11-26 07:50] alexellis commented on #130
No the alias I think will be faas we already have a core project repository called FaaS.

[2017-11-26 08:54] rgee0 commented on #230
Derek close

[2017-11-26 08:54] #230 closed

[2017-11-26 09:02] alexellis commented on #232
Derek edit: Proposal: Create faas-cli SDK

[2017-11-26 09:03] alexellis commented on #232
Derek add label: question

[2017-11-26 13:45] rgee0 opened #233 "Proposal: Add creation of a 'faas' alias to get.sh"
## Expected Behaviour
For environments where get.sh is used as a delivery mechanism a standard command line alias of `faas` which refers to `faas-cli` should be created.

## Current Behaviour
Users create their own aliases or use the more verbose `faas-cli`

## Possible Solution
`ln -s` of `faas-cli` to `faas`

## Steps to Reproduce (for bugs)
Not a bug

## Context
Establishing simplicity & consis

[2017-11-27 12:14] #233 closed

[2017-11-28 09:02] alexellis commented on #227
Maybe I missed a merge / push at some point. Thanks for working on this @ericstoekl . How quick can we get this in?

[2017-11-28 12:23] nenadilic84 commented on #168
@alexellis, why is this still open?

[2017-11-28 12:24] alexellis commented on #168
Derek close

[2017-11-28 12:26] #168 closed

[2017-11-29 23:30] alexellis commented on #232
Hi @muka I'll send this to the contributors channel on slack for feedback

[2017-11-29 23:33] alexellis commented on #217
I don't think we can wait as this is an async operation. I'd rather resolve this by checking if the function exists then doing a rolling update. Would you like to work on this?

[2017-11-29 23:36] alexellis commented on #232
Don't go too far with your gRPC service until we've had a chance to validate the changes. It's likely that we'll make changes that you'll want to keep in sync with.

[2017-11-29 23:37] alexellis commented on #154
Templates go in the current directory at the moment. This is by design and allows them to be customized. With `template pull` we have the possibility to have templates with the same name in different folders. I'm going to close the issue, we may revisit.

[2017-11-29 23:37] #154 closed

[2017-11-29 23:37] #166 closed

[2017-11-29 23:37] alexellis commented on #166
Completed.

[2017-11-29 23:38] alexellis commented on #130
Alias of `faas` added to `brew` and symlink, too. the `faas-cli` repo and binary will keep the same name.

After updating this will be equivalent:

[code]

[2017-11-29 23:38] #130 closed

[2017-11-29 23:38] #131 closed

[2017-11-29 23:38] alexellis commented on #131
Closing due to lack of activity.

[2017-11-29 23:39] alexellis commented on #97
We have a Makefile now. Closing.

[2017-11-29 23:39] #97 closed

[2017-11-29 23:40] alexellis commented on #86
Custom templates are now possible and documented too. @alex-dixon if you'd like to set one up for Clojure that would be great.

[2017-11-29 23:40] #86 closed

[2017-11-29 23:40] alexellis commented on #81
WIP. Closing issue.

[2017-11-29 23:40] #81 closed

[2017-11-29 23:41] alexellis commented on #72
Closing issue due to lack of activity. Getting logs is interesting, but should probably be proposed on the faas repo first. List etc is implemented/released.

[2017-11-29 23:41] #72 closed

[2017-11-29 23:42] alexellis commented on #33
Closing since we have a work-around built-in.

[2017-11-29 23:42] #33 closed

[2017-11-29 23:42] alexellis commented on #19
Supported and released. Closing issue.

[2017-11-29 23:42] #19 closed

[2017-11-29 23:42] alexellis commented on #27
This has been released.

[2017-11-29 23:42] #27 closed

[2017-11-29 23:42] alexellis commented on #13
Done and released.

[2017-11-29 23:42] #13 closed

[2017-11-29 23:43] alexellis commented on #2
I have a PoC for this. Leaving the issue open for tracking.

[2017-11-29 23:43] #159 closed

[2017-11-29 23:44] alexellis commented on #159
Closing issue. We should still document in get.sh that a Windows binary can be downloaded.

[2017-11-30 08:36] muka commented on #232
Sure, I will not make further changes / dev until I have your feedback. Thanks

[2017-11-30 09:26] alexellis opened #237 "Feature: OpenFaaS store integration"
The `faas` CLI should allow users to browse and deploy functions from the [OpenFaaS Function Store](https://github.com/openfaas/store)

Three new commands:

* `faas store list`
Fetches/parses JSON and lists all items

* `faas store inspect`
Gives specific info on one item

* `faas store deploy`
Same as faas-cli deploy except pre-loaded with arguments from JSON file. Must take all valid overrides s

[2017-11-30 14:00] Razesdark commented on #214
Current behavior is a little all over the place. For example missing language fields in the yaml will not cause a halt, but if docker returns any non-zero codes, the software throws a fatal exception and immediately exits. Since this is done through a `fmt.Fatal` call it will halt even parallel builds.

## Breaking on error
An argument in favor of breaking on error is that the error messages are m

[2017-11-30 15:30] alexellis commented on #214
I take what you're saying and appreciate the analysis. I would like us to resolve the current false positive behaviour I observed first and work from there with a redesign on the flow.

[2017-11-30 16:58] ericstoekl opened #238 "Unused method - buildLabelMap() in commands/deploy.go"
While looking over the `commands/deploy.go` I came across this function, which is unused:

https://github.com/openfaas/faas-cli/blob/741412dff6a964584fb97438466adde1b22b83b6/commands/deploy.go#L209

I would like to remove but first we should make sure that Labels are getting parsed correctly, and the behavior described in the `buildLabelMap()` method is actually being applied to the label map by `

[2017-11-30 16:58] ericstoekl commented on #238
Derek assign: ericstoekl

[2017-11-30 20:51] rgee0 opened #239 "Proposal: Should retrieval of the official templates auto patch Dockerfiles on ARM?"
## Expected Behaviour
`faas-cli new` results in templates being pulled from the official repo if the required language template doesn't already exist.  Should this facility also assess the host architecture and if found to be `arm` move the `armhf` Dockerfiles into the default language directories?

## Current Behaviour
`faas-cli build` drops out at the Dockerfile stage giving rise to a poorer UX.

[2017-11-30 20:54] alexellis commented on #239
I think we should tell people to use the template python-armhf. I think they are full templates now rather than patched as before we couldn't support multiples that weren't hard-coded.

[2017-12-01 09:25] diddledan opened #240 "Nodejs templates use `let` where `const` would be more appropriate"
The nodejs templates use `let` where `const` might be more appropriate, as the values stored within the names are unchanging.

## Expected Behaviour

Uses `const` keywords for constant values in nodejs templates.

## Current Behaviour

Currently the nodejs templates use the `let` keywords for values that do not change.

## Possible Solution
Change `let` keywords to `const` in nodejs templates.

##

[2017-12-01 09:31] developius commented on #240
Looks good and shouldn't cause any issues 👍 worth opening a PR I reckon.

/cc @austinfrey

[2017-12-01 09:39] alexellis commented on #240
Hey @diddledan go for it and raise a PR (but do it via the `git` CLI so you can sign off). I have no strong feelings about this change - like you say it's purely stylistic.

[2017-12-01 09:42] alexellis commented on #239
Thoughts @rgee0 ?

[2017-12-01 15:16] Razesdark commented on #214
As far as I can gather, you got an actual error, not a false positive. Current behavior just bury the error, because the other workers still continue to run and print to screen. I've sent a PR that will break out and exit with the correct code.

[2017-12-01 19:02] rgee0 commented on #239
They are full templates.  I still think there is scope for a more consistent UX across architectures.  It would mean amending the approach suggested earlier so that the default language template **directory** is renamed and the appropriate hardware specific directories become the new defaults.

From a users' perspective they should be able to run `--lang python` regardless of what their hardware i

[2017-12-01 19:40] ChrisCGH opened #244 "Golang template Dockerfile's gofmt find command doesn't ignore vendor directories"
## Current Behaviour
The Dockerfile for the golang template attempts to ignore the vendor directories in the find command used when running gofmt -l, by specifying '-not -path "./vendor/*"', but when running faas-cli build the vendor directories are still checked, causing the build to fail when some vendor code is not formatted according to gofmt's rules.
## Possible Solution
The find cmd should s

[2017-12-01 20:00] ChrisCGH commented on #244
Actually, suggested solution isn't quite right, I'll update when I've wrestled find into submission

[2017-12-01 20:14] ChrisCGH commented on #244
find . -path ./vendor -prune -o -type f -name '*.go' -print
should work

[2017-12-01 20:44] ChrisCGH commented on #244
More investigation showed it was probably my fault: the path to be ignored should have been ./function/vendor and that could be because of the changes I've made to the Dockerfile, so I'll close this issue

[2017-12-01 20:44] #244 closed

[2017-12-02 08:08] stefanprodan opened #245 "Login is failing with TLS Ingress"
Login is failing with TLS Ingress on GCP L7 LB

## Expected Behaviour
Do login

## Current Behaviour
Timeout due to Keep Alive being disabled

## Possible Solution
Enable Keep Alive

## Steps to Reproduce (for bugs)
1. Deploy OpenFaaS on GKE
2. Setup Gateway TLS via Ingress
3. Try to login using the HTTPS endpoint

[2017-12-02 10:34] alexellis commented on #244
Hey Chris glad you resolved this and thank you for using OpenFaaS

[2017-12-02 18:37] #212 closed

[2017-12-02 18:40] alexellis opened #247 "Let utility script run as non-root"
Let utility script run as non-root

I.e.

This should download to current folder:

[code]

If non-root we should print out sudo instructions:

[code]

This should download to /usr/local/bin/

[code]

[2017-12-02 18:41] #245 closed

[2017-12-02 18:42] #240 closed

[2017-12-02 18:52] alexellis opened #248 "Point default templates at new location in faas-cli code"
The templates can now graduate to their own repo openfaas/templates.

Pros:
* This means a smaller download

Cons:
* Minor code change and dual-maintenance while we move people over to the new version that knows to pul from the new location.

https://github.com/openfaas/templates

Help is wanted - this is a beginner-level item.

Alex

[2017-12-04 11:56] nicholasjackson opened #250 "Add CPU limit to deployment options"
Currently only Memory is passed as a deployment option, this should be extended to allow passing of CPU limits.

## Expected Behaviour
When a limit for cpu is defined in a stack yaml file this should be passed to the gateway

## Current Behaviour
Only memory is passed

## Possible Solution
Add additional parameter from yaml

[2017-12-04 22:19] amirkarimi commented on #237
If it doesn't have a very high priority, I would like to work on this. I suppose it can get the data directly from the store repo?

[2017-12-05 04:20] alexellis commented on #237
Yes we download and parse the JSON file over the GitRaw CDN.

[2017-12-06 00:25] austinfrey commented on #250
Derek add label: proposal

[2017-12-07 11:53] viveksyngh commented on #248
@alexellis I would like to work on this one.

[2017-12-07 14:04] austinfrey commented on #248
@viveksyngh i believe there is already a PR out for it #252. Feel free to test it out and provide feedback. What are your interests? Maybe I could point you to some other issues?

[2017-12-07 15:38] viveksyngh commented on #248
@austinfrey My interests are Golang, Docker and I am open to something new as well. Please point to some other issues on which I work.

[2017-12-07 16:44] austinfrey commented on #248
@viveksyngh I've tagged you in some open issues that could use some attention. let me know if any suit you

[2017-12-10 09:31] ganesshkumar opened #253 "issue with function file permissions"
I am creating a template and provide some default scripts(with execute permission for the user) that belong to the function
[code]

I pulled the template from github, examined the template folders. It has the execute permission as it had been set.

Later, I create a function out of my template and in the new generated function folder, the script has only read and write permission for the user. It

[2017-12-10 10:11] ganesshkumar commented on #253
Just noticed that, in the [`cp`](https://github.com/openfaas/faas-cli/blob/master/builder/build.go#L143) function in `builder.go` has explicit mask 066 set.

[code]

This functions is also being used to move the function files to `./build` directory when executing `faas-cli build`. So the permission on files created inside the function is also lost.

Any specific reason behind the explicit 0660 ma

[2017-12-14 11:09] ryanfields opened #255 "Support npm installation from git repositories (including private) for --lang=node"
## Expected Behaviour

Packages containing dependencies from Github, Bitbucket, etc should be installed in image.

## Current Behaviour

Image is missing git and openssh-client packages, preventing npm from installing from git repositories.  Further, because there is no mechanism for configuring SSH or providing private keys, private repositories cannot be accessed.

## Possible Solution

1. Optio

[2017-12-16 12:18] alexellis opened #256 "Backlog: prefer rolling update over delete/create"
## Description

For `faas deploy` we should prefer rolling updates over our current delete/create pattern.

You can get similar behaviour by doing `--update=true --replace=false`.

## Expected Behaviour

CLI should try to update service rather than delete/create. We did this initially to get to "update-like" behaviour faster but it causes issues with K8s which is slow to delete definitions.

When

[2017-12-16 17:26] ericstoekl commented on #256
derek assign: ericstoekl

[2017-12-16 17:27] ericstoekl commented on #256
Derek assign: ericstoekl

[2017-12-16 22:10] alexellis commented on #237
Thank you @amirkarimi - just to update Amir has started working on this change. Look out for a PR - maybe @BurtonR + @ericstoekl can collaborate / help out with stuff.

[2017-12-18 13:43] itscaro opened #259 "[re-factoring] Gather errors into one place & use errors.New() to define errors"
## Context
Currently errors are generated with `fmt.Errorf` which is not re-usable to compare errors in unit-test, there are many copy-paste of the error strings.

Instead of creating errors with `fmt.Errorf`, we can pre-defined errors with `errors.New()` and we can re-use the errors everywhere in the package.

This applies to errors whose string is not formatted with `printf` since the string is

[2017-12-18 14:16] itscaro commented on #255
@ryanfields For a custom Dockerfile, you can create your own template based on the minimalist one provided. You can find the documentation in `guide/TEMPLATE.md`

[2017-12-18 18:30] ryanfields commented on #255
There are a number of challenges that the templates solution alone doesn't address.  Some of those challenges them stem from the fact that I group functions into suites, but I don't need all of the same build steps for every function.

I don't need the same set of native packages for every function, for example, but unless there's a way to associate different templates with different functions, al

[2017-12-18 22:11] itscaro opened #262 "Define build-args in yaml file"
Currently there are only two build-args passed to docker build using ENV variables (http_proxy, https_proxy), in order to generalise and to permit sharing some args between functions or adding args to a function, we might have build-args defined in Yaml file as below.

There are two levels, top-most are build-args sharing between all builds and build-args attached to a specific function. If a buil

[2017-12-18 22:12] itscaro commented on #262
Derek add label: proposal

[2017-12-19 07:55] vodasan opened #263 "Error on faas-cli on windows"
I'm trying openFaas. I use docker swarm.

When i use faas-cli (faas-cli list or other commands) I have this message ?

## Steps to Reproduce (for bugs)

1. docker swarm init --advertise-addr eth1
2. deploy_stack.sh
3. faas-cli list

[2017-12-19 08:01] #263 closed

[2017-12-20 00:25] mysmartbus opened #264 "`faas-cli deploy` stalls at 'Deploying: <image_name>'"
Installed Docker, faas, and faas-cli following the instructions at https://blog.alexellis.io/your-serverless-raspberry-pi-cluster/ then went to step 3 of https://blog.alexellis.io/first-faas-python-function/ to create hello-python demo image. `faas-cli new` and `faas-cli build` work as expected.

My problem occurs when I try to deploy the hello-python demo image with `faas-cli deploy`. The command

[2017-12-24 00:00] mysmartbus commented on #264
To get the function to deploy, I had to edit `hello-python.yml` and change the gateway from `http://localhost:8080` to `http://127.0.0.1:8080`.

Using `--gateway http://127.0.0.1:8080` instead of change the gateway in `hello-python.yml` also allowed the function to deploy.

[2017-12-24 00:00] #264 closed

[2017-12-24 09:31] alexellis commented on #264
Hi @mysmartbus glad this worked out for you. This is documented on the site and is an artefact of the way some Linux distros map an IPv6 alias to `localhost`. If we can help more please get back in touch and thank you for using OpenFaaS!

[2017-12-24 09:31] alexellis commented on #262
Interesting idea - this is for people to define passwords / SSH keys right? How would these be picked up though with a standard template?

[2017-12-24 09:33] alexellis commented on #253
Hey @ganesshkumar thank you for this fix. We've merged the code and it will be part of the next release.

[2017-12-24 09:34] LucasRoesler opened #266 "[Proposal] Pull templates from private Git repos using CLI"
The `faas-cli template pull` command should support pulling template definitions from both public and private git repositories.  It would also be good to support hosts beyond Github.  The cli should support pulling via ssh or via https with username and password.

Supporting private repos and other git servers improve the support for users with high security constraints, e.g. large enterprises tha

[2017-12-24 09:44] alexellis commented on #266
@LucasRoesler - this is a sensible request and I know it will help your business use-case. I'd be concerned about reinventing the wheel here or having to vendor too many packages - so I like the idea of using a fork/exec out to `git` - that way we get access to any credential cache/helper for `git` too.

We'd need to bring the folder down into a temporary location and then find the templates folde

[2017-12-26 09:11] LucasRoesler commented on #266
For a sequence diagram, were you thinking something like this
![faas-cli-template-pull-flow](https://user-images.githubusercontent.com/891889/34352828-173a266c-ea25-11e7-9142-c9e01655e522.png)

[2017-12-26 18:59] dvdmuckle opened #267 "faas-cli remove doesn't allow overriding gateway specified in file"
## Expected Behaviour
Using `faas-cli remove` should behave the same way as `faas-cli deploy` such that `--gateway` will override any gateway entry in the `-f` file.

## Current Behaviour
Currently using `faas-cli -f somefile.yaml --gateway http://somegateway.local:8080` will ignore the `--gateway` and instead try to use the gateway specified in the file provided.

## Possible Solution
I'l look th

[2017-12-27 09:34] alexellis commented on #267
Hi thank you for raising this issue. Please see #268 from Stefan. Also would you like to join our Slack community? We'd like to have you join us there 👍 If so email alex@openfaas.com

[2017-12-27 10:17] alexellis commented on #262
@ryanfields is this what you need for #255 ?

[2017-12-27 16:23] ryanfields commented on #262
@alexellis It would be a functional fix, but not a very convenient one and prone to causing developer confusion.  I'm really still looking for a way to get key files and arbitrary shell scripts into the faas-cli build directory before it executes the Docker build step, and my very strong opinion is that needs to be done during build.go's createBuildTemplate call (with the files specified in the YA

[2017-12-27 17:05] ryanfields commented on #255
It looks like modifications to build.go could resolve the majority of the challenges I'm facing.  If build.go's createBuildTemplate or related functions could check the YAML stack file for a list of arbitrary files to import into the temporary build directory, then I could make use of those files via a custom template.  I have the information I need to use custom templates.  I'm just lacking the a

[2017-12-27 19:06] dvdmuckle commented on #267
Wow, that was a lot of activity overnight! Expect an email from me about the Slack community!

[2017-12-29 09:49] #247 closed

[2017-12-29 10:53] #267 closed

[2017-12-30 21:11] alexellis commented on #266
I was thinking about a UML sequence diagram, but this works well to convey the flow.

[2018-01-01 20:28] alexellis opened #269 "Allow shortflag for faas list --verbose command"
Allow shortflag for faas list --verbose command

## Expected Behaviour

[code]

Could be shorter to type as:

[code]

Feedback via Alex Casalboni @alexcasalboni (Cloud Academy)

## Possible Solution

Switch from `BoolVar` to `BoolVarP` in the commands file.

[2018-01-01 20:36] alexellis opened #271 "Make "Dockerfile" a language template"
Make "Dockerfile" a language template

## Expected/Current Behaviour

The "Dockerfile" language template is currently kept partially in code. We should find a way to make it into an OpenFaaS template so that it can be versioned in the same way as the other templates.

I started the work in #221 but I need to focus on other areas right now.

I'd like help with this.

Alex

[2018-01-01 20:37] alexellis commented on #271
@itscaro @johnmccabe @nicholasjackson do any of you guys want to start off the New Year with a little OpenFaaS PR? :smile_cat:

[2018-01-02 16:21] bdparrish opened #273 "Question: Help needed deploying python-armhf template"
## Expected Behaviour

Expected behavior is that function deploys correctly to arm64 architecture and can invoke appropriately on OpenFaaS dashboard.

## Current Behaviour

Successfully built, pushed, and deployed a python-armhf function from `faas-cli` templates.

The pod status ends with "CrashLoopBackOff".

## Possible Solution

My best guess is that I am running a Raspberry Pi 3 running Raspbi

[2018-01-02 16:47] alexellis commented on #273
Do you mean `arm64 architecture`? Raspberry Pi with Jessie Stretch is armv7. Can you run `uname -a`?

[2018-01-02 18:30] alexellis commented on #273
Hey @bdparrish I tried this on my cluster with my own function and with yours and both worked without restarting the container. Please can you confirm the architecture of the machine where you're doing the build, the machines in the cluster and anything else you feel may be relevant?

@stefanprodan also agreed to give this a second look using ARMv7 hosts on Scaleway.

[2018-01-03 09:00] #269 closed

[2018-01-03 11:05] stefanprodan commented on #273
The `bdparrish/hello-python` works fine on ARMv7, tested on Scaleway Kubernetes v1.9

<img width="328" alt="screen shot 2018-01-03 at 13 03 48" src="https://user-images.githubusercontent.com/3797675/34518125-a12db700-f086-11e7-910a-0825ec2d77a9.png">

[2018-01-07 17:08] alexellis commented on #267
No probs, glad to have you in the community 👍 please raise issues / generate discussion again.

[2018-01-07 17:10] alexellis commented on #255
What is the concept of this?

[code]

What does it mean "extra files" and "from" and "to" where?

[2018-01-07 17:11] alexellis commented on #262
We should not reference "docker" as a sub-node of the YAML file. The faas-cli exists to abstract this level of detail away - we don't want to reinvent the CLI.

[2018-01-07 17:11] alexellis commented on #263
Did you find out what was going wrong?

[2018-01-07 17:12] alexellis commented on #239
They are now full templates but under different names for the relevant architecture. Closing the issue.

[2018-01-07 17:12] #239 closed

[2018-01-07 17:13] alexellis commented on #214
I think the new solution is too complex and could be hard to maintain. Let's go back to the drawing board or see if we can simplify the solution.

[2018-01-07 17:15] alexellis commented on #238
@ericstoekl are you sure the label is un-used? If so then I approve it - go ahead and remove it in a PR.

[2018-01-07 17:16] alexellis commented on #223
Thanks for closing @ericstoekl

[2018-01-07 17:16] alexellis commented on #215
Thanks @nicholasjackson and @kenfdev - FYI templates now exist in openfaas/templates.

[2018-01-07 21:33] ryanfields commented on #255
An example function suite would be set up like this:

[code]

`faas-cli build` will create a `build/` directory, and within it a `my_function1/` directory (and then later a `my_function2/` directory.)  When `build/my_function1/` is created, the Dockerfile and other template files are copied from the appropriate `template/` subfolder, as are the contents of `./my_function1`.  During this step, the

[2018-01-07 22:08] ryanfields commented on #262
What I like about having build args (which are a Docker-specific feature at the moment) provided in the YAML file is that they become documented in the same place they are applied.  There's no requirement that a dev remember to provide them on every run of the CLI.  There's no need to write extra scripts that exist solely for the purpose of remembering to pass configuration args to the CLI.

You c

[2018-01-08 20:41] alexellis commented on #255
How would you solve this specific problem with a static Dockerfile? Can you write one that does above?

[2018-01-08 20:50] ryanfields commented on #255
The following is what I've been experimenting with most recently:

[code]

I'm already able to use this template in our setup, following the instructions that were presented earlier in this issue thread at (https://github.com/openfaas/faas-cli/blob/master/guide/TEMPLATE.md).  The only line that can't work is:

[code]

This is because there's currently no way for me to add arbitrary files to the bu

[2018-01-10 14:15] itscaro commented on #271
@alexellis I take this PR if no one took it already

[2018-01-15 01:59] jeremyabbott opened #276 "Add F# Template"
Give the FaaS CLI the ability to create an F# function using `faas-cli new <name> --lang fsharp`

## Expected Behaviour
When a user calls `faas-cli new callme --lang fsharp`:
1. A new F# function handler should be created within a directory named callme.
1. The callme directory should have an `.fsproj` file named `Function` and an `.fs` file named `Handler.fs`.

## Current Behaviour
Currently uses

[2018-01-15 12:21] alexellis commented on #276
@jeremyabbott thanks for your interest in OpenFaaS.

As per [the contributing guide](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md) you should wait for approval for the proposal before working on it.

Fortunately for your FSharp template we can accommodate this via the "template pull" mechanism. You'll need to:

* create your own Git repo
* use the structure defined in the templates

[2018-01-15 15:35] jeremyabbott commented on #276
@alexellis thanks Alex! I'll do that.

[2018-01-16 15:52] ericstoekl commented on #276
Derek close

[2018-01-16 15:52] #276 closed

[2018-01-16 15:59] ericstoekl opened #279 "Check for invalid URL in faas-cli login"
When using `faas-cli login` without the `http(s)://` portion of the URL, an unhandled exception occurs:

[code]

## Expected Behaviour

The error needs to be handled, in the same way that it is in the fix for the `deploy` and `delete` commands:

https://github.com/openfaas/faas-cli/commit/fa9e08d4c545399c6d81f3827682f34c116d7af1#diff-32a00314934dd566c4dbf7a14c10ce85R77

## Current Behaviour

Segme

[2018-01-17 06:46] ericstoekl opened #280 "faas-cli remove will remove functions from stack.yml even if specific function is given"
If you run `faas-cli rm <function name>` while working in a directory that has a `stack.yml` file present, `faas-cli` will attempt to remove the functions from stack.yml even though a function was specified.

## Expected Behaviour

The specified function was removed

## Current Behaviour

The functions from `stack.yml` will be attempted to be removed.

## Possible Solution

Check for named functio

[2018-01-17 08:26] alexellis commented on #280
Good point @ericstoekl

Please can you also look into the other commands and see how they act?

I tried build and `--filter=screenshotter` does filter correctly in your example of [fc-test](https://github.com/ericstoekl/fc-test)

[2018-01-17 08:28] alexellis commented on #266
@LucasRoesler is this diagram still valid? Can we add it into the docs here?

[2018-01-17 08:41] alexellis commented on #279
@stefanprodan would you like to tackle this?

[2018-01-17 09:02] stefanprodan commented on #279
Yes I'm on it

[2018-01-17 09:42] LucasRoesler commented on #266
No, i will need to update it

[2018-01-17 10:16] LucasRoesler commented on #266
![faas-cli-template-pull-flow 1](https://user-images.githubusercontent.com/891889/35037398-ac6ce176-fb77-11e7-8b78-92197093b437.png)

I changed it to reflect the fact that there is no interactive "should I overwrite" behavior, it is only handled by cli flags.

[2018-01-17 15:35] ericstoekl commented on #280
`faas-cli invoke` is fine, it will prefer the named function over the `stack.yml`

However, `faas-cli deploy` prefers the `stack.yml`:

[code]

[2018-01-19 08:12] #279 closed

[2018-01-20 02:42] gregbenner commented on #144
Got the same error following https://blog.alexellis.io/quickstart-openfaas-cli/

[2018-01-20 17:29] viveksyngh opened #284 "python3 and python-armhf function template build process needs improvement"
```faas-cli build ...``` for ```python3``` and ```python-armhf``` functions installs the requirements every time we run  ```faas-cli build ...```  command even if requirements are not changed.

## Expected Behaviour

If requirements.txt in not updated then ```faas-cli build ...``` should not install the requirements.

## Current Behaviour

if we change anything in the handler or update anything in

[2018-01-20 19:42] alexellis commented on #284
Thanks for attending to this @viveksyngh - I already fixed this up for the regular "python" template so it's good to have this level for all Python templates.

[2018-01-20 19:54] alexellis commented on #284
Derek close

[2018-01-20 19:54] #284 closed

[2018-01-20 20:05] alexellis commented on #144
@gregbenner which error did you run into?

[2018-01-21 22:29] itscaro opened #286 "Match the number of ending message with starting message in build & push operations"
Currently, in build & push operations, the ending message is printed at the end of each worker. IMO, the number of messages with `<` should match with `>`, it seems more intuitive to me.

Moreover in the push operation, the wording in ending message `pushing done` is not clear. Since it announces the end of a worker not a pushing operation, therefore there are more `> Pushing <image>` than `< Push

[2018-01-22 08:32] alexellis commented on #144
@gregbenner What was wrong? What needs changing?

[2018-01-22 10:47] itscaro opened #289 "Colored texts in PowerShell native console"
## Current Behaviour
In PowerShell native console, ANSI escape are used and the PowerShell does not understand. The printed logs are not much readable.

With WSL (Windows Subsystem for Linux), we can still use the CLI correctly, but it's preferable that we can use it with the same UX in the PowerShell native console.

PowerShell native
![PowerShell native](https://user-images.githubusercontent.com

[2018-01-22 10:50] itscaro commented on #289
Derek add label:enhancement
Derek add label:proposal

[2018-01-22 10:51] itscaro commented on #289
Derek add label: proposal

[2018-01-22 10:52] itscaro commented on #289
Derek remove label: enhancement Derek add label: proposal

[2018-01-22 10:52] itscaro commented on #286
Derek add label: enhancement

[2018-01-22 10:52] itscaro commented on #286
Derek add label: proposal

[2018-01-22 10:53] itscaro commented on #271
Derek assign: itscaro

[2018-01-22 10:54] itscaro commented on #271
Derek assign: me

[2018-01-22 10:58] itscaro commented on #289
Derek remove label: enhancement proposal

[2018-01-22 12:31] alexellis commented on #289
@johnmccabe I thought this worked in PowerShell? Looks a bit odd in the first screenshot

[2018-01-22 13:44] johnmccabe commented on #289
Top is what you see in cmd.exe, it's not got the same level of support for escape code formatting as powershell.

You'd need to detect whether you were invoked withing a powershell or cmd session.

Not convinced cmd.exe is something to be encouraged?

[2018-01-22 14:35] itscaro commented on #289
@johnmccabe it's not `cmd.exe`, it's the native powershell console `%SystemRoot%\system32\WindowsPowerShell\v1.0\powershell.exe`

I have PowerShellCore 6 too which is launched from its own exe `%HOMEPATH%\AppData\Local\Microsoft\powershell\pwsh.exe`

[2018-01-22 19:26] johnmccabe commented on #289
Looks like the logo printed as part of the help output doesn't use the escape codes. I'd been looking at that. @itscaro is correct regarding powershell 5.1/6.0

[2018-01-22 19:29] johnmccabe commented on #289
@alexellis this *had* been working tho.... #150

[2018-01-22 20:00] itscaro commented on #289
using ansi.Printf() is a quick fix.

ansi.Printf() instead of fmt.Printf()

![image](https://user-images.githubusercontent.com/266018/35241120-c0c9d678-ffb5-11e7-8452-531e74af7639.png)

[2018-01-22 20:44] itscaro commented on #289
I've remarked that log.Fatal() prints coloured texts correctly :-|
I don't see how :-?

[2018-01-22 21:40] gregbenner commented on #144
It's missing a deploy local swarm step in the [docs]( https://blog.alexellis.io/quickstart-openfaas-cli/) I believe?
When you do the curl command to TestDrive it runs it for you.  That's why nothing is running on port 8080 and it has nowhere to deploy a new faas too.

[2018-01-22 21:42] gregbenner commented on #144
As per https://github.com/openfaas/faas/blob/master/TestDrive.md
Starting out it wasn't clear to do this I think. (from a noob view)
`# docker swarm init --advertise-addr eth0 && \
  git clone https://github.com/openfaas/faas && \
  cd faas && \
  git checkout master && \
  ./deploy_stack.sh && \
  docker service ls`

[2018-01-22 21:42] rgee0 commented on #144
Isn't it in the pre-requisites section?

[2018-01-23 01:25] ryanfields commented on #255
I'm closing this issue.  If support for Docker build args gets added to faas-cli (#262), I can resolve the rest of my issues through custom templates.

[2018-01-23 01:25] #255 closed

[2018-01-23 20:46] gregbenner commented on #144
100% it is, I just re-read now and saw it there. Sorry, that sorts out my issue. #dyslexia

[2018-01-24 08:13] #289 closed

[2018-01-24 09:17] alexellis commented on #144
Thanks guys 👍 glad you are up and running now. Locking the thread.

[2018-01-24 09:17] alexellis commented on #144
Derek lock

[2018-01-24 10:18] dungeonmaster18 commented on #271
Ping @alexellis close this

[2018-01-24 10:20] dungeonmaster18 commented on #266
Ping @alexellis close this #274

[2018-01-24 10:43] alexellis commented on #280
@ericstoekl is anyone working on this?

[2018-01-24 10:43] #266 closed

[2018-01-24 10:44] #253 closed

[2018-01-24 10:44] #256 closed

[2018-01-24 10:44] #250 closed

[2018-01-24 10:44] alexellis commented on #238
@ericstoekl or @dungeonmaster18 please go ahead and fix.

[2018-01-24 10:45] #237 closed

[2018-01-24 10:45] #227 closed

[2018-01-24 10:45] #271 closed

[2018-01-24 11:15] LucasRoesler opened #292 "template pull url validation is too strict"
When #266 was implemented, the url validation changed an now requires a `.git` suffix.  This breaks existing behavior and is not a requirement for the git cli.  We should update the validation to allow any url.

## Expected Behaviour
All three of the following commands should succeed
[code]
_or_
[code]
_or_
[code]

## Current Behaviour
The first two commands fail, only the third works as expected

[2018-01-24 11:45] itscaro opened #294 "Exclusive use of --update --replace"
`deploy` and `store deploy` have `--update` and  `--replace` flags, which should be strictly exclusive to ensure consistency of these flags

## Current Behaviour
Valid
[code]

Invalid
[code]

## New Behaviour
Valid
[code]

## Possible Solution
User should use one of these flags at once.
If user use `--replace`, `--update` changes its default value to false

[2018-01-24 11:57] itscaro opened #295 "pkg commands: creates a function newXCmd() in charge of creating a new command"
In some test cases, we need to reset flags & args of the command in test. In the actual used technique, creating the command in `init()`, we cannot re-create the command to test it from state-zero.

If there is a testing technique for this case, please enlighten me :-)

Attempt to address this issue: https://github.com/openfaas/faas-cli/compare/master...itscaro:refactor-cmd

[2018-01-24 14:01] dungeonmaster18 commented on #238
It seems that it's not been used. Creating PR

[2018-01-24 14:37] itscaro commented on #295
Derek add label: design/review

[2018-01-24 15:30] ericstoekl commented on #280
Not that I know of, I could take it though.

[2018-01-24 18:46] itscaro opened #297 "Provide a command to self-update to latest version"
It would be useful to have a sub-command like `version update --beta` to perform a self-update

## Expected Behaviour
`version update` updates to latest stable version - version without suffix `-beta`

`version update --beta` updates to latest version including version suffixed with `-beta`

Progress bar would be nice but not required

![image](https://user-images.githubusercontent.com/266018/3535

[2018-01-24 18:55] alexellis commented on #297
Thanks for the idea Minh. Since we have a mixture of package manages including `brew` - this may sound like a good idea on paper but could cause problems. Let's keep it in the issue tracker for reference but I don't think we should work on this right now.

[2018-01-24 18:57] #292 closed

[2018-01-24 18:59] #238 closed

[2018-01-25 00:48] itscaro commented on #248
close #248 via #252

[2018-01-25 00:49] #248 closed

[2018-01-25 01:24] dungeonmaster18 commented on #297
Derek add label: proposal

[2018-01-25 06:52] ericstoekl commented on #280
Derek assign: me

[2018-01-25 23:21] alexellis opened #299 "Tests broken by recent PRs to master"
It looks like the tests were broken by recent commits to master. Unfortunately the error messages could be better too and don't give a lot away.

I've started debugging this and saw that there is an unexpected exit code 1 with one of the `git` commands. This will block fixes and releases from GitHub so we need to resolve as soon as we can.

@itscaro @LucasRoesler please could one or both of you ch

[2018-01-26 04:41] BurtonR commented on #299
I started to look in to this, but wasn't able to pinpoint the code causing the troubles.
Here's what I did find:
The `fetch_templates_test.go` is calling the commands with missing parameters causing the `Invoke` command to error out

The 3 errors that are being returned during the tests:
`Error: please provide a valid --image name for your Docker image`
`Error: please provide the full path to your

[2018-01-26 09:28] itscaro commented on #299
@alexellis the screenshot is on local right? on Travis I do not see errors.

can you run `git submodule update --init --recursive`
![image](https://user-images.githubusercontent.com/266018/35433427-abb4fbde-0283-11e8-8b90-6b819b49d899.png)

[2018-01-26 13:44] BurtonR commented on #299
Running the `git submodule update --init --recursive` worked for me. All tests passing locally 👍

[2018-01-26 14:22] LucasRoesler commented on #299
perhaps this should be included in the makefile for the `test-unit` command?

[2018-01-26 14:25] itscaro commented on #299
@LucasRoesler agree, cf #300

[2018-01-28 16:55] alexellis commented on #299
Still not comfortable with this. Is there another way we can do this without a sub-module?

[2018-01-28 18:24] alexellis commented on #286
Derek close

[2018-01-28 18:24] #286 closed

[2018-01-28 18:25] alexellis commented on #128
Derek close

[2018-01-28 18:25] #128 closed

[2018-01-28 18:25] alexellis commented on #217
Derek close

[2018-01-28 18:25] #217 closed

[2018-01-28 18:25] alexellis commented on #217
We've resolved this via the rolling update. Thanks for raising Eric

[2018-01-28 18:26] alexellis commented on #297
Derek add label: revisit

[2018-01-28 18:28] alexellis commented on #294
So what you're saying is that --replace should override --update to false? I think that makes a better UX..

[2018-01-28 18:28] alexellis commented on #294
@amirkarimi do you agree?

[2018-01-28 20:34] amirkarimi commented on #294
@alexellis @itscaro I would say, why not obsoleting these two flags in favor of a single one like `--update-strategy` and just allowing desired values like `update`, `insert`, etc.

[2018-01-28 20:36] alexellis commented on #294
That's another way of looking at it. I think that we will eventually remove `--replace` now that the providers support rolling updates.

What do you think about the suggestion from Minh?

[2018-01-29 07:50] LucasRoesler commented on #299
The only requirement is that there is a git repo somewhere on disk, one or two functions should work for my tests.  In my original tests, I was just cloning the repo and then cleaning it up after.  I used subtests so that I could group tests that needed the repo into a single test, allowing me to clone it once and `defer` the cleanup to the test end.

I think the benefit of the submodule is that i

[2018-01-29 20:41] itscaro commented on #299
@alexellis @LucasRoesler In the latest change to the PR #300, I include directly two template dockerlang & ruby in testdata. during the test, I git init to have a local repo for testing

[2018-01-30 02:37] BurtonR opened #305 "[Fixed] Warnings are output when building csharp template"
## Expected Behaviour

No errors are present during build of C# function from template

## Current Behaviour

An error occurs during the `faas build` when using the `csharp` template

[code]

## Possible Solution

Remove the extra `FunctionHandler.csproj` file

## Steps to Reproduce (for bugs)

1. `faas new tester --lang csharp`
2. `faas build -f tester.yml`
3. Observe the error text in the build

[2018-01-30 07:54] alexellis commented on #305
Thank you for logging this Burton

[2018-01-30 08:20] LucasRoesler commented on #299
@itscaro I like this approach, it is simple, clean, easy to maintain, and easy to test against

[2018-01-31 07:23] ericstoekl opened #307 "Question on when templates folder is required"
## Expected Behaviour

When deploying, the `template/` directory should not be required.

## Current Behaviour

Currently, if you do not have the `template/` folder and you try to deploy a function that uses a non-`Dockerfile` language (e.g. `python`, `node`, etc), the `template.yml` file will still be looked up:

[code]

## Possible Solution

I think we don't need to check at all if the language

[2018-01-31 09:31] viveksyngh commented on #307
@alexellis  @ericstoekl  I would like to work on this one if nobody is working.

[2018-01-31 09:38] alexellis commented on #307
Please hold off on changing this.

From Slack:

* New - for a list of templates
* Build - to make use of the template's files and to know if the template is valid - this includes the Dockerfile type which also uses a template.
* Deploy - at deployment time we pull the fprocess value out of the templates to set the correct function entry-point for the language.

[2018-01-31 09:39] alexellis commented on #305
Fixed in openfaas/templates - @BurtonR please feel free to pull in those changes via a new PR.

[2018-01-31 09:40] alexellis commented on #294
@viveksyngh or @itscaro would either of you like to work on this?

[2018-01-31 09:46] viveksyngh commented on #294
I can work on this one.

[2018-01-31 12:38] itscaro commented on #294
@viveksyngh I already have a branch addressing this issue

[2018-01-31 16:08] ericstoekl commented on #307
Good call Alex. I also figured that if the image is already built + deployed, then the deploy operation should not need templates. However you make the good point that the `fprocess` still needs to be set, and that comes from the `template.yml` file.

In that case, maybe we could change this task to require that templates are *pulled* if the `template.yml` file is not found. Just giving the error

[2018-01-31 21:19] alexellis opened #310 "Refactoring: store commands should be in their own .go files"
## Expected Behaviour

store commands should be in separate files like we have for `template pull`

## Current Behaviour

They're intermingled in the same file.

## Possible Solution

Please split out so we retain the coding style.

I'd suggest that @itscaro may want to work on this?

<img width="549" alt="screen shot 2018-01-31 at 21 19 54" src="https://user-images.githubusercontent.com/6358735/3

[2018-01-31 21:25] itscaro commented on #310
@alexellis I'll take it

[2018-01-31 21:27] alexellis commented on #310
Thank you @itscaro - this should be easy to merge quickly as it's just moving things around.

[2018-01-31 21:35] alexellis commented on #273
Pinging @bdparrish ... this issue is now a month old. I'm going to close it due to inactivity. If you are still interested we've given some commands on how to help us diagnose your issue. Feel free to keep commenting.

[2018-01-31 21:35] #273 closed

[2018-01-31 21:49] bdparrish commented on #273
Alex,

Apologies, I have not been able to doing anything related to my project since I put his ticket in.  I’ll verify when able.

[2018-02-01 01:36] BurtonR commented on #305
@alexellis Created the new PR to update the cli to match the templates repo #311

[2018-02-01 08:21] alexellis opened #312 "Cannot deploy "YouTube Video Downloader" via CLI"
## Expected Behaviour

[code]

This should deploy the function just like it does with ones like figlet.

## Current Behaviour

[code]

## Possible Solution

I imagine there is a bug in the parsing logic for environmental variables cc @amirkarimi @itscaro @viveksyngh if any of you chaps fancy taking this on please do.

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

[2018-02-01 08:22] #305 closed

[2018-02-01 08:23] alexellis commented on #297
I think having people update their CLIs would be useful but can we do it in another way like nagging them? What do you think @johnmccabe ? You are a packaging/config guy

[2018-02-01 08:45] ilovezfs opened #313 "Homebrew test block fails for 0.6.1"
[code]

[code]

Is there no longer a default?

[2018-02-01 08:57] itscaro commented on #313
@alexellis f60910aea074e0ab5e5ada880f426d85fa9d4cb7

any reason behind the choice of not using default template repo?

[2018-02-01 15:24] viveksyngh commented on #294
Sure. @itscaro Let me know if you need help with anything.

[2018-02-02 09:20] amirkarimi commented on #312
I'll take care of this

[2018-02-02 09:21] amirkarimi commented on #312
Ah didn't see @itscaro PR

[2018-02-02 09:44] alexellis commented on #312
Please review and test the PR @amirkarimi

[2018-02-02 09:44] alexellis commented on #313
It looks like we don't have the same tests as in the `brew` Formula. I don't know why this is broken, but it wasn't picked up by our tests. I'll look into this unless @itscaro is taking it.

[2018-02-02 09:46] ilovezfs commented on #313
Just for easy viewing here, the test block in Homebrew is

[code]

[2018-02-02 09:47] alexellis commented on #313
Fixed via https://github.com/openfaas/faas-cli/commit/a81705b7f50e89bad580f9930436dbf34996cbec - I'm pushing a new point release.

[2018-02-02 09:50] ilovezfs commented on #313
LGTM.

[code]

[2018-02-02 09:52] ilovezfs commented on #313
Voilà https://github.com/Homebrew/homebrew-core/pull/23600

[2018-02-02 09:52] #313 closed

[2018-02-02 09:53] alexellis commented on #313
😎

Always a pleasure to hear from you @ilovezfs even when it's about a broke build.. let me know if you ever fancy getting your teeth into something different 👍

[2018-02-02 09:54] ilovezfs commented on #313
Thanks @alexellis!

[2018-02-02 10:03] #312 closed

[2018-02-03 18:43] vielmetti opened #315 "0.6.2: `faas-cli store deploy function --gateway` gives error"
## Expected Behaviour

Expected: you should be able to specify --gateway to point your faas-cli at a local gateway for all `faas-cli store` operations.

## Current Behaviour

This change was introduced in 0.6.2:

https://github.com/openfaas/faas-cli/commit/9abc0880aa84cd1497a50ea2d55eb4af6fc38422#diff-4d8c2dcb33807ea71d97dffb92481be6

It removes the `-g` flag that had pointed to the store, replaci

[2018-02-03 19:40] rgee0 commented on #315
I think possible fixes would be in https://github.com/openfaas/faas-cli/blob/fabe0853628d6750036570dbd85cb0f2b0f04559/commands/store.go#L35

Either `storeCmd` becomes `storeDeployCmd` and then `gateway` will only be expected in deploy

OR

Change `Flags()` to `PersistentFlags()` so that its accepted (but not necessarily used) by all sub commands.

I have tried both and they seem to work.  Haven't

[2018-02-03 19:46] rgee0 commented on #315
@itscaro seems to be fixing this in #309

[2018-02-06 04:38] ericstoekl opened #317 "faas-cli new with lang 'Dockerfile' results in empty function"
## Expected Behaviour

When running `faas-cli new <func_name> --lang Dockerfile` on Linux (tested on Ubuntu 16.04) you get an empty function folder.

## Current Behaviour

[code]

## Possible Solution

Either add `Dockerfile/` folder to the `openfaas/templates` repository (the `Dockerfile/` folder would be identical to the `dockerfile/` folder), or apply my patch:
https://github.com/ericstoekl/faa

[2018-02-06 04:53] kenfdev commented on #317
Confirmed this bug occurs. But only on Ubuntu (not Mac)

Below is Mac version (Dockerfile exists)
[code]

Below is Ubuntu version (Dockerfile not existing)

[code]

[2018-02-06 05:04] ericstoekl commented on #317
It's very strange that it doesn't occur on Mac. Thanks so much for testing @kenfdev !!

[2018-02-06 05:22] kenfdev commented on #317
Haven't looked at the code but this probably occurs due to Mac and Windows file system not being case sensitive while Ubuntu(and most linux distros) _**is case sensitive**_.

Ubuntu is probably failing to copy because the directory `template/Dockerfile` doesn't exist. (only `template/dockerfile` )

[2018-02-06 09:18] alexellis commented on #317
@itscaro helped with this change.. perhaps he can also test on Windows and then we can work out whether there is an easy fix for this?

[2018-02-06 09:36] itscaro commented on #317
I will investigate

[2018-02-06 12:29] itscaro commented on #297
this feature would be great on linux, since users can run directly ./faas-cli version update (like other tools, helm, minishift, minikube), instead of getting to a documentation to file the `curl command` with the link :)

[2018-02-06 12:35] itscaro commented on #317
Should we use `dockerfile` as only choice instead of `dockerfile` and `Dockerfile`?

Dockerfile is the only exception that the language name is not in the same case as listed:

`2018/02/06 13:30:35 Fetched 11 template(s) : [csharp dockerfile go go-armhf node node-arm64 node-armhf python python-armhf python3 ruby]`

It might cause confusion, we can add a message to tell users when they do not respe

[2018-02-06 12:41] alexellis commented on #317
If we change dockerfile then we break compatibility. It's a special-case, so maybe we can add an extra rule?

[2018-02-06 14:48] alexellis commented on #297
How about we just add a help message instead?

[code]

[2018-02-06 15:13] itscaro commented on #317
OK for deprecation notice & special case for now :)

[2018-02-06 15:47] dungeonmaster18 commented on #297
I like @alexellis idea because any way we have brew formula.

[2018-02-06 16:08] rgee0 commented on #317
The issue is in `copy.go`, or the hand-off into `copy.go`.  Everywhere prior to that we handle the case thing.  Being consistently case-insensitive tends to make for happier users.

[2018-02-07 19:11] #315 closed

[2018-02-08 18:48] #299 closed

[2018-02-08 18:53] alexellis opened #321 "Design review: custom files for handlers"
What would it take for us to be able to support a different project file name for a C# template for instance?

Frank P from Germany reported that two templates in a Visual Studio project you end up with Function.csproj twice in the UI and that this is confusing - even more so when you have 4-5 functions.

What do we think?

How could we allow a custom project name without breaking the simplicity o

[2018-02-08 19:00] alexellis opened #322 "Design review: "I want a copy of folder X in every function""
Some users have asked for a common folder "X" to be copied into every one of their functions at build time.

i.e.

[code]

In the scenario above - the user wants "common_folder" to be copied into or to be accessible within fn1, fn2 and fn3 and also expects the CLI to do that.

Possible workaround: have user make use of a Makefile or batch file to copy functions into a temporary folder and build ou

[2018-02-08 19:11] rgee0 commented on #322
Initial thought is that `faas-cli build` could look for a standardised location `../common/` and pull the assets into the temporary build folder before heading into the bread and butter of `build`.

[2018-02-08 19:39] BurtonR commented on #322
I agree with @rgee0 that a "pre-build" step could be used to copy a desired directory's files into the requested function's directory

Just throwing out some thoughts...

The tricky part might be what to do with the function's Dockerfile. If it's a user-built function, they could expect those files to be there and add the `COPY` command, but I'd assume this should also work for templates.

There c

[2018-02-08 19:45] rgee0 commented on #322
Yes, the provision of a flag is a must.

On the Dockerfile question, I like the empty folder idea.  We could also add a Dockerfile.common to the templates and switch which to copy based on the flag provision.

[2018-02-08 19:53] fpommerening commented on #321
I have adapted the template for C # to support any project name.
https://github.com/fpommerening/faas-cli/blob/master/template/csharp/Dockerfile
The dotnet CLI creates the reference between the main project "root" and the function.

My problem is, that the build command always copy the template in the build folder.

As a result I have my renamed project file and additionally the project file from

[2018-02-09 08:21] LucasRoesler commented on #322
I would be against a flag. It is far simpler to implement and use if there is a single strong default (i.e. always include common files in the build context).   It is easier  for developers (of templates and functions) to predict and debug what is going to happen and therefore more likely to be a successful build.

The dockerfile author can easily choose to copy or ignore files from the context, w

[2018-02-09 08:34] trusch commented on #322
I would say that this should be an opt-in feature, so that no backward incompatible changes are introduced. Lets say users are already having a `common` folder and managing copy operations by themselfes, their build artifacts would change if this would become the default behaviour.

[2018-02-09 09:25] itscaro commented on #322
Opt-in feature is greate to maintain compatibility as you said, but to have many posibilities make it hard to maintain and provide support from maintainers' side.
I would prefer the suggestion of @LucasRoesler

[2018-02-09 09:34] itscaro commented on #321
I think the `function` directory inside a template should not be copied during build, since the `function` directory is only useful for `new function` command.

[code]

[2018-02-09 12:54] LucasRoesler commented on #322
I guess there could possibly be a naming conflict when copying a folder into the build context, but I am not sure I see another incompatibility with the current build process.  Maybe we can allow them to provide an alternative name?

If we are creating the build context in a tmp folder and use that tmp folder as the Docker build context with the function folder as a subfolder, this would avoid nam

[2018-02-09 13:44] itscaro commented on #322
We can also introduce a folder `common` when a new function is created, in which we put a `RESERVED.md` file to tell user how this folder works, this folder will be filled with content of common folder at root dir of yaml file, if there is one.

During build process, if we see a `common` directory with `RESERVED.md` in func dir and there is a `common` at root, we then copy common files

For curren

[2018-02-09 15:37] itscaro commented on #248
@alexellis why don't we delete the templates in this repo?

[2018-02-09 17:44] rgee0 commented on #322
Heading back to the flag/default discussion.  The issue I have with including `common` by default and without a flag is that the user is not fully in control of their actions.  There is an assumption on the part of the CLI that anything in the chosen standard location is intended for inclusion in the function image.  This to me doesn't feel right.

[2018-02-10 00:17] alexellis commented on #248
It's a breaking change - so there will be some people with the old CLI prior to the change here. As soon as we delete them they'll get a crash without a very good explanation.

[2018-02-11 21:07] fpommerening opened #323 "Push image - Error message incomplete"
If you use the push-command and an error occur the message is incomplete.

## Expected Behaviour
The push-command should show the same error message like the docker cli.

The push refers to repository [docker.io/fpommerening/openfaas-dotnet]
9cc81488ac50: Layer already exists
....
e27a10675c56: Layer already exists
errors:
denied: requested access to the resource is denied
unauthorized: authentica

[2018-02-13 09:25] itscaro commented on #323
Docker prints out only `denied: requested access to the resource is denied`, we just passthroughs Docker logs.

[2018-02-13 09:26] itscaro commented on #323
Derek add label: question

[2018-02-13 09:27] itscaro commented on #317
Finally I went for converting all Dockerfile to dockerfile internally and showing nothing to users.

[2018-02-13 09:35] viveksyngh commented on #323
Also, there is already a thread for implementing this in docker. Hope this will help.

https://github.com/moby/moby/issues/15466

[2018-02-13 16:22] alexellis commented on #317
Sounds good to me @itscaro thank you for your help with this.

[2018-02-15 07:00] ericstoekl commented on #322
Is the only objection to this being that existing users would be surprised by seeing a `common` folder suddenly show up? I think more people might be happy to see a new feature.

[2018-02-15 07:20] ericstoekl commented on #307
Derek add label: PR

[2018-02-15 07:27] ericstoekl commented on #323
Derek close: As explained by @viveksyngh and @itscaro, we pass the error message thru.

[2018-02-15 07:27] #323 closed

[2018-02-15 08:04] ericstoekl commented on #280
Derek add label: testing

[2018-02-15 15:44] ericstoekl commented on #294
Derek add label: PR

[2018-02-15 20:27] hypnoglow opened #324 "Question on Golang package structure"
I've tried some options and could not figure out how to build a golang function containing subpackages. My example function repository: https://github.com/hypnoglow/somefunc

The only successful yet not convenient option I found is just to vendor all subpackages so the function contains only `vendor` folder and not subpackages.

## Expected Behaviour
Building a goland function with subpackage succ

[2018-02-15 21:24] alexellis commented on #324
Derek edit title: Question on Golang package structure

[2018-02-15 21:24] alexellis commented on #324
Derek set title: Question on Golang package structure

[2018-02-15 21:27] alexellis commented on #324
Hi,

Subpackages are supported and they don't have to go into the vendor directory. The path in the function isn't the same as the path in your GitHub account - that's the reason why it may be complaining of not finding your subpackage.

I'll try to make an example for you, but in the meantime look at the template folder's Dockerfile for a clue about the GOPATH you'll have relative in the containe

[2018-02-15 21:42] alexellis commented on #324
@hypnoglow here's an example using submodules. As I mentioned above the GOPATH is relative to where the handler exists in the function's filesystem.

https://github.com/alexellis/submodule-go-example

Good luck

[2018-02-15 21:42] alexellis commented on #324
Derek close: resolved

[2018-02-15 21:42] #324 closed

[2018-02-15 22:18] hypnoglow commented on #324
Actually it IS the correct and idiomatic package path.

And [this](https://github.com/alexellis/submodule-go-example/blob/master/sub/handler.go#L5) path is correct only inside docker image but absolutely not correct package path relative to developer's GOPATH.

---

I think you understand what I mean. By forcing package path to start with `handler/function` and not with `github.com/foo/bar` you ar

[2018-02-16 08:50] hypnoglow commented on #324
ping @alexellis

I don't see why do you always close issues when it is actually not resolved yet from the submitter point of view.

[2018-02-16 11:06] alexellis commented on #324
I am not aware of any FaaS projects which allow a custom sub-package (FYI: some don't even allow multiple files).

The experience for the handler file is consistent with the default Go user-experience but you are right to say *it is different for a sub-module*. The sub-module will have to take a prefix for the time-being since Docker needs to add all the function code to a standard location.

The

[2018-02-16 11:56] hypnoglow commented on #324
Thank you for your response.

Options 4 and 5 are pretty viable and enough. But the user experience with go template actually can be a bit improved.

I will try to figure out some solution and create a new issue if I found any that does not break compatibility.

[2018-02-16 12:05] nicholasjackson commented on #324
I generally see packages for functions as a code smell, when I start to need to add additional packages I see this that my function is getting to big.  A function should be a single unit of work and is intended to be simple and straight forward.

That said it is useful to move code into sub-files to keep things separate, and for dependency isolation which is useful for testing.

I mainly follow th

[2018-02-16 13:59] hypnoglow opened #325 "Proposal: support docker build args via "faas-cli build" flags."
The proposal is to add a possibility to pass build args to an underlying "docker build" process. This is kind of related to #262 but I propose to add command-line flags to "faas-cli build" command.

## Expected Behaviour
1) Define a build arg in Dockerfile.
    <details>
    <pre>
    FROM golang:1.9.2 as builder
    ARG FOO=defaultValue
    RUN echo $FOO
    </pre>
    </details>
2) Run `faas-cli

[2018-02-17 08:45] CentricStraaten opened #326 "Unable to push image using faas-cli"
I created an OpenFaas function. After the build i try to push it to my docker repository:
`faas-cli push -f demo.yml`

I receive an error message

[code]
Docker is running and i am logged in. I can push containers using the docker push command.

[2018-02-17 09:08] alexellis commented on #326
Hi @CentricStraaten,

The error is quoted above it says the following:

[code]

In order to push your image to the Docker Hub (the default registry) you'll have to edit your YAML file and fill in your user account. Mine is alexellis2 so I'd put `image: alexellis2/demo`.

[code]

^ This bit is showing that you didn't add a prefix, so you have access denied due to trying to push to the Docker librar

[2018-02-17 09:08] alexellis commented on #326
Derek close: resolved. Please feel free to keep commenting.

[2018-02-17 09:08] #326 closed

[2018-02-17 09:19] CentricStraaten opened #327 "400 Error faas-cli deploy"
When i try to deploy my function with

` faas-cli deploy --image=bengkel/cencept_demo --name=cencept_demo --handler=/function/ --gateway=http://cen-openfaas.westeurope.cloudapp.azure.com:8080 --lang=csharp`

I receive an error

`Unexpected status: 400, message: (cencept_demo) must be a valid DNS entry for service name`

What am i doing wrong?

[2018-02-17 09:23] alexellis commented on #327
Hi @CentricStraaten,

If you'd like us to provide support and help then you need to fill out the whole issue template (it's not a nice-to-have) it gives us key information.

The error is telling you what is wrong. The name `cencept_demo` is not a valid DNS entry. You should use `cencept-demo` instead.

Btw I'd suggest you use a YAML file to define and deploy your function. How did you end up with

[2018-02-17 09:24] alexellis commented on #327
Derek close: resolved. Feel free to keep commenting.

[2018-02-17 09:24] #327 closed

[2018-02-17 17:29] itscaro commented on #317
@ericstoekl there is still another PR for build process

[2018-02-17 19:00] alexellis commented on #317
OK @itscaro

[2018-02-18 09:39] LucasRoesler commented on #322
One other crazy idea I just had, we can utilize multi-stage builds to allow people to copy from a "faas-common" image.  I got this from https://docs.docker.com/develop/develop-images/multistage-build/#use-an-external-image-as-a-stage

Basically, the cli can build an image "faas-commons" that is just SCRATCH plus a `COPY` of the common folder, then in the function image they can

[code]

We could u

[2018-02-18 12:35] alexellis opened #329 "faas-cli push should not work without a user or registry prefix [help wanted]"
Some new users are trying to run `faas-cli push` without reading or understanding the instructions on adding their own user account as a prefix to the image name.

## Expected Behaviour

[code]

## Current Behaviour

[code]

## Possible Solution

Pre-validate any CLI or YAML file and prevent going any further unless all of the images defined have a valid prefix. Also take note of the `skip_build`

[2018-02-18 12:50] alexellis commented on #325
Hi Igor,

I've read your proposal and compared it to #262 - as far as I can tell it's a duplicate but you specify wanting to use CLI arguments and @itscaro specifies using YAML.

If we make this change then it will need to be supported via the CLI and via YAML so I'm going to close your issue and reference it on #262. Please feel free to mention your request for CLI support there or +1 the issue.

[2018-02-18 15:39] BurtonR commented on #329
I'll work on this

[2018-02-19 08:51] alexellis commented on #329
Having reviewed the PR #330 I want to make an update to the message where several functions fail to pass the validation:

[code]

Please see the note on `skip_build` too.

[2018-02-19 15:57] hypnoglow commented on #325
Hmm, from one point of view these are definitely interesting concerns that should be analyzed.

But, I think all these decisions were already made when docker implemented build arguments feature. Refs: [1](https://github.com/moby/moby/pull/9176), [2](https://github.com/moby/moby/issues/14634) and others. And, as **openfaas** uses docker as a container implementation, but tries to abstract it away,

[2018-02-22 15:14] #329 closed

[2018-02-26 04:38] ericstoekl commented on #297
I agree that I like @alexellis suggestion of just outputting a help message. We all want to use a package manager eventually anyway.

[2018-02-27 18:45] alexellis opened #333 "Feature: implement --header -H flag for faas-cli invoke"
Feature: implement `--header` with `-H` short-flag for `faas-cli invoke`

We have this for the querystring value via `--query`, but need to defer to `curl` right now for setting custom headers. This change would be used in an upcoming [OpenFaaS workshop](https://github.com/alexellis/openfaas-workshop).

I'm happy to help / mentor someone in making this change.

## Expected Behaviour

`faas-cli inv

[2018-02-27 18:52] rgee0 commented on #333
Note the typo in expected behaviour.

`faas-cli invoke --H X-Ping-Url=http://request.bin/etc`
should read
`faas-cli invoke -H X-Ping-Url=http://request.bin/etc`

Single dash for the short flag as standard